<tr data-file="@Model.FilePath" data-object="samba-parameter">
    <td style="width: 33%;">
        @Model.Key
        <input name="DataKey" type="hidden" value="@Model.Key"/>
        <input name="DataFilePath" type="hidden" value="@Model.FilePath"/>
    </td>
    @if (type == antdlib.ServiceDataType.String || type == antdlib.ServiceDataType.StringArray) {
    <td>
        <input name="DataValue" type="text" value="@Model.Value" style="width: 90%;"/>
    </td>
    }
    else if (type == antdlib.ServiceDataType.Boolean) {
    <td>
        <select name="DataValue">
            <option value="@Model.BooleanVerbs.Key">@Model.BooleanVerbs.Key</option>
            <option value="@Model.BooleanVerbs.Value">@Model.BooleanVerbs.Value</option>
        </select>
    </td>
    }
</tr>