[Unit]
Description=ExtUnit, Application: Antd 01 Prepare
Requires=mnt-cdrom.mount
Before=app-antd-02-mount.service

[Service]
ExecStart=/bin/mkdir -p /framework/antd

[Install]
WantedBy=applicative.target
