[Unit]
Description=ExtUnit, Application: Antd 02 Mount Service
Before=app-antd-03-launcher.service

[Service]
ExecStart=/bin/mount /mnt/cdrom/Apps/Anthilla_Antd/active-version /framework/antd
SuccessExitStatus=0
RemainAfterExit=yes

[Install]
WantedBy=applicative.target
