[Unit]
Description=ExtUnit, Application: Antd 03 Launcher

[Service]
ExecStart=/usr/bin/mono /framework/antd/Antd.exe
ExecStop=/bin/kill -HUP $MAINPID
Restart=always
SuccessExitStatus=0
RemainAfterExit=no

[Install]
WantedBy=applicative.target
