[Unit]
Description=ExtUnit, Application: Antd 01 Prepare
Before=app-antd-02-mount.service

[Service]
ExecStart=/bin/mkdir -p /framework/antd
SuccessExitStatus=0
RemainAfterExit=yes

[Install]
WantedBy=applicative.target

