#Template for Smart Card certificate
#Replace values between  $ with you real value

CRLDISTPT = $crlDitributionPoint$
USERPRINCIPALNAME = $userPrincipalName$

[ ca ]
default_ca = CA_default 

[ CA_default ]
dir = /mnt/cdrom/Config/ca/intermediate
certs = $dir/certs
crl_dir = $dir/crl
new_certs_dir = $dir/newcerts
database = $dir/index.txt
serial = $dir/serial
RANDFILE = $dir/private/.rand
private_key = $dir/private/intermediate.key.pem
certificate = $dir/certs/intermediate.cert.pem
crlnumber = $dir/crlnumber
crl = $dir/crl/intermediate.crl.pem
crl_extensions = crl_ext
default_crl_days = 30
default_md = sha256
name_opt = ca_default
cert_opt = ca_default
default_days = 730
preserve = no
policy = policy_loose
x509_extensions = usr_cert_scarduser

[ policy_loose ]
countryName = optional
stateOrProvinceName = optional
localityName = optional
organizationName = optional
organizationalUnitName = optional
commonName = supplied
emailAddress = optional

[ req ]
default_bits = 2048
default_keyfile = privkey.pem
distinguished_name = req_distinguished_name
attributes = req_attributes
x509_extensions = v3_ca # The extensions to add to the self signed cert
string_mask = utf8only

[ req_distinguished_name ]
countryName = Country Name (2 letter code)
stateOrProvinceName = State or Province Name
localityName = Locality Name
0.organizationName = Organization Name
organizationalUnitName = Organizational Unit Name
commonName = Common Name
emailAddress = Email Address
countryName_default = IT
stateOrProvinceName_default = Varese
localityName_default = Caronno Pertusella
0.organizationName_default = AnthillaSRL
organizationalUnitName_default =
emailAddress_default =

[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment

[ v3_ca ]
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid:always,issuer
basicConstraints = CA:true
keyUsage = cRLSign, keyCertSign
crlDistributionPoints=URI:$CRLDISTPT
nsCertType = sslCA, emailCA
subjectAltName=email:copy
issuerAltName=issuer:copy

[ crl_ext ]
issuerAltName=issuer:copy
authorityKeyIdentifier=keyid:always

[ usr_cert_scarduser ]
basicConstraints=CA:FALSE
crlDistributionPoints=URI:$CRLDISTPT
nsCertType = client, email
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
nsComment = "Smart Card Login Certificate"
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid,issuer
subjectAltName=email:copy,otherName:1.3.6.1.4.1.311.20.2.3;UTF8:$USERPRINCIPALNAME
issuerAltName=issuer:copy
nsCaRevocationUrl = $CRLDISTPT
extendedKeyUsage = clientAuth,1.3.6.1.4.1.311.20.2.2
