@Master['layout.html']

@Section['PageBar']
<p>PageBar @Model.Name</p>
@EndSection

@Section['Dashboard']
<p>Dashboard @Model.Name</p>
@EndSection

@Section['MainContent']
<p>MainContent @Model.Name</p>
@EndSection

@Section['Scripts']
<p>Scripts @Model.Name</p>
@EndSection


@Each[.Parameters]
   [@Current[.Parameters]]
@EndEach

@Each.Users
   Hello @Current.Name!
@EndEach

@IfNot.HasUsers
   No users found!
@EndIf

@If[Not].Parameters
   [contents]
@EndIf

@Partial['page-system-secureshell'];