<h1 class="fg-white padding-bottom10 bd-anthilla-gray-2 capitalize" style="border-bottom: 1px solid;">syslog ng</h1>

<div ng-controller="LogSyslogNgController">

    <div ng-switch="isActive">
        <div ng-switch-when="false">
            <button ng-click="enable()" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-plus fg-anthilla-green"></span>&nbsp;Enable</button>
        </div>
        <div ng-switch-when="true">
            <button ng-click="set()" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-checkmark fg-anthilla-green"></span>&nbsp;Apply Settings</button>
            <button ng-click="start()" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-play fg-anthilla-green"></span>&nbsp;Start</button>
            <button ng-click="restart()" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-loop fg-anthilla-green"></span>&nbsp;Restart</button>
            <button ng-click="stop()" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-stop fg-anthilla-orange"></span>&nbsp;Stop</button>
            <button ng-click="disable()" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-eject fg-anthilla-orange"></span>&nbsp;Disable</button>
        </div>
        <div ng-switch-default> </div>
    </div>

    <br />

    <div class="grid condensed">
        <div class="row cells4">
            <div class="cell padding-left20">
                <h5 class="uppercase fg-anthilla-green">Threaded</h5>
            </div>
            <div class="cell colspan2">
                <div class="input-control text width100pc fg-white">
                    <input type="text" ng-model="SyslogNg.Threaded" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                </div>
            </div>
            <div class="cell padding-left20" style="display: none;">
            </div>
        </div>
        
        <div class="row cells4">
            <div class="cell padding-left20">
                <h5 class="uppercase fg-anthilla-green">ChainHostname</h5>
            </div>
            <div class="cell colspan2">
                <div class="input-control text width100pc fg-white">
                    <input type="text" ng-model="SyslogNg.ChainHostname" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                </div>
            </div>
            <div class="cell padding-left20" style="display: none;">
            </div>
        </div>

        <div class="row cells4">
            <div class="cell padding-left20">
                <h5 class="uppercase fg-anthilla-green">StatsFrequency</h5>
            </div>
            <div class="cell colspan2">
                <div class="input-control text width100pc fg-white">
                    <input type="text" ng-model="SyslogNg.StatsFrequency" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                </div>
            </div>
            <div class="cell padding-left20" style="display: none;">
            </div>
        </div>

        <div class="row cells4">
            <div class="cell padding-left20">
                <h5 class="uppercase fg-anthilla-green">MarkFrequency</h5>
            </div>
            <div class="cell colspan2">
                <div class="input-control text width100pc fg-white">
                    <input type="text" ng-model="SyslogNg.MarkFrequency" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                </div>
            </div>
            <div class="cell padding-left20" style="display: none;">
            </div>
        </div>

        <div class="row cells4">
            <div class="cell padding-left20">
                <h5 class="uppercase fg-anthilla-green">CheckHostname</h5>
            </div>
            <div class="cell colspan2">
                <div class="input-control text width100pc fg-white">
                    <input type="text" ng-model="SyslogNg.CheckHostname" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                </div>
            </div>
            <div class="cell padding-left20" style="display: none;">
            </div>
        </div>

        <div class="row cells4">
            <div class="cell padding-left20">
                <h5 class="uppercase fg-anthilla-green">CreateDirectories</h5>
            </div>
            <div class="cell colspan2">
                <div class="input-control text width100pc fg-white">
                    <input type="text" ng-model="SyslogNg.CreateDirectories" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                </div>
            </div>
            <div class="cell padding-left20" style="display: none;">
            </div>
        </div>

        <div class="row cells4">
            <div class="cell padding-left20">
                <h5 class="uppercase fg-anthilla-green">DnsCache</h5>
            </div>
            <div class="cell colspan2">
                <div class="input-control text width100pc fg-white">
                    <input type="text" ng-model="SyslogNg.DnsCache" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                </div>
            </div>
            <div class="cell padding-left20" style="display: none;">
            </div>
        </div>

        <div class="row cells4">
            <div class="cell padding-left20">
                <h5 class="uppercase fg-anthilla-green">KeepHostname</h5>
            </div>
            <div class="cell colspan2">
                <div class="input-control text width100pc fg-white">
                    <input type="text" ng-model="SyslogNg.KeepHostname" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                </div>
            </div>
            <div class="cell padding-left20" style="display: none;">
            </div>
        </div>

        <div class="row cells4">
            <div class="cell padding-left20">
                <h5 class="uppercase fg-anthilla-green">DirAcl</h5>
            </div>
            <div class="cell colspan2">
                <div class="input-control text width100pc fg-white">
                    <input type="text" ng-model="SyslogNg.DirAcl" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                </div>
            </div>
            <div class="cell padding-left20" style="display: none;">
            </div>
        </div>

        <div class="row cells4">
            <div class="cell padding-left20">
                <h5 class="uppercase fg-anthilla-green">Acl</h5>
            </div>
            <div class="cell colspan2">
                <div class="input-control text width100pc fg-white">
                    <input type="text" ng-model="SyslogNg.Acl" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                </div>
            </div>
            <div class="cell padding-left20" style="display: none;">
            </div>
        </div>

        <div class="row cells4">
            <div class="cell padding-left20">
                <h5 class="uppercase fg-anthilla-green">UseDns</h5>
            </div>
            <div class="cell colspan2">
                <div class="input-control text width100pc fg-white">
                    <input type="text" ng-model="SyslogNg.UseDns" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                </div>
            </div>
            <div class="cell padding-left20" style="display: none;">
            </div>
        </div>

        <div class="row cells4">
            <div class="cell padding-left20">
                <h5 class="uppercase fg-anthilla-green">UseFqdn</h5>
            </div>
            <div class="cell colspan2">
                <div class="input-control text width100pc fg-white">
                    <input type="text" ng-model="SyslogNg.UseFqdn" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                </div>
            </div>
            <div class="cell padding-left20" style="display: none;">
            </div>
        </div>

        <div class="row cells4">
            <div class="cell padding-left20">
                <h5 class="uppercase fg-anthilla-green">RootPath</h5>
            </div>
            <div class="cell colspan2">
                <div class="input-control text width100pc fg-white">
                    <input type="text" ng-model="SyslogNg.RootPath" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                </div>
            </div>
            <div class="cell padding-left20" style="display: none;">
            </div>
        </div>

        <div class="row cells4">
            <div class="cell padding-left20">
                <h5 class="uppercase fg-anthilla-green">PortLevelApplication</h5>
            </div>
            <div class="cell colspan2">
                <div class="input-control text width100pc fg-white">
                    <input type="text" ng-model="SyslogNg.PortLevelApplication" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                </div>
            </div>
            <div class="cell padding-left20" style="display: none;">
            </div>
        </div>

        <div class="row cells4">
            <div class="cell padding-left20">
                <h5 class="uppercase fg-anthilla-green">PortLevelSecurity</h5>
            </div>
            <div class="cell colspan2">
                <div class="input-control text width100pc fg-white">
                    <input type="text" ng-model="SyslogNg.PortLevelSecurity" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                </div>
            </div>
            <div class="cell padding-left20" style="display: none;">
            </div>
        </div>

        <div class="row cells4">
            <div class="cell padding-left20">
                <h5 class="uppercase fg-anthilla-green">PortLevelSystem</h5>
            </div>
            <div class="cell colspan2">
                <div class="input-control text width100pc fg-white">
                    <input type="text" ng-model="SyslogNg.PortLevelSystem" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                </div>
            </div>
            <div class="cell padding-left20" style="display: none;">
            </div>
        </div>
   
        <div class="row cells4">
            <div class="cell padding-left20">
            </div>
            <div class="cell colspan2">
                <button ng-click="saveOptions(SyslogNg)" class="button bg-anthilla-green bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-checkmark"></span>&nbsp;{{ 'SAVE' | translate }}</button>
            </div>
        </div>
    </div>
</div>