[Unit]
Description=External Volume Unit, Plugin: AnthillaDoc Prepare Service
Before=plugin-anthilladoc-02-mount.service

[Service]
ExecStart=/bin/mkdir -p /framework/plugin/anthilladoc
SuccessExitStatus=0
RemainAfterExit=yes

[Install]
WantedBy=app.target
