<div class="border-2-anthilla-gray" style="width: 100%; min-height: 100px; margin-bottom: 15px; padding: 15px;">
    <legend id="Cron">
        Cron Scheduler
        <i id="ShowCronInfo" class="icon-plus-2 fg-anthilla-green" style="float: right; cursor: pointer !important;"></i>
    </legend>
    <form id="CronDashboard" action="/cron" method="POST" enctype="multipart/form-data" class="grid" style="display: none !important;">
        <div class="row">
            <div class="span3">
                <label>Cron Label</label>
            </div>
            <div class="span8">
                <div class="input-control text" data-role="input-control">
                    <input name="Alias" type="text">
                </div>
            </div>
        </div>
        <div class="row" style="padding-bottom: 20px;">
            <div class="span3">
                <label>Command</label>
            </div>
            <div class="span8">
                <textarea name="Command" style="width: 90%; min-height: 200px;" class="bg-anthilla-gray fg-white border-anthilla-green"></textarea>
            </div>
        </div>
        <div class="row" style="padding-bottom: 20px;">
            <div class="span3">
                <label>Hour Interval</label>
            </div>
            <div class="span8">
                <input type="text" name="Interval" value="1" style="width: 90%;" />
            </div>
        </div>
        <!--<div class="row" style="padding-bottom: 20px;">
            <div class="span3">
                <label>Cron Ex</label>
            </div>
            <div class="span8">
                <div id="CronSelector"></div>
                <br />
                <div class="input-control text" data-role="input-control">
                    <input type="text" name="CronExValue" id="CronExValue" value="* * * * * ? *" readonly="readonly" />
                </div>
            </div>
        </div>-->
        <div class="row">
            <div class="span3">
            </div>
            <div class="span8" style="padding-top: 30px;">
                <input type="submit" value="Submit" class="bg-anthilla-green" style="color: #3a3a3a !important; width: 30%;" />
                <input type="reset" value="Reset" class="bg-anthilla-violet" style="color: #3a3a3a !important; width: 30%;" />
                <input type="button" id="HideCronInfo" value="close" class="bg-anthilla-orange" style="color: #3a3a3a !important; width: 30%;" />
            </div>
        </div>
        <hr class="bg-anthilla-gray">
    </form>
    <table class="table">
        <tbody>
            @Each.Jobs
            <tr data-guid="@Current.Guid">
                <td style="width: 150px;">@Current.Alias</td>
                <td>
                    <textarea style="width: 90%; height: 200px;" class="bg-anthilla-gray border-anthilla-green fg-white">@Current.Command</textarea>
                    <br />
                    <button style="width: 90%;" class="bg-anthilla-green upcase" data-role="EditCronJob" data-guid="@Current.Id">Save</button>
                </td>
                <td>
                    <a data-role="LaunchCronJob" data-guid="@Current.Id" href="#" class="button bg-green" style="width: 90%; color: #3a3a3a !important;">Launch Now</a>
                    <a data-role="DeleteCronJob" data-guid="@Current.Id" href="#" class="button bg-violet" style="width: 90%; color: #3a3a3a !important;">Delete</a>
                    @If.IsEnabled
                    <a data-role="DisableCronJob" data-guid="@Current.Id" href="#" class="button bg-yellow" style="width: 90%; color: #3a3a3a !important;">Disable</a>
                    @EndIf
                    @IfNot.IsEnabled
                    <a data-role="EnableCronJob" data-guid="@Current.Id" href="#" class="button bg-green" style="width: 90%; color: #3a3a3a !important;">Enable</a>
                    @EndIf

                </td>
                <td style="width: 45px;">
                    @If.IsEnabled
                    <i class="icon-checkmark fg-anthilla-blu"></i>
                    @EndIf
                    @IfNot.IsEnabled
                    <i class="icon-cancel-2 fg-anthilla-orange"></i>
                    @EndIf
                </td>
            </tr>
            @EndEach
        </tbody>
    </table>
</div>