<div class="border-2-anthilla-gray" style="width: 100%; min-height: 100px; margin-bottom: 15px; padding: 15px;">
    <legend>Sync
        @IfNot.SyncMachineIsActive
        <i id="EnableSyncMachine" class="icon-checkmark fg-anthilla-green" data-hint="|Enable" data-hint-position="bottom" style="float: right; cursor: pointer; margin: auto 10px;"></i>
        @EndIf
        @If.SyncMachineIsActive
        <i id="StopSyncMachine" class="icon-cancel-2 fg-yellow" data-hint="|Stop" data-hint-position="bottom" style="float: right; cursor: pointer;"></i>
        <i id="DisableSyncMachine" class="icon-blocked fg-orange" data-hint="|Disable" data-hint-position="bottom" style="float: right; cursor: pointer; margin: auto 10px;"></i>
        <i id="ReloadSyncMachine" class="icon-cycle fg-anthilla-green" data-hint="|Reload" data-hint-position="bottom" style="float: right; cursor: pointer; margin: auto 10px;"></i>
        <i id="ApplyConfigSyncMachine" class="icon-download-2 fg-anthilla-blu" data-hint="|Apply Saved Settings" data-hint-position="bottom" style="float: right; cursor: pointer;"></i>
        @EndIf
    </legend>

    @Each.SyncedMachines
    <div data-role="panel" class="panel border-2-anthilla-gray collapsed" style="margin-bottom: 5px;">
        <div class="panel-header bg-anthilla-gray fg-white">
            @Current.MachineAddress
        </div>
        <div class="panel-content" style="display: none;">
            <table class="table" style="table-layout: fixed;">
                <tbody>
                    <tr>
                        <td>
                            <input data-role="RemoveSyncMachineResource" data-id="@Current.Guid" type="button" value="Remove Resource" class="bg-anthilla-orange" style="color: #3a3a3a !important; width: 90%;" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    @EndEach
</div>
