<div class="border-2-anthilla-gray" style="width: 100%; min-height: 100px; margin-bottom: 15px; padding: 15px;">
    <legend>DHCP Leases</legend>

    @If.EmptyList
    <h3 class="fg-white">Leases list is empty</h3>
    @EndIf

    @Each.DhcpdLeases
    <div data-role="panel" class="panel border-2-anthilla-gray collapsed" style="margin-bottom: 5px;">
        <div class="panel-header bg-anthilla-gray fg-white">
            @Current.Name
            
            @If.Current.IsExpired
            <p class="fg-orange" style="float: right;">expired</p>
            @EndIf
        </div>
        <div class="panel-content" style="display: none;">
            <table class="table" style="table-layout: fixed;">
                <tr>
                    <td>
                        <label>
                            Start
                        </label>
                    </td>
                    <td>@Current.StartTimeStr
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>
                            End
                        </label>
                    </td>
                    <td>@Current.EndTimeStr
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>
                            Hardware
                        </label>
                    </td>
                    <td>@Current.Hardware
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>
                            Hostname
                        </label>
                    </td>
                    <td>@Current.ClientHostname
                    </td>
                </tr>
                @If.Current.IsExpired
                 <tr>
                     <td colspan="2">
                         <input data-role="RemoveDhcpLease" value="Remove" class="bg-anthilla-orange fg-anthilla-gray" style="width: 90%; height: 28px;" />
                     </td>
                 </tr>
                @EndIf
            </table>
        </div>
    </div>
    @EndEach
</div>
<script src="/Scripts/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="/Scripts/metro.min.js" type="text/javascript"></script>
<script src="/Scripts/antd.services.dhcpd.js" type="text/javascript"></script>
