<div class="border-2-anthilla-gray" style="width: 100%; min-height: 100px; margin-bottom: 15px; padding: 15px;">
    <legend id="Storage">Storage</legend>
    <legend>Disks</legend>
    <table class="table">
        <thead>
            <tr>
                <td> Name </td>
                <td> Size </td>
                <td> Readonly </td>
                <td> Type </td>
                <td> Mountpoint </td>
            </tr>
        </thead>
        <tbody>
            @Each.DisksList
            <tr data-role="show-details" data-guid="@Current.Guid">
                <td>@Current.Name</td>
                <td>@Current.Size </td>
                <td>@Current.Ro </td>
                <td>@Current.Type </td>
                <td>@Current.Mountpoint </td>
            </tr>
            @If.Haschildren
            @Partial['_partial_storage/part-disk-partition', Current];
            @EndIf
            @EndEach
        </tbody>
    </table>
    <legend>Zpool</legend>
    <table class="table">
        <thead>
            <tr>
                <td> Name </td>
                <td> Size </td>
                <td> Alloc </td>
                <td> Free </td>
                <td> Expandsz </td>
                <td> Frag </td>
                <td> Cap </td>
                <td> Dedup </td>
                <td> Health </td>
                <td> Altroot </td>
            </tr>
        </thead>
        <tbody>
            @Each.ZpoolList
            <tr data-role="show-details" data-guid="@Current.Guid">
                <td>@Current.Name</td>
                <td>@Current.Size </td>
                <td>@Current.Alloc </td>
                <td>@Current.Free </td>
                <td>@Current.Expandsz </td>
                <td>@Current.Frag </td>
                <td>@Current.Cap </td>
                <td>@Current.Dedup </td>
                <td>@Current.Health </td>
                <td>@Current.Altroot </td>
            </tr>
            <tr data-row="@Current.Guid" style="display: none;">
                <td colspan="10" style="padding-left: 50px;">
                    <textarea readonly="readonly" style="width: 100%; height: 260px; padding: 10px; font-size: 12px;" class="bg-anthilla-gray fg-white border-anthilla-green">@Current.Status</textarea>
                </td>
            </tr>
            <tr data-row="@Current.Guid" style="display: none;">
                <td colspan="10" style="padding-left: 50px; border-bottom: 5px solid #535353 !important;">
                    <p>Snapshot Scheduling</p>
                    <br>
                    @IfNot.HasSnapshot
                    <p>There's no scheduled snaphot for this pool</p>
                    <button data-role="EnablePoolSnap" data-pool="@Current.Name" style="width: 150px;" class="bg-anthilla-green upcase">Enable</button>
                    <p style="display: inline-block; margin: auto 15px;">every</p>
                    <select data-guid="@Current.Guid" data-role="select-hour">
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="4">4</option>
                        <option value="6">6</option>
                        <option value="8">8</option>
                        <option value="12">12</option>
                        <option value="24">24</option>
                    </select>
                    <p style="display: inline-block; margin: auto 15px;">hour(s)</p>
                    @EndIf

                    @If.HasSnapshot
                    <button data-role="DisablePoolSnap" data-id="@Current.SnapshotGuid" class="bg-anthilla-orange upcase" style="width: 150px;">Disable</button>
                    <p style="display: inline-block; margin: auto 15px;">Snapshot scheduled every @Current.Snapshot hour(s)</p>
                    @EndIf
                    <br>
                    <br>
                </td>
            </tr>
            @EndEach
        </tbody>
    </table>
    <legend>Zfs</legend>
    <table class="table">
        <thead>
            <tr>
                <td>Pool</td>
                <td>Name</td>
                <td>Used</td>
                <td>Available</td>
                <td>Refer</td>
                <td>Mountpoint</td>
            </tr>
        </thead>
        <tbody>
            @Each.ZfsList
            <tr data-role="show-details" data-guid="@Current.Guid">
                <td style="text-transform: uppercase; color: #d8d8d8 !important">@Current.Pool</td>
                <td>@Current.Name</td>
                <td>@Current.Used</td>
                <td>@Current.Available</td>
                <td>@Current.Refer</td>
                <td>@Current.Mountpoint</td>
            </tr>
            <tr data-row="@Current.Guid" style="display: none;">
                <td colspan="6" style="padding-left: 50px; border-bottom: 5px solid #535353 !important;">
                    <p>Snapshot Scheduling</p>

                    @If.HasSnapshot
                    <p>Snapshot scheduled every @Current.Snapshot hour(s)</p>
                    @EndIf
                </td>
            </tr>
            @EndEach
        </tbody>
    </table>
    <legend>Zfs - Snapshot</legend>
    <table class="table">
        <thead>
            <tr>
                <td>Name</td>
                <td>Used</td>
                <td>Available</td>
                <td>Refer</td>
                <td>Mountpoint</td>
            </tr>
        </thead>
        <tbody>
            @Each.ZfsSnap
            <tr data-role="show-details" data-guid="@Current.Guid">
                <td>@Current.Name</td>
                <td>@Current.Used</td>
                <td>@Current.Available</td>
                <td>@Current.Refer</td>
                <td>@Current.Mountpoint</td>
            </tr>
            <tr data-row="@Current.Guid" style="display: none;">
                <td colspan="5" style="padding-left: 50px; border-bottom: 5px solid #535353 !important;">
                    <p>Manage Snapshot</p>
                </td>
            </tr>
            @EndEach
        </tbody>
    </table>
</div>
