<legend id="DHCP">
    DHCPD

    @If.DhcpdIsActive
    <i id="ReloadDhcpd" class="icon-cycle fg-lightGreen" style="float:right; cursor: pointer; margin: auto 10px;"></i>
    <i id="StopDhcpd" class="icon-cancel fg-anthilla-orange" style="float:right; cursor: pointer;"></i>
    <i id="ApplyConfigDhcpd" class="icon-plus fg-anthilla-blu" style="float:right; cursor: pointer;"></i>
    @EndIf
    @IfNot.DhcpdIsActive
    <i id="EnableDhcpd" class="icon-upload fg-anthilla-orange" style="float:right; cursor: pointer;"></i>
    @EndIf
</legend>

<div data-role="tab-control" class="tab-control">
    <ul class="tabs">
        <li class="active"><a href="#dhcp_global">Global</a></li>
        <li><a href="#dhcp_subnet">Subnet</a></li>
        <li><a href="#dhcp_pools">Pools</a></li>
        <li><a href="#dhcp_class">Class</a></li>
        <li><a href="#dhcp_host">Host Reservation</a></li>
    </ul>

    <div class="frames">
        <div id="dhcp_global" class="frame">
            <form action="/services/dhcpd/options" method="POST" enctype="multipart/form-data">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                <label>Allows</label>
                            </td>
                            <td colspan="2">
                                <!--each-->
                                <input name="Allow" style="width: 90%;" type="text" value="@Model.DhcpdOptions.Allow" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>updateStaticLeases</label>
                            </td>
                            <td colspan="2">
                                <input name="UpdateStaticLeases" style="width: 90%;" type="text" value="@Model.DhcpdOptions.UpdateStaticLeases" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>UpdateConflictDetection</label>
                            </td>
                            <td colspan="2">
                                <input name="UpdateConflictDetection" style="width: 90%;" type="text" value="@Model.DhcpdOptions.UpdateConflictDetection" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>UseHostDeclNames</label>
                            </td>
                            <td colspan="2">
                                <input name="UseHostDeclNames" style="width: 90%;" type="text" value="@Model.DhcpdOptions.UseHostDeclNames" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>DoForwardUpdates</label>
                            </td>
                            <td colspan="2">
                                <input name="DoForwardUpdates" style="width: 90%;" type="text" value="@Model.DhcpdOptions.DoForwardUpdates" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>DoReverseUpdates</label>
                            </td>
                            <td colspan="2">
                                <input name="DoReverseUpdates" style="width: 90%;" type="text" value="@Model.DhcpdOptions.DoReverseUpdates" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>LogFacility</label>
                            </td>
                            <td colspan="2">
                                <input name="LogFacility" style="width: 90%;" type="text" value="@Model.DhcpdOptions.LogFacility" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Option</label>
                            </td>
                            <td colspan="2">
                                <!--each-->
                                <input name="Option" style="width: 90%;" type="text" value="@Model.DhcpdOptions.Option" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>ZoneName</label>
                            </td>
                            <td colspan="2">
                                <input name="ZoneName" style="width: 90%;" type="text" value="@Model.DhcpdOptions.ZoneName" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>ZonePrimaryAddress</label>
                            </td>
                            <td colspan="2">
                                <input name="ZonePrimaryAddress" style="width: 90%;" type="text" value="@Model.DhcpdOptions.ZonePrimaryAddress" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>DdnsUpdateStyle</label>
                            </td>
                            <td colspan="2">
                                <input name="DdnsUpdateStyle" style="width: 90%;" type="text" value="@Model.DhcpdOptions.DdnsUpdateStyle" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>DdnsUpdates</label>
                            </td>
                            <td colspan="2">
                                <input name="DdnsUpdates" style="width: 90%;" type="text" value="@Model.DhcpdOptions.DdnsUpdates" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>DdnsDomainName</label>
                            </td>
                            <td colspan="2">
                                <input name="DdnsDomainName" style="width: 90%;" type="text" value="@Model.DhcpdOptions.DdnsDomainName" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>DdnsRevDomainName</label>
                            </td>
                            <td colspan="2">
                                <input name="DdnsRevDomainName" style="width: 90%;" type="text" value="@Model.DhcpdOptions.DdnsRevDomainName" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>DefaultLeaseTime</label>
                            </td>
                            <td colspan="2">
                                <input name="DefaultLeaseTime" style="width: 90%;" type="text" value="@Model.DhcpdOptions.DefaultLeaseTime" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>MaxLeaseTime</label>
                            </td>
                            <td colspan="2">
                                <input name="MaxLeaseTime" style="width: 90%;" type="text" value="@Model.DhcpdOptions.MaxLeaseTime" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>KeyName</label>
                            </td>
                            <td colspan="2">
                                <input name="KeyName" style="width: 90%;" type="text" value="@Model.DhcpdOptions.KeyName" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>KeySecret</label>
                            </td>
                            <td colspan="2">
                                <input name="KeySecret" style="width: 90%;" type="text" value="@Model.DhcpdOptions.KeySecret" />
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="3">
                                <input style="width: 90%;" type="submit" value="SET" class="bg-anthilla-geen" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>

        <div id="dhcp_subnet" class="frame" style="display: none;">
            <form action="/services/dhcpd/subnet" method="POST" enctype="multipart/form-data">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                <label>IpFamily</label>
                            </td>
                            <td colspan="2">
                                <input name="IpFamily" style="width: 90%;" type="text" value="@Model.DhcpdSubnet.IpFamily" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>IpMask</label>
                            </td>
                            <td colspan="2">
                                <input name="IpMask" style="width: 90%;" type="text" value="@Model.DhcpdSubnet.IpMask" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>OptionRouters</label>
                            </td>
                            <td colspan="2">
                                <input name="OptionRouters" style="width: 90%;" type="text" value="@Model.DhcpdSubnet.OptionRouters" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>NtpServers</label>
                            </td>
                            <td colspan="2">
                                <input name="NtpServers" style="width: 90%;" type="text" value="@Model.DhcpdSubnet.NtpServers" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>TimeServers</label>
                            </td>
                            <td colspan="2">
                                <input name="TimeServers" style="width: 90%;" type="text" value="@Model.DhcpdSubnet.TimeServers" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>DomainNameServers</label>
                            </td>
                            <td colspan="2">
                                <input name="DomainNameServers" style="width: 90%;" type="text" value="@Model.DhcpdSubnet.DomainNameServers" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>BroadcastAddress</label>
                            </td>
                            <td colspan="2">
                                <input name="BroadcastAddress" style="width: 90%;" type="text" value="@Model.DhcpdSubnet.BroadcastAddress" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>SubnetMask</label>
                            </td>
                            <td colspan="2">
                                <!--each-->
                                <input name="SubnetMask" style="width: 90%;" type="text" value="@Model.DhcpdSubnet.SubnetMask" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>ZoneName</label>
                            </td>
                            <td colspan="2">
                                <input name="ZoneName" style="width: 90%;" type="text" value="@Model.DhcpdSubnet.ZoneName" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>ZonePrimaryAddress</label>
                            </td>
                            <td colspan="2">
                                <input name="ZonePrimaryAddress" style="width: 90%;" type="text" value="@Model.DhcpdSubnet.ZonePrimaryAddress" />
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="3">
                                <input style="width: 90%;" type="submit" value="SET" class="bg-anthilla-geen" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>

        <div id="dhcp_pools" class="frame" style="display: none;">
            <form action="/services/dhcpd/pool/add" method="POST" enctype="multipart/form-data">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                <label>Options</label>
                            </td>
                            <td colspan="2">
                                <!--each-->
                                <input name="Option" style="width: 90%;" type="text" />
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="3">
                                <input style="width: 90%;" type="submit" value="SET" class="bg-anthilla-geen" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>

            <table class="table" style="table-layout: fixed;">
                <thead>
                    <tr><td colspan="3">Options</td></tr>
                </thead>
                <tbody>
                    @Each.DhcpdPools
                    <tr data-id="@Current.Guid">
                        <td>Pool</td>
                        <td>@Current.Options</td>
                        <td>
                            <input class="bg-anthilla-orange" type="button" value="X" style="width: 20%;" data-role="DeleteDhcpdPool" data-id="@Current.Guid" />
                        </td>
                    </tr>
                    @EndEach
                </tbody>
            </table>
        </div>

        <div id="dhcp_class" class="frame" style="display: none;">
            <form action="/services/dhcpd/class/add" method="POST" enctype="multipart/form-data">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                <label>Name</label>
                            </td>
                            <td colspan="2">
                                <input name="Name" style="width: 90%;" type="text" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>MacVendor</label>
                            </td>
                            <td colspan="2">
                                <input name="MacVendor" style="width: 90%;" type="text" />
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="3">
                                <input style="width: 90%;" type="submit" value="SET" class="bg-anthilla-geen" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>

            <table class="table" style="table-layout: fixed;">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>MacVendor</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @Each.DhcpdClass
                    <tr data-id="@Current.Guid">
                        <td>@Current.Name</td>
                        <td>@Current.MacVendor</td>
                        <td>
                            <input class="bg-anthilla-orange" type="button" value="X" style="width: 20%;" data-role="DeleteDhcpdClass" data-id="@Current.Guid" />
                        </td>
                    </tr>
                    @EndEach
                </tbody>
            </table>
        </div>

        <div id="dhcp_host" class="frame" style="display: none;">
            <form action="/services/dhcpd/reservation/add" method="POST" enctype="multipart/form-data">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                <label>HostName</label>
                            </td>
                            <td colspan="2">
                                <input name="HostName" style="width: 90%;" type="text" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>MacAddress</label>
                            </td>
                            <td colspan="2">
                                <input name="MacAddress" style="width: 90%;" type="text" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>IpAddress</label>
                            </td>
                            <td colspan="2">
                                <input name="IpAddress" style="width: 90%;" type="text" />
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="3">
                                <input style="width: 90%;" type="submit" value="SET" class="bg-anthilla-geen" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>

            <table class="table" style="table-layout: fixed;">
                <thead>
                    <tr>
                        <td>HostName</td>
                        <td>MacAddress</td>
                        <td>IpAddress</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @Each.DhcpdClass
                    <tr data-id="@Current.Guid">
                        <td>@Current.HostName</td>
                        <td>@Current.MacAddress</td>
                        <td>@Current.IpAddress</td>
                        <td>
                            <input class="bg-anthilla-orange" type="button" value="X" style="width: 20%;" data-role="DeleteDhcpdReservation" data-id="@Current.Guid" />
                        </td>
                    </tr>
                    @EndEach
                </tbody>
            </table>
        </div>

        <div id="dhcp_failover" class="frame" style="display: none;">
            <div id="DhcpConfigPanel" style="width: 100%; height: auto; padding: 20px; margin-bottom: 15px;" class="border-2-anthilla-gray">
                <input type="button" class="bg-mauve" value="New Failover Configuration" id="AddNewFailoverDhcp" style="display: inline-block;">
                <input type="text" placeholder="Search" style="position: relative; margin-bottom: 15px; height: 30px; width: 300px; padding-left: 5px; display: inline; float: right;" data-table="DhcpSearch" class="search-field" autocomplete="off">
            </div>

            <div id="NewFailoverDhcpDashboard" style="display: none; width: 100%; height: auto; padding: 20px; margin-bottom: 15px;" class="border-2-anthilla-gray">
                <form action="/services/dhcp/addfailover" method="POST" enctype="multipart/form-data" class="grid">
                    <div class="row">
                        <div class="span4">
                            <label>Failover Name</label>
                        </div>
                        <div class="span6">
                            <input name="NewFailoverName" type="text" style="width: 90%;" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="span4">
                            <label>&nbsp</label>
                        </div>
                        <div class="span6">
                            <input value="Add Failover" type="submit" style="width: 90%;" class="bg-anthilla-geen" />
                        </div>
                    </div>
                </form>
            </div>

            @Each.DhcpFailover
            <form action="/services/update/dhcp/failover/@Current.Name" id="DhcpForm" data-role="dhcp-section-update" method="POST" enctype="multipart/form-data">
                <table class="table" data-search="DhcpSearch" data-section="dhcp-failover" data-failover-name="@Current.Name">
                    <tbody>
                        <tr data-file="@Current.FilePath" data-object="dhcp-parameter" style="border-bottom: 4px solid #3A3A3A;">
                            <td colspan="3">
                                @Current.Name
                                <input type="submit" value="Update Failover @Current.Name" style="float:right;" class="bg-green" />
                            </td>
                        </tr>
                        @Partial['_partial/part-srvc-dhcp-data', @Current.Data];
                        <tr data-file="@Current.FilePath" data-object="dhcp-parameter">
                            <td class="bg-anthilla-gray-m" style="border-width: 0; border-right: 4px solid #3A3A3A; width: 13%;"></td>
                            <td style="width: 20%;">
                                <input name="DataFailover" type="text" style="width: 90%;" />
                                <input name="DataFilePath" type="hidden" value="@Current.FilePath" />
                            </td>
                            <td>
                                <input name="DataValue" type="text" style="width: 90%;" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
            @EndEach
        </div>

        <div id="dhcp_sharednetwork" class="frame" style="display: none;">
            <div id="DhcpConfigPanel" style="width: 100%; height: auto; padding: 20px; margin-bottom: 15px;" class="border-2-anthilla-gray">
                <input type="button" class="bg-mauve" value="New SharedNetwork Configuration" id="AddNewSharedNetworkDhcp" style="display: inline-block;">
                <input type="text" placeholder="Search" style="position: relative; margin-bottom: 15px; height: 30px; width: 300px; padding-left: 5px; display: inline; float: right;" data-table="DhcpSearch" class="search-field" autocomplete="off">
            </div>

            <div id="NewSharedNetworkDhcpDashboard" style="display: none; width: 100%; height: auto; padding: 20px; margin-bottom: 15px;" class="border-2-anthilla-gray">
                <form action="/services/dhcp/addsharednetwork" method="POST" enctype="multipart/form-data" class="grid">
                    <div class="row">
                        <div class="span4">
                            <label>SharedNetwork Name</label>
                        </div>
                        <div class="span6">
                            <input name="NewSharedNetworkName" type="text" style="width: 90%;" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="span4">
                            <label>&nbsp</label>
                        </div>
                        <div class="span6">
                            <input value="Add SharedNetwork" type="submit" style="width: 90%;" class="bg-anthilla-geen" />
                        </div>
                    </div>
                </form>
            </div>

            @Each.DhcpSharedNetwork
            <form action="/services/update/dhcp/sharednetwork/@Current.Name" id="DhcpForm" data-role="dhcp-section-update" method="POST" enctype="multipart/form-data">
                <table class="table" data-search="DhcpSearch" data-section="dhcp-sharednetwork" data-sharednetwork-name="@Current.Name">
                    <tbody>
                        <tr data-file="@Current.FilePath" data-object="dhcp-parameter" style="border-bottom: 4px solid #3A3A3A;">
                            <td colspan="3">
                                @Current.Name
                                <input type="submit" value="Update SharedNetwork @Current.Name" style="float:right;" class="bg-green" />
                            </td>
                        </tr>
                        @Partial['_partial/part-srvc-dhcp-data', @Current.Data];
                        <tr data-file="@Current.FilePath" data-object="dhcp-parameter">
                            <td class="bg-anthilla-gray-m" style="border-width: 0; border-right: 4px solid #3A3A3A; width: 13%;"></td>
                            <td style="width: 20%;">
                                <input name="DataSharedNetwork" type="text" style="width: 90%;" />
                                <input name="DataFilePath" type="hidden" value="@Current.FilePath" />
                            </td>
                            <td>
                                <input name="DataValue" type="text" style="width: 90%;" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
            @EndEach
        </div>

        <div id="dhcp_group" class="frame" style="display: none;">
            <div id="DhcpConfigPanel" style="width: 100%; height: auto; padding: 20px; margin-bottom: 15px;" class="border-2-anthilla-gray">
                <input type="button" class="bg-mauve" value="New Group Configuration" id="AddNewGroupDhcp" style="display: inline-block;">
                <input type="text" placeholder="Search" style="position: relative; margin-bottom: 15px; height: 30px; width: 300px; padding-left: 5px; display: inline; float: right;" data-table="DhcpSearch" class="search-field" autocomplete="off">
            </div>

            <div id="NewGroupDhcpDashboard" style="display: none; width: 100%; height: auto; padding: 20px; margin-bottom: 15px;" class="border-2-anthilla-gray">
                <form action="/services/dhcp/addgroup" method="POST" enctype="multipart/form-data" class="grid">
                    <div class="row">
                        <div class="span4">
                            <label>Group Name</label>
                        </div>
                        <div class="span6">
                            <input name="NewGroupName" type="text" style="width: 90%;" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="span4">
                            <label>&nbsp</label>
                        </div>
                        <div class="span6">
                            <input value="Add Group" type="submit" style="width: 90%;" class="bg-anthilla-geen" />
                        </div>
                    </div>
                </form>
            </div>

            @Each.DhcpGroup
            <form action="/services/update/dhcp/group/@Current.Name" id="DhcpForm" data-role="dhcp-section-update" method="POST" enctype="multipart/form-data">
                <table class="table" data-search="DhcpSearch" data-section="dhcp-group" data-group-name="@Current.Name">
                    <tbody>
                        <tr data-file="@Current.FilePath" data-object="dhcp-parameter" style="border-bottom: 4px solid #3A3A3A;">
                            <td colspan="3">
                                @Current.Name
                                <input type="submit" value="Update Group @Current.Name" style="float:right;" class="bg-green" />
                            </td>
                        </tr>
                        @Partial['_partial/part-srvc-dhcp-data', @Current.Data];
                        <tr data-file="@Current.FilePath" data-object="dhcp-parameter">
                            <td class="bg-anthilla-gray-m" style="border-width: 0; border-right: 4px solid #3A3A3A; width: 13%;"></td>
                            <td style="width: 20%;">
                                <input name="DataGroup" type="text" style="width: 90%;" />
                                <input name="DataFilePath" type="hidden" value="@Current.FilePath" />
                            </td>
                            <td>
                                <input name="DataValue" type="text" style="width: 90%;" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
            @EndEach
        </div>

        <div id="dhcp_class" class="frame" style="display: none;">
            <div id="DhcpConfigPanel" style="width: 100%; height: auto; padding: 20px; margin-bottom: 15px;" class="border-2-anthilla-gray">
                <input type="button" class="bg-mauve" value="New Class Configuration" id="AddNewClassDhcp" style="display: inline-block;">
                <input type="text" placeholder="Search" style="position: relative; margin-bottom: 15px; height: 30px; width: 300px; padding-left: 5px; display: inline; float: right;" data-table="DhcpSearch" class="search-field" autocomplete="off">
            </div>

            <div id="NewClassDhcpDashboard" style="display: none; width: 100%; height: auto; padding: 20px; margin-bottom: 15px;" class="border-2-anthilla-gray">
                <form action="/services/dhcp/addclass" method="POST" enctype="multipart/form-data" class="grid">
                    <div class="row">
                        <div class="span4">
                            <label>Class Name</label>
                        </div>
                        <div class="span6">
                            <input name="NewClassName" type="text" style="width: 90%;" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="span4">
                            <label>&nbsp</label>
                        </div>
                        <div class="span6">
                            <input value="Add Class" type="submit" style="width: 90%;" class="bg-anthilla-geen" />
                        </div>
                    </div>
                </form>
            </div>

            @Each.DhcpClass
            <form action="/services/update/dhcp/class/@Current.Name" id="DhcpForm" data-role="dhcp-section-update" method="POST" enctype="multipart/form-data">
                <table class="table" data-search="DhcpSearch" data-section="dhcp-class" data-class-name="@Current.Name">
                    <tbody>
                        <tr data-file="@Current.FilePath" data-object="dhcp-parameter" style="border-bottom: 4px solid #3A3A3A;">
                            <td colspan="3">
                                @Current.Name
                                <input type="submit" value="Update Class @Current.Name" style="float:right;" class="bg-green" />
                            </td>
                        </tr>
                        @Partial['_partial/part-srvc-dhcp-data', @Current.Data];
                        <tr data-file="@Current.FilePath" data-object="dhcp-parameter">
                            <td class="bg-anthilla-gray-m" style="border-width: 0; border-right: 4px solid #3A3A3A; width: 13%;"></td>
                            <td style="width: 20%;">
                                <input name="DataClass" type="text" style="width: 90%;" />
                                <input name="DataFilePath" type="hidden" value="@Current.FilePath" />
                            </td>
                            <td>
                                <input name="DataValue" type="text" style="width: 90%;" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
            @EndEach
        </div>

        <div id="dhcp_subclass" class="frame" style="display: none;">
            <div id="DhcpConfigPanel" style="width: 100%; height: auto; padding: 20px; margin-bottom: 15px;" class="border-2-anthilla-gray">
                <input type="button" class="bg-mauve" value="New Subclass Configuration" id="AddNewSubclassDhcp" style="display: inline-block;">
                <input type="text" placeholder="Search" style="position: relative; margin-bottom: 15px; height: 30px; width: 300px; padding-left: 5px; display: inline; float: right;" data-table="DhcpSearch" class="search-field" autocomplete="off">
            </div>

            <div id="NewSubclassDhcpDashboard" style="display: none; width: 100%; height: auto; padding: 20px; margin-bottom: 15px;" class="border-2-anthilla-gray">
                <form action="/services/dhcp/addsubclass" method="POST" enctype="multipart/form-data" class="grid">
                    <div class="row">
                        <div class="span4">
                            <label>Subclass Name</label>
                        </div>
                        <div class="span6">
                            <input name="NewSubclassName" type="text" style="width: 90%;" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="span4">
                            <label>&nbsp</label>
                        </div>
                        <div class="span6">
                            <input value="Add Subclass" type="submit" style="width: 90%;" class="bg-anthilla-geen" />
                        </div>
                    </div>
                </form>
            </div>

            @Each.DhcpSubclass
            <form action="/services/update/dhcp/subclass/@Current.Name" id="DhcpForm" data-role="dhcp-section-update" method="POST" enctype="multipart/form-data">
                <table class="table" data-search="DhcpSearch" data-section="dhcp-subclass" data-subclass-name="@Current.Name">
                    <tbody>
                        <tr data-file="@Current.FilePath" data-object="dhcp-parameter" style="border-bottom: 4px solid #3A3A3A;">
                            <td colspan="3">
                                @Current.Name
                                <input type="submit" value="Update Subclass @Current.Name" style="float:right;" class="bg-green" />
                            </td>
                        </tr>
                        @Partial['_partial/part-srvc-dhcp-data', @Current.Data];
                        <tr data-file="@Current.FilePath" data-object="dhcp-parameter">
                            <td class="bg-anthilla-gray-m" style="border-width: 0; border-right: 4px solid #3A3A3A; width: 13%;"></td>
                            <td style="width: 20%;">
                                <input name="DataSubclass" type="text" style="width: 90%;" />
                                <input name="DataFilePath" type="hidden" value="@Current.FilePath" />
                            </td>
                            <td>
                                <input name="DataValue" type="text" style="width: 90%;" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
            @EndEach
        </div>

        <div id="dhcp_logging" class="frame" style="display: none;">
            <div id="DhcpConfigPanel" style="width: 100%; height: auto; padding: 20px; margin-bottom: 15px;" class="border-2-anthilla-gray">
                <input type="button" class="bg-mauve" value="New Logging Configuration" id="AddNewLoggingDhcp" style="display: inline-block;">
                <input type="text" placeholder="Search" style="position: relative; margin-bottom: 15px; height: 30px; width: 300px; padding-left: 5px; display: inline; float: right;" data-table="DhcpSearch" class="search-field" autocomplete="off">
            </div>

            <div id="NewLoggingDhcpDashboard" style="display: none; width: 100%; height: auto; padding: 20px; margin-bottom: 15px;" class="border-2-anthilla-gray">
                <form action="/services/dhcp/addlogging" method="POST" enctype="multipart/form-data" class="grid">
                    <div class="row">
                        <div class="span4">
                            <label>Logging Name</label>
                        </div>
                        <div class="span6">
                            <input name="NewLoggingName" type="text" style="width: 90%;" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="span4">
                            <label>&nbsp</label>
                        </div>
                        <div class="span6">
                            <input value="Add Logging" type="submit" style="width: 90%;" class="bg-anthilla-geen" />
                        </div>
                    </div>
                </form>
            </div>

            @Each.DhcpLogging
            <form action="/services/update/dhcp/logging/@Current.Name" id="DhcpForm" data-role="dhcp-section-update" method="POST" enctype="multipart/form-data">
                <table class="table" data-search="DhcpSearch" data-section="dhcp-logging" data-logging-name="@Current.Name">
                    <tbody>
                        <tr data-file="@Current.FilePath" data-object="dhcp-parameter" style="border-bottom: 4px solid #3A3A3A;">
                            <td colspan="3">
                                @Current.Name
                                <input type="submit" value="Update Logging @Current.Name" style="float:right;" class="bg-green" />
                            </td>
                        </tr>
                        @Partial['_partial/part-srvc-dhcp-data', @Current.Data];
                        <tr data-file="@Current.FilePath" data-object="dhcp-parameter">
                            <td class="bg-anthilla-gray-m" style="border-width: 0; border-right: 4px solid #3A3A3A; width: 13%;"></td>
                            <td style="width: 20%;">
                                <input name="DataLogging" type="text" style="width: 90%;" />
                                <input name="DataFilePath" type="hidden" value="@Current.FilePath" />
                            </td>
                            <td>
                                <input name="DataValue" type="text" style="width: 90%;" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
            @EndEach
        </div>
    </div>
</div>