<div class="border-2-anthilla-gray" style="width: 100%; min-height: 100px; margin-bottom: 15px; padding: 15px;">
    <legend id="Network">
        Network
        <i id="ReloadNetworkInterfacesInformation" class="icon-cycle fg-anthilla-green" style="float: right; cursor: pointer !important;"></i>
    </legend>
    <legend>Physical Interfaces</legend>
    @Each.NetworkPhysicalIf
    <div data-role="panel" class="panel border-2-anthilla-gray">
        <div class="panel-header bg-anthilla-gray fg-white" style="margin-bottom: 5px;">
            @Current.Name
        </div>
        <div class="panel-content">
            <table class="table">
                <tbody>
                    <tr data-role="CmdContainer" style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                        <td>
                            <textarea data="CmdGet" data-role="CmdResult" class="bg-anthilla-gray fg-white border-anthilla-green" style="max-width: 90%; min-width: 90%; height: auto;"></textarea>
                            <input type="hidden" data="$net_if" value="@Current.Name" style="width: 90%;" />
                            <input type="button" data-role="CmdLaunch" data-name="ipv4-show-interface-link" data-par="$net_if" value="Update" />
                        </td>
                    </tr>
                    <tr data-role="CmdContainer" style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                        <td>
                            <textarea data="CmdGet" data-role="CmdResult" class="bg-anthilla-gray fg-white border-anthilla-green" style="max-width: 90%; min-width: 90%; height: auto;"></textarea>
                            <input type="hidden" data="$net_if" value="@Current.Name" style="width: 90%;" />
                            <input type="button" data-role="CmdLaunch" data-name="ipv4-show-interface-addr" data-par="$net_if" value="Update" />
                        </td>
                    </tr>
                    <tr data-role="CmdContainer" style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                        <td>
                            <textarea data="CmdGet" data-role="CmdResult" class="bg-anthilla-gray fg-white border-anthilla-green" style="max-width: 90%; min-width: 90%; height: auto;"></textarea>
                            <input type="hidden" data="$net_if" value="@Current.Name" style="width: 90%;" />
                            <input type="button" data-role="CmdLaunch" data-name="ipv4-show-interface-stats" data-par="$net_if" value="Update" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    @EndEach
    <br />
    <legend>Virtual Interfaces</legend>
    @Each.NetworkVirtualIf
    <div data-role="panel" class="panel border-2-anthilla-gray">
        <div class="panel-header bg-anthilla-gray fg-white" style="margin-bottom: 5px;">
            @Current.Name
        </div>
        <div class="panel-content">
            <table class="table">
                <tbody>
                    <tr data-role="CmdContainer" style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                        <td>
                            <textarea data="CmdGet" data-role="CmdResult" class="bg-anthilla-gray fg-white border-anthilla-green" style="max-width: 90%; min-width: 90%; height: auto;"></textarea>
                            <input type="hidden" data="$net_if" value="@Current.Name" style="width: 90%;" />
                            <input type="button" data-role="CmdLaunch" data-name="ipv4-show-interface-link" data-par="$net_if" value="Update" />
                        </td>
                    </tr>
                    <tr data-role="CmdContainer" style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                        <td>
                            <textarea data="CmdGet" data-role="CmdResult" class="bg-anthilla-gray fg-white border-anthilla-green" style="max-width: 90%; min-width: 90%; height: auto;"></textarea>
                            <input type="hidden" data="$net_if" value="@Current.Name" style="width: 90%;" />
                            <input type="button" data-role="CmdLaunch" data-name="ipv4-show-interface-addr" data-par="$net_if" value="Update" />
                        </td>
                    </tr>
                    <tr data-role="CmdContainer" style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                        <td>
                            <textarea data="CmdGet" data-role="CmdResult" class="bg-anthilla-gray fg-white border-anthilla-green" style="max-width: 90%; min-width: 90%; height: auto;"></textarea>
                            <input type="hidden" data="$net_if" value="@Current.Name" style="width: 90%;" />
                            <input type="button" data-role="CmdLaunch" data-name="ipv4-show-interface-stats" data-par="$net_if" value="Update" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    @EndEach
    <br />
    <legend>Bond Interfaces</legend>
    @Each.NetworkBondIf
    <div data-role="panel" class="panel border-2-anthilla-gray">
        <div class="panel-header bg-anthilla-gray fg-white" style="margin-bottom: 5px;">
            @Current.Name
        </div>
        <div class="panel-content">
            <table class="table">
                <tbody>
                    <tr data-role="CmdContainer" style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                        <td>
                            <textarea data="CmdGet" data-role="CmdResult" class="bg-anthilla-gray fg-white border-anthilla-green" style="max-width: 90%; min-width: 90%; height: auto;"></textarea>
                            <input type="hidden" data="$net_if" value="@Current.Name" style="width: 90%;" />
                            <input type="button" data-role="CmdLaunch" data-name="ipv4-show-interface-link" data-par="$net_if" value="Update" />
                        </td>
                    </tr>
                    <tr data-role="CmdContainer" style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                        <td>
                            <textarea data="CmdGet" data-role="CmdResult" class="bg-anthilla-gray fg-white border-anthilla-green" style="max-width: 90%; min-width: 90%; height: auto;"></textarea>
                            <input type="hidden" data="$net_if" value="@Current.Name" style="width: 90%;" />
                            <input type="button" data-role="CmdLaunch" data-name="ipv4-show-interface-addr" data-par="$net_if" value="Update" />
                        </td>
                    </tr>
                    <tr data-role="CmdContainer" style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                        <td>
                            <textarea data="CmdGet" data-role="CmdResult" class="bg-anthilla-gray fg-white border-anthilla-green" style="max-width: 90%; min-width: 90%; height: auto;"></textarea>
                            <input type="hidden" data="$net_if" value="@Current.Name" style="width: 90%;" />
                            <input type="button" data-role="CmdLaunch" data-name="ipv4-show-interface-stats" data-par="$net_if" value="Update" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    @EndEach
    <br />
    <legend>Bridge Interfaces</legend>
    <!--<tr>
        <td style="width: 350px;">
            <label>Add Bridge</label>
        </td>
        <td>
            <input data-role="input-general-function" type="text" style="width: 60%; height: 25px;"/>
            <input data-role="submit-general-function" data-command="brctl addbr [tag:x]" type="button" value="Apply" class="bg-anthilla-green" style="width: 40% !important; color: #464646; float: right;"/>
        </td>
    </tr>
    <tr>
        <td style="width: 350px;">
            <label>Delete Bridge</label>
        </td>
        <td>
            <input data-role="input-general-function" type="text" style="width: 60%; height: 25px;" />
            <input data-role="submit-general-function" data-command="brctl delbr [tag:x]" type="button" value="Apply" class="bg-anthilla-green" style="width: 40% !important; color: #464646; float: right;" />
        </td>
    </tr>-->
    @Each.NetworkBridgeIf
    <div data-role="panel" class="panel border-2-anthilla-gray">
        <div class="panel-header bg-anthilla-gray fg-white" style="margin-bottom: 5px;">
            @Current.Name
        </div>
        <div class="panel-content">
            <table class="table">
                <tbody>
                    <tr data-role="CmdContainer" style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                        <td>
                            <textarea data="CmdGet" data-role="CmdResult" class="bg-anthilla-gray fg-white border-anthilla-green" style="max-width: 90%; min-width: 90%; height: auto;"></textarea>
                            <input type="hidden" data="$net_if" value="@Current.Name" style="width: 90%;" />
                            <input type="button" data-role="CmdLaunch" data-name="ipv4-show-interface-link" data-par="$net_if" value="Update" />
                        </td>
                    </tr>
                    <tr data-role="CmdContainer" style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                        <td>
                            <textarea data="CmdGet" data-role="CmdResult" class="bg-anthilla-gray fg-white border-anthilla-green" style="max-width: 90%; min-width: 90%; height: auto;"></textarea>
                            <input type="hidden" data="$net_if" value="@Current.Name" style="width: 90%;" />
                            <input type="button" data-role="CmdLaunch" data-name="ipv4-show-interface-addr" data-par="$net_if" value="Update" />
                        </td>
                    </tr>
                    <tr data-role="CmdContainer" style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                        <td>
                            <textarea data="CmdGet" data-role="CmdResult" class="bg-anthilla-gray fg-white border-anthilla-green" style="max-width: 90%; min-width: 90%; height: auto;"></textarea>
                            <input type="hidden" data="$net_if" value="@Current.Name" style="width: 90%;" />
                            <input type="button" data-role="CmdLaunch" data-name="ipv4-show-interface-stats" data-par="$net_if" value="Update" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    @EndEach
    <br />

    <!--<legend id="Dhcp">Dhcp</legend>-->
</div>
