<div class="border-2-anthilla-gray" style="width: 100%; min-height: 100px; margin-bottom: 15px; padding: 15px;">
    <legend>Info </legend>
    <table class="table">
        <tbody>
            <tr>
                <td colspan="2">
                    <label>AnthillaOS Release</label>
                </td>
            </tr>
            @Each.AosInfo
            <tr>
                <td>
                    <label>@Current.Key</label>
                </td>
                <td>
                    <p>@Current.Value</p>
                </td>
            </tr>
            @EndEach
            <tr>
                <td>
                    <label>Linux Version</label>
                </td>
                <td>
                    <p>@Model.VersionOS</p>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Gentoo release</label></td>
                <td>
                    <p>@Model.GentooRelease</p>
                </td>
            </tr>
            <tr>
                <td>
                    <label>lsb release</label></td>
                <td>
                    <p>@Model.LsbRelease</p>
                </td>
            </tr>
            <tr>
                <td>
                    <label>os release</label></td>
                <td>
                    <p>@Model.OsRelease</p>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Uptime</label>
                </td>
                <td>
                    <p>@Model.Uptime.Uptime</p>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Users</label>
                </td>
                <td>
                    <p>@Model.Uptime.Users</p>
                </td>
            </tr>
            <tr>
                <td>
                    <label>LoadAverage</label>
                </td>
                <td>
                    <p>@Model.Uptime.LoadAverage</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
