<div class="border-2-anthilla-gray" style="width: 100%; min-height: 100px; margin-bottom: 15px; padding: 15px;">
    <legend id="Zfs">ZFS</legend>
    <i id="ReloadZfsInformation" class="icon-cycle fg-anthilla-green" style="float: right; cursor: pointer !important;"></i>
    <table class="table">
        <thead>
            <tr>
                <th colspan="6">
                    ZPools
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Name</td>
                <td>Size</td>
                <td>Allocated</td>
                <td>Frag</td>
                <td>Health</td>
                <td>AltRoot</td>
            </tr>
            @Each.Zpool
            <tr>
                <td>@Current.Name</td>
                <td>@Current.Size</td>
                <td>@Current.Allocated</td>
                <td>@Current.Frag</td>
                <td>@Current.Health</td>
                <td>@Current.AltRoot</td>
            </tr>
            @EndEach
        </tbody>
    </table>
    <table class="table">
        <thead>
            <tr>
                <th colspan="3">
                    Zfs Dataset
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Name</td>
                <td>Used</td>
                <td>Available</td>
                <td>Referenced</td>
                <td>Mountpoint</td>
            </tr>
            @Each.Zdataset
            <tr>
                <td>@Current.Name</td>
                <td>@Current.Used</td>
                <td>@Current.Available</td>
                <td>@Current.Refer</td>
                <td>@Current.Mountpoint</td>
            </tr>
            @EndEach
        </tbody>
    </table>
</div>
