<div class="border-2-anthilla-gray" style="width: 100%; min-height: 100px; margin-bottom: 15px; padding: 15px;">
    <legend id="Mount">Mount</legend>
    <table class="table">
        <tbody>
            @Each.Mounts
            <tr data-role="show-details" data-guid="@Current.Guid" data-timestamp="@Current.DfpTimestamp">
                <td style="width: 100px;">@Current.MountContext @Current.Type</td>
                <td>@Current.Device</td>
                <td style="width: 20px; text-align: center;" class="bg-anthilla-gray-m"><i class="icon-link fg-white"></i></td>
                <td style="width: 40%;">@Current.DirsPath</td>
                <td style="width: 20px; text-align: center;" class="bg-anthilla-gray-m">
                    <i class="icon-arrow-right-5 fg-white"></i>
                </td>
                <td style="width: 40%;">@Current.Path</td>
                <td>
                    <i class="@CurrentHtmlStatusIcon on-left"></i>
                    @Current.MountStatus
                </td>
                <td style="width: 20px; text-align: center;" class="bg-anthilla-gray-m">
                    <i data-guid="@Current.Guid" class="show-units-mgmt icon-file fg-anthilla-green"></i>
                </td>
            </tr>
            <tr data-row="@Current.Guid" style="display: none; border-bottom: 2px solid #3A3A3A;" class="mount-units">
                <td colspan="3" class="bg-anthilla-gray-m" style="border-right: 2px solid #3A3A3A;"></td>
                <td colspan="3">
                    <ul class="fg-white" style="list-style: none;">
                        @Partial['_partial/part-Mount-units', Current.AssociatedUnits];
                    </ul>
                </td>
                <td colspan="2">
                    <input type="button" value="Add Units" style="width: 90%" data-guid="@Current.Guid" data-mntpth="@Current.Path" data-role="show-dashboard" />
                </td>
            </tr>
            @EndEach
        </tbody>
    </table>
</div>
