<div class="border-2-anthilla-gray" style="width: 100%; min-height: 100px; margin-bottom: 15px; padding: 15px;">
    <legend id="Firewall">
        <i class="icon-fire on-left"></i>
        Firewall
        <i id="ExportFirewallConfiguration" class="icon-upload fg-anthilla-green" style="float: right; cursor: pointer !important;"></i>
        <i id="ApplyFirewallConfiguration" class="icon-cycle fg-anthilla-green" style="float: right; cursor: pointer !important;"></i>
    </legend>
    <div style="margin-bottom: 55px;">
        <label style="float:left; position: relative; left: 140px;">prerouting</label>
        <label style="float:left; position: relative; left: 250px;">input</label>
        <label style="float:left; position: relative; left: 430px;">forward</label>
        <label style="float:left; position: relative; left: 600px;">output</label>
        <label style="float:left; position: relative; left: 695px;">postrouting</label>
    </div>
    <div style="width: 1450px; height: 380px;  position:absolute; z-index: 0; opacity: 0.3;">
        <div data-hook="prerouting" style="height: 100%; width: 150px; position: relative ;left: 105px; float: left;" class="bg-white"></div>
        <div data-hook="input" style="height: 100%; width: 150px; position: relative; left: 115px; float: left;" class="bg-white"></div>
        <div data-hook="forward" style="height: 100%; width: 150px; position: relative ;left:185px; float: left;" class="bg-white"></div>
        <div data-hook="output" style="height: 100%; width: 150px; position: relative ;left:255px; float: left;" class="bg-white"></div>
        <div data-hook="postrouting" style="height: 100%; width: 150px; position: relative ;left:265px; float: left;" class="bg-white"></div>
    </div>
    <div class="grid bg-transparent" style="width: 1450px; position: relative; z-index: 4;">
        <div class="row bg-transparent" style="margin-bottom: 10px;">
            @Partial['_partial/part-firewall-connection-ip'];
            @Partial['_partial/part-firewall-ip-prerouting-nat'];
            @Partial['_partial/part-firewall-ip-prerouting-filter'];
            @Partial['_partial/part-firewall-ip-input-route'];
            @Partial['_partial/part-firewall-ip-input-filter'];
            @Partial['_partial/part-firewall-ip-input-nat'];
            @Partial['_partial/part-firewall-ip-forward-route'];
            @Partial['_partial/part-firewall-ip-forward-filter'];
            @Partial['_partial/part-firewall-ip-forward-nat'];
            @Partial['_partial/part-firewall-ip-output-nat'];
            @Partial['_partial/part-firewall-ip-output-filter'];
            @Partial['_partial/part-firewall-ip-output-route'];
            @Partial['_partial/part-firewall-ip-postrouting-filter'];
            @Partial['_partial/part-firewall-ip-postrouting-nat'];
        </div>
        <div class="row bg-transparent" style="margin-bottom: 10px;">
            @Partial['_partial/part-firewall-connection-ip6'];
            @Partial['_partial/part-firewall-ip6-prerouting-nat'];
            @Partial['_partial/part-firewall-ip6-prerouting-filter'];
            @Partial['_partial/part-firewall-ip6-input-route'];
            @Partial['_partial/part-firewall-ip6-input-filter'];
            @Partial['_partial/part-firewall-ip6-input-nat'];
            @Partial['_partial/part-firewall-ip6-forward-route'];
            @Partial['_partial/part-firewall-ip6-forward-filter'];
            @Partial['_partial/part-firewall-ip6-forward-nat'];
            @Partial['_partial/part-firewall-ip6-output-nat'];
            @Partial['_partial/part-firewall-ip6-output-filter'];
            @Partial['_partial/part-firewall-ip6-output-route'];
            @Partial['_partial/part-firewall-ip6-postrouting-filter'];
            @Partial['_partial/part-firewall-ip6-postrouting-nat'];
        </div>
        <hr class="bg-anthilla-gray" />
        <div class="row bg-transparent" style="margin-bottom: 10px;">
            @Partial['_partial/part-firewall-connection-arp'];
            @Partial['_partial/part-firewall-empty'];
            @Partial['_partial/part-firewall-empty'];
            @Partial['_partial/part-firewall-arp-input-route'];
            @Partial['_partial/part-firewall-arp-input-filter'];
            @Partial['_partial/part-firewall-arp-input-nat'];
            @Partial['_partial/part-firewall-empty'];
            @Partial['_partial/part-firewall-empty'];
            @Partial['_partial/part-firewall-empty'];
            @Partial['_partial/part-firewall-arp-output-nat'];
            @Partial['_partial/part-firewall-arp-output-filter'];
            @Partial['_partial/part-firewall-arp-output-route'];
        </div>
        <hr class="bg-anthilla-gray" />
        <div class="row bg-transparent" style="margin-bottom: 10px;">
            @Partial['_partial/part-firewall-connection-br'];
            @Partial['_partial/part-firewall-empty'];
            @Partial['_partial/part-firewall-empty'];
            @Partial['_partial/part-firewall-bridge-input-route'];
            @Partial['_partial/part-firewall-bridge-input-filter'];
            @Partial['_partial/part-firewall-bridge-input-nat'];
            @Partial['_partial/part-firewall-bridge-forward-route'];
            @Partial['_partial/part-firewall-bridge-forward-filter'];
            @Partial['_partial/part-firewall-bridge-forward-nat'];
            @Partial['_partial/part-firewall-bridge-output-nat'];
            @Partial['_partial/part-firewall-bridge-output-filter'];
            @Partial['_partial/part-firewall-bridge-output-route'];
        </div>
    </div>
    <hr class="bg-anthilla-gray" />
    <div id="ValueBundleDashboard">
        <table class="table">
            <thead>
                <tr>
                    <td colspan="3">
                        <h2 style="display: inline-block;" class="fg-white">Data for: </h2>
                        <h2 style="display: inline-block;" class="fg-white" data-role="display-table-context"></h2>
                    </td>
                </tr>
            </thead>
            <tbody id="FirewallConfigurationLists">
            
            </tbody>
        </table>
    </div>

    <!--
    <form id="ValueBundleDashboard" action="/firewall/addrule" enctype="multipart/form-data" method="POST">
        <h2 style="display: inline-block;" class="fg-white">Rules for: </h2>
        <h2 style="display: inline-block;" class="fg-white" data-role="display-table-context"></h2>
        <br/>
        <input type="hidden" name="Command"/>
        <input name="Rule" type="text" style="width: 700px; padding: 10px; margin-bottom: 5px; display: inline;" class="bg-anthilla-gray" data-role="command-place">
        <input type="submit" value="ADD" style="width: 94px; padding: 10px; margin-bottom: 5px; display: inline; color: #3A3A3A ! important;" class="bg-anthilla-green">
    </form>
    <ul id="ResultsContainer" class="fg-white bg-anthilla-gray border-anthilla-gray" style="display: none; list-style: none; padding: 5px; margin-left: 0px; margin-top: -23px; width: 700px; min-height: 37px;"></ul>
    <p id="Tip" style="padding-left: 10px; display: none;">Tip: write {tag:index}</p>
    <div style="width: 800px; min-height: 250px; padding-right: 10px;" class="bg-anthilla-gray fg-white border-2-anthilla-gray-m" id="MegaContainer">
        <form action="/cfg/reindex" method="POST" enctype="multipart/form-data">
            <ul id="sortable" style="list-style: none;" class="fg-white">
                <li class="border-2-anthilla-gray bg-anthilla-gray" style="padding: 10px; height: 45px; margin-bottom: 3px;">
                    <i data-role="show-all-command" class="icon-eye fg-white" style="cursor:pointer ;float:right; margin-right: 10px;"></i>
                    <i data-role="missing-Value-notif" class="icon-warning fg-orange blinking" style="display: none;float:right; margin-right: 10px;"></i>
                </li>
                @Each.FirewallCommands
                @If.Current.IsEnabled
                <li class="border-2-anthilla-green bg-anthilla-gray" style="padding: 10px; height: 45px; margin-bottom: 3px;">
                    <input name="Guid" type="hidden" value="@Current.Guid"/>
                    <input name="Index" type="hidden" value="@i"/>
                    <p data-role="command-saved" style="float: left;">
                        @Current.Command
                    </p>
                    <p data-role="command-exd" style="display: none; float: left">
                        @Current.CommandWithValues
                    </p>

                    <i data-role="remove-command" data-guid="@Current.Guid" class="icon-remove fg-orange" style="cursor: pointer; float: right;"></i>
                    <i data-role="disable-command" data-guid="@Current.Guid" class="icon-checkmark fg-lightBlue" style="cursor: pointer; float: right; margin-right: 10px;"></i>
                    <i data-role="play-command" data-guid="@Current.Guid" class="icon-lpay fg-indigo" style="cursor: pointer; float: right; margin-right: 10px;"></i>
                    <i data-role="show-command" class="icon-eye fg-white" style="cursor: pointer; float: right; margin-right: 10px;"></i>
                </li>
                @EndIf
                @IfNot.Current.IsEnabled
                <li class="border-2-anthilla-gray-m bg-anthilla-gray" style="padding: 10px; height: 45px; opacity: 0, 5; margin-bottom: 3px;">
                    <input name="Guid" type="hidden" value="@Current.Guid"/>
                    <input name="Index" type="hidden" value="@i"/>
                    <p data-role="command-saved" style="float: left;">
                        @Current.Command
                    </p>
                    <p data-role="command-exd" style="display: none; float: left">
                        @Current.CommandWithValues
                    </p>
                    <i data-role="remove-command" data-guid="@Current.Guid" class="icon-remove fg-orange" style="cursor: pointer; float: right;"></i>
                    <i data-role="enable-command" data-guid="@Current.Guid" class="icon-blocked fg-lightRed" style="cursor: pointer; float: right; margin-right: 10px;"></i>
                    <i data-role="play-command" data-guid="@Current.Guid" class="icon-lpay fg-indigo" style="cursor: pointer; float: right; margin-right: 10px;"></i>
                    <i data-role="show-command" class="icon-eye fg-white" style="cursor: pointer; float: right; margin-right: 10px;"></i>
                </li>
                @EndIf
                @EndEach
            </ul>
            <input type="submit" class="bg-anthilla-green" value="Save order" style="width: 90%; margin-left: 40px; color:#3A3A3A !important;"/>
        </form>
    </div>
    -->
</div>