<div class="border-2-anthilla-gray" style="width: 100%; min-height: 100px; margin-bottom: 15px; padding: 15px;">
    <legend id="NS">Name Services</legend>
    <table class="table" style="table-layout: fixed;">
        <tbody>
            <tr style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                <td>
                    <label>resolv.conf</label>
                </td>
                <td>@Model.Resolv</td>
                <td>Get /etc/resolv.conf content</td>
            </tr>
            <tr style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                <td>
                    <label>hostname</label>
                </td>
                <td>@Model.Hostname</td>
                <td>Get /etc/hostname content</td>
            </tr>
            <tr style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                <td>
                    <label>hosts</label>
                </td>
                <td>@Model.Hosts</td>
                <td>Get /etc/hosts content</td>
            </tr>
            <tr style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                <td>
                    <label>networks</label>
                </td>
                <td>@Model.Networks</td>
                <td>Get /etc/networks content</td>
            </tr>
        </tbody>
    </table>
</div>
