<div class="border-2-anthilla-gray" style="width: 100%; min-height: 100px; margin-bottom: 15px; padding: 15px;">
    <legend id="DnsClient">Dns Client</legend>
    <table class="table">
        <tbody>
            <!--<tr>
                <td style="width: 200px;">
                    <label>Dns Rules</label>
                </td>
                <td>
                    <textarea data-role="show-general-function" data-command="cat /etc/resolv.conf" style="min-width: 100%; max-width: 100%; width: 100%; height: 100%; background-color: #464646; border: 0;" class="fg-white"></textarea>
                    <input data-role="submit-general-function-from-text" data-command="echo [tag:x] > /etc/resolv.conf" type="button" value="Update" class="bg-anthilla-green" style="width: 40% !important; color: #464646; float: right;" readonly="readonly" />
                </td>
            </tr>-->
            <!--<tr>
                <td style="width: 200px;">
                    <label>Add Rule</label>
                </td>
                <td>
                    <input data-role="input-general-function" type="text" style="width: 60%; height: 25px;" />
                    <input data-role="submit-general-function" data-command="echo [tag:x] >> /etc/resolv.conf" type="button" value="Apply" class="bg-anthilla-green" style="width: 40% !important; color: #464646; float: right;" readonly="readonly" />
                </td>
            </tr>-->
        </tbody>
    </table>
</div>
