<div class="border-2-anthilla-gray" style="width: 100%; min-height: 100px; margin-bottom: 15px; padding: 15px;">
    <legend id="Network">
        Network
        <i id="ReloadNetworkInterfacesInformation" class="icon-cycle fg-anthilla-green" style="float: right; cursor: pointer !important;"></i>
    </legend>
    <table class="table">
        <thead>
            <tr>
                <td colspan="2">
                    <label>Physical Interfaces</label>
                </td>
            </tr>
        </thead>
        <tbody>
            @Each.NetworkPhysicalIf
            <tr>
                <td colspan="4" style="width: 200px;">
                    <label>@Current.InterfaceName</label>
                </td>
            </tr>
            @Partial['_partial_network/part-network-post', Current.PostCommands];
            @Partial['_partial_network/part-network-get', Current.GetCommands];
            @EndEach
        </tbody>
    </table>
    <table class="table">
        <thead>
            <tr>
                <td colspan="2">
                    <label>Virtual Interfaces</label>
                </td>
            </tr>
        </thead>
        <tbody>
            @Each.NetworkVirtualIf
            <tr>
                <td style="width: 200px;">
                    <label>@Current.InterfaceName</label>
                </td>
                <td>
                    @Partial['_partial_network/part-network-post', Current.PostCommands];
                    @Partial['_partial_network/part-network-get', Current.GetCommands];
                </td>
            </tr>
            @EndEach
        </tbody>
    </table>
    <table class="table">
        <thead>
            <tr>
                <td colspan="2">
                    <label>Bond Interfaces</label>
                </td>
            </tr>
        </thead>
        <tbody>
            @Each.NetworkBondIf
            <tr>
                <td style="width: 200px;">
                    <label>@Current.InterfaceName</label>
                </td>
                <td>
                    @Partial['_partial_network/part-network-post', Current.PostCommands];
                    @Partial['_partial_network/part-network-get', Current.GetCommands];
                </td>
            </tr>
            @EndEach
        </tbody>
    </table>
    <table class="table">
        <thead>
            <tr>
                <td colspan="2">
                    <label>Bridge Interfaces</label>
                </td>
            </tr>
        </thead>
        <tbody>
            @Each.NetworkBondIf
            <tr>
                <td style="width: 200px;">
                    <label>@Current</label>
                </td>
                <td>
                    @EditParameterRowPost("AddBridgeName", new string[] { "Bridge" })
                    @EditParameterRowPost("DeleteBridgeName", new string[] { "Bridge" })
                    @EditParameterRowPost("AddNetworkInterfaceToBridge", new string[] { "Interface", "Bridge" })
                    @EditParameterRowPost("DeleteNetworkInterfaceToBridge", new string[] { "Interface", "Bridge" })
                    @EditParameterRowPost("EnableStpOnBridge", new string[] { "Bridge" })
                    @EditParameterRowPost("DisableStpOnBridge", new string[] { "Bridge" })
                    @EditParameterRowPost("SetBridgePathCost", new string[] { "Bridge", "Path", "Cost" })
                    @EditParameterRowPost("SetBridgePortPriority", new string[] { "Bridge", "Port", "Priority" })
                    <label>Status</label>
                    @EditParameterRowGet("ShowBridgeMACS", new string[] { })
                    @EditParameterRowGet("ShowBridgeSTP", new string[] { })
                </td>
            </tr>
            @EndEach
        </tbody>
    </table>
</div>
