<div class="cctable-container border-2-anthilla-gray" style="min-width: 100%; max-width: 100%; width: 100%; min-height: 100px; margin-bottom: 15px; padding: 15px;">
    <legend id="Config">Config</legend>
    <table class="table">
        <tbody>
            <tr>
                <td style="width: 200px;">
                    <label>Hostname</label>
                </td>
                <td>
                    <textarea data-role="show-general-function" data-command="hostnamectl" style="min-width: 100%; max-width: 100%; width: 100%; height: 100%; background-color: #464646; border: 0;" class="fg-white"></textarea>
                </td>
            </tr>
            <tr>
                <td style="width: 200px;">
                    <label>Set Hostname</label>
                </td>
                <td>
                    <input data-role="input-general-function" type="text" style="width: 60%; height: 25px;" />
                    <input data-role="submit-general-function" data-command="hostnamectl set-hostname [tag:x]" type="button" value="Apply" class="bg-anthilla-green" style="width: 40% !important; color: #464646; float: right;" />
                </td>
            </tr>
            <tr>
                <td style="width: 200px;">
                    <label>Set Chassis</label>
                </td>
                <td>
                    <input data-role="input-general-function" type="text" style="width: 60%; height: 25px;" />
                    <input data-role="submit-general-function" data-command="hostnamectl set-chassis [tag:x]" type="button" value="Apply" class="bg-anthilla-green" style="width: 40% !important; color: #464646; float: right;" />
                </td>
            </tr>
            <tr>
                <td style="width: 200px;">
                    <label>Set Deployment</label>
                </td>
                <td>
                    <input data-role="input-general-function" type="text" style="width: 60%; height: 25px;" />
                    <input data-role="submit-general-function" data-command="hostnamectl set-deployment [tag:x]" type="button" value="Apply" class="bg-anthilla-green" style="width: 40% !important; color: #464646; float: right;" />
                </td>
            </tr>
            <tr>
                <td style="width: 200px;">
                    <label>Set Location</label>
                </td>
                <td>
                    <input data-role="input-general-function" type="text" style="width: 60%; height: 25px;" />
                    <input data-role="submit-general-function" data-command="hostnamectl set-location $'[tag:x]$'" type="button" value="Apply" class="bg-anthilla-green" style="width: 40% !important; color: #464646; float: right;" />
                </td>
            </tr>
            <tr>
                <td style="width: 200px;">
                    <label>Sync System and Hardware Clocks</label>
                </td>
                <td>
                    <input data-role="submit-general-function" data-command="hwclock --systohc $nl hwclock --hctosys" type="button" value="Sync" class="bg-anthilla-green" style="width: 40% !important; color: #464646; float: right;" />
                </td>
            </tr>

            <tr>
                <td style="width: 200px;">
                    <label>Date</label>
                </td>
                <td>
                    <textarea data-role="show-general-function" data-command="date" style="min-width: 100%; max-width: 100%; width: 100%; height: 100%; background-color: #464646; border: 0;" class="fg-white"></textarea>
                    <textarea data-role="show-general-function" data-command="timedatectl" style="min-width: 100%; max-width: 100%; width: 100%; height: 100%; background-color: #464646; border: 0;" class="fg-white"></textarea>
                </td>
            </tr>
            <tr>
                <td style="width: 200px;">
                    <label>Set Timezone</label>
                </td>
                <td>
                    <select data-role="input-general-function" data-role2="show-general-function" data-command="timedatectl list-timezone" style="width: 60%; height: 25px;" class="border-2-anthilla-green"></select>
                    <input data-role="submit-general-function" data-command="timedatectl --nopager --no-ask-password --adjust-system-clock set-timezone [tag:x]" type="button" Value="Apply" class="bg-anthilla-green" style="width: 40% !important; color: #464646; float: right;" />
                </td>
            </tr>
        </tbody>
    </table>
</div>