<div class="border-2-anthilla-gray" style="width: 100%; min-height: 100px; margin-bottom: 15px; padding: 15px;">
    <legend id="Info">
        Info
        <i id="ReloadSystemInfo" class="icon-cycle fg-anthilla-green" style="float: right; cursor: pointer !important;"></i>
    </legend>
    <table class="table">
        <tbody>
            <tr>
                <td colspan="2">
                    <label>AnthillaOS Release</label>
                </td>
            </tr>
            @Each.AosInfo
            <tr>
                <td>
                    <label>@Current.Key</label>
                </td>
                <td>
                    <p>@Current.Value</p>
                </td>
            </tr>
            @EndEach
            <tr>
                <td>
                    <label>Linux Version</label>
                </td>
                <td>
                    <p>@Model.VersionOS</p>
                </td>
            </tr>
            <tr>
                <td> <label>Gentoo release</label></td>
                <td data-role="CmdContainer" colspan="2">
                    <span data="CmdGet" data-role="CmdResult" data-name="cat-etc-gentoorel" data-par="" style="border-width: 0; max-width: 60%; min-width: 60%; height: auto;"></span>
                    <input type="button" data-role="CmdLaunch" data-name="cat-etc-gentoorel" data-par="" value="Update" class="float-right" />
                </td>
            </tr>
            <tr>
                <td> <label>lsb release</label></td>
                <td data-role="CmdContainer" colspan="2">
                    <span data="CmdGet" data-role="CmdResult" data-name="cat-etc-lsbrel" data-par="" style="border-width: 0; max-width: 60%; min-width: 60%; height: auto;"></span>
                    <input type="button" data-role="CmdLaunch" data-name="cat-etc-lsbrel" data-par="" value="Update" class="float-right" />
                </td>
            </tr>
            <tr>
                <td> <label>os release</label></td>
                <td data-role="CmdContainer" colspan="2">
                    <span data="CmdGet" data-role="CmdResult" data-name="cat-etc-osrel" data-par="" style="border-width: 0; max-width: 60%; min-width: 60%; height: auto;"></span>
                    <input type="button" data-role="CmdLaunch" data-name="cat-etc-osrel" data-par="" value="Update" class="float-right" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Uptime</label>
                </td>
                <td>
                    <p>@Model.Uptime.Uptime</p>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Users</label>
                </td>
                <td>
                    <p>@Model.Uptime.Users</p>
                </td>
            </tr>
            <tr>
                <td>
                    <label>LoadAverage</label>
                </td>
                <td>
                    <p>@Model.Uptime.LoadAverage</p>
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <div data-role="tab-control" class="tab-control">
        <ul class="tabs">
            <li class="active"><a href="#_Memory_1">Memory</a></li>
            <li><a href="#_CPU_">CPU</a></li>
            <li><a href="#_Free_">Free</a></li>
        </ul>

        <div class="frames">
            <div id="_Memory_1" class="frame" style="display: block;">
                <table class="table">
                    <tbody>
                        @Each.Meminfo
                        <tr>
                            <td>
                                <label>@Current.Key</label>
                            </td>
                            <td>
                                <p>@Current.Value</p>
                            </td>
                        </tr>
                        @EndEach
                    </tbody>
                </table>
            </div>
            <div id="_CPU_" class="frame" style="display: none;">
                <table class="table">
                    <tbody>
                        @Each.Cpuinfo
                        <tr>
                            <td>
                                <label>@Current.Key</label>
                            </td>
                            <td>
                                <p>@Current.Value</p>
                            </td>
                        </tr>
                        @EndEach
                    </tbody>
                </table>
            </div>
            <div id="_Free_" class="frame" style="display: none;">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                <label>Name</label>
                            </td>
                            <td>
                                <label>Total</label>
                            </td>
                            <td>
                                <label>Used</label>
                            </td>
                            <td>
                                <label>Free</label>
                            </td>
                            <td>
                                <label>Shared</label>
                            </td>
                            <td>
                                <label>BuffCache</label>
                            </td>
                            <td>
                                <label>Available</label>
                            </td>
                        </tr>
                        @Each.Free
                        <tr>
                            <td>
                                <p>@Current.Name</p>
                            </td>
                            <td>
                                <p>@Current.Total</p>
                            </td>
                            <td>
                                <p>@Current.Used</p>
                            </td>
                            <td>
                                <p>@Current.Free</p>
                            </td>
                            <td>
                                <p>@Current.Shared</p>
                            </td>
                            <td>
                                <p>@Current.BuffCache</p>
                            </td>
                            <td>
                                <p>@Current.Available</p>
                            </td>
                        </tr>
                        @EndEach
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>