<div class="border-2-anthilla-gray" style="width: 100%; min-height: 100px; margin-bottom: 15px; padding: 15px;">
    <legend>Asset Management</legend>
    <table class="table" style="table-layout: fixed;">
        <thead>
            <tr>
                <td colspan="3">
                    <label>Local Network - Antd Managed</label></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <label>
                        Host
                    </label>
                </td>
                <td>
                    <label>
                        Address
                    </label>
                </td>
                <td></td>
            </tr>
            @Each.AntdAvahiServices
            <tr>
                <td>
                    <p>
                        @Current.HostName
                    </p>
                </td>
                <td>
                    <p>
                        @Current.Ip:@Current.Port
                    </p>
                </td>
                <td>
                    <a href="http://@Current.Key:@Current.Value/" target="_blank" class="button bg-anthilla-blu" style="width: 90%; height: 28px;">Open</a>
                </td>
            </tr>
            @EndEach
        </tbody>
    </table>
</div>
