<div class="border-2-anthilla-gray" style="min-width: 100%; max-width: 100%; width: 100%; min-height: 100px; margin-bottom: 15px; padding: 15px;">
    <legend id="Host">Host</legend>
    <table class="table">
        <tbody>
            <tr data-role="CmdContainer" style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                <td>
                    <label>Hostname</label>
                    <textarea data="CmdGet" data-role="CmdResult" class="bg-transparent fg-white border-anthilla-green" style="border-width: 0; max-width: 90%; min-width: 90%; height: auto;" readonly="readonly"></textarea>
                    <input type="button" data-role="CmdLaunch" data-name="hostnamectl" data-par="" value="Update" />
                </td>
            </tr>
            <tr data-role="CmdContainer" style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                <td>
                    <label>Set Hostname</label>
                    <input type="text" data="$host_name" style="width: 90%;" />
                    <input type="button" data-role="CmdLaunch" data-name="set-hostname" data-par="$host_name" value="Update" />
                </td>
            </tr>
            <tr data-role="CmdContainer" style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                <td>
                    <label>Set Chassis</label>
                    <select data="$host_chassis" style="width: 90%; height: 25px;" class="border-anthilla-green">
                        <option value="desktop">Desktop</option>
                        <option value="laptop">Laptop</option>
                        <option value="server">Server</option>
                        <option value="tablet">Tablet</option>
                        <option value="handset">Handset</option>
                        <option value="watch">Watch</option>
                        <option value="embedded">Embedded</option>
                        <option value="vm">Vm</option>
                        <option value="container">Container</option>
                    </select>
                    <input type="button" data-role="CmdLaunch" data-name="set-chassis" data-par="$host_chassis" value="Update" />
                </td>
            </tr>
            <tr data-role="CmdContainer" style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                <td>
                    <label>Set Deployment</label>
                    <input type="text" data="$host_deployment" style="width: 90%;" />
                    <input type="button" data-role="CmdLaunch" data-name="set-deployment" data-par="$host_deployment" value="Update" />
                </td>
            </tr>
            <tr data-role="CmdContainer" style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                <td>
                    <label>Set Location</label>
                    <input type="text" data="$host_location" style="width: 90%;" />
                    <input type="button" data-role="CmdLaunch" data-name="set-location" data-par="$host_location" value="Update" />
                </td>
            </tr>
        </tbody>
    </table>
    <legend>Date and Time</legend>
    <table class="table">
        <tbody>
            <tr data-role="CmdContainer" style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                <td>
                    <label>Timedate</label>
                    <textarea data="CmdGet" data-role="CmdResult" class="bg-transparent fg-white border-anthilla-green" style="border-width: 0; max-width: 90%; min-width: 90%; height: auto;" readonly="readonly"></textarea>
                    <input type="button" data-role="CmdLaunch" data-name="timedatectl" data-par="" value="Update" />
                </td>
            </tr>
            <tr data-role="CmdContainer" style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                <td>
                    <label>Set Timezone</label>
                    <select data="$host_timezone" style="width: 90%; height: 25px;" class="border-anthilla-green">
                        @Each.Timezones
                        <option value="@Current">@Current</option>
                        @EndEach
                    </select>
                    <input type="button" data-role="CmdLaunch" data-name="set-timezone" data-par="$host_timezone" value="Update" />
                </td>
            </tr>
        </tbody>
    </table>
</div>