<h1 class="fg-white padding-bottom10 bd-anthilla-gray-2 capitalize" style="border-bottom: 1px solid;">detect</h1>

<div ng-controller="AppsDetectController">
    <div ng-repeat="app in AppsDetect.Detected">
        <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
            <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
                <span class="icon mif-apps fg-anthilla-violet bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
                <span class="title">
                    {{app.Name}}
                </span>
            </div>
            <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;" ng-init="app.Hide = true;">
                <button ng-click="setup(app.Name)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-download fg-anthilla-blue"></span>&nbsp;Install</button>
                <br />
                <ul style="list-style: none;" class="fg-white">
                    <div ng-repeat="kvp in app.Values">
                        <li>{{ kvp.Key }}:&nbsp;{{ kvp.Value }} </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>