@*
///-------------------------------------------------------------------------------------
///     Copyright (c) 2014, Anthilla S.r.l. (http://www.anthilla.com)
///     All rights reserved.
///
///     Redistribution and use in source and binary forms, with or without
///     modification, are permitted provided that the following conditions are met:
///         * Redistributions of source code must retain the above copyright
///           notice, this list of conditions and the following disclaimer.
///         * Redistributions in binary form must reproduce the above copyright
///           notice, this list of conditions and the following disclaimer in the
///           documentation and/or other materials provided with the distribution.
///         * Neither the name of the Anthilla S.r.l. nor the
///           names of its contributors may be used to endorse or promote products
///           derived from this software without specific prior written permission.
///
///     THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
///     ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
///     WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
///     DISCLAIMED. IN NO EVENT SHALL ANTHILLA S.R.L. BE LIABLE FOR ANY
///     DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
///     (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
///     LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
///     ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
///     (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
///     SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
///
///     20141110
///-------------------------------------------------------------------------------------*@

@using System.Linq
@using System.Collections.Generic

<nav id="nav-bar" class="navigation-bar bg-grayDarker" style="padding-left: 15px; padding-right: 20px;">
    <nav class="navigation-bar-content">
        <a href="/" class="element nav-button no-overlay fg-anthilla-green">ANTD </a>
        <div class="element-divider"></div>

        <div class="element-divider place-right"></div>
        <div id="clock" class="element place-right no-overlay"></div>
        <script type="text/ecmascript">
            $("#clock").clock({ "format": "24", "calendar": "false", "seconds": "false" });
        </script>
        <div class="element-divider place-right"></div>
        <a class="element place-right nav-button no-overlay" href="~/logout" id="LogOut">
            <i class="icon-exit" style="line-height: 5px;"></i>
        </a>
        <div class="element-divider place-right"></div>
        <a class="element place-right nav-button no-overlay" href="#" id="CmdMgmtButton">
            <i class="icon-rocket" style="line-height: 5px;"></i>
            Command Panel
        </a>
        <div class="element-divider place-right"></div>
    </nav>
</nav>
<style type="text/css">
    #CommandManagementForm {
        display: none;
        padding: 5px;
        margin: 7px 15px;
        border: 0 solid #996BAF;
        border-width: 7px 0px;
    }
</style>
<form id="CommandManagementForm" action="~/command/mgmt" method="POST" enctype="multipart/form-data">
    <div class="grid">
        <div class="row">
            <div class="span12">
                <label>Command</label>
                <input type="text" name="Command" style="width: 90%; height: 30px;">
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <input type="text" name="CommandLayout" readonly="readonly" style="width: 90%; height: 30px; border-width: 0px 0px 1px 0px !important; border-color: #60A1E4 !important;" class="bg-anthilla-gray-m">
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <label>Notes</label>
                <textarea type="text" name="Notes" style="width: 90%; min-height: 150px; padding: 5px;" class="bg-anthilla-gray-m border-anthilla-green fg-white" placeholder="Write a comment about the command">
                </textarea>
            </div>
        </div>
        <div class="row" style="margin-top: 15px !important;">
            <div class="span12">
                <input class="bg-anthilla-green fg-anthilla-gray upcase" type="submit" value="Confirm" />
                <input onclick="CloseCommandMgmtPanel()" class="bg-anthilla-orange fg-anthilla-gray upcase" type="button" value="Close">
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $('input[name="Command"]').keyup(function () {
        var lay = $('input[name="CommandLayout"]');
        lay.val('');
        var thisVal = $(this).val();
        lay.val(thisVal);
    });

    $('#CmdMgmtButton').click(function () {
        $('#CommandManagementForm').toggle();

    });

    function CloseCommandMgmtPanel() {
        $('#CommandManagementForm').hide();
    }

    //$('a.anchor').click(function () {
    //    $('html, body').animate({
    //        scrollTop: $($(this).attr('href')).offset().top
    //    }, 500);
    //    return false;
    //});

    //$(window).scroll(function () {
    //    if ($(window).scrollTop() > 150) {
    //        var i = $(window).scrollTop() - 145;
    //        $('.navigation-bar.page').css('top', i);
    //    }
    //    if ($(window).scrollTop() < 150) {
    //        $('.navigation-bar.page').css('top', 0);
    //    }
    //});

</script>
