<nav id="nav-bar" class="navigation-bar anth-green" style="border-top: 5px solid white; border-bottom: 5px solid #cbd982;">
    <nav class="navigation-bar-content">
        <a href="/" class="element nav-button"><i class="icon-home on-left"></i>Antd</a>
        <a href="/sys" class="element nav-button"><i class="icon-screen on-left"></i>Antd</a>
        <a href="/mgmt/anthillasp" class="element nav-button"><i class="icon-laptop on-left"></i>AnthillaSP</a>
        <a href="/mgmt/anthillaas" class="element nav-button"><i class="icon-laptop on-left"></i>AnthillaAS</a>

        <a href="/info" class="element place-right nav-button"><i class="icon-info on-left"></i>System Info</a>
        <a href="/command" class="element place-right nav-button"><i class="icon-console on-left"></i>System Console</a>
        <a href="/paramlist" class="element place-right nav-button"><i class="icon-list"></i></a>
    </nav>
</nav>