<style type="text/css">
    #Terminal * {
        background-color: black !important;
        color: white !important;
        font-family: monospace !important;
        font-weight: 300 !important;
    }
</style>
<div id="Terminal" style="text-align: left !important;"></div>
<script type="text/javascript">
    jQuery(function ($) {
        var directory = '/';
        $('#Terminal').terminal(function (command, term) {
            var self = $(this);
            if (command == 'help') {
                term.echo("just type something...");
            }
            else if (command == '' || command == ' ') {
            }
            else if (command == 'cd -') {
                term.echo('Command "' + command + '" not implemented yet!');
            }
            else if (command.substring(0, 3) == 'cd ') {
                directory = command.substring(3, command.length);
                jQuery.support.cors = true;
                $.ajax({
                    url: '/terminal/directory',
                    type: 'POST',
                    data: {
                        Directory: directory
                    },
                    success: function (data) {
                        if (data == '0') {
                            term.echo(command + ' No such file or directory');
                        }
                        else {
                            term.set_prompt(data);
                        }
                    }
                });
            }
            else if (command == 'cd ..') {
                jQuery.support.cors = true;
                $.ajax({
                    url: '/terminal/directory/parent',
                    type: 'POST',
                    data: {
                        Directory: directory
                    },
                    success: function (data) {
                        if (data == '0') {
                            term.echo(command + ' No such file or directory');
                        }
                        else {
                            term.set_prompt(data);
                        }
                    }
                });
            }
            else if ((command.slice(-2) == '>>')) {
                var c = command.substring(0, command.length - 2);
                jQuery.support.cors = true;
                $.ajax({
                    url: '/terminal/',
                    type: 'POST',
                    data: {
                        Command: c,
                        Directory: directory
                    },
                    success: function (data) {
                        term.echo('Both the command and its result are copied in the clipboard...');
                        term.echo('');
                        $('input#Clipboard0').val(c);
                        $('input#Clipboard1').val(data);
                        term.echo(data);
                        return false;
                    }
                });
            }
            else {
                jQuery.support.cors = true;
                $.ajax({
                    url: '/terminal/',
                    type: 'POST',
                    data: {
                        Command: command,
                        Directory: directory
                    },
                    success: function (data) {
                        term.echo(data);
                        return false;
                    }
                });
            }
        }, {
            greetings: "Welcome to the Antd terminal!" + "\n" + "You can enter a few commands to control the machine." + "\n"
        });
    });
</script>
