<nav id="Toolbar" class="navigation-bar bg-transparent">
    <nav class="navigation-bar-content">
        <a id="Info-TB" href="/info" class="tool element upcase bg-anthilla-gray fg-anthilla-green">
            <i class="icon-eye on-left"></i>
            <p class="fg-anthilla-green">Info </p>
        </a>
        <span class="element-divider tool-divider"></span>

        <a id="System-TB" href="/system" class="tool element upcase bg-anthilla-gray fg-anthilla-green">
            <i class="icon-screen on-left"></i>
            <p class="fg-anthilla-green">System </p>
        </a>
        <span class="element-divider tool-divider"></span>

        <a id="Network-TB" href="/network" class="tool element upcase bg-anthilla-gray fg-anthilla-green">
            <i class="icon-broadcast on-left"></i>
            <p class="fg-anthilla-green">Network </p>
        </a>
        <span class="element-divider tool-divider"></span>

        <a id="Firewall-TB" href="/firewall" class="tool element upcase bg-anthilla-gray fg-anthilla-green">
            <i class="icon-fire on-left"></i>
            <p class="fg-anthilla-green">Firewall </p>
        </a>
        <span class="element-divider tool-divider"></span>

        <a id="Storage-TB" href="/storage" class="tool element upcase bg-anthilla-gray fg-anthilla-green">
            <i class="icon-box on-left"></i>
            <p class="fg-anthilla-green">Storage </p>
        </a>
        <a id="Hypervisor-TB" href="/hypervisor" class="tool element upcase bg-anthilla-gray fg-anthilla-green">
            <i class="icon-box on-left"></i>
            <p class="fg-anthilla-green">Hypervisor </p>
        </a>
        <span class="element-divider tool-divider"></span>

        <a id="Services-TB" href="/services" class="tool element upcase bg-anthilla-gray fg-anthilla-green">
            <i class="icon-target-2 on-left"></i>
            <p class="fg-anthilla-green">Services </p>
        </a>
        <a id="Users-TB" href="/users" class="tool element upcase bg-anthilla-gray fg-anthilla-green">
            <i class="icon-user-2 on-left"></i>
            <p class="fg-anthilla-green">Users </p>
        </a>
        <span class="element-divider tool-divider"></span>

        <a id="Apps-TB" href="/apps" class="tool element upcase bg-anthilla-gray fg-anthilla-green">
            <i class="icon-grid-view on-left"></i>
            <p class="fg-anthilla-green">Apps </p>
        </a>
        <span class="element-divider tool-divider"></span>

        <a id="VNC-TB" href="/vnc" class="tool element upcase bg-anthilla-gray fg-anthilla-green">
            <i class="icon-screen on-left"></i>
            <p class="fg-anthilla-green">VNC </p>
        </a>
        <a id="Scheduler-TB" href="/scheduler" class="tool element upcase bg-anthilla-gray fg-anthilla-green">
            <i class="icon-history on-left"></i>
            <p class="fg-anthilla-green">Scheduler </p>
        </a>
        <a id="Directories-TB" href="/dir/tree/" class="tool element upcase bg-anthilla-gray fg-anthilla-green">
            <i class="icon-folder-2 on-left"></i>
            <p class="fg-anthilla-green">Directories </p>
        </a>
        <a id="Units-TB" href="/units" class="tool element upcase bg-anthilla-gray fg-anthilla-green">
            <i class="icon-file on-left"></i>
            <p class="fg-anthilla-green">Units </p>
        </a>
        <span class="element-divider tool-divider"></span>

        <a id="Logs-TB" href="/log" class="tool element upcase bg-anthilla-gray fg-anthilla-green">
            <i class="icon-chart-alt on-left"></i>
            <p class="fg-anthilla-green">Logs </p>
        </a>
        <span class="element-divider tool-divider"></span>
    </nav>
</nav>
