<nav id="Toolbar" class="navigation-bar bg-transparent">
    <nav class="navigation-bar-content">
        <a id="Home-TB" href="/" class="tool element upcase bg-anthilla-gray fg-anthilla-green"><i class="icon-home on-left"></i>
            <p class="fg-anthilla-green">Home </p>
        </a>
        <a id="Units-TB" href="/units" class="tool element upcase bg-anthilla-gray fg-anthilla-green"><i class="icon-gift on-left"></i>
            <p class="fg-anthilla-green">Units </p>
        </a>
        <a id="Status-TB" href="/status" class="tool element upcase bg-anthilla-gray fg-anthilla-green"><i class="icon-coffee on-left"></i>
            <p class="fg-anthilla-green">Status? </p>
        </a>
        <span class="element-divider tool-divider"></span>

        <a id="Antd-TB" href="/sys" class="tool element upcase bg-anthilla-gray fg-anthilla-green"><i class="icon-screen on-left"></i>
            <p class="fg-anthilla-green">Antd </p>
        </a>
        <a id="AnthillaSP-TB" href="/anthillasp" class="tool element upcase bg-anthilla-gray fg-anthilla-green"><i class="icon-laptop on-left"></i>
            <p class="fg-anthilla-green">AnthillaSP </p>
        </a>
        <a id="AnthillaAS-TB" href="/anthillaas" class="tool element upcase bg-anthilla-gray fg-anthilla-green"><i class="icon-laptop on-left"></i>
            <p class="fg-anthilla-green">AnthillaAS </p>
        </a>
        <span class="element-divider tool-divider"></span>

        <a id="TaskScheduler-TB" href="/jobs" class="tool element upcase bg-anthilla-gray fg-anthilla-green"><i class="icon-clock on-left"></i>
            <p class="fg-anthilla-green">Task Scheduler </p>
        </a>
        <a id="Directory-TB" href="/dir/tree/cfg" class="tool element upcase bg-anthilla-gray fg-anthilla-green"><i class="icon-folder on-left"></i>
            <p class="fg-anthilla-green">Directory List </p>
        </a>
        <span class="element-divider tool-divider"></span>

        <a id="Info-TB" href="/info" class="tool element upcase bg-anthilla-gray fg-anthilla-green"><i class="icon-info on-left"></i>
            <p class="fg-anthilla-green">Info </p>
        </a>
        <a id="Log-TB" href="/log" class="tool element upcase bg-anthilla-gray fg-anthilla-green"><i class="icon-eye on-left"></i>
            <p class="fg-anthilla-green">Log </p>
        </a>
        <span class="element-divider tool-divider"></span>
        
        <a id="Console-TB" href="/command" class="tool element upcase bg-anthilla-gray fg-anthilla-green"><i class="icon-console on-left"></i>
            <p class="fg-anthilla-green">Console </p>
        </a>
        <a id="Param-TB" href="/paramlist" class="tool element upcase bg-anthilla-gray fg-anthilla-green"><i class="icon-list on-left"></i>
            <p class="fg-anthilla-green">&nbsp </p>
        </a>
        <span class="element-divider tool-divider"></span>
    </nav>
</nav>
