@*
///-------------------------------------------------------------------------------------
///     Copyright (c) 2014, Anthilla S.r.l. (http://www.anthilla.com)
///     All rights reserved.
///
///     Redistribution and use in source and binary forms, with or without
///     modification, are permitted provided that the following conditions are met:
///         * Redistributions of source code must retain the above copyright
///           notice, this list of conditions and the following disclaimer.
///         * Redistributions in binary form must reproduce the above copyright
///           notice, this list of conditions and the following disclaimer in the
///           documentation and/or other materials provided with the distribution.
///         * Neither the name of the Anthilla S.r.l. nor the
///           names of its contributors may be used to endorse or promote products
///           derived from this software without specific prior written permission.
///
///     THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
///     ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
///     WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
///     DISCLAIMED. IN NO EVENT SHALL ANTHILLA S.R.L. BE LIABLE FOR ANY
///     DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
///     (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
///     LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
///     ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
///     (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
///     SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
///
///     20141110
///-------------------------------------------------------------------------------------*@

<nav id="Toolbar" class="navigation-bar bg-transparent">
    <nav class="navigation-bar-content">
        <a id="Home-TB" href="/" class="tool element upcase bg-anthilla-gray fg-anthilla-green"><i class="icon-home on-left"></i>
            <p class="fg-anthilla-green">Home </p>
        </a>
        <span class="element-divider tool-divider"></span>

        <a id="System-TB" href="/system" class="tool element upcase bg-anthilla-gray fg-anthilla-green"><i class="icon-home on-left"></i>
            <p class="fg-anthilla-green">System </p>
        </a>
        <span class="element-divider tool-divider"></span>

        <a id="Sysctl-TB" href="/status/sysctl" class="tool element upcase bg-anthilla-gray fg-anthilla-green"><i class="icon-cabinet on-left"></i>
            <p class="fg-anthilla-green">Sysctl </p>
        </a>
        <a id="Mount-TB" href="/status/mount" class="tool element upcase bg-anthilla-gray fg-anthilla-green"><i class="icon-cabinet on-left"></i>
            <p class="fg-anthilla-green">Mount </p>
        </a>
        <a id="Networkd-TB" href="/status/networkd" class="tool element upcase bg-anthilla-gray fg-anthilla-green"><i class="icon-cabinet on-left"></i>
            <p class="fg-anthilla-green">Networkd </p>
        </a>
        <a id="User-TB" href="/status/user" class="tool element upcase bg-anthilla-gray fg-anthilla-green"><i class="icon-cabinet on-left"></i>
            <p class="fg-anthilla-green">User </p>
        </a>
        <span class="element-divider tool-divider"></span>

        <a id="Config-TB" href="/config/file" class="tool element upcase bg-anthilla-gray fg-anthilla-green"><i class="icon-cabinet on-left"></i>
            <p class="fg-anthilla-green">file config</p>
        </a>
        <span class="element-divider tool-divider"></span>

        <a id="ETC-TB" href="/dir/tree/etc" class="tool element upcase bg-anthilla-gray fg-anthilla-green"><i class="icon-cabinet on-left"></i>
            <p class="fg-anthilla-green">etc </p>
        </a>
        <span class="element-divider tool-divider"></span>

        <a id="TaskScheduler-TB" href="/jobs" class="tool element upcase bg-anthilla-gray fg-anthilla-green"><i class="icon-clock on-left"></i>
            <p class="fg-anthilla-green">Task Scheduler </p>
        </a>
        <a id="Directory-TB" href="/dir/tree/antd" class="tool element upcase bg-anthilla-gray fg-anthilla-green"><i class="icon-folder on-left"></i>
            <p class="fg-anthilla-green">Directory List </p>
        </a>
        <a id="Units-TB" href="/units" class="tool element upcase bg-anthilla-gray fg-anthilla-green"><i class="icon-gift on-left"></i>
            <p class="fg-anthilla-green">Units </p>
        </a>
        <span class="element-divider tool-divider"></span>

        <a id="Info-TB" href="/info" class="tool element upcase bg-anthilla-gray fg-anthilla-green"><i class="icon-info on-left"></i>
            <p class="fg-anthilla-green">Info </p>
        </a>
        <a id="Log-TB" href="/log" class="tool element upcase bg-anthilla-gray fg-anthilla-green"><i class="icon-eye on-left"></i>
            <p class="fg-anthilla-green">Log </p>
        </a>
        <span class="element-divider tool-divider"></span>

        <a id="Console-TB" href="/command" class="tool element upcase bg-anthilla-gray fg-anthilla-green"><i class="icon-console on-left"></i>
            <p class="fg-anthilla-green">Console </p>
        </a>
        <a id="Param-TB" href="/paramlist" class="tool element upcase bg-anthilla-gray fg-anthilla-green"><i class="icon-list on-left"></i>
            <p class="fg-anthilla-green">&nbsp </p>
        </a>
        <span class="element-divider tool-divider"></span>
    </nav>
</nav>
