<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>

    <link href="/Content/Style/iconFont.css" rel="stylesheet" />
    <link href="/Content/Style/metro-bootstrap.css" rel="stylesheet" />
    <link href="/Content/Style/metro-bootstrap-responsive.css" rel="stylesheet" />
    <link href="/Content/Style/anthilla.css" rel="stylesheet" />
</head>
<body class="metro">
    <div id="login-form" class="grid ">
        <div class="row">
            <div class="span4">
                <form method="POST">
                    <img alt="anthilla" id="anthilla-logo" src="/Content/Style/anthilla_logo_300x50_verde.png" />

                    <label>Username</label>
                    <div class="input-control text state-anthilla-gray" data-role="input-control">
                        <input name="Username" type="text">
                    </div>

                    <label>Password</label>
                    <div class="input-control text state-anthilla-gray" data-role="input-control">
                        <input name="Password" type="password">
                    </div>

                    <input id="login-button" type="submit" value="Login" class="bg-anthilla-green upcase fg-anthilla-gray" />

                    @*<label>Remember Me</label>
			        <input name="RememberMe" type="checkbox" value="True" />*@
                </form>
                @*@if (Model.Errored)
			    {
			        <div id="errorBox" class="floatingError">Invalid Username or Password</div>
			    }*@

                <p id="copyright">@ViewBag.Copyright</p>
            </div>
        </div>
    </div>
</body>
</html>