@*
///-------------------------------------------------------------------------------------
///     Copyright (c) 2014, Anthilla S.r.l. (http://www.anthilla.com)
///     All rights reserved.
///
///     Redistribution and use in source and binary forms, with or without
///     modification, are permitted provided that the following conditions are met:
///         * Redistributions of source code must retain the above copyright
///           notice, this list of conditions and the following disclaimer.
///         * Redistributions in binary form must reproduce the above copyright
///           notice, this list of conditions and the following disclaimer in the
///           documentation and/or other materials provided with the distribution.
///         * Neither the name of the Anthilla S.r.l. nor the
///           names of its contributors may be used to endorse or promote products
///           derived from this software without specific prior written permission.
///
///     THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
///     ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
///     WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
///     DISCLAIMED. IN NO EVENT SHALL ANTHILLA S.R.L. BE LIABLE FOR ANY
///     DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
///     (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
///     LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
///     ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
///     (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
///     SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
///
///     20141110
///-------------------------------------------------------------------------------------*@

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>

    <link href="/Content/Style/iconFont.css" rel="stylesheet" />
    <link href="/Content/Style/metro-bootstrap.css" rel="stylesheet" />
    <link href="/Content/Style/antd.css" rel="stylesheet" />
</head>
<body class="metro">
    <div id="login-form" class="grid ">
        <div class="row">
            <div class="span4">
                <form action="/login" method="POST" enctype="multipart/form-data">
                    <img alt="anthilla" id="anthilla-logo" src="/Content/Style/anthilla_logo_300x50_verde.png" />

                    @if (Model.WantsEmail == false) {
                        <label>Username</label>
                        <div class="input-control text state-anthilla-gray" data-role="input-control">
                            <input name="Email" type="hidden" value="">
                            <input name="Username" type="text">
                        </div>

                        <label>Password</label>
                        <div class="input-control text state-anthilla-gray" data-role="input-control">
                            <input name="Password" type="password">
                        </div>
                    }
                    else {
                        <label>Email</label>
                        <div class="input-control text state-anthilla-gray" data-role="input-control">
                            <input name="Username" type="hidden" value="@Model.Username">
                            <input name="Password" type="hidden" value="@Model.Password">
                            <input name="Email" type="text">
                        </div>
                    }
                    <input id="login-button" type="submit" value="Login" class="bg-anthilla-green upcase fg-anthilla-gray" />

                    @*<label>Remember Me</label>
			        <input name="RememberMe" type="checkbox" value="True" />*@
                </form>
                @*@if (Model.Errored)
			    {
			        <div id="errorBox" class="floatingError">Invalid Username or Password</div>
			    }*@

                <p id="copyright">@ViewBag.Copyright</p>
            </div>
        </div>
    </div>
</body>
</html>
