
@*    ///-------------------------------------------------------------------------------------
      /// Copyright (c) 2014 Anthilla S.r.l. (http://www.anthilla.com)
      ///
      /// Licensed under the BSD licenses.
      ///
      /// 141110
      ///-------------------------------------------------------------------------------------*@

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Antd.VersionModel>
@{Layout = "_layout.cshtml";}

@section MainContent
{
    <table id="meminfo" class="table striped"> 
        <thead>
            <tr>
                <th class="text-left">VERSION</th>
            </tr>
        </thead>
		<tbody>
            <tr>
                <td class="right">@Model.value</td>
            </tr>
        </tbody>
    </table>
}

@section Scripts
{
    <script type="text/javascript">

    </script>
}