@*
    ///-------------------------------------------------------------------------------------
    ///     Copyright (c) 2014, Anthilla S.r.l. (http://www.anthilla.com)
    ///     All rights reserved.
    ///
    ///     Redistribution and use in source and binary forms, with or without
    ///     modification, are permitted provided that the following conditions are met:
    ///         * Redistributions of source code must retain the above copyright
    ///           notice, this list of conditions and the following disclaimer.
    ///         * Redistributions in binary form must reproduce the above copyright
    ///           notice, this list of conditions and the following disclaimer in the
    ///           documentation and/or other materials provided with the distribution.
    ///         * Neither the name of the Anthilla S.r.l. nor the
    ///           names of its contributors may be used to endorse or promote products
    ///           derived from this software without specific prior written permission.
    ///
    ///     THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
    ///     ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
    ///     WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
    ///     DISCLAIMED. IN NO EVENT SHALL ANTHILLA S.R.L. BE LIABLE FOR ANY
    ///     DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
    ///     (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
    ///     LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
    ///     ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
    ///     (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
    ///     SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
    ///
    ///     20141110
    ///-------------------------------------------------------------------------------------*@

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{Layout = "_layout.cshtml";}
@section MainContent
{
    <legend>Create file layout</legend>
    <form action="/config/file" method="POST" enctype="multipart/form-data">
        <div class="grid">
            <div class="row">
                <div class="span6">
                    <label>layout name</label>
                    <div class="input-control text" data-role="input-control">
                        <input id="select-file-layout" name="Layout" type="text">
                    </div>
                </div>
                <div class="span6">
                    <label>&nbsp</label>
                    <p id="LoadLayout" class="button bg-anthilla-violet" style="width: 90%;">Load layout</p>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="span5">
                    <label id="layoutName"></label>
                </div>
                <div class="span5">
                    <p class="fg-anthilla-green" style="display: inline-block !important;">save in</p>
                    <input type="text" name="ConfigFilePath" readonly="readonly" class="bg-anthilla-gray-m" style="border: 0 !important; height: 34px; width: auto; padding-left: 5px; padding-right: 5px;" />
                    <input type="text" name="ConfigFileName" style="height: 34px;" />
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    <textarea name="FileContent" style="width: 100%; min-height: 300px; padding: 5px;" class="border-anthilla-green fg-white bg-anthilla-gray"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="span10">
                    <input id="submit" class="bg-blue fg-white" type="submit" value="Submit">
                </div>
            </div>
        </div>
    </form>

    <script>
        //hljs.initHighlightingOnLoad();

        //hljs.configure({ useBR: true });

        //$('textarea.code').each(function (i, block) {
        //    hljs.highlightBlock(block);
        //});

        var FileLayoutSelectizer = function () {
            return {
                loadOptions: function (query, callback) {
                    if (!query.length) return callback();
                    $.ajax({
                        url: this.settings.remoteUrl,
                        type: 'GET',
                        dataType: 'json',
                        data: {
                            s: query
                        },
                        error: function (input) {
                            callback();
                        },
                        success: function (data) {
                            callback(data);
                        }
                    });
                },
                renderOptions: function (data, escape) {
                    return '<div><span id="' + escape(data.guid) + '" class="button name bg-anthilla-violet">' + escape(data.layoutname) + '</span></div>';
                }
            };
        }();

        $('#select-file-layout').selectize({
            maxItems: 1,
            valueField: 'guid',
            labelField: 'layoutname',
            searchField: 'layoutname',
            create: false,
            render: { option: FileLayoutSelectizer.renderOptions },
            remoteUrl: '/rawdata/filelayout',
            load: FileLayoutSelectizer.loadOptions
        });

        $('#LoadLayout').click(function () {
            var guid = $('input[name="Layout"]').val();
            jQuery.support.cors = true;
            $.ajax({
                url: '/rawdata/filelayout/' + guid,
                type: 'GET',
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (layout) {
                    $('#layoutName').text(layout.layoutname);
                    $('input[name="ConfigFilePath"]').val(layout.path);
                    $('textarea[name="FileContent"]').val(layout.content);
                    return false;
                }
            });
        });
    </script>
}
