@*
///-------------------------------------------------------------------------------------
///     Copyright (c) 2014, Anthilla S.r.l. (http://www.anthilla.com)
///     All rights reserved.
///
///     Redistribution and use in source and binary forms, with or without
///     modification, are permitted provided that the following conditions are met:
///         * Redistributions of source code must retain the above copyright
///           notice, this list of conditions and the following disclaimer.
///         * Redistributions in binary form must reproduce the above copyright
///           notice, this list of conditions and the following disclaimer in the
///           documentation and/or other materials provided with the distribution.
///         * Neither the name of the Anthilla S.r.l. nor the
///           names of its contributors may be used to endorse or promote products
///           derived from this software without specific prior written permission.
///
///     THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
///     ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
///     WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
///     DISCLAIMED. IN NO EVENT SHALL ANTHILLA S.R.L. BE LIABLE FOR ANY
///     DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
///     (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
///     LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
///     ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
///     (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
///     SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
///
///     20141110
///-------------------------------------------------------------------------------------*@

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{Layout = "_layout.cshtml";}

@section PageBar {
    <style type="text/css">
        #System-TB {
            border-bottom: 10px solid #A7BD39;
            height: 80px !important;
        }
    </style>
    <nav class="navigation-bar bg-transparent page-bar menu-bar">
        <nav class="navigation-bar-content">
            <div class="element upcase fg-anthilla-green border-2-anthilla-gray-m no-overlay" style="padding-top: 11px;"><i class="icon-home on-left" style="line-height: 5px;"></i>System: Certificate Authority Manager</div>
            <div class="element-divider"></div>
            <a href="/system/general" class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay" style="padding-top: 11px;"><i class="icon-home on-left" style="line-height: 5px;"></i>general</a>
            <div class="element-divider"></div>
            <a href="/system/advanced" class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay" style="padding-top: 11px;"><i class="icon-home on-left" style="line-height: 5px;"></i>advanced</a>
            <div class="element-divider"></div>
            <a href="/system/routing" class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay" style="padding-top: 11px;"><i class="icon-home on-left" style="line-height: 5px;"></i>routing</a>
            <div class="element-divider"></div>
            <a href="/system/usermanager" class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay" style="padding-top: 11px;"><i class="icon-home on-left" style="line-height: 5px;"></i>usermanager</a>
            <div class="element-divider"></div>
            <a href="/system/wizard" class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay" style="padding-top: 11px;"><i class="icon-home on-left" style="line-height: 5px;"></i>wizard</a>
            <div class="element-divider"></div>
        </nav>
    </nav>
}


@section MainContent {
    <legend>System: Certificate Authority Manager</legend>
    <div class="tab-control" data-role="tab-control">
        <ul class="tabs">
            <li class="active"><a href="#CAs">CAs</a></li>
            <li><a href="#Certificates">Certificates</a></li>
            <li><a href="#CertificateRevocation">Certificate Revocation</a></li>
        </ul>

        <div class="frames" id="GroupsFrames">
            <div class="frame" id="CAs">
                <table class="table hovered">
                    <thead>
                        <tr>
                            <th>
                                <label>Name</label></th>
                            <th>
                                <label>Internal</label></th>
                            <th>
                                <label>Issuer</label></th>
                            <th>
                                <label>Certificates</label></th>
                            <th>
                                <label>Distinguished Name</label></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <hr />
                <p class="button bg-anthilla-green">New</p>
            </div>

            <div class="frame" id="Certificates">
                <table class="table hovered">
                    <thead>
                        <tr>
                            <th>
                                <label>Name</label></th>
                            <th>
                                <label>Issuer</label></th>
                            <th>
                                <label>Distinguished Name</label></th>
                            <th>
                                <label>In Use</label></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <hr />
                <p class="button bg-anthilla-green">New</p>
            </div>

            <div class="frame" id="CertificateRevocation">
                <table class="table hovered">
                    <thead>
                        <tr>
                            <th>
                                <label>Name</label></th>
                            <th>
                                <label>Internal</label></th>
                            <th>
                                <label>Certificates</label></th>
                            <th>
                                <label>In Use</label></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

@section Scripts {

}