@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<List<Antd.MeminfoModel>>
@{Layout = "_layout.cshtml";}

@section MainContent
{
    <table id="meminfo" class="table striped"> 
        <thead>
            <tr>
                <th class="text-left" style="width: 100px;" rowspan="2">MEMINFO</th>
                <th class="text-left">&nbsp</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Antd.MeminfoModel row in Model)
            {
                <tr>
                    <td class="right">@row.key</td>
                    <td class="right">@row.value</td>
                </tr>
            }
        </tbody>
    </table>
}

@section Scripts
{
    <script type="text/javascript">

    </script>
}