@*
///-------------------------------------------------------------------------------------
///     Copyright (c) 2014, Anthilla S.r.l. (http://www.anthilla.com)
///     All rights reserved.
///
///     Redistribution and use in source and binary forms, with or without
///     modification, are permitted provided that the following conditions are met:
///         * Redistributions of source code must retain the above copyright
///           notice, this list of conditions and the following disclaimer.
///         * Redistributions in binary form must reproduce the above copyright
///           notice, this list of conditions and the following disclaimer in the
///           documentation and/or other materials provided with the distribution.
///         * Neither the name of the Anthilla S.r.l. nor the
///           names of its contributors may be used to endorse or promote products
///           derived from this software without specific prior written permission.
///
///     THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
///     ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
///     WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
///     DISCLAIMED. IN NO EVENT SHALL ANTHILLA S.R.L. BE LIABLE FOR ANY
///     DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
///     (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
///     LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
///     ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
///     (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
///     SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
///
///     20141110
///-------------------------------------------------------------------------------------*@

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Antd.CommandModel[]>
@using System.Collections.Generic
@{Layout = "_layout.cshtml";}

@section MainContent
{

    <div class="grid">
        <div class="row">
            <div class="span12">
                <a href="/sys/cfg" class="tile bg-anth-blue">
                    <div class="tile-content icon">
                        <i class="icon-cog"></i>
                    </div>
                    <div class="tile-status">
                        <span class="name">Cfg</span>
                    </div>
                </a>

                <a href="/sys/datarepo" class="tile bg-anth-blue">
                    <div class="tile-content icon">
                        <i class="icon-cog"></i>
                    </div>
                    <div class="tile-status">
                        <span class="name">DataRepo</span>
                    </div>
                </a>

                <a href="/sys/network" class="tile bg-anth-blue">
                    <div class="tile-content icon">
                        <i class="icon-cog"></i>
                    </div>
                    <div class="tile-status">
                        <span class="name">Network</span>
                    </div>
                </a>

                <a href="/sys/anthillasp" class="tile bg-anth-blue">
                    <div class="tile-content icon">
                        <i class="icon-cog"></i>
                    </div>
                    <div class="tile-status">
                        <span class="name">AnthillaSP</span>
                    </div>
                </a>

                <a href="/sys/zfsmount" class="tile bg-anth-blue">
                    <div class="tile-content icon">
                        <i class="icon-cog"></i>
                    </div>
                    <div class="tile-status">
                        <span class="name">ZfsMount</span>
                    </div>
                </a>
            </div>
        </div>
    </div>

    @if (Model != null) {
        @foreach (Antd.CommandModel command in Model)
        @if (command != null) {
            <table id="Output" class="table">
                <tbody>
                    @foreach (string str in command.outputTable) {
                        <tr>
                            <td class="right">@str</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
    <br />
    @if (Model != null) {
        @foreach (Antd.CommandModel command in Model)
        @if (command != null) {
            <table id="Error" class="table">
                <tbody>
                    @foreach (string str in command.errorTable) {
                        <tr>
                            <td class="right">@str</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
}