<legend id="Main">Main</legend>
<table id="log" class="table">
    <thead>
        <tr>
            <th class="text-left">Timestamp</th>
            <th class="text-left">Source</th>
            <th class="text-left">Keyword</th>
        </tr>
    </thead>
    <tbody>
        @foreach (antdlib.Log.LogModel log in Model.LOGS) {
            <tr>
                <td class="right">
                    <p>@log.LogTimestamp</p>
                </td>
                <td class="right">
                    <p>@log.Source</p>
                </td>
                <td class="right">
                    <p>@log.Keyword</p>
                </td>
            </tr>
        }
    </tbody>
</table>
