@using antdlib.Log
<legend id="Main">Main</legend>
<table id="log" class="table">
    <tbody>
    @foreach (antdlib.Log.LogModel log in Model.LOGS) {
        <tr data-guid="@log.LogGuid">
            <td style="width: 50px;">
                @if (log.Level == EventLevel.Warn) {
                    <i class="icon-warning fg-yellow" data-level="warning"></i>
                }
                @if (log.Level == EventLevel.Info) {
                    <i class="icon-info fg-lightBlue" data-level="info"></i>
                }
                @if (log.Level == EventLevel.Error) {
                    <i class="icon-warning fg-red" data-level="error"></i>
                }
            </td>
            <td style="width: 200px;">
                <p>@log.DateTime</p>
            </td>
            <td class="right">
                <p>@log.Message</p>
            </td>
        </tr>
        }
    </tbody>
</table>
