@*
    //-------------------------------------------------------------------------------------
    //     Copyright (c) 2014, Anthilla S.r.l. (http://www.anthilla.com)
    //     All rights reserved.
    //
    //     Redistribution and use in source and binary forms, with or without
    //     modification, are permitted provided that the following conditions are met:
    //         * Redistributions of source code must retain the above copyright
    //           notice, this list of conditions and the following disclaimer.
    //         * Redistributions in binary form must reproduce the above copyright
    //           notice, this list of conditions and the following disclaimer in the
    //           documentation and/or other materials provided with the distribution.
    //         * Neither the name of the Anthilla S.r.l. nor the
    //           names of its contributors may be used to endorse or promote products
    //           derived from this software without specific prior written permission.
    //
    //     THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
    //     ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
    //     WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
    //     DISCLAIMED. IN NO EVENT SHALL ANTHILLA S.R.L. BE LIABLE FOR ANY
    //     DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
    //     (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
    //     LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
    //     ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
    //     (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
    //     SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
    //
    //     20141110
    //-------------------------------------------------------------------------------------*@

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{Layout = "_layout.cshtml";}

@section PageBar {
    <style type="text/css">
        #Storage-TB {
            border-bottom: 10px solid #A7BD39;
            height: 80px !important;
        }
    </style>
    <nav class="navigation-bar bg-anthilla-gray-m page-bar menu-bar" style="height: 50px !important;">
        <nav class="navigation-bar-content">
            <div class="element upcase fg-anthilla-green border-2-anthilla-gray-m no-overlay" style="padding-top: 11px;">
                <i class="icon-box on-left" style="line-height: 5px;"></i>
                Storage
            </div>
            <div class="element-divider"></div>

            <a class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay anchor" data-scrollto="#Disks" style="padding-top: 11px;">
                Disks
            </a>
            <div class="element-divider"></div>
            <a class="element place-right upcase fg-anthilla-green border-2-anthilla-gray-m no-overlay anchor" data-scrollto="top" style="padding-top: 8px;">
                <i class="icon-arrow-up"></i>
            </a>
            <div class="element-divider place-right"></div>
            <a onclick="SetCreate()" class="element place-right upcase fg-anthilla-green border-2-anthilla-green no-overlay anchor" data-scrollto="#DashboardForm" style="padding-top: 11px;">
                New Table
            </a>
        </nav>
    </nav>
}

@section Dashboard {
    @Html.Partial("_cctable-dashboard", Model.CurrentContext)
}

@section MainContent {
    @if (Model.Count > 0) {
        @Html.Partial("_cctable-main", Model.CCTable)
    }
    @*@Html.Partial("page-storage-database", Model)*@
    @Html.Partial("page-storage-disks", Model.VolumesInfo)
    @*@Html.Partial("page-storage-volumes")*@
    @*@Html.Partial("page-storage-backup")*@
    @*@Html.Partial("page-storage-iscsi")*@
}

@section Scripts {
    <script type="text/javascript">
        $('#SelectThisDiskWhereIstallAOS').click(function () {
            var diskName = $(this).attr('data-disk-name');
            if (diskName.length > 0) {
                jQuery.support.cors = true;
                $.ajax({
                    url: '/storage/install',
                    type: 'POST',
                    data: {
                        DiskName: diskName
                    },
                    success: function (data) {
                        location.reload(true);
                    }
                });
            }
        });

        $('#AddRaidPath').click(function () {
            var p = $('#DatabaseRaid').val();
            if (p.length > 0) {
                jQuery.support.cors = true;
                $.ajax({
                    url: '/storage/database/raid/' + p,
                    type: 'GET',
                    dataType: 'json',
                    contentType: 'application/json;charset=utf-8',
                    success: function (data) {
                        location.reload(true);
                        return false;
                    }
                });
            }
        });
    </script>
}