<style type="text/css">
    #Storage-TB {
        border-bottom: 10px solid #A7BD39;
        height: 80px !important;
    }
</style>
<nav class="navigation-bar bg-transparent page-bar menu-bar">
    <nav class="navigation-bar-content">
        <div class="element upcase fg-anthilla-green border-2-anthilla-gray-m no-overlay" style="padding-top: 11px;">
            <i class="icon-fire on-left" style="line-height: 5px;"></i>
            Storage
        </div>
        <div class="element-divider"></div>

        <div class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay" style="padding-top: 11px;">
            <i class="icon-fire on-left" style="line-height: 5px;"></i>
            Archives Management
        </div>
        <div class="element-divider"></div>

        <div class="element border-2-anthilla-green no-overlay fg-anthilla-green upcase" style="line-height: 0px;">
            <a class="dropdown-toggle" href="#">Backup</a>
            <ul class="dropdown-menu bg-anthilla-gray-m fg-white border-2-anthilla-green" data-role="dropdown">
                <li><a href="#">Backup Job</a></li>
                <li><a href="#">Backup Agent</a></li>
                <li><a href="#">Remote Backup</a></li>
                <li><a href="#">HyperVisor Job</a></li>
            </ul>
        </div>
        <div class="element-divider"></div>

        <div class="element border-2-anthilla-green no-overlay fg-anthilla-green upcase" style="line-height: 0px;">
            <a class="dropdown-toggle" href="#">Storage Management</a>
            <ul class="dropdown-menu bg-anthilla-gray-m fg-white border-2-anthilla-green" data-role="dropdown">
                <li><a href="#">Volumes</a></li>
                <li><a href="#">Disks</a></li>
                <li><a href="#">Archives</a></li>
                <li><a href="#">Percentage</a></li>
            </ul>
        </div>
        <div class="element-divider"></div>

        <div class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay" style="padding-top: 11px;">
            <i class="icon-fire on-left" style="line-height: 5px;"></i>
            iSCSI
        </div>
        <div class="element-divider"></div>

        <div class="element border-2-anthilla-green no-overlay fg-anthilla-green upcase" style="line-height: 0px;">
            <a class="dropdown-toggle" href="#">Share</a>
            <ul class="dropdown-menu bg-anthilla-gray-m fg-white border-2-anthilla-green" data-role="dropdown">
                <li><a href="#">Windows</a></li>
                <li><a href="#">Apple</a></li>
                <li><a href="#">Unix</a></li>
                <li><a href="#">RSYNC</a></li>
                <li><a href="#">Cloud</a></li>
                <li><a href="#">FTP</a></li>
                <li><a href="#">FileShare</a></li>
                <li><a href="#">Inspect File Access</a></li>
            </ul>
        </div>
        <div class="element-divider"></div>

    </nav>
</nav>
