<legend id="Database">Database</legend>
<table class="table hovered">
    <tbody>
        <tr>
            <td style="width:200px !important;">
                <label>Database Version</label>
            </td>
            <td>
               <p>@Model.DatabaseVersion</p>
            </td>
        </tr>
        <tr>
            <td>
                <label>Database Jnl File</label>
            </td>
            <td>
               <p>@Model.DatabaseJnlFile</p>
            </td>
        </tr>
    </tbody>
</table>
