<legend id="Disks">Disks</legend>
<table class="table">
    <tbody>
        @foreach (string row in Antd.Storage.Volumes.Blkid()) { 
            <tr>
                <td class="right">@row[0]</td>
                <td class="right">@row[1]</td>
            </tr>
        }
    </tbody>
</table>


@*<div class="tab-control" data-role="tab-control">
    <ul class="tabs">
        <li class="active"><a href="#Disk1">Disk #1</a></li>
        <li class="active"><a href="#Disk2">Disk #2</a></li>
    </ul>

    <div class="frames">
        <div class="frame" id="Disk1">
            <textarea readonly="readonly" style="width: 90%; min-height: 300px;" placeholder="Disk Details...">

            </textarea>
        </div>

        <div class="frame" id="Disk2">
            <textarea readonly="readonly" style="width: 90%; min-height: 300px;" placeholder="Disk Details...">

            </textarea>
        </div>
    </div>
</div>*@
