<legend id="Mounts">Mounts</legend>
<div class="grid">
    <div class="row">
        <div class="span6">
            <table class="table">
                <tbody>
                    @foreach (KeyValuePair<string, string> kvp in antdlib.DIRS.MountDirectories()) {
                        <tr>
                            <td>@kvp.Key</td>
                            <td><i class="icon-arrow-right-3"></i></td>
                            <td>@kvp.Value</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
