<style type="text/css">
    #Apps-TB {
        border-bottom: 10px solid #A7BD39;
        height: 80px !important;
    }
</style>
<nav class="navigation-bar bg-transparent page-bar menu-bar">
    <nav class="navigation-bar-content">
        <div class="element upcase fg-anthilla-green border-2-anthilla-gray-m no-overlay" style="padding-top: 11px;">
            <i class="icon-grid-view on-left" style="line-height: 5px;"></i>
            Apps
        </div>
        <div class="element-divider"></div>

        <a class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay anchor" data-scrollto="#List" style="padding-top: 11px;">List
        </a>
        <div class="element-divider"></div>
        @if (Model == true) {
            <a class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay anchor" data-scrollto="#Anthillasp" style="padding-top: 11px;">Anthilla SP
            </a>
            <div class="element-divider"></div>
        }
        <a class="element place-right upcase fg-anthilla-green border-2-anthilla-gray-m no-overlay anchor" data-scrollto="top" style="padding-top: 8px;">
            <i class="icon-arrow-up"></i>
        </a>
    </nav>
</nav>
