<legend id="Anthilasp">Anthilla SP</legend>
<table class="table hovered">
    <tbody>
        @*@if (antdlib.Apps.AnthillaSP.Units.CheckFiles() == false) {
                <tr>
                    <td colspan="2">
                        <input type="button" id="SetUnits" class="bg-indigo" value="Set Units" />
                    </td>
                </tr>
            }
            @if (antdlib.Apps.AnthillaSP.Units.CheckFiles() == true) {
                <tr>
                    <td colspan="2">
                        <input type="button" id="ApplyUnits" class="bg-indigo" value="Apply Units" />
                    </td>
                </tr>
            }*@
        <tr id="AnthilaspStatus" style="display: none;">
            <td colspan="2">
                <p>Anthilla SP is ready, chech its status below:</p>
            </td>
        </tr>
        <tr>
            <td>
                <label>Anthilla SP</label>
            </td>
            <td>
                @if (antdlib.Apps.AnthillaSP.Status.IsActiveAnthillaSP() == false) {
                    <input type="button" id="StartAnthillaSP" class="bg-indigo" value="Start AnthillaSP" />
                }
                else {
                    <input type="button" id="StopAnthillaSP" class="bg-darkIndigo" value="Stop AnthillaSP" />
                }
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <textarea class="bg-anthilla-gray-m border-2-anthilla-gray fg-white" style="width: 90%; height: 250px;">
                    @antdlib.Apps.AnthillaSP.Status.AnthillaSP();
                </textarea>
            </td>
        </tr>
        <tr>
            <td>
                <label>Anthilla Server</label>
            </td>
            <td>
                @if (antdlib.Apps.AnthillaSP.Status.IsActiveAnthillaServer() == false) {
                    <input type="button" id="StartAnthillaServer" class="bg-indigo" value="Start AnthillaServer" />
                }
                else {
                    <input type="button" id="StopAnthillaServer" class="bg-darkIndigo" value="Stop AnthillaServer" />
                }
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <textarea class="bg-anthilla-gray-m border-2-anthilla-gray fg-white" style="width: 90%; height: 250px;">
                    @antdlib.Apps.AnthillaSP.Status.AnthillaServer();
                </textarea>
            </td>
        </tr>
    </tbody>
</table>
<hr />
<script type="text/javascript">
    $(document).ready(function (e) {
        jQuery.support.cors = true;
        $.ajax({
            url: '/apps/set/anthillasp/',
            type: 'POST',
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                $('#AnthilaspStatus').show();
                console.log(data);
                return false;
            }
        });
    });

    $('#StartAnthillaSP').click(function (e) {
        jQuery.support.cors = true;
        $.ajax({
            url: '/apps/start/sp/',
            type: 'POST',
            success: function (data) {
                location.reload(true);
            }
        });
    });

    $('#StartAnthillaServer').click(function (e) {
        jQuery.support.cors = true;
        $.ajax({
            url: '/apps/start/server/',
            type: 'POST',
            success: function (data) {
                location.reload(true);
            }
        });
    });

    $('#StopAnthillaSP').click(function (e) {
        jQuery.support.cors = true;
        $.ajax({
            url: '/apps/stop/sp/',
            type: 'POST',
            success: function (data) {
                location.reload(true);
            }
        });
    });

    $('#StopAnthillaServer').click(function (e) {
        jQuery.support.cors = true;
        $.ajax({
            url: '/apps/stop/server/',
            type: 'POST',
            success: function (data) {
                location.reload(true);
            }
        });
    });
</script>
