<legend id="List">App List</legend>

@Each.AppList
<div class="panel border-2-anthilla-gray" data-role="panel" style="margin-bottom: 5px;">
    <div class="panel-header bg-anthilla-gray fg-white nif-header" data-app-name="@Current.Name">
        <i class="icon-cone on-left"></i>  @Current.Name
    </div>
    <div class="panel-content nif-content" style="display: none;" data-app-content="@Current.Name">
        <table class="table">
            <tbody></tbody>
        </table>
    </div>
</div>
@EndEach
