<legend id="Anthilasp">Anthilla SP</legend>
<table class="table hovered">
    <tbody>
        <tr>
            <td style="width: 250px;">
                <label>1</label>
            </td>
            <td>
                <input type="button" id="SetUnits" class="bg-indigo" value="Set Units" />
            </td>
        </tr>
        <tr>
            <td style="width: 250px;">
                <label>2</label>
            </td>
            <td>
                <input type="button" id="StartAnthillaSP" class="bg-indigo" value="Start AnthillaSP" />
            </td>
        </tr>
        <tr>
            <td style="width: 250px;">
                <label>2</label>
            </td>
            <td>
                <input type="button" id="StartAnthillaServer" class="bg-indigo" value="Start AnthillaServer" />
            </td>
        </tr>
        <tr>
            <td style="width: 250px;">
                <label>2</label>
            </td>
            <td>
                <a href="http://localhost:8085/" class="button bg-indigo">Go to AnthillaSP</a>
            </td>
        </tr>
        <tr>
            <td style="width: 250px;">
                <label>2</label>
            </td>
            <td>
                <a href="http://localhost:9999/" class="button bg-indigo">Go to AnthillaServer</a>
            </td>
        </tr>
    </tbody>
</table>
<hr />
<script type="text/javascript">
    $('#SetUnits').click(function (e) {
        jQuery.support.cors = true;
        $.ajax({
            url: '/apps/set/anthillasp/',
            //url: '/apps/launch/',
            type: 'GET',
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                alert(data);
                return false;
            }
        });
    });

    $('#StartAnthillaSP').click(function (e) {
        jQuery.support.cors = true;
        $.ajax({
            url: '/apps/start/sp/',
            type: 'GET',
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                alert(data);
                return false;
            }
        });
    });

    $('#StartAnthillaServer').click(function (e) {
        jQuery.support.cors = true;
        $.ajax({
            url: '/apps/start/server/',
            type: 'GET',
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                alert(data);
                return false;
            }
        });
    });
</script>
