<legend id="List">List</legend>

@foreach (Antd.Apps.Management.AppInfo app in Antd.Apps.Management.DetectApps()) {
    <table class="table">
        <tbody>
            <tr><td colspan="2"><p>@app.Name</p></td></tr>
            @foreach (KeyValuePair<string, string> kvp in app.Values) {
                <tr>
                    <td>@kvp.Key</td>
                    <td>@kvp.Value</td>
                </tr>
            }
        </tbody>
    </table>
}
