<div ng-controller="DisksController" class="">
    <div class="page-title">
        <div class="title_left">
            <h3 class="no-margin">Disks</h3>
        </div>
        <div class="title_right">
            <div class="btn-group btn-group-xs float-right">
                <button ng-click="Mode=0" class="btn btn-default" ng-class="{'btn-primary':Mode==0}">
                    Basic
                </button>
                <button ng-click="Mode=1" class="btn btn-default" ng-class="{'btn-primary':Mode==1}">
                    Advanced
                </button>
                <button ng-click="load()" class="btn btn-default">
                    <i class="fa fa-refresh"></i>&nbsp;Reload
                </button>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <table ng-repeat="disk in Disks.blockdevices"
                   class="table table-condensed bg-white no-border table-fixed">
                <thead>
                    <tr class="bg-page-light">
                        <th>Disk Name</th>
                        <th class="text-right">Size</th>
                        <th>Partition Table</th>
                        <th>Model</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="note-primary">
                        <td>{{ disk.name }}</td>
                        <td class="text-right">{{ disk.size | bytes }}</td>
                        <td>{{ disk.pttype }}</td>
                        <td>{{ disk.tran }} {{ disk.model }}</td>
                        <td colspan="3">
                            <div class="btn-group btn-group-xs float-right">
                                <button ng-disabled="disk.children.length>0"
                                        ng-click="disk.ShowPTLPanel=!disk.ShowPTLPanel;disk.ShowPTPanel=false"
                                        type="button" class="btn btn-danger">
                                    Set Partition Table
                                </button>
                                <button ng-click="disk.ShowPTPanel=!disk.ShowPTPanel;disk.ShowPTLPanel=false" type="button" class="btn btn-warning">
                                    Create Partition
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr ng-show="disk.ShowPTLPanel" class="note-danger">
                        <th>
                            Partition Table Label
                        </th>
                        <td colspan="2">
                            <input placeholder="Label" ng-model="disk.PartitionTableLabel" class="form-control" type="text">
                        </td>
                        <td colspan="4">
                            <div class="btn-group btn-group-xs float-right">
                                <button ng-click="createPartitionTable(disk.Name, disk.PartitionTableLabel)"
                                        type="button"
                                        class="btn btn-default">
                                    Create Partition Table
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr ng-show="disk.ShowPTPanel" class="note-warning">
                        <th>
                            Create New Partition
                        </th>
                        <td colspan="2">
                            <input placeholder="Partition Name" ng-model="disk.PartitionName" class="form-control" type="text">
                        </td>
                        <td>
                            <input placeholder="File System Type" ng-model="disk.FsType" class="form-control" type="text">
                        </td>
                        <td>
                            <input placeholder="Start" ng-model="disk.Start" class="form-control float-left" type="text">
                        </td>
                        <td>
                            <input placeholder="End" ng-model="disk.End" class="form-control float-left" type="text">
                        </td>
                        <td>
                            <div class="btn-group btn-group-xs float-right">
                                <button ng-click="createPartition(disk.Name, disk.PartitionType, disk.PartitionName, disk.FsType, disk.Start, disk.End)"
                                        type="button"
                                        class="btn btn-default">
                                    Create New Partition
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr class="bg-page-light">
                        <th style="padding-left: 25px;">Partition Name</th>
                        <th class="text-right">Size</th>
                        <th>Fs Type</th>
                        <th>Label</th>
                        <th>Mountpoint</th>
                        <th></th>
                        <th></th>
                    </tr>
                </tbody>
                <tbody ng-repeat="part in disk.children">
                    <tr>
                        <td style="padding-left: 25px;">{{ part.name }}</td>
                        <td class="text-right">{{ part.size | bytes }}</td>
                        <td>{{ part.fstype }}</td>
                        <td>{{ part.label }}</td>
                        <td>{{ part.mountpoint }}</td>
                        <td colspan="2">
                            <div class="btn-group btn-group-xs float-right">
                                <button ng-click="checkFs(part);part.ShowCKPanel=true" type="button"
                                        class="btn btn-info">
                                    Check Fs
                                </button>
                                <button ng-disabled="part.FsType.length>0"
                                        ng-click="part.ShowEXT4Panel=!part.ShowEXT4Panel;part.ShowZFSPanel=false;part.ShowCKPanel=false" type="button"
                                        class="btn btn-default">
                                    Set Ext4 Fs
                                </button>
                                <button ng-click="part.ShowZFSPanel=!part.ShowZFSPanel;part.ShowEXT4Panel=false;part.ShowCKPanel=false" type="button"
                                        class="btn btn-default">
                                    Set ZFS
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr ng-show="part.ShowEXT4Panel">
                        <th>
                            Create EXT4 File System
                        </th>
                        <td colspan="2">
                            <input placeholder="Label" ng-model="part.Ext4Label" class="form-control" type="text">
                        </td>
                        <td colspan="4">
                            <div class="btn-group btn-group-xs float-right">
                                <button ng-click="createFsExt4(part.Name, part.Ext4Label)"
                                        type="button"
                                        class="btn btn-default">
                                    Create ext4 file system
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr ng-show="part.ShowZFSPanel">
                        <th>
                            Create ZFS
                        </th>
                        <td>
                            <input placeholder="Pool" ng-model="part.ZfsPool" class="form-control" type="text">
                        </td>
                        <td>
                            <input placeholder="Zfs Label" ng-model="part.ZfsLabel" class="form-control" type="text">
                        </td>
                        <td colspan="4">
                            <div class="btn-group btn-group-xs float-right">
                                <button ng-click="createFsZfs(part.Name, part.ZfsPool, part.ZfsLabel)"
                                        type="button"
                                        class="btn btn-default">
                                    Create ZFS file system
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr ng-show="part.ShowCKPanel" class="note-info">
                        <td colspan="7" style="padding-left: 25px;">
                            <p ng-repeat="l in part.Check track by $index" class="no-margin">{{ l }}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
