<div ng-controller="FileManagerController as vm">
    <div class="page-title">
        <div class="title_left">
            <h3 class="no-margin">File Manager</h3>
        </div>
        <div class="title_right">
            <div class="btn-group btn-group-xs float-right">
                <button ng-click="vm.loadSrcDirectory(vm.SrcDirectory.Path);vm.loadDstDirectory(vm.DstDirectory.Path)" class="btn btn-default">
                    <i class="fa fa-refresh"></i> Reload
                </button>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <!--colonna SX-->
        <div class="col-lg-6">
            <table class="table table-condensed table-striped table-hover no-border table-fixed" style="font-size: 0.8em;">
                <tbody>
                    <tr>
                        <td colspan="40">
                            Select a source mountpoint:
                        </td>
                        <td colspan="80">
                            <select ng-change="vm.loadSrcDirectory(vm.SelectedSrcVolume)" ng-model="vm.SelectedSrcVolume"
                                    style="border: 0px; width: 100%;">
                                <option ng-repeat="vol in vm.Volumes"
                                        value="{{vol.mountpoint}}">
                                    {{ vol.label }} {{ vol.mountpoint }}
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="120">
                        </td>
                    </tr>

                    <tr>
                        <th colspan="50" class="fg-dark">
                            {{ vm.SrcDirectory.Path }}
                        </th>
                        <td colspan="39">
                            Elements in this directory: <b>{{ (vm.SrcDirectory.Folders.length + vm.SrcDirectory.Files.length) }}</b>
                        </td>
                        <td colspan="31" class="no-padding">
                            <div class="btn-group btn-group-xs float-right">
                                <button ng-disabled="vm.SelectedSrcVolume==undefined||vm.SelectedDstVolume==undefined"
                                        ng-click="vm.syncFolder(vm.SrcDirectory.Path, vm.DstDirectory.Path)"
                                        type="button" class="btn btn-default">
                                    <i class="fa fa-arrow-right fg-success"></i>
                                    Sync
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                        </td>
                        <td colspan="40">
                            Name
                        </td>
                        <td colspan="18">
                            Last Modified
                        </td>
                        <td colspan="18">
                            Created
                        </td>
                        <td colspan="31" class="text-right">
                            Dimension
                        </td>
                        <td colspan="10">
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr ng-if="vm.SelectedSrcVolume!=vm.SrcDirectory.Path"
                        ng-dblclick="vm.loadSrcDirectory(vm.SrcDirectory.Parent)"
                        style="cursor: pointer;">
                        <td colspan="3">
                        </td>
                        <td colspan="40">
                            <i class="fa fa-arrow-up"></i>
                        </td>
                        <td colspan="77">
                        </td>
                    </tr>
                    <tr ng-repeat="folder in vm.SrcDirectory.Folders"
                        ng-dblclick="vm.loadSrcDirectory(folder.Path)"
                        style="cursor: pointer;">
                        <td colspan="3">
                            <i class="fa fa-folder-o"></i>
                        </td>
                        <td colspan="40">
                            {{ folder.Name }}
                        </td>
                        <td colspan="18">
                            {{ folder.LastModified | date:'dd/MM/yyyy HH:mm' }}
                        </td>
                        <td colspan="18">
                            {{ folder.Created | date:'dd/MM/yyyy HH:mm' }}
                        </td>
                        <td colspan="41">
                        </td>
                    </tr>
                </tbody>

                <tbody>
                    <tr ng-repeat="file in vm.SrcDirectory.Files">
                        <td colspan="3">
                            <i class="fa fa-file-o"></i>
                        </td>
                        <td colspan="40">
                            {{ file.Name }}
                        </td>
                        <td colspan="18">
                            {{ file.LastModified | date:'dd/MM/yyyy HH:mm' }}
                        </td>
                        <td colspan="18">
                            {{ file.Created | date:'dd/MM/yyyy HH:mm' }}
                        </td>
                        <td colspan="31" class="text-right">
                            {{ file.Dimension | bytes }}
                        </td>
                        <td colspan="10" class="no-padding">
                            <div class="btn-group btn-group-xs float-right">
                                <button ng-disabled="vm.SelectedSrcVolume==undefined||vm.SelectedDstVolume==undefined"
                                        ng-click="vm.syncFile(file.Path, vm.DstDirectory.Path)"
                                        type="button" class="btn btn-default">
                                    <i class="fa fa-arrow-right fg-success"></i>
                                    Sync
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--colonna DX-->
        <div class="col-lg-6">
            <table class="table table-condensed table-striped table-hover no-border table-fixed" style="font-size: 0.8em;">
                <tbody>
                    <tr>
                        <td colspan="40">
                            Select a destination mountpoint:
                        </td>
                        <td colspan="80">
                            <select ng-change="vm.loadDstDirectory(vm.SelectedDstVolume)" ng-model="vm.SelectedDstVolume"
                                    style="border: 0px; width: 100%;">
                                <option ng-repeat="vol in vm.Volumes"
                                        value="{{vol.mountpoint}}">
                                    {{ vol.label }} {{ vol.mountpoint }}
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="120">
                        </td>
                    </tr>

                    <tr>
                        <th colspan="50" class="fg-dark">
                            {{ vm.DstDirectory.Path }}
                        </th>
                        <td colspan="70">
                            Elements in this directory: <b>{{ (vm.DstDirectory.Folders.length + vm.DstDirectory.Files.length) }}</b>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                        </td>
                        <td colspan="40">
                            Name
                        </td>
                        <td colspan="18">
                            Last Modified
                        </td>
                        <td colspan="18">
                            Created
                        </td>
                        <td colspan="31" class="text-right">
                            Dimension
                        </td>
                        <td colspan="10">
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr ng-if="vm.SelectedDstVolume!=vm.DstDirectory.Path"
                        ng-dblclick="vm.loadDstDirectory(vm.DstDirectory.Parent)"
                        style="cursor: pointer;">
                        <td colspan="3">
                        </td>
                        <td colspan="40">
                            <i class="fa fa-arrow-up"></i>
                        </td>
                        <td colspan="77">
                        </td>
                    </tr>
                    <tr ng-repeat="folder in vm.DstDirectory.Folders"
                        ng-dblclick="vm.loadDstDirectory(folder.Path)"
                        style="cursor: pointer;">
                        <td colspan="3">
                            <i class="fa fa-folder-o"></i>
                        </td>
                        <td colspan="40">
                            {{ folder.Name }}
                        </td>
                        <td colspan="18">
                            {{ folder.LastModified | date:'dd/MM/yyyy HH:mm' }}
                        </td>
                        <td colspan="18">
                            {{ folder.Created | date:'dd/MM/yyyy HH:mm' }}
                        </td>
                        <td colspan="41">
                        </td>
                    </tr>
                </tbody>

                <tbody>
                    <tr ng-repeat="file in vm.DstDirectory.Files">
                        <td colspan="3">
                            <i class="fa fa-file-o"></i>
                        </td>
                        <td colspan="40">
                            {{ file.Name }}
                        </td>
                        <td colspan="18">
                            {{ file.LastModified | date:'dd/MM/yyyy HH:mm' }}
                        </td>
                        <td colspan="18">
                            {{ file.Created | date:'dd/MM/yyyy HH:mm' }}
                        </td>
                        <td colspan="31" class="text-right">
                            {{ file.Dimension | bytes }}
                        </td>
                        <td colspan="10">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
