<div ng-controller="InterfacesController">
    <div class="page-title">
        <div class="title_left">
            <h3>Interfaces</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <!--pannello configurazione-->
        <div class="col-md-12 col-sm-12 col-xs-12">
            <table class="table table-condensed no-border table-fixed">
                <thead>
                    <tr>
                        <th>Auto</th>
                        <th>Iface</th>
                        <th>Address</th>
                        <th>Conf</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input ng-model="NewNetworkInterface.AutoBool" type="checkbox">
                        </td>
                        <td>
                            <input ng-model="NewNetworkInterface.Iface" class="form-control" type="text">
                        </td>
                        <td>
                            <input ng-model="NewNetworkInterface.Address" class="form-control" type="text">
                        </td>
                        <td>
                            <p>Pre Up</p>
                            <textarea rows="3" ng-model="NewNetworkInterface.PreUpTxt" class="form-control"></textarea>
                            <p>Post Up</p>
                            <textarea rows="3" ng-model="NewNetworkInterface.PostUpTxt" class="form-control"></textarea>
                            <p>Pre Down</p>
                            <textarea rows="3" ng-model="NewNetworkInterface.PreDownTxt" class="form-control"></textarea>
                            <p>Post Down</p>
                            <textarea rows="3" ng-model="NewNetworkInterface.PostDownTxt" class="form-control"></textarea>
                        </td>
                        <td>
                            <button ng-click="addToList(NewNetworkInterface, Interfaces)" type="button" class="btn btn-primary">
                                <span class="fa fa-plus-circle"></span> Add
                            </button>
                        </td>
                    </tr>
                    <tr ng-repeat="el in Interfaces">
                        <td>
                            <input ng-model="el.AutoBool" type="checkbox">
                        </td>
                        <td>
                            <input ng-model="el.Iface" class="form-control" type="text">
                        </td>
                        <td>
                            <input ng-model="el.Address" class="form-control" type="text">
                        </td>
                        <td>
                            <p>Pre Up</p>
                            <textarea rows="3" ng-model="el.PreUpTxt" class="form-control"></textarea>
                            <p>Post Up</p>
                            <textarea rows="3" ng-model="el.PostUpTxt" class="form-control"></textarea>
                            <p>Pre Down</p>
                            <textarea rows="3" ng-model="el.PreDownTxt" class="form-control"></textarea>
                            <p>Post Down</p>
                            <textarea rows="3" ng-model="el.PostDownTxt" class="form-control"></textarea>
                        </td>
                        <td>
                            <button ng-click="removeFromList($index, Interfaces)" type="button" class="btn btn-danger">
                                <span class="fa fa-minus-circle"></span> Remove
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-12">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <a ng-click="apply()" class="btn btn-app float-right">
                <i class="fa fa-play"></i> Apply
            </a>
            <a ng-click="save()" class="btn btn-app float-right">
                <i class="fa fa-save"></i> Save
            </a>
            <a ng-click="load()" class="btn btn-app float-right">
                <i class="fa fa-refresh"></i> Reload
            </a>
        </div>
    </div>
</div>
