<div ng-controller="RoutingTablesController">
    <div class="page-title">
        <div class="title_left">
            <h3 class="no-margin">Routing Tables</h3>
        </div>
        <div class="title_right">
            <div class="btn-group btn-group-xs float-right">
                <button ng-click="load()" class="btn btn-default">
                    <i class="fa fa-refresh"></i> Reload
                </button>
                <button ng-click="save()" class="btn btn-default">
                    <i class="fa fa-save"></i> Save
                </button>
                <button ng-click="apply()" class="btn btn-default">
                    <i class="fa fa-play"></i> Apply
                </button>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <!--pannello configurazione-->
        <div class="col-md-12 col-sm-12 col-xs-12">
            <table class="table table-condensed no-border table-fixed">
                <thead>
                    <tr>
                        <th colspan="10">Id</th>
                        <th colspan="20">Alias</th>
                        <th colspan="80">Rules</th>
                        <th colspan="10"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="10">
                            <input ng-model="NewRoutingTable.Id" class="form-control" type="text">
                        </td>
                        <td colspan="20">
                            <input ng-model="NewRoutingTable.Name" class="form-control" type="text">
                        </td>
                        <td colspan="80">
                            <textarea rows="3" ng-model="NewRoutingTable.RulesTxt" class="form-control"></textarea>
                        </td>
                        <td colspan="10">
                            <div class="btn-group btn-group-xs float-right">
                                <button ng-click="addToList(NewRoutingTable, RoutingTables)" type="button" class="btn btn-xs btn-success">
                                    Add
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr ng-repeat="el in RoutingTables">
                        <td colspan="10">
                            <input ng-model="el.Id" class="form-control" type="text">
                        </td>
                        <td>
                            <input ng-model="el.Name" class="form-control" type="text">
                        </td>
                        <td colspan="80">
                            <textarea rows="3" ng-model="el.RulesTxt" class="form-control"></textarea>
                        </td>
                        <td colspan="10">
                            <div class="btn-group btn-group-xs float-right">
                                <button ng-click="removeFromList($index, RoutingTables)" type="button" class="btn btn-xs btn-danger">
                                    Remove
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
