<div ng-controller="ServicesController" class="">
    <div class="page-title">
        <div class="title_left">
            <h3 class="no-margin">Services</h3>
        </div>
        <div class="title_right">
            <div class="btn-group float-right">
                <a ng-click="load()" class="btn btn-app">
                    <i class="fa fa-refresh"></i> Reload
                </a>
                <a ng-click="save()" class="btn btn-app">
                    <i class="fa fa-save"></i> Save
                </a>
                <a ng-click="apply()" class="btn btn-app">
                    <i class="fa fa-play"></i> Apply
                </a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <!--pannello configurazione-->
        <div class="col-md-12 col-sm-12 col-xs-12">
            <table class="table table-condensed no-border table-fixed">
                <tbody>
                    <tr>
                        <th>
                            <p>Active</p>
                        </th>
                        <td>
                            <textarea rows="6" ng-model="BootServices.ActiveServicesTxt" class="form-control"></textarea>
                        </td>
                        <td></td>
                        <td class="fg-dark" rowspan="4">
                            <p ng-repeat="p in BootServices.RunningServices" class="no-margin">{{p}}</p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <p>Inactive</p>
                        </th>
                        <td>
                            <textarea rows="6" ng-model="BootServices.InactiveServicesTxt" class="form-control"></textarea>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>
                            <p>Disabled</p>
                        </th>
                        <td>
                            <textarea rows="6" ng-model="BootServices.DisabledServicesTxt" class="form-control"></textarea>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>
                            <p>Blocked</p>
                        </th>
                        <td>
                            <textarea rows="6" ng-model="BootServices.BlockedServicesTxt" class="form-control"></textarea>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
