<div ng-controller="SysctlController as vm">
    <div class="page-title">
        <div class="title_left">
            <h3 class="no-margin">Sysctl</h3>
        </div>
        <div class="title_right">
            <div class="btn-group btn-group-xs float-right">
                <button ng-click="vm.load()" class="btn btn-default">
                    <i class="fa fa-refresh"></i> Reload
                </button>
                <button ng-click="vm.save()" class="btn btn-default">
                    <i class="fa fa-save"></i> Save
                </button>
                <button ng-click="vm.apply()" class="btn btn-default">
                    <i class="fa fa-play"></i> Apply
                </button>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <!--pannello configurazione-->
        <div class="col-md-12 col-sm-12 col-xs-12">
            <table class="table table-condensed no-border table-fixed">
                <tbody>
                    <tr>
                        <td></td>
                        <td>
                            <textarea rows="30" ng-model="vm.BootSysctl.SysctlTxt" class="form-control"></textarea>
                        </td>
                        <td></td>
                        <td class="fg-dark">
                            <p ng-repeat="p in vm.BootSysctl.RunningSysctl" class="no-margin">{{p}}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
