<div ng-controller="VolumesController as vm">
    <div class="page-title">
        <div class="title_left">
            <h3 class="no-margin">Volumes</h3>
        </div>
        <div class="title_right">
            <div class="btn-group btn-group-xs float-right">
                <button ng-click="vm.Mode=0" class="btn btn-default" ng-class="{'btn-primary':vm.Mode==0}">
                    Basic
                </button>
                <button ng-click="vm.Mode=1" class="btn btn-default" ng-class="{'btn-primary':vm.Mode==1}">
                    Advanced
                </button>
                <button ng-click="vm.load()" class="btn btn-default">
                    <i class="fa fa-refresh"></i> Reload
                </button>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <table class="table table-condensed bg-white no-border table-fixed">
                <thead>
                    <tr class="bg-page-light">
                        <th>Volume</th>
                        <th>Label</th>
                        <th>Fs Type</th>
                        <th class="text-right">Size</th>
                        <th class="text-right">Used</th>
                        <th>Mountpoint</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody ng-repeat="volume in vm.Volumes">
                    <tr>
                        <td>{{ volume.name }}</td>
                        <th>{{ volume.label }}</th>
                        <td>{{ volume.fstype }}</td>
                        <td class="text-right">{{ volume.size | bytes }}</td>
                        <td class="text-right">{{ volume.fsuseperc }}</td>
                        <td style="overflow: visible !important;">{{ volume.mountpoint }}</td>
                        <td colspan="3">
                            <div class="btn-group btn-group-xs float-right">
                                <button ng-if="volume.mountpoint.length==0"
                                        ng-click="vm.mountVolume(volume.name, volume.label)" type="button" class="btn btn-success">
                                    Mount Volume
                                </button>
                                <button ng-if="volume.mountpoint.length>0&&volume.WebdavRunning==false"
                                        ng-click="vm.umountVolume(volume.mountpoint)" type="button" class="btn btn-default">
                                    Umount Volume
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
