<div ng-controller="VolumesController" class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Volumes</h3>
        </div>
        <div class="title_right">
            <div class="btn-group float-right">
                <a ng-click="load()" class="btn btn-app">
                    <i class="fa fa-refresh"></i> Reload
                </a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <table class="table table-condensed bg-white no-border table-fixed">
                <thead>
                    <tr class="bg-page-light">
                        <th>Volume</th>
                        <th>Label</th>
                        <th class="text-right">Size</th>
                        <th class="text-right">Used</th>
                        <th>Fs Type</th>
                        <th>Mountpoint</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody ng-repeat="volume in Volumes">
                    <tr>
                        <td>{{ volume.Name }}</td>
                        <th>{{ volume.Label }}</th>
                        <td class="text-right">{{ volume.Size }}</td>
                        <td class="text-right">{{ volume.Used }}</td>
                        <td>{{ volume.FsType }}</td>
                        <td style="overflow: visible !important;">{{ volume.Mountpoint }}</td>
                        <td colspan="3">
                            <div class="btn-group btn-group-xs float-right">
                                <button ng-show="volume.Mountpoint.length==0"
                                        ng-click="mountVolume(volume.Name, volume.Label)" type="button" class="btn btn-success">
                                    Mount Volume
                                </button>
                                <button ng-show="volume.Mountpoint.length>0&&volume.WebdavRunning==false"
                                        ng-click="umountVolume(volume.Mountpoint)" type="button" class="btn btn-default">
                                    Umount Volume
                                </button>
                                <button ng-show="volume.Mountpoint.length>0&&volume.WebdavRunning==false"
                                        ng-click="volume.ShowWDPanel=!volume.ShowWDPanel;ShowSncPanel=false" type="button" class="btn btn-primary">
                                    Show Webdav Config.
                                </button>
                                <button ng-show="volume.Mountpoint.length>0&&volume.WebdavRunning==true"
                                        ng-click="webdavStop(volume.Mountpoint)" type="button" class="btn btn-warning">
                                    Stop Webdav
                                </button>
                                <button ng-show="volume.Mountpoint.length>0"
                                        ng-click="volume.ShowSncPanel=!volume.ShowSncPanel;ShowWDPanel=false" type="button" class="btn btn-info">
                                    Sync Config.
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr ng-show="volume.ShowWDPanel" class="note-primary">
                        <th>
                            Set Webdav Server
                        </th>
                        <td>
                            <input placeholder="Ip Address" ng-model="volume.wdIp" class="form-control" type="text">
                        </td>
                        <td>
                            <input placeholder="Port" ng-model="volume.wdPort" min="0" class="form-control" type="number">
                        </td>
                        <td>
                            <input placeholder="User" ng-model="volume.wdUser" class="form-control" type="text">
                        </td>
                        <td>
                            <input placeholder="Password" ng-model="volume.wdPassword" class="form-control" type="password">
                        </td>
                        <td colspan="4">
                            <div class="btn-group btn-group-xs float-right">
                                <button ng-click="webdavStart(volume.wdIp, volume.wdPort, volume.Mountpoint, volume.wdUser, volume.wdPassword)"
                                        type="button"
                                        class="btn btn-success">
                                    Start Webdav Server
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr ng-show="volume.ShowSncPanel" class="note-info">
                        <th>
                            Sync with another volume
                        </th>
                        <td colspan="3">
                            <select ng-model="volume.SyncTarget" class="form-control">
                                <option ng-repeat="s in volume.SyncableVolumes" value="{{s}}">
                                    {{ s }}
                                </option>
                            </select>
                        </td>
                        <td colspan="5">
                            <div class="btn-group btn-group-xs float-right">
                                <button ng-click="syncVolumes(volume.Mountpoint, volume.SyncTarget)"
                                        type="button"
                                        class="btn btn-success">
                                    Start Sync selected Volume
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
