<div ng-controller="WebdavController" class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Webdav</h3>
        </div>
        <div class="title_right">
            <div class="btn-group btn-group-xs float-right">
                <button ng-click="load()" class="btn btn-default">
                    <i class="fa fa-refresh"></i> Reload
                </button>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div ng-if="Volumes.length==0">
            <h5 style="padding-left: 15px;">
                There are no mounted volumes yet
            </h5>
        </div>

        <div ng-if="Volumes.length>0" class="col-md-12 col-sm-12 col-xs-12">
            <table class="table table-condensed table-striped no-border table-fixed">
                <thead>
                    <tr class="bg-page-light">
                        <th>Label</th>
                        <th>Mountpoint</th>
                        <th colspan="5"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="volume in Volumes"
                        ng-if="volume.name!='/dev/sda2'&&volume.name!='/dev/sda4'">
                        <td style="overflow: visible !important;">{{ volume.name }}</td>
                        <td style="overflow: visible !important;">{{ volume.mountpoint }}</td>
                        <td>
                            <input ng-disabled="volume.WebdavRunning==true" placeholder="Ip Address" ng-model="volume.wdIp" class="form-control" type="text">
                        </td>
                        <td>
                            <input ng-disabled="volume.WebdavRunning==true" placeholder="Port" ng-model="volume.wdPort" min="0" class="form-control" type="number">
                        </td>
                        <td>
                            <input ng-disabled="volume.WebdavRunning==true" placeholder="User" ng-model="volume.wdUser" class="form-control" type="text">
                        </td>
                        <td>
                            <input ng-disabled="volume.WebdavRunning==true" placeholder="Password" ng-model="volume.wdPassword" class="form-control" type="password">
                        </td>
                        <td>
                            <div class="btn-group btn-group-xs float-right">
                                <button ng-show="volume.WebdavRunning==false"
                                        ng-click="webdavStart(volume.wdIp, volume.wdPort, volume.Mountpoint, volume.wdUser, volume.wdPassword)"
                                        type="button"
                                        class="btn btn-success">
                                    Start Webdav
                                </button>
                                <button ng-show="volume.Mountpoint.length>0&&volume.WebdavRunning==true"
                                        ng-click="webdavStop(volume.Mountpoint)" type="button" class="btn btn-warning">
                                    Stop Webdav
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
