<legend id="Anthilasp">Anthilla SP</legend>
<table class="table hovered">
    <tbody>
        <tr id="AnthilaspStatus" style="display: none;">
            <td colspan="2">
                <p>Anthilla SP is ready, chech its status below:</p>
            </td>
        </tr>
        <tr>
            <td>
                <label>Anthilla SP</label>
            </td>
            <td>
                @IfNot.AnthillaSpIsActive
                <input type="button" id="StartAnthillaSP" class="bg-indigo" value="Start AnthillaSP" />
                @EndIf
                @If.AnthillaSpIsActive
                <input type="button" id="StopAnthillaSP" class="bg-darkIndigo" value="Stop AnthillaSP" />
                @EndIf
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <textarea class="bg-anthilla-gray-m border-2-anthilla-gray fg-white" style="width: 90%; height: 250px;">
                    @Model.AnthillaSpStatus
                </textarea>
            </td>
        </tr>
        <tr>
            <td>
                <label>Anthilla Server</label>
            </td>
            <td>
                @IfNot.AnthillaServerIsActive
                <input type="button" id="StartAnthillaServer" class="bg-indigo" value="Start AnthillaServer" />
                @EndIf
                @If.AnthillaServerIsActive
                <input type="button" id="StopAnthillaServer" class="bg-darkIndigo" value="Stop AnthillaServer" />
                @EndIf
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <textarea class="bg-anthilla-gray-m border-2-anthilla-gray fg-white" style="width: 90%; height: 250px;">
                    @Model.AnthillaServerStatus
                </textarea>
            </td>
        </tr>
    </tbody>
</table>
<hr />
<script type="text/javascript">
    $(document).ready(function () {
        jQuery.support.cors = true;
        $.ajax({
            url: '/apps/set/anthillasp/',
            type: 'POST',
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                $('#AnthilaspStatus').show();
                return false;
            }
        });
    });

    $('#StartAnthillaSP').click(function (e) {
        jQuery.support.cors = true;
        $.ajax({
            url: '/apps/start/sp/',
            type: 'POST',
            success: function (data) {
                location.reload(true);
            }
        });
    });

    $('#StartAnthillaServer').click(function (e) {
        jQuery.support.cors = true;
        $.ajax({
            url: '/apps/start/server/',
            type: 'POST',
            success: function (data) {
                location.reload(true);
            }
        });
    });

    $('#StopAnthillaSP').click(function (e) {
        jQuery.support.cors = true;
        $.ajax({
            url: '/apps/stop/sp/',
            type: 'POST',
            success: function (data) {
                location.reload(true);
            }
        });
    });

    $('#StopAnthillaServer').click(function (e) {
        jQuery.support.cors = true;
        $.ajax({
            url: '/apps/stop/server/',
            type: 'POST',
            success: function (data) {
                location.reload(true);
            }
        });
    });
</script>
