<!DOCTYPE html>
<html lang="{{ lang }}" ng-app="templateApp">
<head>
    <meta charset="utf-8" />
    <title>Antd</title>
    <!--Scripts-->
    <script src="/Scripts/jquery-3.1.1.min.js"></script>
    <script src="/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="/Scripts/metro.min.js"></script>
    <script src="/Scripts/selectize.sa.min.js"></script>
    <script src="/Scripts/angular.min.js"></script>
    <script src="/Scripts/angular-mocks.js"></script>
    <script src="/Scripts/angular-route.min.js"></script>
    <script src="/Scripts/angular-animate.min.js"></script>
    <script src="/Scripts/angular-resource.min.js"></script>
    <script src="/Scripts/angular-selectize.js"></script>
    <script src="/Scripts/angular-ui-router.min.js"></script>
    <script src="/Scripts/angular-aria.min.js"></script>
    <script src="/Scripts/angular-messages.min.js"></script>
    <script src="/Scripts/angular-translate.min.js"></script>
    <script src="/Scripts/ng-file-upload.min.js"></script>
    <script src="/Scripts/ng-file-upload-shim.min.js"></script>
    <script src="/Scripts/angular-translate-loader-url.min.js"></script>
    <script src="/Scripts/template.js"></script>

    <script src="/Scripts/clipboard.min.js"></script>
    <script src="/Scripts/ngclipboard.min.js"></script>

    <script src="/Scripts/trumbowyg.min.js"></script>
    <script src="/Scripts/trumbowyg-ng.min.js"></script>
    <script src="/Scripts/controller-home.js"></script>
    <script src="/Scripts/controller-antd.js"></script>

    <!--Style-->
    <link href="/Style/metro.css" rel="stylesheet">
    <link href="/Style/metro-icons.css" rel="stylesheet">
    <link href="/Style/template.css" rel="stylesheet">
    <link href="/Style/template-colors.css" rel="stylesheet">
    <link href="/Style/template.metro.css" rel="stylesheet">
    <link href="/Style/trumbowyg.min.css" rel="stylesheet">
    <link href="/Style/selectize.anthilla.css" rel="stylesheet">
</head>
<body class="bg-anthilla-gray-1">
    <div class="bg-anthilla-gray-1" style="z-index: -2; position: fixed; width: 100%; height: 100%; top: 0; left:0;"></div>
    <!--Static Content-->
    <div class="width100pc">
        @Partial['Partials/navbar.html'];
    </div>
    <div ng-controller="AuthenticationController">
        @Partial['Partials/toolbar.html'];
        <!--Page Content-->
        <div class="grid condensed" style="margin: 0; margin-top: 10px; padding-bottom: 125px;">
            <div class="row cells8">
                <div ui-view="content" style="padding-left: 15px; padding-right: 15px;"></div>
            </div>
        </div>
    </div>
</body>
</html>
