<!DOCTYPE html>
<html lang="{{ lang }}" ng-app="templateApp">
<head>
    <meta charset="utf-8" />
    <title>Antd</title>

    <link href="/Style/metro.css" rel="stylesheet">
    <link href="/Style/metro-icons.css" rel="stylesheet">
    <link href="/Style/template.css" rel="stylesheet">
    <link href="/Style/template-colors.css" rel="stylesheet">
    <link href="/Style/template.metro.css" rel="stylesheet">
    <link href="/Style/trumbowyg.min.css" rel="stylesheet">
    <link href="/Style/selectize.anthilla.css" rel="stylesheet">
</head>
<body class="bg-anthilla-gray-1">
    <!--Static Content-->
    <div>
        @Partial['Partials/navbar.html'];
    </div>
    <div class="padding-left20">
        @Partial['Partials/toolbar.html'];
    </div>
    <hr class="no-margin bg-anthilla-green" style="height: 5px;">
    <!--Page Content-->
    <div ui-view="dashboard" class="padding-left20 padding-right20 padding-bottom20"></div>
    <hr class="no-margin bg-anthilla-gray-3" style="height: 4px;">
    <hr class="no-margin" style="background-color: #6B6B6B; height: 2px;">
    <div ui-view="content" class="padding-left20 padding-right20 padding-top20"></div>
    <!--Scripts-->
    <script src="/Scripts/jquery-3.1.1.min.js"></script>
    <script src="/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="/Scripts/metro.min.js"></script>
    <script src="/Scripts/selectize.sa.min.js"></script>
    <script src="/Scripts/angular.min.js"></script>
    <script src="/Scripts/angular-mocks.js"></script>
    <script src="/Scripts/angular-route.min.js"></script>
    <script src="/Scripts/angular-animate.min.js"></script>
    <script src="/Scripts/angular-resource.min.js"></script>
    <script src="/Scripts/angular-selectize.js"></script>
    <script src="/Scripts/angular-ui-router.min.js"></script>
    <script src="/Scripts/angular-aria.min.js"></script>
    <script src="/Scripts/angular-messages.min.js"></script>
    <script src="/Scripts/angular-translate.min.js"></script>
    <script src="/Scripts/angular-material/angular-material.min.js"></script>
    <script src="/Scripts/angular-translate-loader-url.min.js"></script>
    <script src="/Scripts/template.js"></script>
    <script src="/Scripts/trumbowyg.min.js"></script>
    <script src="/Scripts/trumbowyg-ng.min.js"></script>
    <script src="/Scripts/controller-home.js"></script>
    <script src="/Scripts/controller-config.js"></script>
    <script src="/Scripts/controller-request_material_generic.js"></script>
    <script src="/Scripts/controller-text_file.js"></script>
</body>
</html>
