<!DOCTYPE html>
<html lang="{{ lang }}" ng-app="loginApp">
<head>
    <meta charset="utf-8" />
    <title>Antd&nbsp;-&nbsp;{{ 'WELCOME' | translate }}!</title>

    <link href="/Style/metro.css" rel="stylesheet">
    <link href="/Style/metro-icons.css" rel="stylesheet">
    <link href="/Style/template.css" rel="stylesheet">
    <link href="/Style/template-colors.css" rel="stylesheet">
    <link href="/Style/template.metro.css" rel="stylesheet">
    <link href="/Style/trumbowyg.min.css" rel="stylesheet">
    <link href="/Style/selectize.anthilla.css" rel="stylesheet">
</head>
<body class="bg-anthilla-gray-1 no-padding">
    <form action="/login" method="POST" enctype="multipart/form-data" class="width250 padding-top20" style="position: absolute; left: 50%; margin-left: -125px;">
        <img alt="antd" src="/Images/anthilla_logo_300x50_verde.png">
        <h3 class="text-light align-center fg-white uppercase padding-bottom20">Antd</h3>
        <h6 class="fg-anthilla-green uppercase font-weight-bold margin-bottom10">username</h6>
        <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
            <input type="hidden" value="@Model.ReturnUrl" name="Return" />
            <input type="text" name="Username" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
            <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
        </div>
        <br>
        <h6 class="fg-anthilla-green uppercase font-weight-bold margin-bottom10">password</h6>
        <div data-role="input" class="input-control password full-size bd-anthilla-green bg-anthilla-gray-2">
            <input type="password" name="Password" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
            <button class="button helper-button reveal bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-looks"></span></button>
        </div>
        <br>
        <br>
        <div class="form-actions">
            <button class="button bg-anthilla-green width100pc uppercase bd-anthilla-green" type="submit">Login</button>
        </div>
    </form>
    <p class="fg-grayLight" style="bottom: 0; right: 10px; position: absolute;">@Model.Copyright</p>

    <!--Scripts-->
    <script src="/Scripts/jquery-3.1.1.min.js"></script>
    <script src="/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="/Scripts/metro.min.js"></script>
    <script src="/Scripts/selectize.sa.min.js"></script>
    <script src="/Scripts/angular.min.js"></script>
    <script src="/Scripts/angular-mocks.js"></script>
    <script src="/Scripts/angular-route.min.js"></script>
    <script src="/Scripts/angular-animate.min.js"></script>
    <script src="/Scripts/angular-resource.min.js"></script>
    <script src="/Scripts/angular-selectize.js"></script>
    <script src="/Scripts/angular-ui-router.min.js"></script>
    <script src="/Scripts/angular-aria.min.js"></script>
    <script src="/Scripts/angular-messages.min.js"></script>
    <script src="/Scripts/angular-translate.min.js"></script>
    <script src="/Scripts/angular-translate-loader-url.min.js"></script>
    <script src="/Scripts/template.js"></script>
    <script src="/Scripts/trumbowyg.min.js"></script>
    <script src="/Scripts/trumbowyg-ng.min.js"></script>
    <script src="/Scripts/controller-login.js"></script>
</body>
</html>
