<h1 class="fg-white padding-bottom10 bd-anthilla-gray-2 capitalize" style="border-bottom: 1px solid;">disks usage</h1>

<div ng-controller="AntdDiskUsageController">
    <div class="grid fg-white">
        <div class="row cells9 bg-hover-anthilla-gray-2 fg-anthilla-green uppercase">
            <div class="cell">
                <p>Filesystem</p>
            </div>
            <div class="cell">
                <p>Type</p>
            </div>
            <div class="cell">
                <p>Size</p>
            </div>
            <div class="cell">
                <p>Used</p>
            </div>
            <div class="cell">
                <p>Avail</p>
            </div>
            <div class="cell">
                <p>Use Percentage</p>
            </div>
            <div class="cell colspan3">
                <p>Mounted On</p>
            </div>
        </div>
        <div ng-repeat="du in DiskUsage" class="row cells9 bg-hover-anthilla-gray-2">
            <div class="cell">
                <p>{{ du.Filesystem }}</p>
            </div>
            <div class="cell">
                <p>{{ du.Type }}</p>
            </div>
            <div class="cell">
                <p>{{ du.Size }}</p>
            </div>
            <div class="cell">
                <p>{{ du.Used }}</p>
            </div>
            <div class="cell">
                <p>{{ du.Avail }}</p>
            </div>
            <div class="cell">
                <p>{{ du.UsePercentage }}</p>
            </div>
            <div class="cell colspan3">
                <p>{{ du.MountedOn }}</p>
            </div>
        </div>
    </div>
</div>