<h1 class="fg-white padding-bottom10 bd-anthilla-gray-2 capitalize" style="border-bottom: 1px solid;">host parameters <small>(ex app config)</small></h1>

<div ng-controller="AntdHostParam">
    <div class="grid condensed demo-grid">
        <div class="row cells4">
            <div class="cell padding-left20">
                <h5 class="uppercase fg-anthilla-green">Antd&nbsp;{{ 'PORT' | translate }}</h5>
            </div>
            <div class="cell colspan2">
                <div class="input-control number width100pc fg-white">
                    <input type="number" ng-model="AntdPort" ng-change="Show('#Alert1')" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                </div>
            </div>
            <div class="cell padding-left20" style="display: none;" id="Alert1">
                <h5 class="fg-anthilla-orange">{{ 'APP_RESTART_REQUIRED' | translate }}</h5>
            </div>
        </div>
    </div>
    <div class="grid condensed demo-grid">
        <div class="row cells4">
            <div class="cell padding-left20">
                <h5 class="uppercase fg-anthilla-green">AntdUi&nbsp;{{ 'PORT' | translate }}</h5>
            </div>
            <div class="cell colspan2">
                <div class="input-control number width100pc fg-white">
                    <input type="number" ng-model="AntdUiPort" ng-change="Show('#Alert2')" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                </div>
            </div>
            <div class="cell padding-left20" style="display: none;" id="Alert2">
                <h5 class="fg-anthilla-orange">{{ 'APP_RESTART_REQUIRED' | translate }}</h5>
            </div>
        </div>
    </div>
    <div class="grid condensed demo-grid">
        <div class="row cells4">
            <div class="cell padding-left20">
                <h5 class="uppercase fg-anthilla-green">{{ 'DATABASE_PATH' | translate }}</h5>
            </div>
            <div class="cell colspan2">
                <div class="input-control text width100pc fg-white">
                    <input type="text" ng-model="DatabasePath" ng-change="Show('#Alert3')" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                </div>
            </div>
            <div class="cell padding-left20" style="display: none;" id="Alert3">
                <h5 class="fg-anthilla-orange">{{ 'APP_RESTART_REQUIRED' | translate }}</h5>
            </div>
        </div>
    </div>
    <div class="grid condensed demo-grid">
        <div class="row cells4">
            <div class="cell padding-left20">
            </div>
            <div class="cell colspan2">
                <button ng-click="Save()" class="button bg-anthilla-green bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-checkmark"></span>&nbsp;{{ 'CONFIRM' | translate }}</button>
            </div>
        </div>
    </div>
    <hr class="no-margin bg-anthilla-green" style="height: 5px; margin-top: 10px !important;">
</div>
