<h1 class="fg-white padding-bottom10 bd-anthilla-gray-2 capitalize" style="border-bottom: 1px solid;">memory status</h1>

<div ng-controller="AntdMemoryStatusController">
    <div class="grid fg-white">
        <div class="row cells7">
            <div class="cell uppercase fg-anthilla-green">
                <p>&nbsp;</p>
            </div>
            <div class="cell uppercase fg-anthilla-green">
                <p>Total</p>
            </div>
            <div class="cell uppercase fg-anthilla-green">
                <p>Used</p>
            </div>
            <div class="cell uppercase fg-anthilla-green">
                <p>Free</p>
            </div>
            <div class="cell uppercase fg-anthilla-green">
                <p>Shared</p>
            </div>
            <div class="cell uppercase fg-anthilla-green">
                <p>BuffCache</p>
            </div>
            <div class="cell uppercase fg-anthilla-green">
                <p>Available</p>
            </div>
        </div>
        <div ng-repeat="free in MemoryStatus.Free" class="row cells7 bg-hover-anthilla-gray-2">
            <div class="cell uppercase">
                <p> {{ free.Name }} </p>
            </div>
            <div class="cell uppercase">
                <p> {{ free.Total }} </p>
            </div>
            <div class="cell uppercase">
                <p> {{ free.Used }} </p>
            </div>
            <div class="cell uppercase">
                <p> {{ free.Free }} </p>
            </div>
            <div class="cell uppercase">
                <p> {{ free.Shared }} </p>
            </div>
            <div class="cell uppercase">
                <p> {{ free.BuffCache }} </p>
            </div>
            <div class="cell uppercase">
                <p> {{ free.Available }} </p>
            </div>
        </div>
    </div>
    <br />
    <div class="grid fg-white">
        <div ng-repeat="mem in MemoryStatus.Meminfo" class="row cells7 bg-hover-anthilla-gray-2">
            <div class="cell uppercase fg-anthilla-green">
                <p>{{ mem.Key }}:&nbsp;</p>
            </div>
            <div class="cell colspan6">
                <p>{{ mem.Value }}</p>
            </div>
        </div>
    </div>
</div>