<h1 class="fg-white padding-bottom10 bd-anthilla-gray-2 capitalize" style="border-bottom: 1px solid;">network</h1>

<div ng-controller="AntdNetwork2Controller">
    <button ng-click="restart()" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20 widt100pc"><span class="mif-loop fg-anthilla-green"></span>&nbsp;Restart</button>
    <br />
    <br />
    <br />
    <button ng-click="ResponseMessageHideSelf()" ng-hide="ResponseMessageHide" class="button fg-anthilla-blue bg-anthilla-gray-1 bd-anthilla-blue width100pc" style="border: 2px solid; margin-bottom: 10px;">{{ ResponseMessage }}</button>
    <!--Network Interface Configuration-->
    <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
        <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
            <span class="icon mif-file-text fg-anthilla-violet bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
            <span class="title">
                Network Interface Configuration Manager
            </span>
        </div>
        <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
            <!--new configuration-->
            <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
                <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
                    <span class="icon mif-plus fg-anthilla-blue bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
                    <span class="title">
                        Add Interface Configuration
                    </span>
                </div>
                <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
                    <div class="grid fg-white">
                        <div class="row cells6">
                            <div class="cell colspan2 uppercase fg-anthilla-green">
                                <p>Type</p>
                            </div>
                            <div class="cell colspan4">
                                <div class="input-control select width100pc">
                                    <select ng-model="NewInterfaceConfiguration.Type" class="bg-anthilla-gray-2 bd-anthilla-green fg-white">
                                        <option value="1">Internal</option>
                                        <option value="2">External</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row cells6">
                            <div class="cell colspan2 uppercase fg-anthilla-green">
                                <p>Description</p>
                            </div>
                            <div class="cell colspan4">
                                <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                                    <input type="text" ng-model="NewInterfaceConfiguration.Description" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                                    <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                                </div>
                            </div>
                        </div>
                        <div class="row cells6">
                            <div class="cell colspan2 uppercase fg-anthilla-green">
                                <p>Verb</p>
                            </div>
                            <div class="cell colspan4">
                                <div class="input-control select width100pc">
                                    <select ng-model="NewInterfaceConfiguration.Verb" class="bg-anthilla-gray-2 bd-anthilla-green fg-white">
                                        <option value="0">loif - Loopback Interface</option>
                                        <option value="1">iif - Internal Interface</option>
                                        <option value="2">eif - External Interface</option>
                                        <option value="3">lonet - Loopback Network</option>
                                        <option value="4">inet - Internal Network</option>
                                        <option value="5">enet - External Network</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row cells6">
                            <div class="cell colspan2 uppercase fg-anthilla-green">
                                <p>Mode</p>
                            </div>
                            <div class="cell colspan4">
                                <div class="input-control select width100pc">
                                    <select ng-model="NewInterfaceConfiguration.Mode" class="bg-anthilla-gray-2 bd-anthilla-green fg-white">
                                        <option value="1">Static</option>
                                        <option value="2">Dynamic</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row cells6">
                            <div class="cell colspan2 uppercase fg-anthilla-green">
                                <p>Status</p>
                            </div>
                            <div class="cell colspan4">
                                <div class="input-control select width100pc">
                                    <select ng-model="NewInterfaceConfiguration.Status" class="bg-anthilla-gray-2 bd-anthilla-green fg-white">
                                        <option value="1">Up</option>
                                        <option value="0">Down</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row cells6">
                            <div class="cell colspan2 uppercase fg-anthilla-green">
                                <p>Ip</p>
                            </div>
                            <div class="cell colspan4">
                                <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                                    <input type="text" ng-model="NewInterfaceConfiguration.Ip" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                                    <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                                </div>
                            </div>
                        </div>
                        <div class="row cells6">
                            <div class="cell colspan2 uppercase fg-anthilla-green">
                                <p>Adapter Type</p>
                            </div>
                            <div class="cell colspan4">
                                <div class="input-control select width100pc">
                                    <select ng-model="NewInterfaceConfiguration.Adapter" class="bg-anthilla-gray-2 bd-anthilla-green fg-white">
                                        <option value="1">Physical</option>
                                        <option value="4">Bridge</option>
                                        <option value="3">Bond</option>
                                        <option value="2">Virtual</option>
                                        <option value="99">Other</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row cells6">
                            <div class="cell colspan2 uppercase fg-anthilla-green">
                                <p>Interfaces</p>
                            </div>
                            <div class="cell colspan4">
                                <div class="input-control select multiple full-size width100pc" style="min-height: 100px;">
                                    <select multiple="" ng-change="updatePostIfs(NewInterfaceConfiguration)" ng-model="NewInterfaceConfiguration.Ifs" class="bg-anthilla-gray-2 bd-anthilla-green fg-white">
                                        <option ng-repeat="dev in AllIfs" value="{{ dev }}">{{ dev }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row cells6">
                            <div class="cell colspan2 uppercase fg-anthilla-green">
                                <p>Save</p>
                            </div>
                            <div class="cell colspan4">
                                <button ng-click="saveInterfaceConfiguration(NewInterfaceConfiguration)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20 widt100pc"><span class="mif-checkmark fg-green"></span>&nbsp;Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--configuration list-->
            <div ng-repeat="ic in InterfaceConfigurationList">
                <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
                    <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
                        <span class="icon mif-file-text fg-anthilla-blue bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
                        <span class="title">
                            {{ ic.Alias }}&nbsp;-&nbsp;{{ ic.Description }}
                        </span>
                    </div>
                    <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
                        <div class="grid fg-white">
                            <div class="row cells6">
                                <div class="cell colspan2 uppercase fg-anthilla-green">
                                    <p>Type</p>
                                </div>
                                <div class="cell colspan4">
                                    <div class="input-control select width100pc">
                                        <select ng-model="ic.Type" class="bg-anthilla-gray-2 bd-anthilla-green fg-white" convert-to-number>
                                            <option value="1">Internal</option>
                                            <option value="2">External</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row cells6">
                                <div class="cell colspan2 uppercase fg-anthilla-green">
                                    <p>Description</p>
                                </div>
                                <div class="cell colspan4">
                                    <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                                        <input type="text" ng-model="ic.Description" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                                        <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                                    </div>
                                </div>
                            </div>
                            <div class="row cells6">
                                <div class="cell colspan2 uppercase fg-anthilla-green">
                                    <p>Verb</p>
                                </div>
                                <div class="cell colspan4">
                                    <div class="input-control select width100pc">
                                        <select ng-model="ic.Verb" class="bg-anthilla-gray-2 bd-anthilla-green fg-white" convert-to-number>
                                            <option value="0">loif - Loopback Interface</option>
                                            <option value="1">iif - Internal Interface</option>
                                            <option value="2">eif - External Interface</option>
                                            <option value="3">lonet - Loopback Network</option>
                                            <option value="4">inet - Internal Network</option>
                                            <option value="5">enet - External Network</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row cells6">
                                <div class="cell colspan2 uppercase fg-anthilla-green">
                                    <p>Mode</p>
                                </div>
                                <div class="cell colspan4">
                                    <div class="input-control select width100pc">
                                        <select ng-model="ic.Mode" class="bg-anthilla-gray-2 bd-anthilla-green fg-white" convert-to-number>
                                            <option value="1">Static</option>
                                            <option value="2">Dynamic</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row cells6">
                                <div class="cell colspan2 uppercase fg-anthilla-green">
                                    <p>Status</p>
                                </div>
                                <div class="cell colspan4">
                                    <div class="input-control select width100pc">
                                        <select ng-model="ic.Status" class="bg-anthilla-gray-2 bd-anthilla-green fg-white" convert-to-number>
                                            <option value="1">Up</option>
                                            <option value="0">Down</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row cells6">
                                <div class="cell colspan2 uppercase fg-anthilla-green">
                                    <p>Ip</p>
                                </div>
                                <div class="cell colspan4">
                                    <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                                        <input type="text" ng-model="ic.Ip" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                                        <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                                    </div>
                                </div>
                            </div>
                            <div class="row cells6">
                                <div class="cell colspan2 uppercase fg-anthilla-green">
                                    <p>Adapter Type</p>
                                </div>
                                <div class="cell colspan4">
                                    <div class="input-control select width100pc">
                                        <select ng-model="ic.Adapter" class="bg-anthilla-gray-2 bd-anthilla-green fg-white" convert-to-number>
                                            <option value="1">Physical</option>
                                            <option value="4">Bridge</option>
                                            <option value="3">Bond</option>
                                            <option value="2">Virtual</option>
                                            <option value="99">Other</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row cells6">
                                <div class="cell colspan2 uppercase fg-anthilla-green">
                                    <p>Interfaces</p>
                                </div>
                                <div class="cell colspan4" ng-init="el.PostIfs=''">
                                    <div class="input-control select width100pc">
                                        <select ng-model="ic.Ifs" class="bg-anthilla-gray-2 bd-anthilla-green fg-white">
                                            <option ng-repeat="dev in AllIfs" value="{{ dev }}">{{ dev }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row cells6">
                                <div class="cell colspan2 uppercase fg-anthilla-green">
                                    <p>Save</p>
                                </div>
                                <div class="cell colspan4">
                                    <button ng-click="saveInterfaceConfiguration(ic)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20 widt100pc"><span class="mif-checkmark fg-green"></span>&nbsp;Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Gateway Configuration-->
    <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
        <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
            <span class="icon mif-file-text fg-anthilla-violet bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
            <span class="title">
                Gateway Configuration Manager
            </span>
        </div>
        <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
            <!--new configuration-->
            <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
                <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
                    <span class="icon mif-plus fg-anthilla-blue bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
                    <span class="title">
                        Add Gateway Configuration
                    </span>
                </div>
                <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
                    <div class="grid fg-white">
                        <div class="row cells6">
                            <div class="cell colspan2 uppercase fg-anthilla-green">
                                <p>Route</p>
                            </div>
                            <div class="cell colspan4">
                                <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                                    <input type="text" ng-model="NewGatewayConfiguration.Route" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                                    <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                                </div>
                            </div>
                        </div>
                        <div class="row cells6">
                            <div class="cell colspan2 uppercase fg-anthilla-green">
                                <p>Address</p>
                            </div>
                            <div class="cell colspan4">
                                <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                                    <input type="text" ng-model="NewGatewayConfiguration.GatewayAddress" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                                    <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                                </div>
                            </div>
                        </div>
                        <div class="row cells6">
                            <div class="cell colspan2 uppercase fg-anthilla-green">
                                <p>Save</p>
                            </div>
                            <div class="cell colspan4">
                                <button ng-click="saveGatewayConfiguration(NewGatewayConfiguration)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20 widt100pc"><span class="mif-checkmark fg-green"></span>&nbsp;Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--configuration list-->
            <div ng-repeat="gw in GatewayConfigurationList">
                <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
                    <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
                        <span class="icon mif-file-text fg-anthilla-blue bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
                        <span class="title">
                            {{ gw.Route }}&nbsp;-&nbsp;{{ gw.GatewayAddress }}
                        </span>
                    </div>
                    <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
                        <div class="grid fg-white">
                            <div class="row cells6">
                                <div class="cell colspan2 uppercase fg-anthilla-green">
                                    <p>Route</p>
                                </div>
                                <div class="cell colspan4">
                                    <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                                        <input type="text" ng-model="gw.Route" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                                        <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                                    </div>
                                </div>
                            </div>
                            <div class="row cells6">
                                <div class="cell colspan2 uppercase fg-anthilla-green">
                                    <p>Address</p>
                                </div>
                                <div class="cell colspan4">
                                    <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                                        <input type="text" ng-model="gw.GatewayAddress" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                                        <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                                    </div>
                                </div>
                            </div>
                            <div class="row cells6">
                                <div class="cell colspan2 uppercase fg-anthilla-green">
                                    <p>Save</p>
                                </div>
                                <div class="cell colspan4">
                                    <button ng-click="saveGatewayConfiguration(gw)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20 widt100pc"><span class="mif-checkmark fg-green"></span>&nbsp;Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Dns Configuration-->
    <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
        <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
            <span class="icon mif-file-text fg-anthilla-violet bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
            <span class="title">
                Dns Configuration Manager
            </span>
        </div>
        <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
            <!--new configuration-->
            <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
                <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
                    <span class="icon mif-plus fg-anthilla-blue bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
                    <span class="title">
                        Add Dns Configuration
                    </span>
                </div>
                <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
                    <div class="grid fg-white">
                        <div class="row cells6">
                            <div class="cell colspan2 uppercase fg-anthilla-green">
                                <p>Type</p>
                            </div>
                            <div class="cell colspan4">
                                <div class="input-control select width100pc">
                                    <select ng-model="NewDnsConfiguration.Type" class="bg-anthilla-gray-2 bd-anthilla-green fg-white">
                                        <option value="0">Public</option>
                                        <option value="1">Private</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row cells6">
                            <div class="cell colspan2 uppercase fg-anthilla-green">
                                <p>Mode</p>
                            </div>
                            <div class="cell colspan4">
                                <div class="input-control select width100pc">
                                    <select ng-model="NewDnsConfiguration.Mode" class="bg-anthilla-gray-2 bd-anthilla-green fg-white">
                                        <option value="1">Static</option>
                                        <option value="2">Dynamic</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row cells6">
                            <div class="cell colspan2 uppercase fg-anthilla-green">
                                <p>Destination</p>
                            </div>
                            <div class="cell colspan4">
                                <div class="input-control select width100pc">
                                    <select ng-model="NewDnsConfiguration.Destination" class="bg-anthilla-gray-2 bd-anthilla-green fg-white">
                                        <option value="0">Internal</option>
                                        <option value="1">External</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row cells6">
                            <div class="cell colspan2 uppercase fg-anthilla-green">
                                <p>Domain</p>
                            </div>
                            <div class="cell colspan4">
                                <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                                    <input type="text" ng-model="NewDnsConfiguration.Domain" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                                    <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                                </div>
                            </div>
                        </div>
                        <div class="row cells6">
                            <div class="cell colspan2 uppercase fg-anthilla-green">
                                <p>Ip</p>
                            </div>
                            <div class="cell colspan4">
                                <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                                    <input type="text" ng-model="NewDnsConfiguration.Ip" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                                    <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                                </div>
                            </div>
                        </div>
                        <div class="row cells6">
                            <div class="cell colspan2 uppercase fg-anthilla-green">
                                <p>Save</p>
                            </div>
                            <div class="cell colspan4">
                                <button ng-click="saveDnsConfiguration(NewDnsConfiguration)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20 widt100pc"><span class="mif-checkmark fg-green"></span>&nbsp;Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--configuration list-->
            <div ng-repeat="el in DnsConfigurationList">
                <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
                    <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
                        <span class="icon mif-file-text fg-anthilla-blue bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
                        <span class="title">
                            {{ el.Domain }}&nbsp;-&nbsp;{{ el.Ip }}
                        </span>
                    </div>
                    <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
                        <div class="grid fg-white">
                            <div class="row cells6">
                                <div class="cell colspan2 uppercase fg-anthilla-green">
                                    <p>Type</p>
                                </div>
                                <div class="cell colspan4">
                                    <div class="input-control select width100pc">
                                        <select ng-model="el.Type" class="bg-anthilla-gray-2 bd-anthilla-green fg-white" convert-to-number>
                                            <option value="0">Public</option>
                                            <option value="1">Private</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row cells6">
                                <div class="cell colspan2 uppercase fg-anthilla-green">
                                    <p>Mode</p>
                                </div>
                                <div class="cell colspan4">
                                    <div class="input-control select width100pc">
                                        <select ng-model="el.Mode" class="bg-anthilla-gray-2 bd-anthilla-green fg-white" convert-to-number>
                                            <option value="1">Static</option>
                                            <option value="2">Dynamic</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row cells6">
                                <div class="cell colspan2 uppercase fg-anthilla-green">
                                    <p>Destination</p>
                                </div>
                                <div class="cell colspan4">
                                    <div class="input-control select width100pc">
                                        <select ng-model="el.Destination" class="bg-anthilla-gray-2 bd-anthilla-green fg-white" convert-to-number>
                                            <option value="0">Internal</option>
                                            <option value="1">External</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row cells6">
                                <div class="cell colspan2 uppercase fg-anthilla-green">
                                    <p>Domain</p>
                                </div>
                                <div class="cell colspan4">
                                    <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                                        <input type="text" ng-model="el.Domain" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                                        <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                                    </div>
                                </div>
                            </div>
                            <div class="row cells6">
                                <div class="cell colspan2 uppercase fg-anthilla-green">
                                    <p>Ip</p>
                                </div>
                                <div class="cell colspan4">
                                    <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                                        <input type="text" ng-model="el.Ip" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                                        <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                                    </div>
                                </div>
                            </div>
                            <div class="row cells6">
                                <div class="cell colspan2 uppercase fg-anthilla-green">
                                    <p>Save</p>
                                </div>
                                <div class="cell colspan4">
                                    <button ng-click="saveDnsConfiguration(el)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20 widt100pc"><span class="mif-checkmark fg-green"></span>&nbsp;Save</button>
                                </div>
                            </div>
                            <div class="row cells6">
                                <div class="cell colspan2 uppercase fg-anthilla-green">
                                    <p>Activate</p>
                                </div>
                                <div class="cell colspan4">
                                    <button ng-click="activateDnsConfiguration(el)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20 widt100pc"><span class="mif-checkmark fg-green"></span>&nbsp;Activate</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Interface Manager-->
    <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
        <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
            <span class="icon mif-file-text fg-anthilla-violet bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
            <span class="title">
                Interface Manager
            </span>
        </div>
        <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
            <!--new configuration-->
            <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
                <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
                    <span class="icon mif-plus fg-anthilla-blue bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
                    <span class="title">
                        Configure Interface
                    </span>
                </div>
                <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
                    <div class="grid fg-white">
                        <div class="row cells6">
                            <div class="cell colspan2 uppercase fg-anthilla-green">
                                <p>Device</p>
                            </div>
                            <div class="cell colspan4">
                                <div class="input-control select width100pc">
                                    <select ng-model="NewInterface.Device" class="bg-anthilla-gray-2 bd-anthilla-green fg-white">
                                        <option ng-repeat="dev in AllIfs" value="{{ dev }}">{{ dev }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row cells6">
                            <div class="cell colspan2 uppercase fg-anthilla-green">
                                <p>Configuration</p>
                            </div>
                            <div class="cell colspan4">
                                <div class="input-control select width100pc">
                                    <select ng-model="NewInterface.Configuration" class="bg-anthilla-gray-2 bd-anthilla-green fg-white">
                                        <option ng-repeat="v in InterfaceConfigurationList" value="{{ v.Id }}">{{ v.Alias }}&nbsp;-&nbsp;{{ v.Description }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row cells6">
                            <div class="cell colspan2 uppercase fg-anthilla-green">
                                <p>Gateway</p>
                            </div>
                            <div class="cell colspan4">
                                <div class="input-control select width100pc">
                                    <select ng-model="NewInterface.GatewayConfiguration" class="bg-anthilla-gray-2 bd-anthilla-green fg-white">
                                        <option ng-repeat="v in GatewayConfigurationList" value="{{ v.Id }}">{{ v.Route }}&nbsp;-&nbsp;{{ v.GatewayAddress }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row cells6">
                            <div class="cell colspan2 uppercase fg-anthilla-green">
                                <p>Txqueuelen</p>
                            </div>
                            <div class="cell colspan4">
                                <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                                    <input type="text" ng-model="NewInterface.Txqueuelen" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                                    <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                                </div>
                            </div>
                        </div>
                        <div class="row cells6">
                            <div class="cell colspan2 uppercase fg-anthilla-green">
                                <p>Mtu</p>
                            </div>
                            <div class="cell colspan4">
                                <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                                    <input type="text" ng-model="NewInterface.Mtu" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                                    <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                                </div>
                            </div>
                        </div>
                        <div class="row cells6">
                            <div class="cell colspan2 uppercase fg-anthilla-green">
                                <p>Save</p>
                            </div>
                            <div class="cell colspan4">
                                <button ng-click="save(NewInterface)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20 widt100pc"><span class="mif-checkmark fg-green"></span>&nbsp;Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--configuration list-->
            <div ng-repeat="el in Configuration">
                <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
                    <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
                        <span class="icon mif-file-text fg-anthilla-blue bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
                        <span class="title">
                            {{ el.Device }}
                        </span>
                    </div>
                    <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
                        <div class="grid fg-white">
                            <div class="row cells6">
                                <div class="cell colspan2 uppercase fg-anthilla-green">
                                    <p>Device</p>
                                </div>
                                <div class="cell colspan4">
                                    <p>{{ el.Device }}</p>
                                </div>
                            </div>
                            <div class="row cells6">
                                <div class="cell colspan2 uppercase fg-anthilla-green">
                                    <p>Configuration</p>
                                </div>
                                <div class="cell colspan4">
                                    <div class="input-control select width100pc">
                                        <select ng-model="el.Configuration" class="bg-anthilla-gray-2 bd-anthilla-green fg-white">
                                            <option ng-repeat="v in InterfaceConfigurationList" value="{{ v.Id }}">{{ v.Alias }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row cells6">
                                <div class="cell colspan2 uppercase fg-anthilla-green">
                                    <p>Gateway</p>
                                </div>
                                <div class="cell colspan4">
                                    <div class="input-control select width100pc">
                                        <select ng-model="el.GatewayConfiguration" class="bg-anthilla-gray-2 bd-anthilla-green fg-white">
                                            <option ng-repeat="v in GatewayConfigurationList" value="{{ v.Id }}">{{ v.Route }}&nbsp;-&nbsp;{{ v.GatewayAddress }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row cells6">
                                <div class="cell colspan2 uppercase fg-anthilla-green">
                                    <p>Txqueuelen</p>
                                </div>
                                <div class="cell colspan4">
                                    <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                                        <input type="text" ng-model="el.Txqueuelen" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                                        <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                                    </div>
                                </div>
                            </div>
                            <div class="row cells6">
                                <div class="cell colspan2 uppercase fg-anthilla-green">
                                    <p>Mtu</p>
                                </div>
                                <div class="cell colspan4">
                                    <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                                        <input type="text" ng-model="el.Mtu" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                                        <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                                    </div>
                                </div>
                            </div>
                            <div class="row cells6">
                                <div class="cell colspan2 uppercase fg-anthilla-green">
                                    <p>Save</p>
                                </div>
                                <div class="cell colspan4">
                                    <button ng-click="save(el)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20 widt100pc"><span class="mif-checkmark fg-green"></span>&nbsp;Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Create Bridge-->
    <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
        <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
            <span class="icon mif-file-text fg-anthilla-violet bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
            <span class="title">
                Create Bridge
            </span>
        </div>
        <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
            <div class="grid fg-white">
                <div class="row cells6">
                    <div class="cell colspan2 uppercase fg-anthilla-green">
                        <p>Bridge Name</p>
                    </div>
                    <div class="cell colspan4">
                        <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                            <input type="text" ng-model="NewBridge.Name" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                            <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                        </div>
                    </div>
                </div>
                <div class="row cells6">
                    <div class="cell colspan2 uppercase fg-anthilla-green">
                        <p>&nbsp;</p>
                    </div>
                    <div class="cell colspan4">
                        <button ng-click="createBridge(NewBridge)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20 widt100pc"><span class="mif-checkmark fg-green"></span>&nbsp;Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Create Bond-->
    <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
        <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
            <span class="icon mif-file-text fg-anthilla-violet bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
            <span class="title">
                Create Bond
            </span>
        </div>
        <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
            <div class="grid fg-white">
                <div class="row cells6">
                    <div class="cell colspan2 uppercase fg-anthilla-green">
                        <p>Bond Name</p>
                    </div>
                    <div class="cell colspan4">
                        <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                            <input type="text" ng-model="NewBond.Name" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                            <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                        </div>
                    </div>
                </div>
                <div class="row cells6">
                    <div class="cell colspan2 uppercase fg-anthilla-green">
                        <p>&nbsp;</p>
                    </div>
                    <div class="cell colspan4">
                        <button ng-click="createBond(NewBond)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20 widt100pc"><span class="mif-checkmark fg-green"></span>&nbsp;Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>