<h1 class="fg-white padding-bottom10 bd-anthilla-gray-2 capitalize" style="border-bottom: 1px solid;">dns client</h1>

<div ng-controller="AntdNetwork2Controller">
    <button ng-click="restart($event)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20 width100pc"><span class="mif-loop fg-anthilla-green"></span>&nbsp;Restart</button>
    <br />
    <br />
    <br />
    <button ng-click="ResponseMessageHideSelf()" ng-hide="ResponseMessageHide" class="button fg-anthilla-blue bg-anthilla-gray-1 bd-anthilla-blue width100pc" style="border: 2px solid; margin-bottom: 10px;">{{ ResponseMessage }}</button>
    <br />

    <!--Dns Configuration-->
    <div class="panel margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
        <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
            <span class="icon mif-file-text fg-anthilla-violet bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
            <span class="title">
                Dns Configuration Manager
            </span>
        </div>
        <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
            <div class="panel margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
                <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
                    <span class="icon mif-plus fg-anthilla-blue bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
                    <span class="title">
                        Select Active Dns Configuration
                    </span>
                </div>
                <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
                    <div class="grid fg-white">
                        <div class="row cells6">
                            <div class="cell colspan2 uppercase fg-anthilla-green">
                            </div>
                            <div class="cell colspan4">
                                <div class="input-control select width100pc">
                                    <select ng-model="ActiveDnsConfiguration" class="bg-anthilla-gray-2 bd-anthilla-green fg-white">
                                        <option ng-repeat="v in DnsConfigurationList" value="{{ v.Id }}">{{ v.Domain }}&nbsp;-&nbsp;{{ v.Ip }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row cells6">
                            <div class="cell colspan2 uppercase fg-anthilla-green">
                                <p>Save</p>
                            </div>
                            <div class="cell colspan4">
                                <button ng-click="saveActiveDnsConfiguration($event)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20 width100pc"><span class="mif-checkmark fg-green"></span>&nbsp;Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--new configuration-->
            <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
                <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
                    <span class="icon mif-file-text fg-anthilla-blue bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
                    <span class="title">
                        Add Dns Configuration
                    </span>
                </div>
                <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
                    <div class="grid fg-white">
                        <div class="row cells6">
                            <div class="cell colspan2 uppercase fg-anthilla-green">
                                <p>Type</p>
                            </div>
                            <div class="cell colspan4">
                                <div class="input-control select width100pc">
                                    <select ng-model="NewDnsConfiguration.Type" class="bg-anthilla-gray-2 bd-anthilla-green fg-white">
                                        <option value="0">Public</option>
                                        <option value="1">Private</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row cells6">
                            <div class="cell colspan2 uppercase fg-anthilla-green">
                                <p>Domain</p>
                            </div>
                            <div class="cell colspan4">
                                <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                                    <input type="text" ng-model="NewDnsConfiguration.Domain" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                                    <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                                </div>
                            </div>
                        </div>
                        <div class="row cells6">
                            <div class="cell colspan2 uppercase fg-anthilla-green">
                                <p>Ip</p>
                            </div>
                            <div class="cell colspan4">
                                <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                                    <input type="text" ng-model="NewDnsConfiguration.Ip" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                                    <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                                </div>
                            </div>
                        </div>
                        <div class="row cells6">
                            <div class="cell colspan2 uppercase fg-anthilla-green">
                                <p>Save</p>
                            </div>
                            <div class="cell colspan4">
                                <button ng-click="saveDnsConfiguration($event, NewDnsConfiguration)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20 width100pc"><span class="mif-checkmark fg-green"></span>&nbsp;Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--configuration list-->
            <div ng-repeat="el in DnsConfigurationList">
                <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
                    <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
                        <span class="icon mif-file-text fg-anthilla-blue bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
                        <span class="title">
                            {{ el.Domain }}&nbsp;-&nbsp;{{ el.Ip }}
                        </span>
                    </div>
                    <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
                        <div class="grid fg-white">
                            <div class="row cells6">
                                <div class="cell colspan2 uppercase fg-anthilla-green">
                                    <p>Type</p>
                                </div>
                                <div class="cell colspan4">
                                    <div class="input-control select width100pc">
                                        <select ng-model="el.Type" class="bg-anthilla-gray-2 bd-anthilla-green fg-white" convert-to-number>
                                            <option value="0">Public</option>
                                            <option value="1">Private</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row cells6">
                                <div class="cell colspan2 uppercase fg-anthilla-green">
                                    <p>Mode</p>
                                </div>
                                <div class="cell colspan4">
                                    <div class="input-control select width100pc">
                                        <select ng-model="el.Mode" class="bg-anthilla-gray-2 bd-anthilla-green fg-white" convert-to-number>
                                            <option value="1">Static</option>
                                            <option value="2">Dynamic</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row cells6">
                                <div class="cell colspan2 uppercase fg-anthilla-green">
                                    <p>Destination</p>
                                </div>
                                <div class="cell colspan4">
                                    <div class="input-control select width100pc">
                                        <select ng-model="el.Destination" class="bg-anthilla-gray-2 bd-anthilla-green fg-white" convert-to-number>
                                            <option value="0">Internal</option>
                                            <option value="1">External</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row cells6">
                                <div class="cell colspan2 uppercase fg-anthilla-green">
                                    <p>Domain</p>
                                </div>
                                <div class="cell colspan4">
                                    <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                                        <input type="text" ng-model="el.Domain" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                                        <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                                    </div>
                                </div>
                            </div>
                            <div class="row cells6">
                                <div class="cell colspan2 uppercase fg-anthilla-green">
                                    <p>Ip</p>
                                </div>
                                <div class="cell colspan4">
                                    <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                                        <input type="text" ng-model="el.Ip" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                                        <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                                    </div>
                                </div>
                            </div>
                            <div class="row cells6">
                                <div class="cell colspan2 uppercase fg-anthilla-green">
                                    <p>Delete</p>
                                </div>
                                <div class="cell colspan4">
                                    <button ng-click="deleteDnsConfiguration($event, el)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20 width100pc"><span class="mif-cross fg-red"></span>&nbsp;Delete</button>
                                </div>
                            </div>
                            <div class="row cells6">
                                <div class="cell colspan2 uppercase fg-anthilla-green">
                                    <p>Save</p>
                                </div>
                                <div class="cell colspan4">
                                    <button ng-click="saveDnsConfiguration($event, el)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20 width100pc"><span class="mif-checkmark fg-green"></span>&nbsp;Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
