<h1 class="fg-white padding-bottom10 bd-anthilla-gray-2 capitalize" style="border-bottom: 1px solid;">network</h1>

<div ng-controller="AntdNetwork2Controller">
    <button ng-click="restart($event)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20 width100pc"><span class="mif-loop fg-anthilla-green"></span>&nbsp;Restart</button>
    <br />
    <br />
    <br />
    <button ng-click="ResponseMessageHideSelf()" ng-hide="ResponseMessageHide" class="button fg-anthilla-blue bg-anthilla-gray-1 bd-anthilla-blue width100pc" style="border: 2px solid; margin-bottom: 10px;">{{ ResponseMessage }}</button>
    <br />
    <!--Network Default Values-->
    <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
        <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
            <span class="icon mif-file-text fg-anthilla-violet bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
            <span class="title">
                Network Default Values
            </span>
        </div>
        <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
            <div class="grid fg-white">


                <div class="row cells6">
                    <div class="cell colspan2 uppercase fg-anthilla-green">
                        <p>Internal Primary Domain</p>
                    </div>
                    <div class="cell colspan4">
                        <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                            <input type="text" ng-model="Variables.InternalDomainPrimary" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                            <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                        </div>
                    </div>
                </div>
                <div class="row cells6">
                    <div class="cell colspan2 uppercase fg-anthilla-green">
                        <p>Internal Primary Ip</p>
                    </div>
                    <div class="cell colspan2">
                        <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                            <input type="text" ng-model="Variables.InternalHostIpPrimary" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                            <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                        </div>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control select width100pc">
                            <select name="singleSelect" ng-model="Variables.InternalNetPrimaryBits" class="bg-anthilla-gray-2 bd-anthilla-green fg-white">
                                <option value="">_</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                                <option value="32">32</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row cells6">
                    <div class="cell colspan2 uppercase fg-anthilla-green">
                        <p>External Primary Domain</p>
                    </div>
                    <div class="cell colspan4">
                        <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                            <input type="text" ng-model="Variables.ExternalDomainPrimary" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                            <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                        </div>
                    </div>
                </div>
                <div class="row cells6">
                    <div class="cell colspan2 uppercase fg-anthilla-green">
                        <p>External Primary Ip / Range</p>
                    </div>
                    <div class="cell colspan2">
                        <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                            <input type="text" ng-model="Variables.ExternalHostIpPrimary" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                            <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                        </div>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control select width100pc">
                            <select ng-model="Variables.ExternalNetPrimaryBits" class="bg-anthilla-gray-2 bd-anthilla-green fg-white">
                                <option value="">_</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                                <option value="32">32</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row cells6">
                    <div class="cell colspan2 uppercase fg-anthilla-green">
                        <p>Save</p>
                    </div>
                    <div class="cell colspan4">
                        <button ng-click="saveDefaultValues($event)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20 width100pc"><span class="mif-checkmark fg-green"></span>&nbsp;Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Ip Configuration-->
    <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
        <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
            <span class="icon mif-file-text fg-anthilla-violet bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
            <span class="title">
                Ip Configuration Manager
            </span>
        </div>
        <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
            <!--new configuration-->
            <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
                <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
                    <span class="icon mif-plus fg-anthilla-blue bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
                    <span class="title">
                        Add Ip Configuration
                    </span>
                </div>
                <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
                    <div class="grid fg-white">
                        <div class="row cells6">
                            <div class="cell colspan2 uppercase fg-anthilla-green">
                                <p>Type</p>
                            </div>
                            <div class="cell colspan4">
                                <div class="input-control select width100pc">
                                    <select ng-model="NewInterfaceConfiguration.Type" class="bg-anthilla-gray-2 bd-anthilla-green fg-white">
                                        <option value="1">Internal</option>
                                        <option value="2">External</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row cells6">
                            <div class="cell colspan2 uppercase fg-anthilla-green">
                                <p>Description</p>
                            </div>
                            <div class="cell colspan4">
                                <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                                    <input type="text" ng-model="NewInterfaceConfiguration.Description" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                                    <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                                </div>
                            </div>
                        </div>
                        <div class="row cells6">
                            <div class="cell colspan2 uppercase fg-anthilla-green">
                                <p>Mode</p>
                            </div>
                            <div class="cell colspan4">
                                <div class="input-control select width100pc">
                                    <select ng-model="NewInterfaceConfiguration.Mode" ng-change="IpModeOnChange(NewInterfaceConfiguration.Mode)" class="bg-anthilla-gray-2 bd-anthilla-green fg-white">
                                        <option value="1">Static</option>
                                        <option value="2">Dynamic</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row cells6" ng-hide="HideIfDynamic">
                            <div class="cell colspan2 uppercase fg-anthilla-green">
                                <p>Ip / Range</p>
                            </div>
                            <div class="cell colspan2">
                                <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2 ">
                                    <input type="text" ng-model="NewInterfaceConfiguration.Ip" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                                    <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                                </div>
                            </div>
                            <div class="cell colspan2">
                                <div class="input-control select width100pc">
                                    <select ng-model="NewInterfaceConfiguration.Range" class="bg-anthilla-gray-2 bd-anthilla-green fg-white">
                                        <option value="">_</option>
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                        <option value="24">24</option>
                                        <option value="25">25</option>
                                        <option value="26">26</option>
                                        <option value="27">27</option>
                                        <option value="28">28</option>
                                        <option value="29">29</option>
                                        <option value="30">30</option>
                                        <option value="31">31</option>
                                        <option value="32">32</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row cells6">
                            <div class="cell colspan2 uppercase fg-anthilla-green">
                                <p>Save</p>
                            </div>
                            <div class="cell colspan4">
                                <button ng-click="saveInterfaceConfiguration($event, NewInterfaceConfiguration)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20 width100pc"><span class="mif-checkmark fg-green"></span>&nbsp;Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--configuration list-->
            <div ng-repeat="ic in InterfaceConfigurationList">
                <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
                    <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
                        <span class="icon mif-file-text fg-anthilla-blue bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
                        <span class="title">
                            {{ ic.Alias }}&nbsp;-&nbsp;{{ ic.Description }}&nbsp;-&nbsp;{{ic.Ip}}/{{ic.Range}}
                        </span>
                    </div>
                    <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
                        <div class="grid fg-white">
                            <div class="row cells6">
                                <div class="cell colspan2 uppercase fg-anthilla-green">
                                    <p>Type</p>
                                </div>
                                <div class="cell colspan4">
                                    <div class="input-control select width100pc">
                                        <select ng-model="ic.Type" class="bg-anthilla-gray-2 bd-anthilla-green fg-white" convert-to-number>
                                            <option value="1">Internal</option>
                                            <option value="2">External</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row cells6">
                                <div class="cell colspan2 uppercase fg-anthilla-green">
                                    <p>Description</p>
                                </div>
                                <div class="cell colspan4">
                                    <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                                        <input type="text" ng-model="ic.Description" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                                        <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                                    </div>
                                </div>
                            </div>
                            <div class="row cells6">
                                <div class="cell colspan2 uppercase fg-anthilla-green">
                                    <p>Mode</p>
                                </div>
                                <div class="cell colspan4">
                                    <div class="input-control select width100pc">
                                        <select ng-model="ic.Mode" class="bg-anthilla-gray-2 bd-anthilla-green fg-white" convert-to-number>
                                            <option value="1">Static</option>
                                            <option value="2">Dynamic</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row cells6">
                                <div class="cell colspan2 uppercase fg-anthilla-green">
                                    <p>Status</p>
                                </div>
                                <div class="cell colspan4">
                                    <div class="input-control select width100pc">
                                        <select ng-model="ic.Status" class="bg-anthilla-gray-2 bd-anthilla-green fg-white" convert-to-number>
                                            <option value="1">Up</option>
                                            <option value="0">Down</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row cells6">
                                <div class="cell colspan2 uppercase fg-anthilla-green">
                                    <p>Ip / Range</p>
                                </div>
                                <div class="cell colspan2">
                                    <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                                        <input type="text" ng-model="ic.Ip" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                                        <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                                    </div>
                                </div>
                                <div class="cell colspan2">
                                    <div class="input-control select width100pc">
                                        <select ng-model="ic.Range" class="bg-anthilla-gray-2 bd-anthilla-green fg-white" convert-to-number>
                                            <option value="">_</option>
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                            <option value="24">24</option>
                                            <option value="25">25</option>
                                            <option value="26">26</option>
                                            <option value="27">27</option>
                                            <option value="28">28</option>
                                            <option value="29">29</option>
                                            <option value="30">30</option>
                                            <option value="31">31</option>
                                            <option value="32">32</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row cells6">
                                <div class="cell colspan2 uppercase fg-anthilla-green">
                                    <p>Delete</p>
                                </div>
                                <div class="cell colspan4">
                                    <button ng-click="deleteInterfaceConfiguration($event, ic)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20 width100pc"><span class="mif-cross fg-red"></span>&nbsp;Delete</button>
                                </div>
                            </div>
                            <div class="row cells6">
                                <div class="cell colspan2 uppercase fg-anthilla-green">
                                    <p>Save</p>
                                </div>
                                <div class="cell colspan4">
                                    <button ng-click="saveInterfaceConfiguration($event, ic)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20 width100pc"><span class="mif-checkmark fg-green"></span>&nbsp;Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Gateway Configuration-->
    <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
        <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
            <span class="icon mif-file-text fg-anthilla-violet bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
            <span class="title">
                Gateway Configuration Manager
            </span>
        </div>
        <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
            <!--new configuration-->
            <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
                <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
                    <span class="icon mif-plus fg-anthilla-blue bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
                    <span class="title">
                        Add Gateway Configuration
                    </span>
                </div>
                <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
                    <div class="grid fg-white">
                        <div class="row cells6">
                            <div class="cell colspan2 uppercase fg-anthilla-green">
                                <p>Gateway</p>
                            </div>
                            <div class="cell colspan3">
                                <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                                    <input type="text" ng-model="NewGatewayConfiguration.GatewayAddress" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                                    <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                                </div>
                            </div>
                            <div class="cell uppercase fg-anthilla-green">
                                <label class="input-control checkbox">
                                    <input type="checkbox" ng-model="NewGatewayConfiguration.IsDefault">
                                    <span class="check"></span>
                                    <span class="caption">default</span>
                                </label>
                            </div>
                        </div>
                        <div class="row cells6">
                            <div class="cell colspan2 uppercase fg-anthilla-green">
                                <p>Save</p>
                            </div>
                            <div class="cell colspan4">
                                <button ng-click="saveGatewayConfiguration($event, NewGatewayConfiguration)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20 width100pc"><span class="mif-checkmark fg-green"></span>&nbsp;Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--configuration list-->
            <div ng-repeat="gw in GatewayConfigurationList">
                <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
                    <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
                        <span class="icon mif-file-text fg-anthilla-blue bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
                        <span class="title">
                            {{ gw.GatewayAddress }}&nbsp;{{ IsGwDefaultStr(gw.IsDefault) }}
                        </span>
                    </div>
                    <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
                        <div class="grid fg-white">
                            <div class="row cells6">
                                <div class="cell colspan2 uppercase fg-anthilla-green">
                                    <p>Gateway</p>
                                </div>
                                <div class="cell colspan3">
                                    <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                                        <input type="text" ng-model="gw.GatewayAddress" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                                        <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                                    </div>
                                </div>
                                <div class="cell uppercase fg-anthilla-green">
                                    <label class="input-control checkbox">
                                        <input type="checkbox" ng-model="gw.IsDefault">
                                        <span class="check"></span>
                                        <span class="caption">default</span>
                                    </label>
                                </div>
                            </div>
                            <div class="row cells6">
                                <div class="cell colspan2 uppercase fg-anthilla-green">
                                    <p>Delete</p>
                                </div>
                                <div class="cell colspan4">
                                    <button ng-click="deleteGatewayConfiguration($event, gw)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20 width100pc"><span class="mif-cross fg-red"></span>&nbsp;Delete</button>
                                </div>
                            </div>
                            <div class="row cells6">
                                <div class="cell colspan2 uppercase fg-anthilla-green">
                                    <p>Save</p>
                                </div>
                                <div class="cell colspan4">
                                    <button ng-click="saveGatewayConfiguration($event, gw)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20 width100pc"><span class="mif-checkmark fg-green"></span>&nbsp;Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Network Interface Manager-->
    <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
        <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
            <span class="icon mif-file-text fg-anthilla-violet bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
            <span class="title">
                Network Interface Manager
            </span>
        </div>
        <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
            <!--new configuration-->
            <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
                <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
                    <span class="icon mif-plus fg-anthilla-blue bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
                    <span class="title">
                        Configure Network Interface
                    </span>
                </div>
                <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
                    <div class="grid fg-white">
                        <div class="row cells6">
                            <div class="cell colspan2 uppercase fg-anthilla-green">
                                <p>Device</p>
                            </div>
                            <div class="cell colspan4">
                                <div class="input-control select width100pc">
                                    <select ng-model="NewInterface.Device" class="bg-anthilla-gray-2 bd-anthilla-green fg-white">
                                        <option ng-repeat="dev in AllIfs" value="{{ dev }}">{{ dev }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row cells6">
                            <div class="cell colspan2 uppercase fg-anthilla-green">
                                <p>Ip Configuration</p>
                            </div>
                            <div class="cell colspan4">
                                <div class="input-control select width100pc">
                                    <select ng-model="NewInterface.Configuration" class="bg-anthilla-gray-2 bd-anthilla-green fg-white">
                                        <option ng-repeat="v in InterfaceConfigurationList" value="{{ v.Id }}">{{ v.Ip }}/{{ v.Range }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!--<div class="row cells6">
                            <div class="cell colspan2 uppercase fg-anthilla-green">
                                <p>Secondary Ip Configuration(s)</p>
                            </div>
                            <div class="cell colspan4">
                                <button ng-click="AddIpConfiguration($event, NewInterface)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20 width100pc"><span class="mif-plus fg-anthilla-blue"></span>&nbsp;Add</button>
                            </div>
                        </div>
                        <div class="row cells6" ng-repeat="sec in NewInterface.AdditionalConfigurations">
                            <div class="cell colspan2 uppercase fg-anthilla-green">
                                Secondary ip #{{ $index + 1 }}
                            </div>
                            <div class="cell colspan3">
                                <div class="input-control select width100pc">
                                    <select ng-model="sec" ng-change="AddThisIpConfigurationToList($index, el, sec)" class="bg-anthilla-gray-2 bd-anthilla-green fg-white">
                                        <option ng-repeat="v in InterfaceConfigurationList" value="{{ v.Id }}">{{ v.Ip }}/{{ v.Range }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="cell">
                                <button ng-click="DelIpConfiguration($event, sec, NewInterface.AdditionalConfigurations)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20 width100pc"><span class="mif-cross fg-anthilla-orange"></span>&nbsp;Remove</button>
                            </div>
                        </div>-->


                        <div class="row cells6">
                            <div class="cell colspan2 uppercase fg-anthilla-green">
                                <p>Gateway</p>
                            </div>
                            <div class="cell colspan4">
                                <div class="input-control select width100pc">
                                    <select ng-model="NewInterface.GatewayConfiguration" class="bg-anthilla-gray-2 bd-anthilla-green fg-white">
                                        <option ng-repeat="v in GatewayConfigurationList" value="{{ v.Id }}">{{ v.GatewayAddress }}{{ IsGwDefaultStr(v.IsDefault) }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row cells6">
                            <div class="cell colspan2 uppercase fg-anthilla-green">
                                <p>Hardware Settings</p>
                            </div>
                            <div class="cell colspan4">
                                <div class="input-control select width100pc">
                                    <select ng-model="NewInterface.HardwareConfiguration" class="bg-anthilla-gray-2 bd-anthilla-green fg-white">
                                        <option ng-repeat="v in NetworkHardwareConfigurationList" value="{{ v.Id }}">Mtu:&nbsp;{{ v.Mtu }}&nbsp;-&nbsp;Txqueuelen:&nbsp;{{ v.Txqueuelen }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row cells6">
                            <div class="cell colspan2 uppercase fg-anthilla-green">
                                <p>Status</p>
                            </div>
                            <div class="cell colspan4">
                                <div class="input-control select width100pc">
                                    <select ng-model="NewInterface.Status" class="bg-anthilla-gray-2 bd-anthilla-green fg-white">
                                        <option value="1">Up</option>
                                        <option value="0">Down</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row cells6">
                            <div class="cell colspan2 uppercase fg-anthilla-green">
                                <p>Save</p>
                            </div>
                            <div class="cell colspan4">
                                <button ng-click="addAndSave($event, NewInterface)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20 width100pc"><span class="mif-checkmark fg-green"></span>&nbsp;Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--configuration list-->
            <div ng-repeat="el in Configuration">
                <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
                    <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
                        <span class="icon mif-file-text fg-anthilla-blue bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
                        <span class="title">
                            {{ el.Device }}
                        </span>
                    </div>
                    <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
                        <div class="grid fg-white">
                            <div class="row cells6">
                                <div class="cell colspan2 uppercase fg-anthilla-green">
                                    <p>Device</p>
                                </div>
                                <div class="cell colspan4">
                                    <p>{{ el.Device }}</p>
                                </div>
                            </div>
                            <div class="row cells6">
                                <div class="cell colspan2 uppercase fg-anthilla-green">
                                    <p>Ip Configuration</p>
                                </div>
                                <div class="cell colspan4">
                                    <div class="input-control select width100pc">
                                        <select ng-model="el.Configuration" class="bg-anthilla-gray-2 bd-anthilla-green fg-white">
                                            <option ng-repeat="v in InterfaceConfigurationList" value="{{ v.Id }}">{{ v.Ip }}/{{ v.Range }} &nbsp;{{ v.Description }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row cells6">
                                <div class="cell colspan2 uppercase fg-anthilla-green">
                                    <p>Gateway</p>
                                </div>
                                <div class="cell colspan4">
                                    <div class="input-control select width100pc">
                                        <select ng-model="el.GatewayConfiguration" class="bg-anthilla-gray-2 bd-anthilla-green fg-white">
                                            <option ng-repeat="v in GatewayConfigurationList" value="{{ v.Id }}">{{ v.GatewayAddress }}{{ IsGwDefaultStr(v.IsDefault) }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row cells6">
                                <div class="cell colspan2 uppercase fg-anthilla-green">
                                    <p>Hardware Settings</p>
                                </div>
                                <div class="cell colspan4">
                                    <div class="input-control select width100pc">
                                        <select ng-model="el.HardwareConfiguration" class="bg-anthilla-gray-2 bd-anthilla-green fg-white">
                                            <option ng-repeat="v in NetworkHardwareConfigurationList" value="{{ v.Id }}">Mtu:&nbsp;{{ v.Mtu }}&nbsp;-&nbsp;Txqueuelen:&nbsp;{{ v.Txqueuelen }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row cells6">
                                <div class="cell colspan2 uppercase fg-anthilla-green">
                                    <p>Status</p>
                                </div>
                                <div class="cell colspan4">
                                    <div class="input-control select width100pc">
                                        <select ng-model="el.Status" class="bg-anthilla-gray-2 bd-anthilla-green fg-white" convert-to-number>
                                            <option value="1">Up</option>
                                            <option value="0">Down</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row cells6">
                                <div class="cell colspan2 uppercase fg-anthilla-green">
                                    <p>Delete</p>
                                </div>
                                <div class="cell colspan4">
                                    <button ng-click="delete($index)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20 width100pc"><span class="mif-cross fg-red"></span>&nbsp;Delete</button>
                                </div>
                            </div>
                            <div class="row cells6">
                                <div class="cell colspan2 uppercase fg-anthilla-green">
                                    <p>Save</p>
                                </div>
                                <div class="cell colspan4">
                                    <button ng-click="save($event)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20 width100pc"><span class="mif-checkmark fg-green"></span>&nbsp;Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
