<h1 class="fg-white padding-bottom10 bd-anthilla-gray-2 capitalize" style="border-bottom: 1px solid;">samba</h1>

<div ng-controller="AntdSambaController">
    <div ng-switch="isActive">
        <div ng-switch-when="false">
            <button ng-click="enable()" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-plus fg-anthilla-green"></span>&nbsp;Enable</button>
        </div>
        <div ng-switch-when="true">
            <button ng-click="set()" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-checkmark fg-anthilla-green"></span>&nbsp;Apply Settings</button>
            <button ng-click="start()" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-play fg-anthilla-green"></span>&nbsp;Start</button>
            <button ng-click="restart()" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-loop fg-anthilla-green"></span>&nbsp;Restart</button>
            <button ng-click="stop()" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-stop fg-anthilla-orange"></span>&nbsp;Stop</button>
            <button ng-click="disable()" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-eject fg-anthilla-orange"></span>&nbsp;Disable</button>
        </div>
        <div ng-switch-default> </div>
    </div>
    <br />
    <div class="panel margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
        <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
            <span class="icon mif-file-text fg-anthilla-violet bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
            <span class="title">
                Options
            </span>
        </div>
        <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
            <div class="grid condensed">
                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">DosCharset</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Samba.DosCharset" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">Workgroup</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Samba.Workgroup" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">ServerString</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Samba.ServerString" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">MapToGuest</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Samba.MapToGuest" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">ObeyPamRestrictions</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Samba.ObeyPamRestrictions" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">GuestAccount</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Samba.GuestAccount" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">PamPasswordChange</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Samba.PamPasswordChange" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">PasswdProgram</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Samba.PasswdProgram" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">UnixPasswordSync</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Samba.UnixPasswordSync" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">ResetOnZeroVc</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Samba.ResetOnZeroVc" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">HostnameLookups</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Samba.HostnameLookups" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">LoadPrinters</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Samba.LoadPrinters" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">PrintcapName</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Samba.PrintcapName" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">DisableSpoolss</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Samba.DisableSpoolss" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">TemplateShell</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Samba.TemplateShell" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">WinbindEnumUsers</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Samba.WinbindEnumUsers" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">WinbindEnumGroups</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Samba.WinbindEnumGroups" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">WinbindUseDefaultDomain</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Samba.WinbindUseDefaultDomain" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">WinbindNssInfo</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Samba.WinbindNssInfo" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">WinbindRefreshTickets</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Samba.WinbindRefreshTickets" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">WinbindNormalizeNames</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Samba.WinbindNormalizeNames" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">RecycleTouch</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Samba.RecycleTouch" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">RecycleKeeptree</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Samba.RecycleKeeptree" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">RecycleRepository</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Samba.RecycleRepository" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">Nfs4Chown</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Samba.Nfs4Chown" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">Nfs4Acedup</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Samba.Nfs4Acedup" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">Nfs4Mode</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Samba.Nfs4Mode" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">ShadowFormat</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Samba.ShadowFormat" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">ShadowLocaltime</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Samba.ShadowLocaltime" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">ShadowSort</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Samba.ShadowSort" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">ShadowSnapdir</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Samba.ShadowSnapdir" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">RpcServerDefault</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Samba.RpcServerDefault" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">RpcServerSvcctl</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Samba.RpcServerSvcctl" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">RpcServerSrvsvc</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Samba.RpcServerSrvsvc" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">RpcServerEventlog</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Samba.RpcServerEventlog" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">RpcServerNtsvcs</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Samba.RpcServerNtsvcs" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">RpcServerWinreg</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Samba.RpcServerWinreg" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">RpcServerSpoolss</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Samba.RpcServerSpoolss" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">RpcDaemonSpoolssd</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Samba.RpcDaemonSpoolssd" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">RpcServerTcpip</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Samba.RpcServerTcpip" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">IdmapConfigBackend</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Samba.IdmapConfigBackend" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">ReadOnly</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Samba.ReadOnly" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">GuestOk</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Samba.GuestOk" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">AioReadSize</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Samba.AioReadSize" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">AioWriteSize</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Samba.AioWriteSize" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">EaSupport</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Samba.EaSupport" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">DirectoryNameCacheSize</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Samba.DirectoryNameCacheSize" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">CaseSensitive</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Samba.CaseSensitive" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">MapReadonly</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Samba.MapReadonly" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">StoreDosAttributes</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Samba.StoreDosAttributes" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">WideLinks</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Samba.WideLinks" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">DosFiletimeResolution</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Samba.DosFiletimeResolution" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">VfsObjects</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Samba.VfsObjects" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                    </div>
                    <div class="cell colspan2">
                        <button ng-click="saveOptions(Samba)" class="button bg-anthilla-green bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-checkmark"></span>&nbsp;{{ 'SAVE' | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
        <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
            <span class="icon mif-file-text fg-anthilla-violet bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
            <span class="title">
                Resources
            </span>
        </div>
        <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
            <button ng-click="toggle('#SambaResourcePanel')" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-plus fg-anthilla-green"></span>&nbsp;New</button>
            <div class="grid condensed" id="SambaResourcePanel">
                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">Name</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="resource.Name" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">Path</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="resource.Path" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">Comment</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="resource.Comment" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                    </div>
                    <div class="cell colspan2">
                        <button ng-click="addResource(resource)" class="button bg-anthilla-green bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-checkmark"></span>&nbsp;{{ 'SAVE' | translate }}</button>
                    </div>
                </div>
            </div>
            <br />
            <div ng-repeat="resource in SambaResources">
                <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
                    <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
                        <span class="icon mif-file-text fg-anthilla-violet bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
                        <span class="title">
                            {{resource.Name}}
                        </span>
                    </div>
                    <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
                        <button ng-click="deleteResource(resource.Guid)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-bin fg-anthilla-orange"></span>&nbsp;Enable</button>
                        <br />
                        <ul class="fg-white" style="list-style: none;">
                            <li>
                                <p>
                                    Path:&nbsp;{{resource.Path}}
                                </p>
                            </li>
                            <li>
                                <p>
                                    Comment:&nbsp;{{resource.Comment}}
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>