<h1 class="fg-white padding-bottom10 bd-anthilla-gray-2 capitalize" style="border-bottom: 1px solid;">storage</h1>

<div ng-controller="AntdStorageController">
    <div ng-repeat="disk in Disks">
        <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
            <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
                <span class="icon mif-file-text fg-anthilla-violet bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
                <span class="title">
                    {{disk.Name}}&nbsp;-&nbsp;
                    {{disk.Size}}&nbsp;-&nbsp;
                    {{disk.Ro}}&nbsp;-&nbsp;
                    {{disk.Type}}&nbsp;-&nbsp;
                    {{disk.Mountpoint}}
                </span>
            </div>
            <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
                <ul style="list-style: none;" class="fg-white">
                    <li><p class="fg-anthilla-green">Partitions</p></li>
                    <li ng-repeat="part in disk.Partitions">
                        <p>
                            {{part.Name}}&nbsp;-&nbsp;
                            {{part.Size}}&nbsp;-&nbsp;
                            {{part.Ro}}&nbsp;-&nbsp;
                            {{part.Type}}&nbsp;-&nbsp;
                            {{part.Mountpoint}}
                        </p>
                    </li>
                </ul>
                <br />
                <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
                    <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
                        <span class="icon mif-file-text fg-anthilla-violet bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
                        <span class="title">
                            Create Pool
                        </span>
                    </div>
                    <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
                        <div class="grid fg-white">
                            <div class="row cells4 bg-hover-anthilla-gray-2">
                                <div class="cell  uppercase fg-anthilla-green">
                                    <p>Altroot</p>
                                </div>
                                <div class="cell colspan3">
                                    <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                                        <input type="text" ng-model="disk.Altroot" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                                        <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                                    </div>
                                </div>
                            </div>
                            <div class="row cells4 bg-hover-anthilla-gray-2">
                                <div class="cell uppercase fg-anthilla-green">
                                    <p>Pool Name</p>
                                </div>
                                <div class="cell colspan3">
                                    <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                                        <input type="text" ng-model="disk.PoolName" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                                        <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                                    </div>
                                </div>
                            </div>
                            <div class="row cells4 bg-hover-anthilla-gray-2">
                                <div class="cell  uppercase fg-anthilla-green">
                                    <p>Pool Type</p>
                                </div>
                                <div class="cell colspan3">
                                    <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                                        <input type="text" ng-model="disk.PoolType" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                                        <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <button ng-click="createPool(disk)" class="button bg-anthilla-green bd-anthilla-gray-3 padding-left20 padding-right20 place-right">Update</button>
                    </div>
                </div>
                <br />
                <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
                    <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
                        <span class="icon mif-file-text fg-anthilla-violet bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
                        <span class="title">
                            Create Partition Table
                        </span>
                    </div>
                    <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
                        <div class="grid fg-white">
                            <div class="row cells4 bg-hover-anthilla-gray-2">
                                <div class="cell  uppercase fg-anthilla-green">
                                    <p>Altroot</p>
                                </div>
                                <div class="cell colspan3">
                                    <div class="input-control select width50pc">
                                        <select name="singleSelect" ng-model="disk.PartitionTable" class="bg-anthilla-gray-2 bd-anthilla-gray-3 fg-white">
                                            <option disabled="disabled" selected="selected">Select a partition type</option>
                                            <option value="bsd">bsd</option>
                                            <option value="loop">loop</option>
                                            <option value="gpt">gpt</option>
                                            <option value="mac">mac</option>
                                            <option value="msdos">msdos</option>
                                            <option value="pc98">pc98</option>
                                            <option value="sun">sun</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <button ng-click="mklabel(disk)" class="button bg-anthilla-green bd-anthilla-gray-3 padding-left20 padding-right20 place-right">Update</button>
                    </div>
                </div>
                <br />
                <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
                    <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
                        <span class="icon mif-file-text fg-anthilla-violet bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
                        <span class="title">
                            Create Disk Partition
                        </span>
                    </div>
                    <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
                        <div class="grid fg-white">
                            <div class="row cells4 bg-hover-anthilla-gray-2">
                                <div class="cell uppercase fg-anthilla-green">
                                    <p>Partition Number</p>
                                </div>
                                <div class="cell colspan3">
                                    <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                                        <input type="text" ng-model="disk.PartitionNumber" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                                        <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                                    </div>
                                </div>
                            </div>
                            <div class="row cells4 bg-hover-anthilla-gray-2">
                                <div class="cell uppercase fg-anthilla-green">
                                    <p>Partition First Sector</p>
                                </div>
                                <div class="cell colspan3">
                                    <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                                        <input type="text" ng-model="disk.PartitionFirstSector" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                                        <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                                    </div>
                                </div>
                            </div>
                            <div class="row cells4 bg-hover-anthilla-gray-2">
                                <div class="cell uppercase fg-anthilla-green">
                                    <p>Partition Size</p>
                                </div>
                                <div class="cell colspan3">
                                    <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                                        <input type="text" ng-model="disk.PartitionSize" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                                        <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                                    </div>
                                </div>
                            </div>
                            <div class="row cells4 bg-hover-anthilla-gray-2">
                                <div class="cell uppercase fg-anthilla-green">
                                    <p>Partition Name</p>
                                </div>
                                <div class="cell colspan3">
                                    <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                                        <input type="text" ng-model="disk.PartitionName" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                                        <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <button ng-click="createPartition(disk)" class="button bg-anthilla-green bd-anthilla-gray-3 padding-left20 padding-right20 place-right">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>