<h1 class="fg-white padding-bottom10 bd-anthilla-gray-2 capitalize" style="border-bottom: 1px solid;">sync</h1>

<div ng-controller="AntdGlusterController">
    <div ng-switch="isActive">
        <div ng-switch-when="false">
            <button ng-click="enable()" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-plus fg-anthilla-green"></span>&nbsp;Enable</button>
        </div>
        <div ng-switch-when="true">
            <button ng-click="set()" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-checkmark fg-anthilla-green"></span>&nbsp;Apply Settings</button>
            <button ng-click="start()" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-play fg-anthilla-green"></span>&nbsp;Start</button>
            <button ng-click="restart()" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-loop fg-anthilla-green"></span>&nbsp;Restart</button>
            <button ng-click="stop()" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-stop fg-anthilla-orange"></span>&nbsp;Stop</button>
            <button ng-click="disable()" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-eject fg-anthilla-orange"></span>&nbsp;Disable</button>
        </div>
        <div ng-switch-default> </div>
    </div>
    <br />
    <div class="panel margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
        <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
            <span class="icon mif-file-text fg-anthilla-violet bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
            <span class="title">
                Options
            </span>
        </div>
        <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
            <div class="grid condensed">
                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">GlusterNode</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="UserCert.GlusterNode" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">GlusterVolumeName</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="UserCert.GlusterVolumeName" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">GlusterVolumeBrick</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="UserCert.GlusterVolumeBrick" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">GlusterVolumeMountPoint</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="UserCert.GlusterVolumeMountPoint" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                    </div>
                    <div class="cell colspan2">
                        <button ng-click="saveOptions(Gluster)" class="button bg-anthilla-green bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-checkmark"></span>&nbsp;{{ 'SAVE' | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
            <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
                <span class="icon mif-file-text fg-anthilla-violet bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
                <span class="title">
                    Nodes
                </span>
            </div>
            <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
                <button ng-click="toggle('#NodePanel')" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-plus fg-anthilla-green"></span>&nbsp;New</button>
                <div class="grid condensed" id="NodePanel">
                    <div class="row cells4">
                        <div class="cell padding-left20">
                            <h5 class="uppercase fg-anthilla-green">Node</h5>
                        </div>
                        <div class="cell colspan2">
                            <div class="input-control text width100pc fg-white">
                                <input type="text" ng-model="node.Node" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                            </div>
                        </div>
                        <div class="cell padding-left20" style="display: none;">
                        </div>
                    </div>

                    <div class="row cells4">
                        <div class="cell padding-left20">
                        </div>
                        <div class="cell colspan2">
                            <button ng-click="addNode(node)" class="button bg-anthilla-green bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-checkmark"></span>&nbsp;{{ 'SAVE' | translate }}</button>
                        </div>
                    </div>
                </div>
                <br />
                <div ng-repeat="node in GlusterNodes">
                    <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
                        <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
                            <span class="icon mif-file-text fg-anthilla-violet bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
                            <span class="title">
                                {{node.Node}}
                            </span>
                        </div>
                        <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
                            <button ng-click="deleteNode(node.Guid)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-bin fg-anthilla-orange"></span>&nbsp;Enable</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
