<h1 class="fg-white padding-bottom10 bd-anthilla-gray-2 capitalize" style="border-bottom: 1px solid;">zfs</h1>

<div ng-controller="AntdZfsController">
    <h4 class="fg-anthilla-green">Zpools</h4>
    <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
        <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
            <span class="icon mif-file-text fg-anthilla-violet bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
            <span class="title">
                Create Zpool
            </span>
        </div>
        <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">

            <div class="row cells4 bg-hover-anthilla-gray-2">
                <div class="cell  uppercase fg-anthilla-green">
                    <p>Altroot</p>
                </div>
                <div class="cell colspan3">
                    <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                        <input type="text" ng-model="pool.Altroot" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                        <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                    </div>
                </div>
            </div>
            <div class="row cells4 bg-hover-anthilla-gray-2">
                <div class="cell uppercase fg-anthilla-green">
                    <p>Pool Name</p>
                </div>
                <div class="cell colspan3">
                    <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                        <input type="text" ng-model="pool.PoolName" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                        <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                    </div>
                </div>
            </div>
            <div class="row cells4 bg-hover-anthilla-gray-2">
                <div class="cell  uppercase fg-anthilla-green">
                    <p>Pool Type</p>
                </div>
                <div class="cell colspan3">
                    <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                        <input type="text" ng-model="pool.PoolType" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                        <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                    </div>
                </div>
            </div>
            <div class="row cells4 bg-hover-anthilla-gray-2">
                <div class="cell  uppercase fg-anthilla-green">
                    <p>Disk</p>
                </div>
                <div class="cell colspan3">
                    <div class="input-control select width50pc">
                        <select name="singleSelect" ng-model="pool.Disk" class="bg-anthilla-gray-2 bd-anthilla-gray-3 fg-white">
                            <option disabled="disabled" selected="selected">Select a disk</option>
                            <option ng-repeat="d in Disks" value="/dev/{{d.Name}}">{{d.Name}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <button ng-click="zpoolCreate(pool)" class="button bg-anthilla-green bd-anthilla-gray-3 padding-left20 padding-right20 place-right">Update</button>
    </div>
    <div ng-repeat="zpool in ZpoolList">
        <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
            <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
                <span class="icon mif-file-text fg-anthilla-violet bg-anthilla-gray-2 no-margin"></span>
                <span class="title">
                    {{zpool.Name}}
                </span>
            </div>
            <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;" ng-init="zpool.Hide = true;">
                <ul style="list-style: none;" class="fg-white">
                    <li><p>Name:&nbsp;{{zpool.Name}}</p></li>
                    <li><p>Size:&nbsp;{{zpool.Size}}</p></li>
                    <li><p>Alloc:&nbsp;{{zpool.Alloc}}</p></li>
                    <li><p>Free:&nbsp;{{zpool.Free}}</p></li>
                    <li><p>Expandsz:&nbsp;{{zpool.Expandsz}}</p></li>
                    <li><p>Frag:&nbsp;{{zpool.Frag}}</p></li>
                    <li><p>Cap:&nbsp;{{zpool.Cap}}</p></li>
                    <li><p>Dedup:&nbsp;{{zpool.Dedup}}</p></li>
                    <li><p>Health:&nbsp;{{zpool.Health}}</p></li>
                    <li><p>Altroot:&nbsp;{{zpool.Altroot}}</p></li>
                </ul>
                <br />
                <div class="grid fg-white">
                    <div class="row cells4 bg-hover-anthilla-gray-2">
                        <div class="cell  uppercase fg-anthilla-green">
                            <p>Schedule Snapshot</p>
                        </div>
                        <div class="cell colspan3">
                            <div class="input-control select width50pc">
                                <select name="singleSelect" ng-model="zpool.Timer" class="bg-anthilla-gray-2 bd-anthilla-gray-3 fg-white">
                                    <option disabled="disabled" selected="selected">Select a timer</option>
                                    <option value="*-*-* *:0/10:00" selected>10 minutes</option>
                                    <option value="*-*-* *:0/30:00">30 minutes</option>
                                    <option value="hourly">1 hour</option>
                                    <option value="*-*-* 0/4:00:00">4 hours</option>
                                    <option value="*-*-* 0/12:00:00">12 hours</option>
                                    <option value="daily">24 hours</option>
                                    <option value="*-*-* *:0/1:00">1 minute</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <button ng-click="snap(zpool)" class="button bg-anthilla-green bd-anthilla-gray-3 padding-left20 padding-right20 place-right">Update</button>
            </div>
        </div>
    </div>

    <br />
    <h4 class="fg-anthilla-green">Zfs</h4>
    <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
        <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
            <span class="icon mif-file-text fg-anthilla-violet bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
            <span class="title">
                Create Zfs
            </span>
        </div>
        <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
            <div class="row cells4 bg-hover-anthilla-gray-2">
                <div class="cell  uppercase fg-anthilla-green">
                    <p>Altroot</p>
                </div>
                <div class="cell colspan3">
                    <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                        <input type="text" ng-model="pool.Altroot" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                        <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                    </div>
                </div>
            </div>
            <div class="row cells4 bg-hover-anthilla-gray-2">
                <div class="cell uppercase fg-anthilla-green">
                    <p>Name</p>
                </div>
                <div class="cell colspan3">
                    <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                        <input type="text" ng-model="pool.Name" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                        <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                    </div>
                </div>
            </div>
            <div class="row cells4 bg-hover-anthilla-gray-2">
                <div class="cell  uppercase fg-anthilla-green">
                    <p>Dataset</p>
                </div>
                <div class="cell colspan3">
                    <div class="input-control select width50pc">
                        <select name="singleSelect" ng-model="pool.Disk" class="bg-anthilla-gray-2 bd-anthilla-gray-3 fg-white">
                            <option disabled="disabled" selected="selected">Select a Dataset</option>
                            <option ng-repeat="d in ZpoolList" value="/dev/{{d.Name}}">{{d.Name}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <button ng-click="zpoolCreate(pool)" class="button bg-anthilla-green bd-anthilla-gray-3 padding-left20 padding-right20 place-right">Update</button>
    </div>
    <div ng-repeat="zpool in ZfsList">
        <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
            <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
                <span class="icon mif-file-text fg-anthilla-violet bg-anthilla-gray-2 no-margin"></span>
                <span class="title">
                    {{zpool.Name}}
                </span>
            </div>
            <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;" ng-init="zpool.Hide = true;">
                <ul style="list-style: none;" class="fg-white">
                    <li><p>Pool:&nbsp;{{zpool.Pool}}</p></li>
                    <li><p>Name:&nbsp;{{zpool.Name}}</p></li>
                    <li><p>Used:&nbsp;{{zpool.Used}}</p></li>
                    <li><p>Available:&nbsp;{{zpool.Available}}</p></li>
                    <li><p>Refer:&nbsp;{{zpool.Refer}}</p></li>
                    <li><p>Mountpoint:&nbsp;{{zpool.Mountpoint}}</p></li>
                </ul>
                <br />
                <div class="grid fg-white">
                    <div class="row cells4 bg-hover-anthilla-gray-2">
                        <div class="cell  uppercase fg-anthilla-green">
                            <p>Schedule Snapshot</p>
                        </div>
                        <div class="cell colspan3">
                            <div class="input-control select width50pc">
                                <select name="singleSelect" ng-model="zpool.Timer" class="bg-anthilla-gray-2 bd-anthilla-gray-3 fg-white">
                                    <option disabled="disabled" selected="selected">Select a timer</option>
                                    <option value="*-*-* *:0/10:00" selected>10 minutes</option>
                                    <option value="*-*-* *:0/30:00">30 minutes</option>
                                    <option value="hourly">1 hour</option>
                                    <option value="*-*-* 0/4:00:00">4 hours</option>
                                    <option value="*-*-* 0/12:00:00">12 hours</option>
                                    <option value="daily">24 hours</option>
                                    <option value="*-*-* *:0/1:00">1 minute</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <button ng-click="snap(zpool)" class="button bg-anthilla-green bd-anthilla-gray-3 padding-left20 padding-right20 place-right">Update</button>
            </div>
        </div>
    </div>

    <br />
    <h4 class="fg-anthilla-green">Zfs - Snapshots</h4>
    <div ng-repeat="zpool in ZfsSnap">
        <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
            <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
                <span class="icon mif-file-text fg-anthilla-violet bg-anthilla-gray-2 no-margin"></span>
                <span class="title">
                    {{zpool.Name}}
                </span>
            </div>
            <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;" ng-init="zpool.Hide = true;">
                <ul style="list-style: none;" class="fg-white">
                    <li><p>Pool:&nbsp;{{zpool.Pool}}</p></li>
                    <li><p>Name:&nbsp;{{zpool.Name}}</p></li>
                    <li><p>Used:&nbsp;{{zpool.Used}}</p></li>
                    <li><p>Available:&nbsp;{{zpool.Available}}</p></li>
                    <li><p>Refer:&nbsp;{{zpool.Refer}}</p></li>
                    <li><p>Mountpoint:&nbsp;{{zpool.Mountpoint}}</p></li>
                </ul>
            </div>
        </div>
    </div>

    <br />
    <h4 class="fg-anthilla-green">Zfs - Snapshots</h4>
    <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
        <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
            <span class="icon mif-file-text fg-anthilla-violet bg-anthilla-gray-2 no-margin"></span>
            <span class="title">
            </span>
        </div>
        <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;" ng-init="zpool.Hide = true;">
            <ul style="list-style: none;" class="fg-white">
                <li ng-repeat="hist in ZpoolHistory"><p>{{hist}}</p></li>
            </ul>
        </div>
    </div>
</div>
