<button class="command-button bg-anthilla-gray-2  fg-white bd-anthilla-gray-2 bd-hover-anthilla-green " ui-sref="textfile">
    <span class="icon mif-file-text "></span>
    {{ 'TEXT_FILE' | translate }}
    <small>&nbsp;</small>
</button>
<br />

<button class="command-button bg-anthilla-gray-2  fg-white bd-anthilla-gray-2 bd-hover-anthilla-green " ui-sref="requestmedicine">
    <span class="icon mif-file-text "></span>
    {{ 'REQUEST_MEDICINE' | translate }}
    <small>&nbsp;</small>
</button>
<br />

<button class="command-button bg-anthilla-gray-2  fg-white bd-anthilla-gray-2 bd-hover-anthilla-green " ui-sref="requestmaterialgeneric">
    <span class="icon mif-file-text "></span>
    {{ 'REQUEST_MATERIAL_GENERIC' | translate }}
    <small>&nbsp;</small>
</button>
<br />

<button class="command-button bg-anthilla-gray-2  fg-white bd-anthilla-gray-2 bd-hover-anthilla-green " ui-sref="requestmaterialcleaning">
    <span class="icon mif-file-text "></span>
    {{ 'REQUEST_MATERIAL_CLEANING' | translate }}
    <small>&nbsp;</small>
</button>
<br />

<button class="command-button bg-anthilla-gray-2  fg-white bd-anthilla-gray-2 bd-hover-anthilla-green " ui-sref="requestmaterialsanitary">
    <span class="icon mif-file-text "></span>
    {{ 'REQUEST_MATERIAL_SANITARY' | translate }}
    <small>&nbsp;</small>
</button>
<br />

<button class="command-button bg-anthilla-gray-2  fg-white bd-anthilla-gray-2 bd-hover-anthilla-green " ui-sref="mairecap">
    <span class="icon mif-file-text "></span>
    {{ 'MAI_RECAP' | translate }}
    <small>&nbsp;</small>
</button>
