<!--<br>
<ul class="vertical-menu compact ng-scope">
    <li class="active-container">
        <a href="#" class="dropdown-toggle fg-white ng-binding"><span class="icon mif-files-empty"></span>&nbsp;{{ 'DOCS' | translate }}</a>
        <ul class="d-menu" data-role="dropdown" style="display: none; margin-top: -8px;">
            <li class="bg-anthilla-gray-1 "><a href="#" ui-sref="textfile" class="fg-white bg-hover-anthilla-gray-3"><span class="icon mif-file-text fg-white"></span>{{ 'TEXT_FILE' | translate }}</a></li>
            <li class="bg-anthilla-gray-1 "><a href="#" ui-sref="requestmedicine" class="fg-white bg-hover-anthilla-gray-3"><span class="icon mif-file-text fg-white"></span>{{ 'REQUEST_MEDICINE' | translate }}</a></li>
            <li class="bg-anthilla-gray-1 "><a href="#" ui-sref="requestmaterialgeneric" class="fg-white bg-hover-anthilla-gray-3"><span class="icon mif-file-text fg-white"></span>{{ 'REQUEST_MATERIAL_GENERIC' | translate }}</a></li>
            <li class="bg-anthilla-gray-1 "><a href="#" ui-sref="requestmaterialcleaning" class="fg-white bg-hover-anthilla-gray-3"><span class="icon mif-file-text fg-white"></span>{{ 'REQUEST_MATERIAL_CLEANING' | translate }}</a></li>
            <li class="bg-anthilla-gray-1 "><a href="#" ui-sref="requestmaterialsanitary" class="fg-white bg-hover-anthilla-gray-3"><span class="icon mif-file-text fg-white"></span>{{ 'REQUEST_MATERIAL_SANITARY' | translate }}</a></li>
            <li class="bg-anthilla-gray-1 "><a href="#" ui-sref="mairecap" class="fg-white bg-hover-anthilla-gray-3"><span class="icon mif-file-text fg-white"></span>{{ 'MAI_RECAP' | translate }}</a></li>
        </ul>
    </li>
</ul>
<br />-->
<ul class="breadcrumbs dark bg-anthilla-gray-1">
    <li>
        <p ui-sref="home" class="fg-white sub-header" style="cursor: pointer;"><span class="icon mif-files-empty"></span>&nbsp;{{ 'DOCS' | translate }}</p>
    </li>
</ul>
