zone "1aurlaub-machen.de" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "1day.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "3apa3a.tomsk.tw" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "abecel.com.br" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "a-chambers.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "aclkneeinjury.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "acmsk.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "aconfideeeeeracia200.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "acorp.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "ad-amirsarvi.ir" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "advanc118.co.vu" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "advanc1.co.vu" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "advanc2.cu.cc" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "advanc320.co.vu" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "advanc3.co.vu" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "advanc420.co.vu" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "advanc520.co.vu" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "advwinntdigiplus.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "aglaenoticias.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "aikido-meat.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "ajahdelta.eu" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "akdenizhizmet.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "akdenizparkbahce.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "ako.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "alabaka.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "aliagacilingirci.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "aliwork.zapto.org" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "allfortune777.biz" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "alliancefrancaise.lk" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "allmensd.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "alogic.com.sg" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "alschsa.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "amods.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "andriu.bget.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "anketguidevemersion.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "anonymizercom.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "anostermese.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "appet.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "app.mkspace.biz" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "apx.euclid.ch" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "aquageo.cl" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "aquaislandlk.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "archive.misterorange.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "artmir-holding.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "artofsklncare.co.za" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "arweclote.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "arzomenta.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "asptt.aikido-meat.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "ata-rh.com.br" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "atlas.hektabilisim.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "atlog.com.sg" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "avalan.servecounterstrike.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "ayancikmuftulugu.gov.tr" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "azok.fr" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "azores2022.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "b3enzcanadaa.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "backupworld.biz" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "badgefortime.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "balk.com.my" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "bambubrasileiro.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "bananabase.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "banknotice.in" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "baoshlda.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "barzev.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "basitbellitalianart.eu" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "bbce-legalconsultancy.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "bbwscimanuk.pdsda.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "benedekco.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "bggranite.ca" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "bill.4java.ca" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "billitoncrores.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "bingbangtheory.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "bizserviceszero.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "blackhill.pp.ua" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "blackroot.pro" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "blakraxtrip.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "blessmyhustles.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "blogerjijer.pw" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "blood.energeeuk.info" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "bmwfanatics.eu" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "bobkilasadareta.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "bonton.by" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "breezyj.hol.es" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "brr-21.ru.shn-host.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "bufflomens.me.uk" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "burrinsurance.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "buypaymer.so" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "calmonstarn.co.uk" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "camerabagjavad.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "casadoatirador.com.br" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "cashcasinoworld.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "cbproject.url.ph" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "ccperiodistas.es" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "cesp-pimentel.com.br" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "charteredcapitalbk.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "cheriosmarketing.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "cicero-dropbox.tk" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "circleread-view.com.mocha2003.mochahost.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "citinj18.co.vu" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "citinj20.co.vu" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "citload18.co.vu" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "citload20.co.vu" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "citload.co.vu" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "cit.redirectme.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "citserv18.co.vu" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "citserv20.co.vu" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "citserv.co.vu" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "citserver.co.vu" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "clay.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "clickrate.com.au" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "cndbase.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "cogoda.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "collectcoins.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "congrbasering.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "consulenzaeprogettazioneintegrata.it" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "consumerfocusedconspicuously.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "cont24x7host.org" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "counter-1.adscounter.com.ua" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "crayolabank.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "creamlonsarter.co.uk" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "createlognet.co.uk" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "crete-holidays.com.gr" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "cs.co.vu" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "ctoavto.by" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "cv.blique.fr" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "czk-cakovec.hr" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "damante.com.my" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "danotech.eu" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "dargs.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "darker.in.ua" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "dasch.pl" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "dashuxmaecrmecia.ws" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "dattinggate.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "daymen.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "debitor.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "deborenttt.co.uk" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "debservers.pw" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "dertoprteiopolo.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "designertotal.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "destino-crew.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "detecta.ca" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "dettymoodz.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "dexterousgroup.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "diamondjewelry1.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "digitearlandroid.co.za" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "dijks.eu" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "diminisheddatatransfer.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "dino1.hc0.me" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "diosdelared.com.mx" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "dirvers.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "documentsgarage.info" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "dollet.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "domicom.me.uk" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "donaldsimmelweb.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "donuts.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "dos.wearethenest.com.au" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "drat.myvnc.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "dwaserca.pl" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "ease.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "ecstasy.sx" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "eenyellowredpf.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "ehnynewyortenotbaber.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "e-imatismos.gr" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "ejanormalteene250.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "ekkontenjanlar.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "elcanto.bl.ee" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "elivrarahimova.cu.cc" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "elshottrends.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "emylosy.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "endom.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "epjbcn.es" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "eriwa.uni.me" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "esherristore.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "essexdecorator.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "etilertesisat.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "etot.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "evarisms.bl.ee" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "evobank.co" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "expressglobaltrading.info" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "ezent.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "f0rg0tt0nmem0ries.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "f8b2b9.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "fakssfriday.hc0.me" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "fansclub.servehttp.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "fengshaotrade.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "fernnz.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "fidelity-tfs.co.uk" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "fileserver03.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "finexpress.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "fliuvana.url.ph" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "fluxana.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "fongyeh.com.tw" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "formail.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "forwatorkoraswtopler.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "fotosefestas.com.br" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "freshboilogs.co.uk" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "fretiolo.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "frevolore.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "fs.co.vu" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "fsnc.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "fujidenki-web.co.jp" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "fvess.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "gaskotel.by" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "gate.timstackleshop.es" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "generaltdco.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "geogoldpty.info" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "getboating.com.au" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "getego.suroot.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "getinglsaett.co.uk" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "ghostbase.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "gjoonalitikeer310.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "globalproductx.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "globytefocus.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "glowpaks.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "goa-inf.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "godgotanarmy.org" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "goldhqs.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "golubtrekk.co.uk" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "google.poultrymiddleeast.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "gorainbowzone.tk" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "gotemooetoaw.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "gravaragua.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "griffin.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "groove.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "gruntwerkz.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "gukin.as" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "gurimi.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "gushante.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "gymnasiumnu.nl" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "handlemonth.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "henex.net.ua" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "herrty.esy.es" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "hfoajof1ornmzmasvuqiowdpchap.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "higan.org" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "hiteckcenter.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "hnhentertainment.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "hochwald-radio.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "hohohobase.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "holmesmanz.co.uk" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "holymarysschool.ac.in" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "homecanada.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "homfair.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "hope-found-now.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "host.caracasws.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "hotbird.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "hruner.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "hulkania.bl.ee" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "iae.hosei.ac.jp" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "iafnoajrpgjajoqokgjhaiofpzvnz.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "ibmjm.com.br" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "i-buy.gr" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "icals.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "ice.andromed.in.ua" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "ice.ip64.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "idersnonvirus.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "iffer.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "ifrgha.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "igor32.herbalbrasil.com.br" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "illinoisnets.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "imbon.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "immo-france.org" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "indongsang.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "inginida.hol.es" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "ingrado.ch" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "innoteh.pro" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "investmentfinancialadviser.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "iscaleos.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "isolu.eu" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "jacksandra.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "jackson.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "jangasm.org" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "jayboyd.t15.org" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "jeado.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "jgworlddrivers.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "jgworldupd.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "jj-tradings.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "jjvse.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "jorey.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "kachmanest.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "kakaku.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "kane22.flu.cc" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "kaninescent.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "katagi-weblogs.lolipop.jp" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "kathsk.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "keximvlc.com.vn" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "ki-netics.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "kingcebu.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "kingtools.no-ip.biz" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "kjppdbutmir.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "kolesnica.biz" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "kubikrubiksoft.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "kudcukarica.org" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "lamintaza.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "lamonde.uni.me" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "larryloth.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "latiilots.co.uk" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "latte.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "layerinformatics.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "leendeilco-200.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "leendeilco-700.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "leendeilco-900.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "legitvendors.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "lekki.info" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "lerreria.hol.es" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "lesquat-za.org" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "lifeisgoodwhenu2.info" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "liiiss.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "lilidega.zapto.org" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "limfory.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "lion.web2.0campus.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "littwronthath.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "livesupdate.redirectme.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "liveupdate.dnsfor.me" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "liwachem.eu" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "lobatan.biz" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "lobily.in.ua" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "lomamo.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "longgad.tk" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "lonsmemorials.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "lotusgraf.hr" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "loxomi.in.ua" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "ltymub.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "madazz.org" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "madcobra.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "madebydiesel.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "madera.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "madlion.sc" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "mahou.shoujo.me" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "maniron24x7.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "manpower.hc0.me" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "man-street.tk" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "manto.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "mantourmiao.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "marobuika.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "marytraders.in" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "master-stroi76.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "medlytrade.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "mehrmusikgarantie.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "mesmultimedia.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "metaxeirismena-rouxa.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "mgmedic.com.br" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "microsofto.sytes.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "microsoftpr.redirectme.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "microsoftupdates.eu" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "microsofupgrade.redirectme.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "mifkgukrglsporret.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "migratesolutions.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "mijn.ramlort.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "minute.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "mlscmusic.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "mm.co.vu" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "modgame.bl.ee" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "more4u.be" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "motherboardreasons.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "mspeller.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "musculationexercice.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "mxstat230.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "myaffiliatesconnection.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "mybalticlegit.tk" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "myclydesdale.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "myheartgoesboomboom.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "mysecurityupdates.info" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "myvizitkaepta.site88.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "naijayoutube.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "namnommae.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "neatnewmanny.co.uk" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "neell.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "nelsonadmadi2.eu" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "netatekstil.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "netstat.adjuncate.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "neurologyclinic.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "newcollins.co.uk" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "newday4allz.co.uk" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "newdomainsconf.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "nitenokliert.co.uk" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "noalies.nl" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "noard.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "noonepa.tk" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "novnika.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "ntoswincombo.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "nulxxaoni.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "obremon.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "ohtaare.info" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "oklahoma.nojimshu.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "onestopinstru.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "open.imazhi.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "opoderdaspalavras.com.br" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "orburi.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "orchestraalarmist.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "orderprocessingsuffering.name" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "ortegas.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "otopl.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "outgoingonlych.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "ouutin.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "ozgepen.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "paillio.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "p-alpha.ooo.al" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "panel.vargakragard.se" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "paranoidf.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "parkmanup.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "patmofechaduras.com.br" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "paul-boogy.fr.fo" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "pcdevguard.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "peccenter.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "peluqueriayesteticapilmar.es" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "pfengineering.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "phimsex4u.biz" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "pianofun.edu.vn" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "pic-pro.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "piquedhotelclubcom.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "placelookme.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "planetaservis2000.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "plusnordhost.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "pontokol.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "poroto666.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "porschecosv.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "portfolioatimization.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "presleywebs.uk.pn" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "primnproper.com.my" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "prk.citserver.co.vu" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "prk.cs.co.vu" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "prk.firstconf.3gb.biz" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "prk.proklcit.cu.cc" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "prk.rescit.cu.cc" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "prk.secondcit.cu.cc" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "prk.thrdcit.cu.cc" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "pro100tevel.zapto.org" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "projects.globaltronics.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "promoitaliane.tv" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "propertymanagement-varna.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "pubber.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "pubby.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "qttye.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "radiantuniform.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "rag.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "raphclickable.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "ready-for-numbers.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "reconnectdns1.redirectme.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "reconnectdns.redirectme.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "recyclersvoice.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "redrosemedical.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "reimbergit.com.br" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "relectsdispla.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "reluxmusic.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "reoboometrom.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "res81.weissdecisions.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "reserve.jumpingcrab.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "resr.configure.8c1.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "resr.res.co.vu" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "resr.unlimiteds.uni.me" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "ricray.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "rivascloviso.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "rivocoil.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "rjlandscapingltd.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "robert.xiga.us" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "robinltd.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "romanobbnet.info" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "rootgood.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "root.mybrowser.usa.cc" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "roster.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "rss.medsav.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "rtserver.co.vu" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "ryuitaqw.pw" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "sadjskdjsdj22.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "salvationdekey.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "sameetc.tk" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "sanjinpin.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "sanpedr0.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "santroperope.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "sasse.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "sathicehat.org" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "saudeodontos.com.br" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "sc.co.vu" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "sd30d.ff43as.f0d9.g930d1.ddns.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "sdspropro.co.ua" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "searscanada.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "searsholding.co.uk" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "secctor.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "secruret.mywindjet.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "seejin.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "sellcoins.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "seminarsandtraining.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "senocorpol.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "server.bovine-mena.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "serverjainpangwang.pw" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "serverroot.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "serversss.biz" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "setnevadanebraska.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "shelooksgood.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "shoppingmall93.ml" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "sicarscarr.co.uk" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "sidomo.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "siladin.cch-oriente.unam.mx" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "sinusi.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "softwareqaprofessionals.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "sohotgirls.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "soinstlen.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "spec02.dircon.co.uk" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "srv1.dns-freedom.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "srv1.freedom-dns.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "srv5.free-z0ne.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "sslsecure.servehttp.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "ssl.sinergycosmetics.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "staging.shawhealthcare.precedenthost.co.uk" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "starkcapsol.biz" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "startsponsor.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "stats.tyokarhut.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "stinkymovies.url.ph" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "stpbb.org" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "stpeterpadungan.my" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "sub.beirinckx.be" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "submitbox.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "substandarddefinitionqualities.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "supendose.co.uk" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "super67.me" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "swapp.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "sync.dns-reserve.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "targetca1.comli.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "targetcanada.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "techskills.hol.es" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "tehnari.info" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "terryproof.info" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "tesbihci.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "thanhc50.no-ip.info" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "thepeterhadarshow.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "thetimes420.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "third.crabdance.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "thriller.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "timesroom.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "tnserver.tk" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "tompotompo.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "tonyuwa.biz" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "tosing.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "tqpoint.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "tradecharm.lt" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "trafikms.name" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "treching.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "trendyinia.esy.es" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "trenquecardiohemo.com.ar" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "triplefiremusic.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "truer.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "tryana.url.ph" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "ttbkvietnam.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "tuk-tuk.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "turciaotel.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "turkey.co.vu" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "turkishcoffeecafe.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "uemmaw.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "ugwebz.uk.pn" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "uhomes.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "ukcrib.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "ukdev.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "umuoma.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "uncluvmeteam.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "unefrecomputese.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "unicorn.bl.ee" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "uniev.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "uniqunia.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "updateapi.longmusic.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "update.odeen.eu" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "update.rifugiopontese.it" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "update.saintfrancoisath.be" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "update.timstackleshop.es" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "updating-flash.cloudapp.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "upfile.url.ph" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "uplogsnet.co.uk" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "upperts.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "urbanrural.hc0.me" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "urbelos.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "uwwertu.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "valentine.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "vanikosguideversionmp.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "vankhoatech.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "velact.ro" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "viaialater.eu" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "vishwakarmacrane.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "visionequipment.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "visit2013.in.ua" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "vivahammer.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "vivaspace2013.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "voiceofmentors.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "voice.seednetwork.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "voip-offices.in.ua" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "wahaladey.hc0.me" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "waiiiu.myftp.biz" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "warfacebest.ru.swtest.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "warriorinjapan.hostjava.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "watercoolingsystems.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "web4company.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "webgiz.muz.ifsuldeminas.edu.br" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "webos.in" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "welcahllyn.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "weporsche.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "whitbyshopper.co.uk" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "whitewidow.ciscofreak.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "widnows.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "windowscat.info" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "windowscrackle.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "windowslion.info" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "windows-update.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "winows32.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "wispaloud.url.ph" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "wlopescorretora.com.br" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "wmzbase.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "wor6.b6dfnahea.ns2.name" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "workstorg.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "worktorg.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "wvamvakidis.com.au" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.4wheelsrentacar.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.accentmedia.nl" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.ansatz.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.asahi-hs.jp" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.basquiat.com.br" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.benhorin.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.brhnegative.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.brihodasestrelas.com.br" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.calzadoanaconda.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.claudialauterer.com.br" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.cleanwheel.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.coach-praktijk-amsterdam.nl" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.cuzeriii.cu.cc" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.decoagua.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.deko.gr" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.delmontcaldowcaterers.co.za" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.dinerodinero.com.mx" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.exklusiv-lab.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.expertoffshore.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.festivalsinfronteras.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.fhnonline.org" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.flashinstal.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.freemall.jp" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.gmailapps.hc0.me" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.gminalubiewo.pl" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.googelevi.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.gramer-edv.de" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.happystar-radio.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.hbkafrica.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.heartjohn.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.ia0000.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.insilicogen.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.joker-tattoo.by" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.kimsa.vn" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.kuman.cz" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.longstor.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.loongweed.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.lpftag.upm.es" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.madandyonline.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.madunixxx.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.magento.6ixwebsoft.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.mantourmiao.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.marcasitehost.com.br" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.matalala.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.microderma.nl" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.nationaldrivetrain.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.netropoton.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.nodullingshinestar.info" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.oakspacemg.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.pacificshipping.org" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.paytina.by" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.perilshed.info" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.pneumatica.com.ua" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.rae.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.rcollard.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.remaxhost.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.rugbiers.cl" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.sahillmoulds.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.saudevitalsuplementos.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.sdspropro.co.ua" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.sherrif.info" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.sinoconcept.fr" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.skhgiehlgisur.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.speedayauto.ae" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.sticalcados-go.com.br" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.successfultravelservice.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.technlip.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.theprintingagent.ca" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.todobingo.info" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.toftmann.dk" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.unehbu.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.vh44850.eurodir.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.vh44856.eurodir.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.vip-file.eu" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.vitex-s.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.vozdocampoamapa.com.br" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.vrsa-sgu.pt" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.wilfharwood.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.witkey.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.wlhydh.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.woxmim.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "www.yilinmilletvekili.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "x0rzendencrypti0n.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "xq.rurs.net" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "xserqwerdsdrasder.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "xtremesoftnow.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "yamleg.fu8.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "yanitymm.com.tr" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "yankeezzzz.co.uk" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "yetrilo.url.ph" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "yhalla.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "youtubemoney.eu" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "yurkomrf.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "yutse.ru" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "zaebstonrder.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "zarcoos.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "zenkaogkeh.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "zeus.guvencelikimalat.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "zhangleetranding.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "zoearmkandy.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "zonefreerote.com" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "zopapublishedn.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "zswe4tfrhdhthr5.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
zone "zukkoshop.su" { type master; file "/etc/bind/blockeddomain.hosts"; };
