$ttl 86400;
@               IN      SOA     localhost. postamster.localhost. (
                        1199379342;
                        28800;
                        7200    ;
                        864000;
                        86400 );
                IN      NS      localhost.
*               IN      A       127.0.0.1

