<div ng-controller="DashboardController" class="">
    <div class="clearfix"></div>
    <div class="row">
        <h6>
            <i class="fa fa-clock-o"></i>
            <strong>Last Updated</strong>
            {{ Dashboard.LastUpdated | date : 'yyyy/MM/dd HH:mm:ss' }}
        </h6>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel tile fixed_height_320 overflow_hidden">
                <div class="x_title">
                    <h2>Uptime</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <h1>{{ info.Uptime.Uptime }}</h1>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel tile fixed_height_320 overflow_hidden">
                <div class="x_title">
                    <h2>Memory</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <canvas id="doughnut"
                            class="chart chart-doughnut"
                            chart-data="memoryData"
                            chart-labels="memoryLabels"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel tile fixed_height_320 overflow_hidden">
                <div class="x_title">
                    <h2>Disk Usage</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table class="table table-fixed">
                        <tr ng-repeat="du in info.DiskUsage">
                            <td>
                                {{ du.MountedOn }}
                            </td>
                            <td colspan="2">
                                <div class="progress float-right" style="width: 100%; height: 20px; margin: 0;">
                                    <div class="progress-bar progress-bar-success"
                                         style="width: {{ du.UsePercentage }};"></div>
                                    <span class="float-right" style="line-height: 22px;">{{ du.UsePercentage }}&nbsp;</span>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
