<style type="text/css">
    #Services-TB {
        border-bottom: 10px solid #A7BD39;
        height: 80px !important;
    }
</style>
<nav class="navigation-bar bg-anthilla-gray-m page-bar menu-bar">
    <nav class="navigation-bar-content">
        <div class="element upcase fg-anthilla-green border-2-anthilla-gray-m no-overlay" style="padding-top: 11px;">
            <i class="icon-wrench on-left" style="line-height: 5px;"></i>
            Services
        </div>
        <div class="element-divider"></div>


        <a class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay anchor" data-scrollto="#Bind" style="padding-top: 11px;">
            Bind
        </a>
        <div class="element-divider"></div>
        <a class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay anchor" data-scrollto="#DHCP" style="padding-top: 11px;">
            DHCP
        </a>
        <div class="element-divider"></div>
        <a class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay anchor" data-scrollto="#Glusterfs" style="padding-top: 11px;">
            Glusterfs
        </a>
        <div class="element-divider"></div>
        <a class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay anchor" data-scrollto="#Libvirt" style="padding-top: 11px;">
            Libvirt
        </a>
        <div class="element-divider"></div>
        <a class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay anchor" data-scrollto="#LXC" style="padding-top: 11px;">
            LXC
        </a>
        <div class="element-divider"></div>
        <a class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay anchor" data-scrollto="#NFS" style="padding-top: 11px;">
            NFS
        </a>
        <div class="element-divider"></div>
        <a class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay anchor" data-scrollto="#NFTable" style="padding-top: 11px;">
            NFTable
        </a>
        <div class="element-divider"></div>
        <a class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay anchor" data-scrollto="#Nginx" style="padding-top: 11px;">
            Nginx
        </a>
        <div class="element-divider"></div>
        <a class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay anchor" data-scrollto="#Ntpd" style="padding-top: 11px;">
            Ntpd
        </a>
        <div class="element-divider"></div>
        <a class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay anchor" data-scrollto="#Qemu" style="padding-top: 11px;">
            Qemu
        </a>
        <div class="element-divider"></div>
        <a class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay anchor" data-scrollto="#Samba" style="padding-top: 11px;">
            Samba
        </a>
        <div class="element-divider"></div>
        <a class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay anchor" data-scrollto="#Squid" style="padding-top: 11px;">
            Squid
        </a>
        <div class="element-divider"></div>
        <a class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay anchor" data-scrollto="#SSH" style="padding-top: 11px;">
            SSH
        </a>
        <div class="element-divider"></div>
        <a class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay anchor" data-scrollto="#Syslogng" style="padding-top: 11px;">
            Syslogng
        </a>
        <div class="element-divider"></div>
        <a class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay anchor" data-scrollto="#Hostnamectl" style="padding-top: 11px;">
            Hostnamectl
        </a>
        <div class="element-divider"></div>
        <a class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay anchor" data-scrollto="#Journald" style="padding-top: 11px;">
            Journald
        </a>
        <div class="element-divider"></div>
        <a class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay anchor" data-scrollto="#Networkd" style="padding-top: 11px;">
            Networkd
        </a>
        <div class="element-divider"></div>
        <a class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay anchor" data-scrollto="#ZFS" style="padding-top: 11px;">
            ZFS
        </a>
        <div class="element-divider"></div>

        <a class="element place-right upcase fg-anthilla-green border-2-anthilla-gray-m no-overlay anchor" data-scrollto="top" style="padding-top: 8px;">
            <i class="icon-arrow-up"></i>
        </a>
        <div class="element-divider place-right"></div>
        <a onclick="SetCreate()" class="element place-right upcase fg-anthilla-green border-2-anthilla-green no-overlay anchor" data-scrollto="#DashboardForm" style="padding-top: 11px;">New Table
        </a>
    </nav>
</nav>
