<legend id="Samba">
    Samba
    @if (antdlib.Svcs.Samba.SambaConfig.IsActive == false) {
        <i id="ActivateSamba" class="icon-upload fg-anthilla-orange" style="float:right; cursor: pointer;"></i>
    }
    else {
        <i id="ShowSambaStructure" class="icon-list fg-white" style="float:right; cursor: pointer; margin: auto 10px;"></i>
        <i id="RefreshSamba" class="icon-redo fg-anthilla-blu" style="float:right; cursor: pointer; margin: auto 10px;"></i>
    }
</legend>
@if (antdlib.Svcs.Samba.SambaConfig.IsActive == true) {
    <table class="table">
        <thead id="SambaStructure" style="display: none;">
            <tr>
                <td colspan="3">
                    <ul class="fg-white" style="list-style: none;">
                        <li><label>Service Structure</label></li>
                        @foreach (KeyValuePair<string, List<string>> directory in antdlib.Svcs.Samba.SambaConfig.Structure) {
                            <li>@directory.Key</li>
                            <li>
                                <ul class="fg-grayLight" style="list-style: none;">
                                    @foreach (string included in directory.Value) {
                                        <li>@included.ToString()</li>
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                </td>
            </tr>
        </thead>
        <tbody>
            @if (antdlib.Svcs.Samba.SambaConfig.MapFile.Get() != null) {
                @foreach (antdlib.Svcs.Samba.SambaConfig.LineModel data in antdlib.Svcs.Samba.SambaConfig.MapFile.Get().Data) {
                    if (data.Type != antdlib.ServiceDataType.Disabled) {
                        <tr>
                            <td>@data.Key <i class="icon-arrow-right-5 on-left on-right"></i> @data.Value</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
}