<legend id="Bind">
    Bind
    @If.BindIsActive
    <i id="RefreshBind" class="icon-redo fg-anthilla-blu" style="float:right; cursor: pointer; margin: auto 10px;"></i>
    <i id="ReloadBind" class="icon-cycle fg-lightGreen" style="float:right; cursor: pointer; margin: auto 10px;"></i>
    @EndIf
    @IfNot.BindIsActive
    <i id="ActivateBind" class="icon-upload fg-anthilla-orange" style="float:right; cursor: pointer;"></i>
    @EndIf
</legend>
@if (antdlib.Svcs.Bind.BindConfig.IsActive == true) {
<div data-role="tab-control" class="tab-control">
    <ul class="tabs">
        <li class="active"><a href="#bind_options">Options</a></li>
        <li><a href="#bind_zones">Zones</a></li>
        <li><a href="#bind_acl">Acl</a></li>
        <li><a href="#bind_keys">Keys</a></li>
        <li><a href="#bind_masters">Masters</a></li>
        <li><a href="#bind_server">Server</a></li>
        <li><a href="#bind_view">View</a></li>
    </ul>

    <div class="frames">
        <div id="bind_options" class="frame" style="display: block;">
            @Each.BindOptions
            <form action="/services/update/bind/options" id="BindForm" data-role="bind-section-update" method="POST" enctype="multipart/form-data">
                <table class="table" data-search="BindSearch">
                    <tbody>
                        <tr data-file="@Current.FilePath" data-object="bind-parameter" style="border-bottom: 4px solid #3A3A3A;">
                            <td colspan="3">
                                @Current.Name
                                <input type="submit" value="Update Bind @Current.Name" style="float: right;" class="bg-green" />
                            </td>
                        </tr>
                        @Partial['_partial/part-srvc-bind-data', @Current.Data];
                        <tr data-file="@Current.FilePath" data-object="bind-parameter">
                            <td class="bg-anthilla-gray-m" style="border-width: 0; border-right: 4px solid #3A3A3A; width: 13%;"></td>
                            <td style="width: 20%;">
                                <input name="DataKey" type="text" style="width: 90%;" />
                                <input name="DataFilePath" type="hidden" value="@Current.FilePath" />
                            </td>
                            <td>
                                <input name="DataValue" type="text" style="width: 90%;" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
            @EndEach

            @Each.BindLogging
            <form action="/services/update/bind/logging" id="BindForm" data-role="bind-section-update" method="POST" enctype="multipart/form-data">
                <table class="table" data-search="BindSearch">
                    <tbody>
                        @Partial['_partial/part-srvc-bind-data', @Current.Data];
                        <tr data-file="@Current.FilePath" data-object="bind-parameter">
                            <td class="bg-anthilla-gray-m" style="border-width: 0; border-right: 4px solid #3A3A3A; width: 13%;"></td>
                            <td style="width: 20%;">
                                <input name="DataKey" type="text" style="width: 90%;" />
                                <input name="DataFilePath" type="hidden" value="@Current.FilePath" />
                            </td>
                            <td>
                                <input name="DataValue" type="text" style="width: 90%;" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
            @EndEach

            @Each.BindLwres
            <form action="/services/update/bind/lwres" id="BindForm" data-role="bind-section-update" method="POST" enctype="multipart/form-data">
                <table class="table" data-search="BindSearch">
                    <tbody>
                        @Partial['_partial/part-srvc-bind-data', @Current.Data];
                        <tr data-file="@Current.FilePath" data-object="bind-parameter">
                            <td class="bg-anthilla-gray-m" style="border-width: 0; border-right: 4px solid #3A3A3A; width: 13%;"></td>
                            <td style="width: 20%;">
                                <input name="DataKey" type="text" style="width: 90%;" />
                                <input name="DataFilePath" type="hidden" value="@Current.FilePath" />
                            </td>
                            <td>
                                <input name="DataValue" type="text" style="width: 90%;" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
            @EndEach

            @Each.BindStatisticsChannels
            <form action="/services/update/bind/statistics-channel" id="BindForm" data-role="bind-section-update" method="POST" enctype="multipart/form-data">
                <table class="table" data-search="BindSearch">
                    <tbody>
                        @Partial['_partial/part-srvc-bind-data', @Current.Data];
                        <tr data-file="@Current.FilePath" data-object="bind-parameter">
                            <td class="bg-anthilla-gray-m" style="border-width: 0; border-right: 4px solid #3A3A3A; width: 13%;"></td>
                            <td style="width: 20%;">
                                <input name="DataKey" type="text" style="width: 90%;" />
                                <input name="DataFilePath" type="hidden" value="@Current.FilePath" />
                            </td>
                            <td>
                                <input name="DataValue" type="text" style="width: 90%;" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
            @EndEach

            @Each.BindTrustedKeys
            <form action="/services/update/bind/trusted-keys" id="BindForm" data-role="bind-section-update" method="POST" enctype="multipart/form-data">
                <table class="table" data-search="BindSearch">
                    <tbody>
                        @Partial['_partial/part-srvc-bind-data', @Current.Data];
                        <tr data-file="@Current.FilePath" data-object="bind-parameter">
                            <td class="bg-anthilla-gray-m" style="border-width: 0; border-right: 4px solid #3A3A3A; width: 13%;"></td>
                            <td style="width: 20%;">
                                <input name="DataKey" type="text" style="width: 90%;" />
                                <input name="DataFilePath" type="hidden" value="@Current.FilePath" />
                            </td>
                            <td>
                                <input name="DataValue" type="text" style="width: 90%;" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
            @EndEach

            @Each.BindManagedKeys
            <form action="/services/update/bind/managed-keys" id="BindForm" data-role="bind-section-update" method="POST" enctype="multipart/form-data">
                <table class="table" data-search="BindSearch">
                    <tbody>
                        @Partial['_partial/part-srvc-bind-data', @Current.Data];
                        <tr data-file="@Current.FilePath" data-object="bind-parameter">
                            <td class="bg-anthilla-gray-m" style="border-width: 0; border-right: 4px solid #3A3A3A; width: 13%;"></td>
                            <td style="width: 20%;">
                                <input name="DataKey" type="text" style="width: 90%;" />
                                <input name="DataFilePath" type="hidden" value="@Current.FilePath" />
                            </td>
                            <td>
                                <input name="DataValue" type="text" style="width: 90%;" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
            @EndEach
        </div>

        <div id="bind_zones" class="frame" style="display: none;">
            <div id="BindConfigPanel" style="width: 100%; height: auto; padding: 20px; margin-bottom: 15px;" class="border-2-anthilla-gray">
                <input type="button" class="bg-mauve" value="New Zone Configuration" id="AddNewZoneBind" style="display: inline-block;">
                <input type="text" placeholder="Search" style="position: relative; margin-bottom: 15px; height: 30px; width: 300px; padding-left: 5px; display: inline; float: right;" data-table="BindSearch" class="search-field" autocomplete="off">
            </div>

            <div id="NewZoneBindDashboard" style="display: none; width: 100%; height: auto; padding: 20px; margin-bottom: 15px;" class="border-2-anthilla-gray">
                <form action="/services/bind/addzone" method="POST" enctype="multipart/form-data" class="grid">
                    <div class="row">
                        <div class="span4">
                            <label>Zone Name</label>
                        </div>
                        <div class="span6">
                            <input name="NewZoneName" type="text" style="width: 90%;" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="span4">
                            <label>&nbsp</label>
                        </div>
                        <div class="span6">
                            <input value="Add Zone" type="submit" style="width: 90%;" class="bg-anthilla-geen" />
                        </div>
                    </div>
                </form>
            </div>

            @Each.BindZone
            <form action="/services/update/bind/zone/@Current.Name" id="BindForm" data-role="bind-section-update" method="POST" enctype="multipart/form-data">
                <table class="table" data-search="BindSearch" data-section="bind-zone" data-zone-name="@Current.Name">
                    <tbody>
                        <tr data-file="@Current.FilePath" data-object="bind-parameter" style="border-bottom: 4px solid #3A3A3A;">
                            <td colspan="3">
                                @Current.Name
                                <input type="submit" value="Update Zone @Current.Name" style="float:right;" class="bg-green" />
                            </td>
                        </tr>
                        @Partial['_partial/part-srvc-bind-data', @Current.Data];
                        <tr data-file="@Current.FilePath" data-object="bind-parameter">
                            <td class="bg-anthilla-gray-m" style="border-width: 0; border-right: 4px solid #3A3A3A; width: 13%;"></td>
                            <td style="width: 20%;">
                                <input name="DataKey" type="text" style="width: 90%;" />
                                <input name="DataFilePath" type="hidden" value="@Current.FilePath" />
                            </td>
                            <td>
                                <input name="DataValue" type="text" style="width: 90%;" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
            @EndEach
        </div>

        <div id="bind_acl" class="frame" style="display: none;">
            @Each.BindAcl
            <form action="/services/update/bind/acl" id="BindForm" data-role="bind-section-update" method="POST" enctype="multipart/form-data">
                <table class="table" data-search="BindSearch" data-section="bind-acl">
                    <tbody>
                        @Partial['_partial/part-srvc-bind-data', @Current.Data];
                    </tbody>
                </table>
            </form>
            @EndEach
        </div>

        <div id="bind_keys" class="frame" style="display: none;">
            <div id="BindConfigPanel" style="width: 100%; height: auto; padding: 20px; margin-bottom: 15px;" class="border-2-anthilla-gray">
                <input type="button" class="bg-mauve" value="New Key Configuration" id="AddNewKeyBind" style="display: inline-block;">
                <input type="text" placeholder="Search" style="position: relative; margin-bottom: 15px; height: 30px; width: 300px; padding-left: 5px; display: inline; float: right;" data-table="BindSearch" class="search-field" autocomplete="off">
            </div>

            <div id="NewKeyBindDashboard" style="display: none; width: 100%; height: auto; padding: 20px; margin-bottom: 15px;" class="border-2-anthilla-gray">
                <form action="/services/bind/addkey" method="POST" enctype="multipart/form-data" class="grid">
                    <div class="row">
                        <div class="span4">
                            <label>Key Name</label>
                        </div>
                        <div class="span6">
                            <input name="NewKeyName" type="text" style="width: 90%;" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="span4">
                            <label>&nbsp</label>
                        </div>
                        <div class="span6">
                            <input value="Add Key" type="submit" style="width: 90%;" class="bg-anthilla-geen" />
                        </div>
                    </div>
                </form>
            </div>
            @Each.BindKey
            <form action="/services/update/bind/key/@Current.Name" id="BindForm" data-role="bind-section-update" method="POST" enctype="multipart/form-data">
                <table class="table" data-search="BindSearch" data-section="bind-key" data-key-name="@Current.Name">
                    <tbody>
                        <tr data-file="@Current.FilePath" data-object="bind-parameter" style="border-bottom: 4px solid #3A3A3A;">
                            <td colspan="3">
                                @Current.Name
                                <input type="submit" value="Update Key @Current.Name" style="float:right;" class="bg-green" />
                            </td>
                        </tr>
                        @Partial['_partial/part-srvc-bind-data', @Current.Data];
                        <tr data-file="@Current.FilePath" data-object="bind-parameter">
                            <td class="bg-anthilla-gray-m" style="border-width: 0; border-right: 4px solid #3A3A3A; width: 13%;"></td>
                            <td style="width: 20%;">
                                <input name="DataKey" type="text" style="width: 90%;" />
                                <input name="DataFilePath" type="hidden" value="@Current.FilePath" />
                            </td>
                            <td>
                                <input name="DataValue" type="text" style="width: 90%;" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
            @EndEach
        </div>

        <div id="bind_masters" class="frame" style="display: none;">
            <div id="BindConfigPanel" style="width: 100%; height: auto; padding: 20px; margin-bottom: 15px;" class="border-2-anthilla-gray">
                <input type="button" class="bg-mauve" value="New Masters Configuration" id="AddNewMastersBind" style="display: inline-block;">
                <input type="text" placeholder="Search" style="position: relative; margin-bottom: 15px; height: 30px; width: 300px; padding-left: 5px; display: inline; float: right;" data-table="BindSearch" class="search-field" autocomplete="off">
            </div>

            <div id="NewMastersBindDashboard" style="display: none; width: 100%; height: auto; padding: 20px; margin-bottom: 15px;" class="border-2-anthilla-gray">
                <form action="/services/bind/addmasters" method="POST" enctype="multipart/form-data" class="grid">
                    <div class="row">
                        <div class="span4">
                            <label>Masters Name</label>
                        </div>
                        <div class="span6">
                            <input name="NewMastersName" type="text" style="width: 90%;" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="span4">
                            <label>&nbsp</label>
                        </div>
                        <div class="span6">
                            <input value="Add Masters" type="submit" style="width: 90%;" class="bg-anthilla-geen" />
                        </div>
                    </div>
                </form>
            </div>

            @Each.BindMasters
            <form action="/services/update/bind/masters/@Current.Name" id="BindForm" data-role="bind-section-update" method="POST" enctype="multipart/form-data">
                <table class="table" data-search="BindSearch" data-section="bind-masters" data-masters-name="@Current.Name">
                    <tbody>
                        <tr data-file="@Current.FilePath" data-object="bind-parameter" style="border-bottom: 4px solid #3A3A3A;">
                            <td colspan="3">
                                @Current.Name
                                <input type="submit" value="Update Masters @Current.Name" style="float:right;" class="bg-green" />
                            </td>
                        </tr>
                        @Partial['_partial/part-srvc-bind-data', @Current.Data];
                        <tr data-file="@Current.FilePath" data-object="bind-parameter">
                            <td class="bg-anthilla-gray-m" style="border-width: 0; border-right: 4px solid #3A3A3A; width: 13%;"></td>
                            <td style="width: 20%;">
                                <input name="DataKey" type="text" style="width: 90%;" />
                                <input name="DataFilePath" type="hidden" value="@Current.FilePath" />
                            </td>
                            <td>
                                <input name="DataValue" type="text" style="width: 90%;" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
            @EndEach
        </div>

        <div id="bind_server" class="frame" style="display: none;">
            <div id="BindConfigPanel" style="width: 100%; height: auto; padding: 20px; margin-bottom: 15px;" class="border-2-anthilla-gray">
                <input type="button" class="bg-mauve" value="New Server Configuration" id="AddNewServerBind" style="display: inline-block;">
                <input type="text" placeholder="Search" style="position: relative; margin-bottom: 15px; height: 30px; width: 300px; padding-left: 5px; display: inline; float: right;" data-table="BindSearch" class="search-field" autocomplete="off">
            </div>

            <div id="NewServerBindDashboard" style="display: none; width: 100%; height: auto; padding: 20px; margin-bottom: 15px;" class="border-2-anthilla-gray">
                <form action="/services/bind/addserver" method="POST" enctype="multipart/form-data" class="grid">
                    <div class="row">
                        <div class="span4">
                            <label>Server Name</label>
                        </div>
                        <div class="span6">
                            <input name="NewServerName" type="text" style="width: 90%;" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="span4">
                            <label>&nbsp</label>
                        </div>
                        <div class="span6">
                            <input value="Add Server" type="submit" style="width: 90%;" class="bg-anthilla-geen" />
                        </div>
                    </div>
                </form>
            </div>

            @Each.BindServer
            <form action="/services/update/bind/server/@Current.Name" id="BindForm" data-role="bind-section-update" method="POST" enctype="multipart/form-data">
                <table class="table" data-search="BindSearch" data-section="bind-server" data-server-name="@Current.Name">
                    <tbody>
                        <tr data-file="@Current.FilePath" data-object="bind-parameter" style="border-bottom: 4px solid #3A3A3A;">
                            <td colspan="3">
                                @Current.Name
                                <input type="submit" value="Update Server @Current.Name" style="float:right;" class="bg-green" />
                            </td>
                        </tr>
                        @Partial['_partial/part-srvc-bind-data', @Current.Data];
                        <tr data-file="@Current.FilePath" data-object="bind-parameter">
                            <td class="bg-anthilla-gray-m" style="border-width: 0; border-right: 4px solid #3A3A3A; width: 13%;"></td>
                            <td style="width: 20%;">
                                <input name="DataKey" type="text" style="width: 90%;" />
                                <input name="DataFilePath" type="hidden" value="@Current.FilePath" />
                            </td>
                            <td>
                                <input name="DataValue" type="text" style="width: 90%;" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
            @EndEach
        </div>

        <div id="bind_view" class="frame" style="display: none;">
            <div id="BindConfigPanel" style="width: 100%; height: auto; padding: 20px; margin-bottom: 15px;" class="border-2-anthilla-gray">
                <input type="button" class="bg-mauve" value="New View Configuration" id="AddNewViewBind" style="display: inline-block;">
                <input type="text" placeholder="Search" style="position: relative; margin-bottom: 15px; height: 30px; width: 300px; padding-left: 5px; display: inline; float: right;" data-table="BindSearch" class="search-field" autocomplete="off">
            </div>

            <div id="NewViewBindDashboard" style="display: none; width: 100%; height: auto; padding: 20px; margin-bottom: 15px;" class="border-2-anthilla-gray">
                <form action="/services/bind/addview" method="POST" enctype="multipart/form-data" class="grid">
                    <div class="row">
                        <div class="span4">
                            <label>View Name</label>
                        </div>
                        <div class="span6">
                            <input name="NewViewName" type="text" style="width: 90%;" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="span4">
                            <label>&nbsp</label>
                        </div>
                        <div class="span6">
                            <input value="Add View" type="submit" style="width: 90%;" class="bg-anthilla-geen" />
                        </div>
                    </div>
                </form>
            </div>

            @Each.BindView
            <form action="/services/update/bind/view/@Current.Name" id="BindForm" data-role="bind-section-update" method="POST" enctype="multipart/form-data">
                <table class="table" data-search="BindSearch" data-section="bind-view" data-view-name="@Current.Name">
                    <tbody>
                        <tr data-file="@Current.FilePath" data-object="bind-parameter" style="border-bottom: 4px solid #3A3A3A;">
                            <td colspan="3">
                                @Current.Name
                                <input type="submit" value="Update View @Current.Name" style="float:right;" class="bg-green" />
                            </td>
                        </tr>
                        @Partial['_partial/part-srvc-bind-data', @Current.Data];
                        <tr data-file="@Current.FilePath" data-object="bind-parameter">
                            <td class="bg-anthilla-gray-m" style="border-width: 0; border-right: 4px solid #3A3A3A; width: 13%;"></td>
                            <td style="width: 20%;">
                                <input name="DataKey" type="text" style="width: 90%;" />
                                <input name="DataFilePath" type="hidden" value="@Current.FilePath" />
                            </td>
                            <td>
                                <input name="DataValue" type="text" style="width: 90%;" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
            @EndEach
        </div>
    </div>
</div>
}
