<h1 class="fg-white padding-bottom10 bd-anthilla-gray-2 capitalize" style="border-bottom: 1px solid;">fs</h1>

<div ng-controller="VfsController">
    <div ng-hide="Connected" class="panel margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
        <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
            <span class="icon mif-cog fg-anthilla-green bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
            <span class="title">
                Client Connection Parameters
            </span>
        </div>
        <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
            <div class="grid fg-white">
                <div class="row cells6">
                    <div class="cell colspan2 uppercase fg-anthilla-green">
                        <p>User</p>
                    </div>
                    <div class="cell colspan4">
                        <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                            <input type="text" ng-model="Connection.User" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                            <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                        </div>
                    </div>
                </div>
                <div class="row cells6">
                    <div class="cell colspan2 uppercase fg-anthilla-green">
                        <p>Server</p>
                    </div>
                    <div class="cell colspan4">
                        <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                            <input type="text" ng-model="Connection.Server" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                            <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                        </div>
                    </div>
                </div>
                <div class="row cells6">
                    <div class="cell colspan2 uppercase fg-anthilla-green">
                        <p>Port</p>
                    </div>
                    <div class="cell colspan4">
                        <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                            <input type="text" ng-model="Connection.Port" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                            <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                        </div>
                    </div>
                </div>
                <div class="row cells6">
                    <div class="cell colspan2 uppercase fg-anthilla-green">
                        <p>&nbsp;</p>
                    </div>
                    <div class="cell colspan4">
                        <button ng-click="connect()" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right10 width100pc"><span class="mif-broadcast fg-anthilla-blue padding-right20"></span>&nbsp;{{ 'CONNECT' | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <button ng-show="Connected" ng-click="disconnect()" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right10 width100pc"><span class="mif-broadcast fg-anthilla-orange padding-right20"></span>&nbsp;{{ 'DISCONNECT' | translate }}</button>
    <form name="form" ng-show="Connected">
        <div class="grid fg-white">
            <div ngf-drop ng-model="files" ngf-multiple="true">
                <div class="row cells6" ngf-drop ng-model="files" ngf-multiple="true">
                    <div class="cell colspan2 uppercase fg-anthilla-green">
                        <p>files</p>
                    </div>
                    <div class="cell colspan4">
                        <button ngf-select ng-model="files" ngf-multiple="true" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20 width100pc"><span class="mif-folder-open fg-anthilla-blue padding-right20"></span>&nbsp;Select</button>
                    </div>
                </div>
                <div ng-repeat="file in files">
                    <div class="row cells6">
                        <div class="cell colspan2 uppercase fg-anthilla-green">
                            <p>File #{{ $index }}</p>
                        </div>
                        <div class="cell colspan2" ng-init="file.preupload=false;">
                            <p>{{ file.name }}</p>
                            <small>{{ ReadableFileSize(file.size, 2) }}</small>
                        </div>
                        <div class="cell">
                            <button ng-click="uploadThis($index, file)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20 width100pc"><span class="mif-play fg-anthilla-blue"></span></button>
                        </div>
                        <div class="cell">
                            <button ng-click="removeFromUpload($index)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20 width100pc"><span class="mif-cross fg-anthilla-orange"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row cells6">
                <div class="cell colspan2 uppercase fg-anthilla-green">
                </div>
                <div class="cell colspan4">
                    <button type="submit" ng-click="submit()" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20 width100pc"><span class="mif-upload fg-anthilla-blue padding-right20"></span>&nbsp;upload</button>
                </div>
            </div>
        </div>
    </form>
    <div class="bg-white padding20" ng-show="Connected">
        <div class="listview">

            <div class="list">
                <span class="list-icon icon-font-icon fg-amber mif-folder-open"></span>
                <span class="list-title">{{ RequestedDirectory }}</span>
            </div>

            <div class="list" ng-hide="IsRoot" ng-click="EnterFolder('..')">
                <span class="list-icon icon-font-icon mif-folder"></span>
                <span class="list-title">..</span>
            </div>

            <div ng-repeat="folder in CurrentDirectory.ChildContainers" ng-click="EnterFolder(folder)" class="list">
                <span class="list-icon icon-font-icon mif-folder"></span>
                <span class="list-title">{{ folder }}</span>
            </div>

            <a ng-repeat="obj in CurrentDirectory.ObjectMetadata" class="list fg-gray" href="{{ DownloadUrl(obj) }}">
                <span class="list-icon icon-folder mif-file-empty"></span>
                <span class="list-title">{{ obj.Key }}</span>
            </a>
        </div>
    </div>
</div>