[Unit]
Description=External Volume Unit, Application: Antdsh Launcher Service
Requires=local-fs.target sysinit.target
After=framework-antdsh.mount

[Service]
ExecStart=/usr/bin/mono /framework/antdsh/antdsh.exe

[Install]
WantedBy=applicative.target

