[Unit]
Description=External Volume Unit, Application: Antd Prepare Service
Requires=local-fs.target sysinit.target
Before=framework-antd.mount

[Service]
ExecStart=/bin/mkdir -p /framework/antd

[Install]
WantedBy=applicative.target

