[Unit]
Description=External Volume Unit, Application: DIR_framework_antd Mount 
ConditionPathExists=/framework/antd

[Mount]
What=/mnt/cdrom/Apps/Anthilla_Antd/active-version
Where=/framework/antd/

[Install]
WantedBy=applicative.target

