<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="2.9.4" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="2.9.4" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.9.4" targetFramework="net472" developmentDependency="true" />
  <package id="Patterns.Logging" version="1.0.0.7" targetFramework="net472" />
  <package id="SocketHttpListener" version="1.0.50" targetFramework="net472" />
</packages>