<legend id="Hosts">Hosts</legend>
<table class="table hovered">
    <thead>
        <tr>
            <th>
                <label>Name</label>
            </th>
            <th>
                <label>Hostname / IP</label>
            </th>
            <th>
                <label>Custer</label>
            </th>
            <th>
                <label>Data Center</label>
            </th>
            <th>
                <label>Status</label>
            </th>
            <th>
                <label>Virtual Machines</label>
            </th>
            <th>
                <label>Memory</label>
            </th>
            <th>
                <label>CPU</label>
            </th>
            <th>
                <label>Network</label>
            </th>
            <th>
                <label>SPM</label>
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
