<legend id="Datastore">Datastore</legend>
<table class="table hovered">
    <thead>
        <tr>
            <th>
                <label>Name</label>
            </th>
            <th>
                <label>capacity</label>
            </th>
            <th>
                <label>available</label>
            </th>
            <th>
                <label>status</label>
            </th>
            <th>
                <label>path</label>
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2">
                <input id="NewDatastore" type="text" />
            </td>
            <td colspan="2">
                <input id="NewDatastore" type="file" />
            </td>
            <td>
                <p id="UpdateDatastore" class="button bg-anthilla-green">New</p>
            </td>
        </tr>
    </tfoot>
</table>
