<h1 class="fg-white padding-bottom10 bd-anthilla-gray-2 capitalize" style="border-bottom: 1px solid;">journal</h1>

<div ng-controller="LogJournalController">
    <div class="input-control text width50pc fg-white">
        <span class="mif-search prepend-icon fg-anthilla-green"></span>
        <input ng-model="query" type="text" placeholder="{{ 'SEARCH' | translate }}" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
    </div>
    <br />
    <div class="padding20 bd-anthilla-gray2 fg-white" style="border: 2px solid; font-size: 90%;">
        <div ng-repeat="log in Logs | filter:query">
            <div class="bg-hover-anthilla-gray-2 width100pc">{{ log }}</div>
        </div>
    </div>
</div>
