<h1 class="fg-white padding-bottom10 bd-anthilla-gray-2 capitalize" style="border-bottom: 1px solid;">log configuration</h1>

<div ng-controller="LogJournaldController">
    <div ng-switch="isActive">
        <div ng-switch-when="false">
            <button ng-click="enable()" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-plus fg-anthilla-green"></span>&nbsp;Enable</button>
        </div>
        <div ng-switch-when="true">
            <button ng-click="set()" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-checkmark fg-anthilla-green"></span>&nbsp;Apply Settings</button>
            <button ng-click="start()" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-play fg-anthilla-green"></span>&nbsp;Start</button>
            <button ng-click="restart()" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-loop fg-anthilla-green"></span>&nbsp;Restart</button>
            <button ng-click="stop()" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-stop fg-anthilla-orange"></span>&nbsp;Stop</button>
            <button ng-click="disable()" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-eject fg-anthilla-orange"></span>&nbsp;Disable</button>
        </div>
        <div ng-switch-default> </div>
    </div>
    <br />
    <div class="grid condensed">
        <div class="row cells4">
            <div class="cell padding-left20">
                <h5 class="uppercase fg-anthilla-green">Storage</h5>
            </div>
            <div class="cell colspan2">
                <div class="input-control text width100pc fg-white">
                    <input type="text" ng-model="Journald.Storage" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                </div>
            </div>
            <div class="cell padding-left20" style="display: none;">
            </div>
        </div>

        <div class="row cells4">
            <div class="cell padding-left20">
                <h5 class="uppercase fg-anthilla-green">Compress</h5>
            </div>
            <div class="cell colspan2">
                <div class="input-control text width100pc fg-white">
                    <input type="text" ng-model="Journald.Compress" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                </div>
            </div>
            <div class="cell padding-left20" style="display: none;">
            </div>
        </div>

        <div class="row cells4">
            <div class="cell padding-left20">
                <h5 class="uppercase fg-anthilla-green">Seal</h5>
            </div>
            <div class="cell colspan2">
                <div class="input-control text width100pc fg-white">
                    <input type="text" ng-model="Journald.Seal" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                </div>
            </div>
            <div class="cell padding-left20" style="display: none;">
            </div>
        </div>

        <div class="row cells4">
            <div class="cell padding-left20">
                <h5 class="uppercase fg-anthilla-green">SplitMode</h5>
            </div>
            <div class="cell colspan2">
                <div class="input-control text width100pc fg-white">
                    <input type="text" ng-model="Journald.SplitMode" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                </div>
            </div>
            <div class="cell padding-left20" style="display: none;">
            </div>
        </div>

        <div class="row cells4">
            <div class="cell padding-left20">
                <h5 class="uppercase fg-anthilla-green">SyncIntervalSec</h5>
            </div>
            <div class="cell colspan2">
                <div class="input-control text width100pc fg-white">
                    <input type="text" ng-model="Journald.SyncIntervalSec" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                </div>
            </div>
            <div class="cell padding-left20" style="display: none;">
            </div>
        </div>

        <div class="row cells4">
            <div class="cell padding-left20">
                <h5 class="uppercase fg-anthilla-green">RateLimitInterval</h5>
            </div>
            <div class="cell colspan2">
                <div class="input-control text width100pc fg-white">
                    <input type="text" ng-model="Journald.RateLimitInterval" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                </div>
            </div>
            <div class="cell padding-left20" style="display: none;">
            </div>
        </div>

        <div class="row cells4">
            <div class="cell padding-left20">
                <h5 class="uppercase fg-anthilla-green">RateLimitBurst</h5>
            </div>
            <div class="cell colspan2">
                <div class="input-control text width100pc fg-white">
                    <input type="text" ng-model="Journald.RateLimitBurst" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                </div>
            </div>
            <div class="cell padding-left20" style="display: none;">
            </div>
        </div>

        <div class="row cells4">
            <div class="cell padding-left20">
                <h5 class="uppercase fg-anthilla-green">SystemMaxUse</h5>
            </div>
            <div class="cell colspan2">
                <div class="input-control text width100pc fg-white">
                    <input type="text" ng-model="Journald.SystemMaxUse" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                </div>
            </div>
            <div class="cell padding-left20" style="display: none;">
            </div>
        </div>

        <div class="row cells4">
            <div class="cell padding-left20">
                <h5 class="uppercase fg-anthilla-green">SystemKeepFree</h5>
            </div>
            <div class="cell colspan2">
                <div class="input-control text width100pc fg-white">
                    <input type="text" ng-model="Journald.SystemKeepFree" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                </div>
            </div>
            <div class="cell padding-left20" style="display: none;">
            </div>
        </div>

        <div class="row cells4">
            <div class="cell padding-left20">
                <h5 class="uppercase fg-anthilla-green">SystemMaxFileSize</h5>
            </div>
            <div class="cell colspan2">
                <div class="input-control text width100pc fg-white">
                    <input type="text" ng-model="Journald.SystemMaxFileSize" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                </div>
            </div>
            <div class="cell padding-left20" style="display: none;">
            </div>
        </div>

        <div class="row cells4">
            <div class="cell padding-left20">
                <h5 class="uppercase fg-anthilla-green">RuntimeMaxUse</h5>
            </div>
            <div class="cell colspan2">
                <div class="input-control text width100pc fg-white">
                    <input type="text" ng-model="Journald.RuntimeMaxUse" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                </div>
            </div>
            <div class="cell padding-left20" style="display: none;">
            </div>
        </div>

        <div class="row cells4">
            <div class="cell padding-left20">
                <h5 class="uppercase fg-anthilla-green">RuntimeKeepFree</h5>
            </div>
            <div class="cell colspan2">
                <div class="input-control text width100pc fg-white">
                    <input type="text" ng-model="Journald.RuntimeKeepFree" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                </div>
            </div>
            <div class="cell padding-left20" style="display: none;">
            </div>
        </div>

        <div class="row cells4">
            <div class="cell padding-left20">
                <h5 class="uppercase fg-anthilla-green">RuntimeMaxFileSize</h5>
            </div>
            <div class="cell colspan2">
                <div class="input-control text width100pc fg-white">
                    <input type="text" ng-model="Journald.RuntimeMaxFileSize" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                </div>
            </div>
            <div class="cell padding-left20" style="display: none;">
            </div>
        </div>

        <div class="row cells4">
            <div class="cell padding-left20">
                <h5 class="uppercase fg-anthilla-green">MaxRetentionSec</h5>
            </div>
            <div class="cell colspan2">
                <div class="input-control text width100pc fg-white">
                    <input type="text" ng-model="Journald.MaxRetentionSec" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                </div>
            </div>
            <div class="cell padding-left20" style="display: none;">
            </div>
        </div>

        <div class="row cells4">
            <div class="cell padding-left20">
                <h5 class="uppercase fg-anthilla-green">MaxFileSec</h5>
            </div>
            <div class="cell colspan2">
                <div class="input-control text width100pc fg-white">
                    <input type="text" ng-model="Journald.MaxFileSec" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                </div>
            </div>
            <div class="cell padding-left20" style="display: none;">
            </div>
        </div>

        <div class="row cells4">
            <div class="cell padding-left20">
                <h5 class="uppercase fg-anthilla-green">ForwardToSyslog</h5>
            </div>
            <div class="cell colspan2">
                <div class="input-control text width100pc fg-white">
                    <input type="text" ng-model="Journald.ForwardToSyslog" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                </div>
            </div>
            <div class="cell padding-left20" style="display: none;">
            </div>
        </div>

        <div class="row cells4">
            <div class="cell padding-left20">
                <h5 class="uppercase fg-anthilla-green">ForwardToKMsg</h5>
            </div>
            <div class="cell colspan2">
                <div class="input-control text width100pc fg-white">
                    <input type="text" ng-model="Journald.ForwardToKMsg" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                </div>
            </div>
            <div class="cell padding-left20" style="display: none;">
            </div>
        </div>

        <div class="row cells4">
            <div class="cell padding-left20">
                <h5 class="uppercase fg-anthilla-green">ForwardToConsole</h5>
            </div>
            <div class="cell colspan2">
                <div class="input-control text width100pc fg-white">
                    <input type="text" ng-model="Journald.ForwardToConsole" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                </div>
            </div>
            <div class="cell padding-left20" style="display: none;">
            </div>
        </div>

        <div class="row cells4">
            <div class="cell padding-left20">
                <h5 class="uppercase fg-anthilla-green">ForwardToWall</h5>
            </div>
            <div class="cell colspan2">
                <div class="input-control text width100pc fg-white">
                    <input type="text" ng-model="Journald.ForwardToWall" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                </div>
            </div>
            <div class="cell padding-left20" style="display: none;">
            </div>
        </div>

        <div class="row cells4">
            <div class="cell padding-left20">
                <h5 class="uppercase fg-anthilla-green">TTYPath</h5>
            </div>
            <div class="cell colspan2">
                <div class="input-control text width100pc fg-white">
                    <input type="text" ng-model="Journald.TTYPath" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                </div>
            </div>
            <div class="cell padding-left20" style="display: none;">
            </div>
        </div>

        <div class="row cells4">
            <div class="cell padding-left20">
                <h5 class="uppercase fg-anthilla-green">MaxLevelStore</h5>
            </div>
            <div class="cell colspan2">
                <div class="input-control text width100pc fg-white">
                    <input type="text" ng-model="Journald.MaxLevelStore" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                </div>
            </div>
            <div class="cell padding-left20" style="display: none;">
            </div>
        </div>

        <div class="row cells4">
            <div class="cell padding-left20">
                <h5 class="uppercase fg-anthilla-green">MaxLevelSyslog</h5>
            </div>
            <div class="cell colspan2">
                <div class="input-control text width100pc fg-white">
                    <input type="text" ng-model="Journald.MaxLevelSyslog" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                </div>
            </div>
            <div class="cell padding-left20" style="display: none;">
            </div>
        </div>

        <div class="row cells4">
            <div class="cell padding-left20">
                <h5 class="uppercase fg-anthilla-green">MaxLevelKMsg</h5>
            </div>
            <div class="cell colspan2">
                <div class="input-control text width100pc fg-white">
                    <input type="text" ng-model="Journald.MaxLevelKMsg" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                </div>
            </div>
            <div class="cell padding-left20" style="display: none;">
            </div>
        </div>

        <div class="row cells4">
            <div class="cell padding-left20">
                <h5 class="uppercase fg-anthilla-green">MaxLevelConsole</h5>
            </div>
            <div class="cell colspan2">
                <div class="input-control text width100pc fg-white">
                    <input type="text" ng-model="Journald.MaxLevelConsole" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                </div>
            </div>
            <div class="cell padding-left20" style="display: none;">
            </div>
        </div>

        <div class="row cells4">
            <div class="cell padding-left20">
                <h5 class="uppercase fg-anthilla-green">MaxLevelWall</h5>
            </div>
            <div class="cell colspan2">
                <div class="input-control text width100pc fg-white">
                    <input type="text" ng-model="Journald.MaxLevelWall" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                </div>
            </div>
            <div class="cell padding-left20" style="display: none;">
            </div>
        </div>

        <div class="row cells4">
            <div class="cell padding-left20">
            </div>
            <div class="cell colspan2">
                <button ng-click="saveOptions(Journald)" class="button bg-anthilla-green bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-checkmark"></span>&nbsp;{{ 'SAVE' | translate }}</button>
            </div>
        </div>
    </div>
</div>