<div class="padding20 width100pc bd-anthilla-gray-2" style="border-top: 6px solid;" ng-controller="WizardController">

    <div class="width100pc">
        <div class="grid condensed">
            <div class="row cells3">
                <div class="cell colspan2">
                    <div id="ProgressBar" class="progress large width100pc" data-role="progress" data-color="bg-anthilla-green"></div>
                </div>
                <div class="cell padding-left10">
                    <button ng-click="saveConfiguration()" ng-hide="hideSaveButton" class="button bg-anthilla-gray-2 fg-anthilla-green bd-anthilla-green width100pc ng-hide" aria-hidden="true">SAVE</button>
                    <button ng-hide="hideFakeSaveButton" class="button width100pc bg-lightGray fg-white" disabled="disabled" style="cursor: not-allowed;" aria-hidden="false">SAVE</button>
                </div>
            </div>
        </div>
    </div>

    <h1 class="fg-white padding-bottom10 bd-anthilla-gray-2 capitalize" style="border-bottom: 1px solid;">Antd Wizard Configuration</h1>

    <!--Password-->
    <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
        <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
            <span class="icon mif-wrench fg-anthilla-violet bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
            <span class="title">
                Password
            </span>
        </div>
        <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
            <div class="grid fg-white">
                <div class="row cells6">
                    <div class="cell colspan2 uppercase fg-anthilla-green">
                        <p>Application Password</p>
                    </div>
                    <div class="cell colspan4">
                        <div data-role="input" class="input-control password full-size">
                            <input type="password" ng-model="Password" ng-role="passwordCheck" ng-required style="padding-right: 42px;" class="bd-anthilla-gray-3 bd-focus-anthilla-green bg-anthilla-gray-2 fg-white">
                            <button class="button helper-button reveal bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-looks"></span></button>
                        </div>
                    </div>
                </div>
                <div class="row cells6">
                    <div class="cell colspan2 uppercase fg-anthilla-green">
                        <p>Retype Password</p>
                    </div>
                    <div class="cell colspan4">
                        <div data-role="input" class="input-control password full-size">
                            <input type="password" ng-model="PasswordCheck" ng-change="checkPassword()" ng-role="passwordCheck" ng-required style="padding-right: 42px;" class="bd-anthilla-gray-3 bd-focus-anthilla-green bg-anthilla-gray-2 fg-white">
                            <button class="button helper-button reveal bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-looks"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Host-->
    <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
        <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
            <span class="icon mif-wrench fg-anthilla-violet bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
            <span class="title">
                Host
            </span>
        </div>
        <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
            <div class="grid fg-white">
                <div class="row cells6">
                    <div class="cell colspan2 uppercase fg-anthilla-green">
                        <p>Hostname</p>
                    </div>
                    <div class="cell colspan4">
                        <div data-role="input" class="input-control text full-size">
                            <input type="text" ng-model="Hostname" ng-required style="padding-right: 42px;" class="bd-anthilla-gray-3 bd-focus-anthilla-green bg-anthilla-gray-2 fg-white">
                            <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                        </div>
                    </div>
                </div>
                <div class="row cells6">
                    <div class="cell colspan2 uppercase fg-anthilla-green">
                        <p>Location</p>
                    </div>
                    <div class="cell colspan4">
                        <div data-role="input" class="input-control text full-size">
                            <input type="text" ng-model="Location" ng-required style="padding-right: 42px;" class="bd-anthilla-gray-3 bd-focus-anthilla-green bg-anthilla-gray-2 fg-white">
                            <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                        </div>
                    </div>
                </div>
                <div class="row cells6">
                    <div class="cell colspan2 uppercase fg-anthilla-green">
                        <p>Chassis</p>
                    </div>
                    <div class="cell colspan4">
                        <div class="input-control select width100pc">
                            <select name="singleSelect" ng-model="Chassis" ng-required class="bg-anthilla-gray-2 bd-anthilla-gray-3 bd-focus-anthilla-green fg-white">
                                <option value="" selected="selected" disabled="disabled">Select</option>
                                <option value="desktop">desktop</option>
                                <option value="laptop">laptop</option>
                                <option value="server">server</option>
                                <option value="tablet">tablet</option>
                                <option value="handset">handset</option>
                                <option value="watch">watch</option>
                                <option value="embedded">embedded</option>
                                <option value="vm">vm</option>
                                <option value="container">container</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row cells6">
                    <div class="cell colspan2 uppercase fg-anthilla-green">
                        <p>Deployment</p>
                    </div>
                    <div class="cell colspan4">
                        <div data-role="input" class="input-control text full-size">
                            <input type="text" ng-model="Deployment" ng-required style="padding-right: 42px;" class="bd-anthilla-gray-3 bd-focus-anthilla-green bg-anthilla-gray-2 fg-white">
                            <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Time and Date-->
    <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
        <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
            <span class="icon mif-wrench fg-anthilla-violet bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
            <span class="title">
                Time and Date
            </span>
        </div>
        <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
            <div class="grid fg-white">
                <div class="row cells6">
                    <div class="cell colspan2 uppercase fg-anthilla-green">
                        <p>Timezone</p>
                    </div>
                    <div class="cell colspan4">
                        <div class="input-control select width100pc">
                            <select name="singleSelect" ng-model="Chassis" ng-required class="bg-anthilla-gray-2 bd-anthilla-gray-3 bd-focus-anthilla-green fg-white">
                                <option value="" selected="selected" disabled="disabled">Select</option>
                                <option ng-repeat="tz in Timezones" value="{{tz}}">{{tz}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row cells6">
                    <div class="cell colspan2 uppercase fg-anthilla-green">
                        <p>NTP Server</p>
                    </div>
                    <div class="cell colspan4">
                        <div data-role="input" class="input-control text full-size">
                            <input type="text" ng-model="NtpServer" ng-required style="padding-right: 42px;" class="bd-anthilla-gray-3 bd-focus-anthilla-green bg-anthilla-gray-2 fg-white">
                            <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Name Services-->
    <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
        <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
            <span class="icon mif-wrench fg-anthilla-violet bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
            <span class="title">
                Name Services
            </span>
        </div>
        <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
            <div class="grid fg-white">
                <div class="row cells6">
                    <div class="cell colspan2 uppercase fg-anthilla-green">
                        <p>Domain Int</p>
                    </div>
                    <div class="cell colspan4">
                        <div data-role="input" class="input-control text full-size">
                            <input type="text" ng-model="DomainInt" ng-required style="padding-right: 42px;" class="bd-anthilla-gray-3 bd-focus-anthilla-green bg-anthilla-gray-2 fg-white">
                            <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                        </div>
                    </div>
                </div>
                <div class="row cells6">
                    <div class="cell colspan2 uppercase fg-anthilla-green">
                        <p>Domain Ext</p>
                    </div>
                    <div class="cell colspan4">
                        <div data-role="input" class="input-control text full-size">
                            <input type="text" ng-model="DomainExt" ng-required style="padding-right: 42px;" class="bd-anthilla-gray-3 bd-focus-anthilla-green bg-anthilla-gray-2 fg-white">
                            <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                        </div>
                    </div>
                </div>
                <div class="row cells6">
                    <div class="cell colspan2 uppercase fg-anthilla-green">
                        <p>Hosts</p>
                    </div>
                    <div class="cell colspan4">
                        <div class="input-control textarea width100pc" data-role="input" data-text-auto-resize="true">
                            <textarea ng-model="Hosts" ng-required class="bg-anthilla-gray-2 bd-anthilla-gray-3 bd-focus-anthilla-green fg-white"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row cells6">
                    <div class="cell colspan2 uppercase fg-anthilla-green">
                        <p>Networks</p>
                    </div>
                    <div class="cell colspan4">
                        <div class="input-control textarea width100pc" data-role="input" data-text-auto-resize="true">
                            <textarea ng-model="Networks" ng-required class="bg-anthilla-gray-2 bd-anthilla-gray-3 bd-focus-anthilla-green fg-white"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row cells6">
                    <div class="cell colspan2 uppercase fg-anthilla-green">
                        <p>Resolv</p>
                    </div>
                    <div class="cell colspan4">
                        <div class="input-control textarea width100pc" data-role="input" data-text-auto-resize="true">
                            <textarea ng-model="Resolv" ng-required class="bg-anthilla-gray-2 bd-anthilla-gray-3 bd-focus-anthilla-green fg-white"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row cells6">
                    <div class="cell colspan2 uppercase fg-anthilla-green">
                        <p>NS Switch</p>
                    </div>
                    <div class="cell colspan4">
                        <div class="input-control textarea width100pc" data-role="input" data-text-auto-resize="true">
                            <textarea ng-model="Nsswitch" ng-required class="bg-anthilla-gray-2 bd-anthilla-gray-3 bd-focus-anthilla-green fg-white"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Network-->
    <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
        <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
            <span class="icon mif-wrench fg-anthilla-violet bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
            <span class="title">
                Network
            </span>
        </div>
        <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
            <div class="grid fg-white">
                <div class="row cells6">
                    <div class="cell colspan2 uppercase fg-anthilla-green">
                        <p>main interface</p>
                    </div>
                    <div class="cell colspan4">
                        <div class="input-control select width100pc">
                            <select name="singleSelect" ng-model="Interface" ng-required class="bg-anthilla-gray-2 bd-anthilla-gray-3 bd-focus-anthilla-green fg-white">
                                <option value="" selected="selected" disabled="disabled">Select</option>
                                <option ng-repeat="nif in NetworkIfList" value="{{nif}}">{{nif}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row cells6">
                    <div class="cell colspan2 uppercase fg-anthilla-green">
                        <p>Txqueuelen</p>
                    </div>
                    <div class="cell colspan4">
                        <div data-role="input" class="input-control text full-size">
                            <input type="text" ng-model="Txqueuelen" ng-required style="padding-right: 42px;" class="bd-anthilla-gray-3 bd-focus-anthilla-green bg-anthilla-gray-2 fg-white">
                            <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                        </div>
                    </div>
                </div>
                <div class="row cells6">
                    <div class="cell colspan2 uppercase fg-anthilla-green">
                        <p>Mtu</p>
                    </div>
                    <div class="cell colspan4">
                        <div data-role="input" class="input-control text full-size">
                            <input type="text" ng-model="Mtu" ng-required style="padding-right: 42px;" class="bd-anthilla-gray-3 bd-focus-anthilla-green bg-anthilla-gray-2 fg-white">
                            <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                        </div>
                    </div>
                </div>
                <div class="row cells6">
                    <div class="cell colspan2 uppercase fg-anthilla-green">
                        <p>Mode</p>
                    </div>
                    <div class="cell colspan4">
                        <div class="input-control select width100pc">
                            <select name="singleSelect" ng-model="Mode" ng-required class="bg-anthilla-gray-2 bd-anthilla-gray-3 bd-focus-anthilla-green fg-white">
                                <option value="" selected="selected" disabled="disabled">Select</option>
                                <option value="Static">Static</option>
                                <option value="Dynamic">Dynamic</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row cells6">
                    <div class="cell colspan2 uppercase fg-anthilla-green">
                        <p>Address</p>
                    </div>
                    <div class="cell colspan4">
                        <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                            <input type="text" ng-model="StaticAddress" ng-required style="padding-right: 42px;" class="bd-anthilla-gray-3 bd-focus-anthilla-green bg-anthilla-gray-2 fg-white">
                            <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                        </div>
                    </div>
                </div>
                <div class="row cells6">
                    <div class="cell colspan2 uppercase fg-anthilla-green">
                        <p>Range</p>
                    </div>
                    <div class="cell colspan4">
                        <div class="input-control select width100pc">
                            <select name="singleSelect" ng-model="StaticRange" ng-required class="bg-anthilla-gray-2 bd-anthilla-gray-3 bd-focus-anthilla-green fg-white">
                                <option value="" selected="selected" disabled="disabled">Select</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                                <option value="32">32</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>