<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@Model.File.FileName</title>
    <link href="/anthilladoc/Style/print.css" rel="stylesheet">
    <link href="/anthilladoc/Style/metro.css" rel="stylesheet">
    <link href="/anthilladoc/Style/metro-icons.css" rel="stylesheet">
    <link href="/anthilladoc/Style/template.css" rel="stylesheet">
    <link href="/anthilladoc/Style/template-colors.css" rel="stylesheet">
    <link href="/anthilladoc/Style/template.metro.css" rel="stylesheet">
</head>
<body>

    <page size="A4" layout="landscape" style="height: auto !important;">
        <table class="table" style="table-layout: fixed;">
            <thead>
                <tr>
                    <td colspan="6" class="upcase fg-darkBlue">MESE DI: @Model.File.Month</td>
                    <td colspan="16" class="upcase fg-darkBlue">@Model.File.Ward</td>
                </tr>
            </thead>
            <tbody>
                <tr class="upcase fg-blue bold">
                    <td colspan="2">
                        Posto
                    </td>
                    <td colspan="4">
                        Nominativo Ospite
                    </td>
                    <td class="padding-left10 no-overflow" style="font-size: 12px;">
                        Bagno
                    </td>
                    <td class="padding-left10 no-overflow" style="font-size: 12px;">
                        Taglio Unghie
                    </td>
                    <td class="padding-left10 no-overflow" style="font-size: 10px;">
                        Depilazione
                    </td>
                    <td class="padding-left10 no-overflow" style="font-size: 10px;">
                        Rasatura
                    </td>
                    <td class="padding-left10 no-overflow" style="font-size: 10px;">
                        Parrucchiere
                    </td>
                    <td class="padding-left10 no-overflow" style="font-size: 12px;">
                        Ausili
                    </td>
                    <td class="padding-left10 no-overflow" style="font-size: 10px;">
                        Pulizia Letto
                    </td>
                    <td class="padding-left10 no-overflow" style="font-size: 12px;">
                        No Mobil
                    </td>
                    <td class="padding-left10 no-overflow" style="font-size: 12px;">
                        Riposo
                    </td>
                    <td colspan="4">
                        Note
                    </td>
                    <td colspan="3">
                        Exit
                    </td>
                </tr>
                @Each.Guests
                <tr>
                    <td>
                        @Current.BedIndex
                    </td>
                    <td>
                        @Current.Gender
                    </td>
                    <td colspan="4">
                        @Current.GuestName
                    </td>
                    <td>
                        @Current.TotalBath
                    </td>
                    <td>
                        @Current.TotalNail
                    </td>
                    <td>
                        @Current.TotalFemaleShave
                    </td>
                    <td>
                        @Current.TotalMaleShave
                    </td>
                    <td>
                        @Current.TotalBarber
                    </td>
                    <td>
                        @Current.TotalSupport
                    </td>
                    <td>
                        @Current.TotalBedClean
                    </td>
                    <td>
                        @Current.TotalNotMobilized
                    </td>
                    <td>
                        @Current.TotalRest
                    </td>
                    <td colspan="4">
                        @Current.Note
                    </td>
                    <td colspan="3">
                        @Current.Exit
                    </td>
                </tr>
                @EndEach
                <tr>
                    <td colspan="6">
                        <p class="place-right padding-right10 upcase fg-blue bold">
                            Totale
                        </p>
                    </td>
                    <td>
                        @Model.File.TotalBath
                    </td>
                    <td>
                        @Model.File.TotalNail
                    </td>
                    <td>
                        @Model.File.TotalFemaleShave
                    </td>
                    <td>
                        @Model.File.TotalMaleShave
                    </td>
                    <td>
                        @Model.File.TotalBarber
                    </td>
                    <td>
                        @Model.File.TotalSupport
                    </td>
                    <td>
                        @Model.File.TotalBedClean
                    </td>
                    <td>
                        @Model.File.TotalNotMobilized
                    </td>
                    <td>
                        @Model.File.TotalRest
                    </td>
                    <td colspan="7"></td>
                </tr>
                <tr>
                    <td colspan="6">
                        <p class="place-right padding-right10 upcase fg-blue bold">
                            Media
                        </p>
                    </td>
                    <td>
                        @Model.File.AverageBath
                    </td>
                    <td>
                        @Model.File.AverageNail
                    </td>
                    <td>
                        @Model.File.AverageFemaleShave
                    </td>
                    <td>
                        @Model.File.AverageMaleShave
                    </td>
                    <td>
                        @Model.File.AverageBarber
                    </td>
                    <td>
                        @Model.File.AverageSupport
                    </td>
                    <td>
                        @Model.File.AverageBedClean
                    </td>
                    <td>
                        @Model.File.AverageNotMobilized
                    </td>
                    <td>
                        @Model.File.AverageRest
                    </td>
                    <td colspan="7"></td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td colspan="6" class="upcase fg-blue bold">pulizia cucina</td>
                    <td colspan="16">@Model.File.TotalKitchenClean</td>
                </tr>
                <tr>
                    <td colspan="6" class="upcase fg-blue bold">cambi pannolone notturno</td>
                    <td colspan="16">@Model.File.TotalNightDiaperChange</td>
                </tr>
            </tbody>
        </table>
    </page>

</body>
</html>
