<h1 class="fg-white padding-bottom10 bd-anthilla-gray-2 capitalize" style="border-bottom: 1px solid;">cluster management</h1>

<div ng-controller="AssetClusterController">
    <button ng-click="ResponseMessageHideSelf()" ng-hide="ResponseMessageHide" class="button fg-anthilla-blue bg-anthilla-gray-1 bd-anthilla-blue width100pc" style="border: 2px solid; margin-bottom: 10px;">{{ ResponseMessage }}</button>
    <button ng-click="save()" class="button bg-anthilla-gray-2 fg-anthilla-green bd-anthilla-gray-3 padding-left20 padding-right20 capitalize width100pc"><span class="mif-checkmark fg-anthilla-green padding-right20"></span>&nbsp;save configuration</button>
    <br />
    <br />
    <!--nodes management-->
    <div style="width: {{(ClusterNodes.length * 400 + 450)}}px; overflow-x: scroll;">
        <div class="panel margin10 no-margin-left no-margin-right no-margin-top width400" style="display: inline-block;" data-role="panel">
            <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
                <span class="icon mif-display fg-anthilla-violet bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
                <span class="title">
                    Virtual Host
                </span>
            </div>
            <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
                <div class="grid fg-white">
                    <div class="row cells6">
                        <div class="cell colspan2 fg-anthilla-green">
                            <p>Virtual IP</p>
                        </div>
                        <div class="cell colspan4">
                            <input placeholder="Virtual Port" ng-model="Info.VirtualIpAddress" style="border: 1px solid #A7BD39;" class="bg-anthilla-gray-2 fg-white width100pc" type="text" />
                        </div>
                    </div>
                    <div class="row cells6">
                        <div class="cell colspan2 fg-anthilla-green">
                            <p>Network Adapter</p>
                        </div>
                        <div class="cell colspan4">
                            <div class="input-control select width100pc">
                                <select ng-model="Info.NetworkInterface" class="bg-anthilla-gray-2 bd-anthilla-green fg-white">
                                    <option ng-repeat="adapter in NetworkAdapters" value="{{ adapter }}">{{ adapter }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row cells6">
                        <div class="cell colspan2 fg-anthilla-green">
                            <p>Priority</p>
                        </div>
                        <div class="cell colspan4">
                            <input placeholder="Virtual Port" ng-model="Info.Priority" style="border: 1px solid #A7BD39;" class="bg-anthilla-gray-2 fg-white width100pc" type="text" />
                        </div>
                    </div>
                    <div class="row cells6">
                        <div class="cell colspan6 uppercase fg-white">
                            <p>Services</p>
                        </div>
                    </div>
                    <div ng-repeat="service in Info.PortMapping" class="row cells6">
                        <div class="cell colspan2 fg-anthilla-green">
                            {{service.ServiceName}}
                        </div>
                        <div class="cell colspan4">
                            <input placeholder="Virtual Port" ng-model="service.VirtualPort" style="border: 1px solid #A7BD39;" class="bg-anthilla-gray-2 fg-white width100pc" type="text" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-repeat="node in ClusterNodes" class="panel margin10 no-margin-left no-margin-right no-margin-top width400" style="display: inline-block;" data-role="panel">
            <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
                <span class="icon mif-display fg-anthilla-blue bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
                <span class="title">
                    <small class="fg-grayLight">Host: </small>{{ node.Hostname }}
                    <small class="fg-grayLight">Ip: </small>{{ node.PublicIp }}
                </span>
            </div>
            <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
                <div class="grid fg-white">
                    <div class="row cells6">
                        <div class="cell colspan6 uppercase fg-white">
                            <p>Services</p>
                        </div>
                    </div>
                    <div ng-repeat="service in node.Services" class="row cells6">
                        <div class="cell colspan2 fg-anthilla-green">
                            {{service.Name}}
                        </div>
                        <div class="cell colspan4">
                            {{service.Port}}
                        </div>
                    </div>
                    <div class="row cells6">
                        <div class="cell colspan6">
                        </div>
                    </div>
                    <div class="row cells6">
                        <div class="cell colspan6">
                            <button ng-click="removeHostFromCluster($index)" class="button bg-anthilla-orange fg-anthilla-gray-3 bd-anthilla-gray-3 padding-left20 padding-right20 capitalize width100pc"><span class="mif-bin fg-anthilla-gray-3"></span>&nbsp;Remove From Cluster</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
