body {
    background: rgb(204,204,204);
}

page {
    background: white;
    display: block;
    margin: 0 auto;
    padding: 1cm;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm #999999;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

    page[size="A4"] {
        width: 21cm;
        height: 29.7cm;
    }

        page[size="A4"][layout="landscape"] {
            width: 29.7cm;
            height: 18cm;
        }

    page[size="A3"] {
        width: 29.7cm;
        height: 42cm;
    }

        page[size="A3"][layout="landscape"] {
            width: 42cm;
            height: 29.7cm;
        }

    page[size="A5"] {
        width: 14.8cm;
        height: 21cm;
    }

        page[size="A5"][layout="landscape"] {
            width: 21cm;
            height: 14.8cm;
        }

@media print {
    body, page {
        margin: 0;
        padding: 0;
        box-shadow: none;
    }
}

body {
    font-size: 12px;
    font-family: sans-serif;
}

table {
    border: 1px solid white;
    padding: 0;
}

    table td {
        padding: 5px;
        border: 1px solid black;
    }

tr.focus td {
    border-width: 2px;
}

td.focus {
    border-width: 2px;
}

p {
    display: inline-block;
    line-height: 0;
}

.upcase {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

.black {
    background-color: black;
}

.bd-white {
    border-color: white;
}
