.select2-container--default .select2-selection--multiple {
    background-color: #3A3A3A;
    border: 1px solid #222222;
    cursor: text;
}

    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: #996BAF;
        border: 1px solid #222222;
        color: white;
        font-size: .875rem;
        cursor: default;
        float: left;
        margin-right: 5px;
        margin-top: 5px;
        padding: 0 5px;
        vertical-align: middle;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
        color: white;
        cursor: pointer;
        display: inline-block;
        margin-right: 2px;
    }

        .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
            color: #222222;
        }

.select2-container--default .select2-selection--single {
    background-color: #3A3A3A;
    border: 1px solid #222222;
}

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: white;
        line-height: 28px;
    }

.border-black-1 {
    border: 1px solid #000000 !important;
}

.border-white-1 {
    border: 1px solid #ffffff !important;
}

.border-lime-1 {
    border: 1px solid #a4c400 !important;
}

.border-green-1 {
    border: 1px solid #60a917 !important;
}

.border-emerald-1 {
    border: 1px solid #008a00 !important;
}

.border-teal-1 {
    border: 1px solid #00aba9 !important;
}

.border-cyan-1 {
    border: 1px solid #1ba1e2 !important;
}

.border-cobalt-1 {
    border: 1px solid #0050ef !important;
}

.border-indigo-1 {
    border: 1px solid #6a00ff !important;
}

.border-violet-1 {
    border: 1px solid #aa00ff !important;
}

.border-pink-1 {
    border: 1px solid #dc4fad !important;
}

.border-magenta-1 {
    border: 1px solid #d80073 !important;
}

.border-crimson-1 {
    border: 1px solid #a20025 !important;
}

.border-red-1 {
    border: 1px solid #ce352c !important;
}

.border-orange-1 {
    border: 1px solid #fa6800 !important;
}

.border-amber-1 {
    border: 1px solid #f0a30a !important;
}

.border-yellow-1 {
    border: 1px solid #e3c800 !important;
}

.border-brown-1 {
    border: 1px solid #825a2c !important;
}

.border-olive-1 {
    border: 1px solid #6d8764 !important;
}

.border-steel-1 {
    border: 1px solid #647687 !important;
}

.border-mauve-1 {
    border: 1px solid #76608a !important;
}

.border-taupe-1 {
    border: 1px solid #87794e !important;
}

.border-gray-1 {
    border: 1px solid #555555 !important;
}

.border-dark-1 {
    border: 1px solid #333333 !important;
}

.border-darker-1 {
    border: 1px solid #222222 !important;
}

.border-transparent-1 {
    border: 1px solid transparent !important;
}

.border-darkBrown-1 {
    border: 1px solid #63362f !important;
}

.border-darkCrimson-1 {
    border: 1px solid #640024 !important;
}

.border-darkMagenta-1 {
    border: 1px solid #81003c !important;
}

.border-darkIndigo-1 {
    border: 1px solid #4b0096 !important;
}

.border-darkCyan-1 {
    border: 1px solid #1b6eae !important;
}

.border-darkCobalt-1 {
    border: 1px solid #00356a !important;
}

.border-darkTeal-1 {
    border: 1px solid #004050 !important;
}

.border-darkEmerald-1 {
    border: 1px solid #003e00 !important;
}

.border-darkGreen-1 {
    border: 1px solid #128023 !important;
}

.border-darkOrange-1 {
    border: 1px solid #bf5a15 !important;
}

.border-darkRed-1 {
    border: 1px solid #9a1616 !important;
}

.border-darkPink-1 {
    border: 1px solid #9a165a !important;
}

.border-darkViolet-1 {
    border: 1px solid #57169a !important;
}

.border-darkBlue-1 {
    border: 1px solid #16499a !important;
}

.border-lightBlue-1 {
    border: 1px solid #4390df !important;
}

.border-lightRed-1 {
    border: 1px solid #da5a53 !important;
}

.border-lightGreen-1 {
    border: 1px solid #7ad61d !important;
}

.border-lighterBlue-1 {
    border: 1px solid #00ccff !important;
}

.border-lightTeal-1 {
    border: 1px solid #45fffd !important;
}

.border-lightOlive-1 {
    border: 1px solid #78aa1c !important;
}

.border-lightOrange-1 {
    border: 1px solid #c29008 !important;
}

.border-lightPink-1 {
    border: 1px solid #f472d0 !important;
}

.border-grayDark-1 {
    border: 1px solid #333333 !important;
}

.border-grayDarker-1 {
    border: 1px solid #222222 !important;
}

.border-grayLight-1 {
    border: 1px solid #999999 !important;
}

.border-grayLighter-1 {
    border: 1px solid #eeeeee !important;
}

.border-blue-1 {
    border: 1px solid #00aff0 !important;
}

.border-black-2 {
    border: 2px solid #000000 !important;
}

.border-white-2 {
    border: 2px solid #ffffff !important;
}

.border-lime-2 {
    border: 2px solid #a4c400 !important;
}

.border-green-2 {
    border: 2px solid #60a917 !important;
}

.border-emerald-2 {
    border: 2px solid #008a00 !important;
}

.border-teal-2 {
    border: 2px solid #00aba9 !important;
}

.border-cyan-2 {
    border: 2px solid #1ba1e2 !important;
}

.border-cobalt-2 {
    border: 2px solid #0050ef !important;
}

.border-indigo-2 {
    border: 2px solid #6a00ff !important;
}

.border-violet-2 {
    border: 2px solid #aa00ff !important;
}

.border-pink-2 {
    border: 2px solid #dc4fad !important;
}

.border-magenta-2 {
    border: 2px solid #d80073 !important;
}

.border-crimson-2 {
    border: 2px solid #a20025 !important;
}

.border-red-2 {
    border: 2px solid #ce352c !important;
}

.border-orange-2 {
    border: 2px solid #fa6800 !important;
}

.border-amber-2 {
    border: 2px solid #f0a30a !important;
}

.border-yellow-2 {
    border: 2px solid #e3c800 !important;
}

.border-brown-2 {
    border: 2px solid #825a2c !important;
}

.border-olive-2 {
    border: 2px solid #6d8764 !important;
}

.border-steel-2 {
    border: 2px solid #647687 !important;
}

.border-mauve-2 {
    border: 2px solid #76608a !important;
}

.border-taupe-2 {
    border: 2px solid #87794e !important;
}

.border-gray-2 {
    border: 2px solid #555555 !important;
}

.border-dark-2 {
    border: 2px solid #333333 !important;
}

.border-darker-2 {
    border: 2px solid #222222 !important;
}

.border-transparent-2 {
    border: 2px solid transparent !important;
}

.border-darkBrown-2 {
    border: 2px solid #63362f !important;
}

.border-darkCrimson-2 {
    border: 2px solid #640024 !important;
}

.border-darkMagenta-2 {
    border: 2px solid #81003c !important;
}

.border-darkIndigo-2 {
    border: 2px solid #4b0096 !important;
}

.border-darkCyan-2 {
    border: 2px solid #1b6eae !important;
}

.border-darkCobalt-2 {
    border: 2px solid #00356a !important;
}

.border-darkTeal-2 {
    border: 2px solid #004050 !important;
}

.border-darkEmerald-2 {
    border: 2px solid #003e00 !important;
}

.border-darkGreen-2 {
    border: 2px solid #128023 !important;
}

.border-darkOrange-2 {
    border: 2px solid #bf5a15 !important;
}

.border-darkRed-2 {
    border: 2px solid #9a1616 !important;
}

.border-darkPink-2 {
    border: 2px solid #9a165a !important;
}

.border-darkViolet-2 {
    border: 2px solid #57169a !important;
}

.border-darkBlue-2 {
    border: 2px solid #16499a !important;
}

.border-lightBlue-2 {
    border: 2px solid #4390df !important;
}

.border-lightRed-2 {
    border: 2px solid #da5a53 !important;
}

.border-lightGreen-2 {
    border: 2px solid #7ad61d !important;
}

.border-lighterBlue-2 {
    border: 2px solid #00ccff !important;
}

.border-lightTeal-2 {
    border: 2px solid #45fffd !important;
}

.border-lightOlive-2 {
    border: 2px solid #78aa1c !important;
}

.border-lightOrange-2 {
    border: 2px solid #c29008 !important;
}

.border-lightPink-2 {
    border: 2px solid #f472d0 !important;
}

.border-grayDark-2 {
    border: 2px solid #333333 !important;
}

.border-grayDarker-2 {
    border: 2px solid #222222 !important;
}

.border-grayLight-2 {
    border: 2px solid #999999 !important;
}

.border-grayLighter-2 {
    border: 2px solid #eeeeee !important;
}

.border-blue-2 {
    border: 2px solid #00aff0 !important;
}

.border-black-3 {
    border: 3px solid #000000 !important;
}

.border-white-3 {
    border: 3px solid #ffffff !important;
}

.border-lime-3 {
    border: 3px solid #a4c400 !important;
}

.border-green-3 {
    border: 3px solid #60a917 !important;
}

.border-emerald-3 {
    border: 3px solid #008a00 !important;
}

.border-teal-3 {
    border: 3px solid #00aba9 !important;
}

.border-cyan-3 {
    border: 3px solid #1ba1e2 !important;
}

.border-cobalt-3 {
    border: 3px solid #0050ef !important;
}

.border-indigo-3 {
    border: 3px solid #6a00ff !important;
}

.border-violet-3 {
    border: 3px solid #aa00ff !important;
}

.border-pink-3 {
    border: 3px solid #dc4fad !important;
}

.border-magenta-3 {
    border: 3px solid #d80073 !important;
}

.border-crimson-3 {
    border: 3px solid #a20025 !important;
}

.border-red-3 {
    border: 3px solid #ce352c !important;
}

.border-orange-3 {
    border: 3px solid #fa6800 !important;
}

.border-amber-3 {
    border: 3px solid #f0a30a !important;
}

.border-yellow-3 {
    border: 3px solid #e3c800 !important;
}

.border-brown-3 {
    border: 3px solid #825a2c !important;
}

.border-olive-3 {
    border: 3px solid #6d8764 !important;
}

.border-steel-3 {
    border: 3px solid #647687 !important;
}

.border-mauve-3 {
    border: 3px solid #76608a !important;
}

.border-taupe-3 {
    border: 3px solid #87794e !important;
}

.border-gray-3 {
    border: 3px solid #555555 !important;
}

.border-dark-3 {
    border: 3px solid #333333 !important;
}

.border-darker-3 {
    border: 3px solid #222222 !important;
}

.border-transparent-3 {
    border: 3px solid transparent !important;
}

.border-darkBrown-3 {
    border: 3px solid #63362f !important;
}

.border-darkCrimson-3 {
    border: 3px solid #640024 !important;
}

.border-darkMagenta-3 {
    border: 3px solid #81003c !important;
}

.border-darkIndigo-3 {
    border: 3px solid #4b0096 !important;
}

.border-darkCyan-3 {
    border: 3px solid #1b6eae !important;
}

.border-darkCobalt-3 {
    border: 3px solid #00356a !important;
}

.border-darkTeal-3 {
    border: 3px solid #004050 !important;
}

.border-darkEmerald-3 {
    border: 3px solid #003e00 !important;
}

.border-darkGreen-3 {
    border: 3px solid #128023 !important;
}

.border-darkOrange-3 {
    border: 3px solid #bf5a15 !important;
}

.border-darkRed-3 {
    border: 3px solid #9a1616 !important;
}

.border-darkPink-3 {
    border: 3px solid #9a165a !important;
}

.border-darkViolet-3 {
    border: 3px solid #57169a !important;
}

.border-darkBlue-3 {
    border: 3px solid #16499a !important;
}

.border-lightBlue-3 {
    border: 3px solid #4390df !important;
}

.border-lightRed-3 {
    border: 3px solid #da5a53 !important;
}

.border-lightGreen-3 {
    border: 3px solid #7ad61d !important;
}

.border-lighterBlue-3 {
    border: 3px solid #00ccff !important;
}

.border-lightTeal-3 {
    border: 3px solid #45fffd !important;
}

.border-lightOlive-3 {
    border: 3px solid #78aa1c !important;
}

.border-lightOrange-3 {
    border: 3px solid #c29008 !important;
}

.border-lightPink-3 {
    border: 3px solid #f472d0 !important;
}

.border-grayDark-3 {
    border: 3px solid #333333 !important;
}

.border-grayDarker-3 {
    border: 3px solid #222222 !important;
}

.border-grayLight-3 {
    border: 3px solid #999999 !important;
}

.border-grayLighter-3 {
    border: 3px solid #eeeeee !important;
}

.border-blue-3 {
    border: 3px solid #00aff0 !important;
}

.border-top-left-round {    
    border-top-left-radius: 3px !important; 
}

.border-top-right-round {
    border-top-right-radius: 3px !important;
}

.border-bottom-left-round {
    border-bottom-left-radius: 3px !important;
}

.border-bottom-right-round {
    border-bottom-right-radius: 3px !important;
}

