<div ng-controller="PublicKeyController" class="">
    <div class="page-title">
        <div class="title_left">
            <h3>SSH - Public Key</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <!--pannello configurazione-->
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <a ng-click="changeIcon()"
                       ngclipboard 
                       data-clipboard-text="{{PublicKey.Value}}"
                       class="btn btn-app float-right">
                        <i class="fa {{PublicKey.Copyicon}} {{PublicKey.Copycolor}}"></i> Copy
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
