<div class="cctable-container border-2-anthilla-gray" style="width: 100%; min-height: 100px; margin-bottom: 15px; padding: 15px;" data-guid="@Model.Guid">
    <legend>Certificate Authority Setup</legend>
    <form action="/ca/setup" method="POST" enctype="multipart/form-data" class=" border-2-anthilla-violet" style="padding: 10px;">
        <div class="row">
            <p>Main Directory</p>
            <input name="CaDirectory" type="text" />
            <p>ex: /root/ca, can be left blank</p>
        </div>
        <div class="row">
            <p>Country</p>
            <input name="CaCountry" type="text" />
            <p>ex: IT</p>
        </div>
        <div class="row">
            <p>Province</p>
            <input name="CaProvince" type="text" />
            <p>ex:</p>
        </div>
        <div class="row">
            <p>Locality</p>
            <input name="CaLocality" type="text" />
            <p>ex:</p>
        </div>
        <div class="row">
            <p>Organization</p>
            <input name="CaOrganization" type="text" />
            <p>ex:</p>
        </div>
        <div class="row">
            <p>Organizational Unit</p>
            <input name="CaOrganizationalUnit" type="text" />
            <p>ex:</p>
        </div>
        <div class="row">
            <p>Common Name</p>
            <input name="CaCommonName" type="text" />
            <p>ex:</p>
        </div>
        <div class="row">
            <p>Email</p>
            <input name="CaEmail" type="text" />
            <p>ex:</p>
        </div>
        <div class="row">
            <p>Passphrase</p>
            <input name="CaPassphrase" type="text"/>
            <p>ex:</p>
        </div>
        <div class="row">
            <input value="submit" type="submit" />
        </div>
    </form>
</div>