<div class="border-2-anthilla-gray" style="width: 100%; min-height: 100px; margin-bottom: 15px; padding: 15px;">
    <legend>Bind
        @If.BindIsActive
        <i id="StopBind" class="icon-cancel-2 fg-anthilla-green" data-hint="|Stop" data-hint-position="bottom" style="float: right; cursor: pointer;"></i>
        <i id="ReloadBind" class="icon-cycle fg-anthilla-green" data-hint="|Reload" data-hint-position="bottom" style="float: right; cursor: pointer; margin: auto 10px;"></i>
        <i id="ApplyConfigBind" class="icon-download-2 fg-anthilla-blu" data-hint="|Apply Saved Settings" data-hint-position="bottom" style="float: right; cursor: pointer;"></i>
        @EndIf
    </legend>

    <div data-role="tab-control" class="tab-control">
        <ul class="tabs">
            <li class="active"><a href="#bind_global">Global Options</a></li>
            <li><a href="#bind_zones">Zones</a></li>
        </ul>

        <div class="frames">
            <div id="bind_global" class="frame">
                <form action="/services/bind/options" method="POST" enctype="multipart/form-data">
                    <table class="table" style="table-layout: fixed;">
                        <tbody>
                            <tr>
                                <td>
                                    <label>Notify</label>
                                </td>
                                <td>
                                    <input name="Notify" style="width: 90%;" type="text" value="@Model.BindOptions.Notify" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Max Cache Size</label>
                                </td>
                                <td>
                                    <input name="MaxCacheSize" style="width: 90%;" type="text" value="@Model.BindOptions.MaxCacheSize" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>MaxCacheTtl</label>
                                </td>
                                <td>
                                    <input name="MaxCacheTtl" style="width: 90%;" type="text" value="@Model.BindOptions.MaxCacheTtl" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>MaxNcacheTtl</label>
                                </td>
                                <td>
                                    <input name="MaxNcacheTtl" style="width: 90%;" type="text" value="@Model.BindOptions.MaxNcacheTtl" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Forwarders</label>
                                </td>
                                <td>
                                    <!--each-->
                                    <input data-input="selectize" name="Forwarders" style="width: 90%;" type="text" value="@Model.BindOptions.Forwarders" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>AllowNotify</label>
                                </td>
                                <td>
                                    <!--each-->
                                    <input name="AllowNotify" style="width: 90%;" type="text" value="@Model.BindOptions.AllowNotify" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>AllowTransfer</label>
                                </td>
                                <td>
                                    <!--each-->
                                    <input name="AllowTransfer" style="width: 90%;" type="text" value="@Model.BindOptions.AllowTransfer" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Recursion</label>
                                </td>
                                <td>
                                    <input name="Recursion" style="width: 90%;" type="text" value="@Model.BindOptions.Recursion" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>TransferFormat</label>
                                </td>
                                <td>
                                    <input name="TransferFormat" style="width: 90%;" type="text" value="@Model.BindOptions.TransferFormat" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>QuerySourceAddress</label>
                                </td>
                                <td>
                                    <input name="QuerySourceAddress" style="width: 90%;" type="text" value="@Model.BindOptions.QuerySourceAddress" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>QuerySourcePort</label>
                                </td>
                                <td>
                                    <input name="QuerySourcePort" style="width: 90%;" type="text" value="@Model.BindOptions.QuerySourcePort" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Version</label>
                                </td>
                                <td>
                                    <input name="Version" style="width: 90%;" type="text" value="@Model.BindOptions.Version" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>AllowQuery</label>
                                </td>
                                <td>
                                    <!--each-->
                                    <input name="AllowQuery" style="width: 90%;" type="text" value="@Model.BindOptions.AllowQuery" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>AllowRecursion</label>
                                </td>
                                <td>
                                    <!--each-->
                                    <input name="AllowRecursion" style="width: 90%;" type="text" value="@Model.BindOptions.AllowRecursion" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>IxfrFromDifferences</label>
                                </td>
                                <td>
                                    <input name="IxfrFromDifferences" style="width: 90%;" type="text" value="@Model.BindOptions.IxfrFromDifferences" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>ListenOnV6</label>
                                </td>
                                <td>
                                    <!--each-->
                                    <input name="ListenOnV6" style="width: 90%;" type="text" value="@Model.BindOptions.ListenOnV6" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>ListenOnPort53</label>
                                </td>
                                <td>
                                    <!--each-->
                                    <input name="ListenOnPort53" style="width: 90%;" type="text" value="@Model.BindOptions.ListenOnPort53" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>DnssecEnabled</label>
                                </td>
                                <td>
                                    <input name="DnssecEnabled" style="width: 90%;" type="text" value="@Model.BindOptions.DnssecEnabled" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>DnssecValidation</label>
                                </td>
                                <td>
                                    <input name="DnssecValidation" style="width: 90%;" type="text" value="@Model.BindOptions.DnssecValidation" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>DnssecLookaside</label>
                                </td>
                                <td>
                                    <input name="DnssecLookaside" style="width: 90%;" type="text" value="@Model.BindOptions.DnssecLookaside" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>AuthNxdomain</label>
                                </td>
                                <td>
                                    <input name="AuthNxdomain" style="width: 90%;" type="text" value="@Model.BindOptions.AuthNxdomain" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>KeyName</label>
                                </td>
                                <td>
                                    <input name="KeyName" style="width: 90%;" type="text" value="@Model.BindOptions.KeyName" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>KeySecret</label>
                                </td>
                                <td>
                                    <input name="KeySecret" style="width: 90%;" type="text" value="@Model.BindOptions.KeySecret" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>ControlAcl</label>
                                </td>
                                <td>
                                    <input name="ControlAcl" style="width: 90%;" type="text" value="@Model.BindOptions.ControlAcl" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>ControlIp</label>
                                </td>
                                <td>
                                    <input name="ControlIp" style="width: 90%;" type="text" value="@Model.BindOptions.ControlIp" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>ControlPort</label>
                                </td>
                                <td>
                                    <input name="ControlPort" style="width: 90%;" type="text" value="@Model.BindOptions.ControlPort" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>ControlAllow</label>
                                </td>
                                <td>
                                    <!--each-->
                                    <input name="ControlAllow" style="width: 90%;" type="text" value="@Model.BindOptions.ControlAllow" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>LoggingChannel</label>
                                </td>
                                <td>
                                    <input name="LoggingChannel" style="width: 90%;" type="text" value="@Model.BindOptions.LoggingChannel" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>LoggingDaemon</label>
                                </td>
                                <td>
                                    <input name="LoggingDaemon" style="width: 90%;" type="text" value="@Model.BindOptions.LoggingDaemon" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>LoggingSeverity</label>
                                </td>
                                <td>
                                    <input name="LoggingSeverity" style="width: 90%;" type="text" value="@Model.BindOptions.LoggingSeverity" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>LoggingPrintCategory</label>
                                </td>
                                <td>
                                    <input name="LoggingPrintCategory" style="width: 90%;" type="text" value="@Model.BindOptions.LoggingPrintCategory" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>LoggingPrintSeverity</label>
                                </td>
                                <td>
                                    <input name="LoggingPrintSeverity" style="width: 90%;" type="text" value="@Model.BindOptions.LoggingPrintSeverity" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>LoggingPrintTime</label>
                                </td>
                                <td>
                                    <input name="LoggingPrintTime" style="width: 90%;" type="text" value="@Model.BindOptions.LoggingPrintTime" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>TrustedKey</label>
                                </td>
                                <td>
                                    <input name="TrustedKeys" style="width: 90%;" type="text" value="@Model.BindOptions.TrustedKeys" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>AclLocalInterfaces</label>
                                </td>
                                <td>
                                    <!--each-->
                                    <input name="AclLocalInterfaces" style="width: 90%;" type="text" value="@Model.BindOptions.AclLocalInterfaces" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>AclInternalInterfaces</label>
                                </td>
                                <td>
                                    <!--each-->
                                    <input name="AclInternalInterfaces" style="width: 90%;" type="text" value="@Model.BindOptions.AclInternalInterfaces" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>AclExternalInterfaces</label>
                                </td>
                                <td>
                                    <!--each-->
                                    <input name="AclExternalInterfaces" style="width: 90%;" type="text" value="@Model.BindOptions.AclExternalInterfaces" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>AclLocalNetworks</label>
                                </td>
                                <td>
                                    <!--each-->
                                    <input name="AclLocalNetworks" style="width: 90%;" type="text" value="@Model.BindOptions.AclLocalNetworks" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>AclInternalNetworks</label>
                                </td>
                                <td>
                                    <!--each-->
                                    <input name="AclInternalNetworks" style="width: 90%;" type="text" value="@Model.BindOptions.AclInternalNetworks" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>AclExternalNetworks</label>
                                </td>
                                <td>
                                    <!--each-->
                                    <input name="AclExternalNetworks" style="width: 90%;" type="text" value="@Model.BindOptions.AclExternalNetworks" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <input style="width: 90%; height: 28px;" type="submit" value="Save Settings" class="bg-anthilla-green fg-anthilla-gray" />
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>

            <div id="bind_zones" class="frame" style="display: none;">
                <form action="/services/bind/zone" method="POST" enctype="multipart/form-data">
                    <table class="table" style="table-layout: fixed;">
                        <tbody>
                            <tr>
                                <td>
                                    <label>Name</label>
                                </td>
                                <td>
                                    <input name="Name" style="width: 90%;" type="text" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Type</label>
                                </td>
                                <td>
                                    <input name="Type" style="width: 90%;" type="text" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>File</label>
                                </td>
                                <td>
                                    <input name="File" style="width: 90%;" type="text" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>SerialUpdateMethod</label>
                                </td>
                                <td>
                                    <input name="SerialUpdateMethod" style="width: 90%;" type="text" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>AllowUpdate</label>
                                </td>
                                <td>
                                    <!-- > 1 -->
                                    <input name="AllowUpdate" style="width: 90%;" type="text" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>AllowQuery</label>
                                </td>
                                <td>
                                    <input name="AllowQuery" style="width: 90%;" type="text" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>AllowTransfer</label>
                                </td>
                                <td>
                                    <input name="AllowTransfer" style="width: 90%;" type="text" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <input style="width: 90%; height: 28px;" type="submit" value="Create Zone" class="bg-anthilla-green fg-anthilla-gray" />
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
                <br />
                @Each.BindZones
                    <div data-role="panel" class="panel border-2-anthilla-gray collapsed" style="margin-bottom: 5px;">
                        <div class="panel-header bg-anthilla-gray fg-white">
                            Zone: @Current.Name
                        </div>
                        <div class="panel-content" style="display: none;">
                            <table class="table" style="table-layout: fixed;">
                                <tbody>
                                    <tr>
                                        <td>
                                            <label>Name</label></td>
                                        <td>
                                            <label>@Current.Name</label></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Type</label></td>
                                        <td>
                                            <label>@Current.Type</label></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>File</label></td>
                                        <td>
                                            <label>@Current.File</label></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>SerialUpdateMethod</label></td>
                                        <td>
                                            <label>@Current.SerialUpdateMethod</label></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>AllowUpdate</label></td>
                                        <td>
                                            <label>@Current.AllowUpdate</label></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>AllowQuery</label></td>
                                        <td>
                                            <label>@Current.AllowQuery</label></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>AllowTransfer</label></td>
                                        <td>
                                            <label>@Current.AllowTransfer</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input data-role="RemoveBindZone" data-id="@Current.Id" type="button" value="Remove Zone" class="bg-anthilla-orange" style="color: #3a3a3a !important; width: 90%;" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                @EndEach
            </div>
        </div>
    </div>
</div>
