<div class="border-2-anthilla-gray" style="width: 100%; min-height: 100px; margin-bottom: 15px; padding: 15px;">
    <legend>Scan
    </legend>
    <div>
        <select data-role="NetscanSettingSelect" class="bg-anthilla-gray fg-white border-anthilla-green" style="height: 28px; width: 55%;">
            <option selected="selected" disabled="disabled" class="fg-silver">Search filters are configured in Scan Settings</option>
            @Each.Values
            <option value="@Current.Value">@Current.Key</option>
            @EndEach
        </select>
        <a href="#" data-role="AssetScanStart" class="button fg-anthilla-green bg-anthilla-gray upcase" style="height: 28px; width: 15%;"><i class="icon-search on-left"></i>Search</a>
    </div>
    <hr class="border-anthilla-gray" />
    <div id="AssetScanResult">
    </div>
</div>