<div class="border-2-anthilla-gray" style="min-width: 100%; max-width: 100%; width: 100%; min-height: 100px; margin-bottom: 15px; padding: 15px;">
    <legend id="Host">Host</legend>
    <table class="table" style="table-layout: fixed;">
        <tbody>
            <tr style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                <td data-role="CmdContainer">
                    <label>Hostname</label>
                    <input type="text" data="$host_name" style="width: 60%;" />
                    <input type="button" data-role="CmdLaunch" data-name="set-hostname" data-par="$host_name" value="Update" class="float-right" />
                </td>
                <td>@Model.StaticHostname
                </td>
                <td>Set host name</td>
            </tr>
            <tr style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                <td data-role="CmdContainer">
                    <label>Icon Name</label>
                </td>
                <td>@Model.IconName
                </td>
                <td>Set icon name</td>
            </tr>
            <tr style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                <td data-role="CmdContainer">
                    <label>Chassis</label>
                    <select data="$host_chassis" style="width: 60%; height: 25px;" class="border-anthilla-green">
                        <option value="desktop">Desktop</option>
                        <option value="laptop">Laptop</option>
                        <option value="server">Server</option>
                        <option value="tablet">Tablet</option>
                        <option value="handset">Handset</option>
                        <option value="watch">Watch</option>
                        <option value="embedded">Embedded</option>
                        <option value="vm">Vm</option>
                        <option value="container">Container</option>
                    </select>
                    <input type="button" data-role="CmdLaunch" data-name="set-chassis" data-par="$host_chassis" value="Update" class="float-right" />
                </td>
                <td>@Model.Chassis
                </td>
                <td>Set host chassis</td>
            </tr>
            <tr style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                <td data-role="CmdContainer">
                    <label>Deployment</label>
                    <input type="text" data="$host_deployment" style="width: 60%;" />
                    <input type="button" data-role="CmdLaunch" data-name="set-deployment" data-par="$host_deployment" value="Update" class="float-right" />
                </td>
                <td>@Model.Deployment
                </td>
                <td>Set host deployment</td>
            </tr>
            <tr style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                <td data-role="CmdContainer">
                    <label>Location</label>
                    <input type="text" data="$host_location" style="width: 60%;" />
                    <input type="button" data-role="CmdLaunch" data-name="set-location" data-par="$host_location" value="Update" class="float-right" />
                </td>
                <td>@Model.Location
                </td>
                <td>Set host location</td>
            </tr>

            <tr style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                <td data-role="CmdContainer">
                    <label>Machine ID</label>
                </td>
                <td>@Model.MachineID
                </td>
                <td></td>
            </tr>
            <tr style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                <td data-role="CmdContainer">
                    <label>Boot ID</label>
                </td>
                <td>@Model.BootID
                </td>
                <td></td>
            </tr>
            <tr style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                <td data-role="CmdContainer">
                    <label>Virtualization</label>
                </td>
                <td>@Model.Virtualization
                </td>
                <td></td>
            </tr>
            <tr style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                <td data-role="CmdContainer">
                    <label>Operating System</label>
                </td>
                <td>@Model.OS
                </td>
                <td></td>
            </tr>
            <tr style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                <td data-role="CmdContainer">
                    <label>Kernel</label>
                </td>
                <td>@Model.Kernel
                </td>
                <td></td>
            </tr>
            <tr style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                <td data-role="CmdContainer">
                    <label>Architecture</label>
                </td>
                <td>@Model.Architecture
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
