<div class="border-2-anthilla-gray" style="width: 100%; min-height: 100px; margin-bottom: 15px; padding: 15px;">
	<legend>Antd Log</legend>
	<input class="span5 search-field" data-searchable="log-antd" placeholder="Search" style="position: relative; margin-bottom: -15px; height: 30px; padding-left: 25px;" type="text">
	<p style="position: relative; top: -10px; left: 5px; width: 10px;"><i class="icon-search fg-anthilla-green"></i></p>
	<table class="table searchable" data-searchable="log-antd" id="AntdLogTable">
		<tbody></tbody>
	</table>
</div>
<script src="/Scripts/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="/Scripts/metro.min.js" type="text/javascript"></script>
<script src="/Scripts/antd.js" type="text/javascript"></script>
<script src="/Scripts/antd.log.js" type="text/javascript"></script>
