<div class="border-2-anthilla-gray" style="width: 100%; min-height: 100px; margin-bottom: 15px; padding: 15px;">
    <legend>Scan Setting</legend>
    <table class="table" style="table-layout: fixed;">
        <thead>
            <tr>
                <td>
                    <label>Subnet</label>
                </td>
                <td colspan="2">
                    <input type="text" style="height: 28px; width: 90%;" data-role="NetscanSettingSubnet" value="@Model.SettingsSubnet" />
                </td>
                <td colspan="2">
                    <input type="text" style="height: 28px; width: 90%;" data-role="NetscanSettingSubnetLabel" value="@Model.SettingsSubnetLabel" />
                </td>
                <td>
                    <input type="button" style="height: 28px; width: 90%; color: #3a3a3a !important;" data-role="ApplyNetscanSettingSubnet" value="Save Subnet" class="bg-anthilla-blu" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Number</label>
                </td>
                <td>
                    <label>Letter</label>
                </td>
                <td colspan="4">
                    <label>Label</label>
                </td>
            </tr>
        </thead>
        <tbody data-role="NetscanSettingTable">
            @Each.Settings
            <tr data-role="NetscanSettingObject">
                <td>
                    <p>@Current.Key.Number</p>
                </td>
                <td>
                    <p>@Current.Key.Letter</p>
                </td>
                <td colspan="4">
                    <input type="text" value="@Current.Value" data-l="@Current.Key.Letter" data-n="@Current.Key.Number" data-name="NetscanLabel" style="height: 28px; width: 90%;" />
                </td>
            </tr>
            @EndEach
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6">
                    <input style="height: 28px; width: 90%; color: #3a3a3a !important;" class="bg-anthilla-blu" data-role="SaveNetscanSetting" data-id="@Current.Id" value="Save Settings" type="button" />
                </td>
            </tr>
        </tfoot>
    </table>
</div>