<div class="border-2-anthilla-gray" style="width: 100%; min-height: 100px; margin-bottom: 15px; padding: 15px;">
    <legend>Users
        <i id="ShowUserPanel" class="icon-plus-2 fg-anthilla-green" style="float: right; cursor: pointer !important;"></i>
    </legend>

    <form id="UserCreateDashboard" action="/user/create" method="POST" enctype="multipart/form-data" class="border-2-anthilla-gray grid" style="padding-bottom: 10px; display: none; width: 100%; min-height: 120px; margin-bottom: 5px;">
        <div class="row">
            <div class="span2">
                <label>name</label>
            </div>
            <div class="span8">
                <input type="text" name="UserName" style="width: 90%; height: 28px;" />
            </div>
        </div>
        <div class="row">
            <div class="span2">
                <label>password</label>
            </div>
            <div class="span8">
                <input type="password" id="Password" name="Password" style="width: 90%; height: 28px;" />
            </div>
        </div>
        <div class="row">
            <div class="span2">
                <label>re-type password</label>
            </div>
            <div class="span8">
                <input type="password" id="Password2" style="width: 90%; height: 28px;" />
            </div>
        </div>
        <div class="row">
            <div class="span2">
            </div>
            <div class="span8">
                <input type="button" value="Create" class="bg-anthilla-green fg-anthilla-gray" style="width: 90%; height: 28px;" />
            </div>
        </div>
    </form>

    @Each.Users
    <div data-role="panel" class="panel border-2-anthilla-gray collapsed" style="margin-bottom: 5px;">
        <div class="panel-header bg-anthilla-gray fg-white">
            @Current.Role - @Current.Alias
        </div>
        <div class="panel-content" style="display: none;">
            <div class="grid" data-role="UpdatePasswordPanel">
                <div class="row">
                    <div class="span5">
                        <label>New Password</label>
                        <input type="password" data-role="Password01" style="width: 90%; height: 28px;" />
                    </div>
                    <div class="span5">
                        <label>Retype Password</label>
                        <input type="password" data-role="Password02" style="width: 90%; height: 28px;" />
                    </div>
                    <div class="span5">
                        <input type="button" class="bg-anthilla-geen" value="Change Password" data-role="UpdateUserPassword" data-user="@Current.Alias" style="width: 90%; height: 28px;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    @EndEach
    
    <legend>Master</legend>
    <div class="container">
        <div class="bg-anthilla-gray" style="width: 100%; height: 38px; margin-bottom: 5px; padding: 0 12px; font-weight: normal !important; line-height: 40px;">
            <p style="display: inline-block !important; width: auto;">Name:</p>
            <p style="display: inline-block !important; width: 200px;">@Model.Master</p>

            <i data-hint="|Update Password" data-hint-position="bottom" id="UpdateMasterPassword" class="fg-orange icon-user-3" style="margin-left: -2px; float: right; cursor: pointer; border: 2px solid #FA6800; padding: 5px; margin-top: 5px;"></i>
            <input id="NewMasterPassword" data-role="novnc-setup" type="password" placeholder="New Password" style="float: right; width: 275px; margin-left: 8px; margin-top: 5px !important; border: 2px solid #FA6800 !important; height: 27px; text-align: center;" value="5900" />
        </div>
        <div class="bg-anthilla-gray-m border-2-anthilla-gray content" style="display: none; width: 100%; height: auto; margin-bottom: 5px; margin-top: -5px; padding: 10px 12px; font-weight: normal !important;">
        </div>
    </div>
</div>