<div class="border-2-anthilla-gray" style="width: 100%; min-height: 100px; margin-bottom: 15px; padding: 15px;">
    <legend>Losetup Status </legend>

    <table class="table">
        <thead>
            <tr>
                <th>
                    <p>Name</p>
                </th>
                <th>
                    <p>Sizelimit</p>
                </th>
                <th>
                    <p>Offset</p>
                </th>
                <th>
                    <p>Autoclear</p>
                </th>
                <th>
                    <p>Readonly</p>
                </th>
                <th>
                    <p>Backfile</p>
                </th>
                <th>
                    <p>Dio</p>
                </th>
                <th>
                    <p>Hash</p>
                </th>
            </tr>
        </thead>
        <tbody>
            @Each.LosetupInfo
            <tr>
                <td>
                    <p>@Current.Name</p>
                </td>
                <td>
                    <p>@Current.Sizelimit</p>
                </td>
                <td>
                    <p>@Current.Offset</p>
                </td>
                <td>
                    <p>@Current.Autoclear</p>
                </td>
                <td>
                    <p>@Current.Readonly</p>
                </td>
                <td>
                    <p>@Current.Backfile</p>
                </td>
                <td>
                    <p>@Current.Dio</p>
                </td>
                <td>
                    <p>@Current.Hash</p>
                </td>
            </tr>
            @EndEach
        </tbody>
    </table>
</div>
