<div class="border-2-anthilla-gray" style="min-width: 100%; max-width: 100%; width: 100%; min-height: 100px; margin-bottom: 15px; padding: 15px;">
    <legend id="Time">Date and Time</legend>
    <table class="table" style="table-layout: fixed;">
        <tbody>
            <tr style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                <td data-role="CmdContainer">
                    <label>Local time</label>
                </td>
                <td>@Model.LocalTime
                </td>
                <td></td>
            </tr>
            <tr style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                <td data-role="CmdContainer">
                    <label>Universal time</label>
                </td>
                <td>@Model.UnivTime
                </td>
                <td></td>
            </tr>
            <tr style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                <td data-role="CmdContainer">
                    <label>RTC time</label>
                </td>
                <td>@Model.RTCTime
                </td>
                <td></td>
            </tr>
            <tr style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                <td data-role="CmdContainer">
                    <label>Timezone</label>
                    <select data="$host_timezone" style="width: 60%; height: 25px;" class="border-anthilla-green">
                        @Each.Timezones
                        <option value="@Current">@Current</option>
                        @EndEach
                    </select>
                    <input type="button" data-role="CmdLaunch" data-name="set-timezone" data-par="$host_timezone" value="Update" class="float-right" />
                </td>
                <td>@Model.Timezone
                </td>
                <td>Set host timezone</td>
            </tr>
            <tr style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                <td data-role="CmdContainer">
                    <label>Network time on</label>
                </td>
                <td>@Model.Nettimeon
                </td>
                <td></td>
            </tr>
            <tr style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                <td data-role="CmdContainer">
                    <label>NTP synchronized</label>
                </td>
                <td>@Model.Ntpsync
                </td>
                <td></td>
            </tr>
            <tr style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                <td data-role="CmdContainer">
                    <label>RTC in local TZ</label>
                </td>
                <td>@Model.Rtcintz
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
<script src="/Scripts/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="/Scripts/antd.cmd.js" type="text/javascript"></script>
