<table style="table-layout: fixed; margin: 0;" class="table fg-white">
    <tbody>
        <tr>
            <td>
                <label style="display: inline-block !important;">Uptime</label><p style="display: inline-block !important;">@Model.Uptime</p>
                <br/>
                <label style="display: inline-block !important;">Load Average</label><p style="display: inline-block !important;">@Model.LoadAverage</p>
            </td>
            <td>
                <label>Disk</label>
                @Each.DisksUsage
                <p>@Current.MountedOn -> @Current.UsePercentage</p>
                @EndEach
            </td>
            <td>
                <label>Memory</label>
                <p>total: @Model.MemoryTotal</p>
                <p>used: @Model.MemoryUsed</p>
                <p>free: @Model.MemoryFree</p>
            </td>
        </tr>
    </tbody>
</table>
