<div class="border-2-anthilla-gray" style="width: 100%; min-height: 100px; margin-bottom: 15px; padding: 15px;">
	<legend>
		<i class="icon-fire on-left"></i>
		MAC Address Filtering
		<i id="ReloadMacAddressList" class="icon-cycle fg-anthilla-green" style="float: right; cursor: pointer !important;"></i>
	</legend>
	<table class="table">
		<tbody>
		@Each.MacAddressList
		<tr>
			<td>
				<p>@Current.Value</p>
			</td>
			<td>
				<p>@Current.Description</p>
			</td>
			<td>
				<p>@Current.Type</p>
			</td>
			<td>
				<p>@Current.IsEnabled</p>
			</td>
			<td>
				<p>@Current.IsNew</p>
			</td>
		</tr>
		@EndEach
		</tbody>
	</table>
</div>