<div class="border-2-anthilla-gray" style="width: 100%; min-height: 100px; margin-bottom: 15px; padding: 15px;">
    <legend>Samba

    @If.SambaIsActive
        <i id="ReloadSamba" class="icon-cycle fg-lightGreen" style="float: right; cursor: pointer; margin: auto 10px;"></i>
        <i id="StopSamba" class="icon-cancel fg-anthilla-orange" style="float: right; cursor: pointer;"></i>
        <i id="ApplyConfigSamba" class="icon-plus fg-anthilla-blu" style="float: right; cursor: pointer;"></i>
        @EndIf
    @IfNot.SambaIsActive
        <i id="EnableSamba" class="icon-upload fg-anthilla-orange" style="float: right; cursor: pointer;"></i>
        @EndIf
    </legend>

    <div data-role="tab-control" class="tab-control">
        <ul class="tabs">
            <li class="active"><a href="#smb_global">Global Options</a></li>
            <li><a href="#smb_rscs">Resources</a></li>
        </ul>

        <div class="frames">
            <div id="smb_global" class="frame">
                <form action="/services/samba/options" method="POST" enctype="multipart/form-data">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <label>DosCharset</label>
                                </td>
                                <td colspan="2">
                                    <!--each-->
                                    <input name="Allow" style="width: 90%;" type="text" value="@Model.SambaOptions.DosCharset" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Workgroup</label>
                                </td>
                                <td colspan="2">
                                    <input name="Workgroup" style="width: 90%;" type="text" value="@Model.SambaOptions.Workgroup" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>ServerString</label>
                                </td>
                                <td colspan="2">
                                    <input name="ServerString" style="width: 90%;" type="text" value="@Model.SambaOptions.ServerString" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>MapToGuest</label>
                                </td>
                                <td colspan="2">
                                    <input name="MapToGuest" style="width: 90%;" type="text" value="@Model.SambaOptions.MapToGuest" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>ObeyPamRestrictions</label>
                                </td>
                                <td colspan="2">
                                    <input name="ObeyPamRestrictions" style="width: 90%;" type="text" value="@Model.SambaOptions.ObeyPamRestrictions" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>GuestAccount</label>
                                </td>
                                <td colspan="2">
                                    <input name="GuestAccount" style="width: 90%;" type="text" value="@Model.SambaOptions.GuestAccount" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>PamPasswordChange</label>
                                </td>
                                <td colspan="2">
                                    <input name="PamPasswordChange" style="width: 90%;" type="text" value="@Model.SambaOptions.PamPasswordChange" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>PasswdProgram</label>
                                </td>
                                <td colspan="2">
                                    <!--each-->
                                    <input name="PasswdProgram" style="width: 90%;" type="text" value="@Model.SambaOptions.PasswdProgram" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>UnixPasswordSync</label>
                                </td>
                                <td colspan="2">
                                    <input name="UnixPasswordSync" style="width: 90%;" type="text" value="@Model.SambaOptions.UnixPasswordSync" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>ResetOnZeroVc</label>
                                </td>
                                <td colspan="2">
                                    <input name="ResetOnZeroVc" style="width: 90%;" type="text" value="@Model.SambaOptions.ResetOnZeroVc" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>HostnameLookups</label>
                                </td>
                                <td colspan="2">
                                    <input name="HostnameLookups" style="width: 90%;" type="text" value="@Model.SambaOptions.HostnameLookups" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>LoadPrinters</label>
                                </td>
                                <td colspan="2">
                                    <input name="LoadPrinters" style="width: 90%;" type="text" value="@Model.SambaOptions.LoadPrinters" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>PrintcapName</label>
                                </td>
                                <td colspan="2">
                                    <input name="PrintcapName" style="width: 90%;" type="text" value="@Model.SambaOptions.PrintcapName" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>DisableSpoolss</label>
                                </td>
                                <td colspan="2">
                                    <input name="DisableSpoolss" style="width: 90%;" type="text" value="@Model.SambaOptions.DisableSpoolss" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>TemplateShell</label>
                                </td>
                                <td colspan="2">
                                    <input name="TemplateShell" style="width: 90%;" type="text" value="@Model.SambaOptions.TemplateShell" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>WinbindEnumUsers</label>
                                </td>
                                <td colspan="2">
                                    <input name="WinbindEnumUsers" style="width: 90%;" type="text" value="@Model.SambaOptions.WinbindEnumUsers" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>WinbindEnumGroups</label>
                                </td>
                                <td colspan="2">
                                    <input name="WinbindEnumGroups" style="width: 90%;" type="text" value="@Model.SambaOptions.WinbindEnumGroups" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>WinbindUseDefaultDomain</label>
                                </td>
                                <td colspan="2">
                                    <input name="WinbindUseDefaultDomain" style="width: 90%;" type="text" value="@Model.SambaOptions.WinbindUseDefaultDomain" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>WinbindNssInfo</label>
                                </td>
                                <td colspan="2">
                                    <input name="WinbindNssInfo" style="width: 90%;" type="text" value="@Model.SambaOptions.WinbindNssInfo" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>WinbindRefreshTickets</label>
                                </td>
                                <td colspan="2">
                                    <input name="WinbindRefreshTickets" style="width: 90%;" type="text" value="@Model.SambaOptions.WinbindRefreshTickets" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>WinbindNormalizeNames</label>
                                </td>
                                <td colspan="2">
                                    <input name="WinbindNormalizeNames" style="width: 90%;" type="text" value="@Model.SambaOptions.WinbindNormalizeNames" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>RecycleTouch</label>
                                </td>
                                <td colspan="2">
                                    <input name="RecycleTouch" style="width: 90%;" type="text" value="@Model.SambaOptions.RecycleTouch" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>RecycleKeeptree</label>
                                </td>
                                <td colspan="2">
                                    <input name="RecycleKeeptree" style="width: 90%;" type="text" value="@Model.SambaOptions.RecycleKeeptree" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>RecycleRepository</label>
                                </td>
                                <td colspan="2">
                                    <input name="RecycleRepository" style="width: 90%;" type="text" value="@Model.SambaOptions.RecycleRepository" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Nfs4Chown</label>
                                </td>
                                <td colspan="2">
                                    <input name="Nfs4Chown" style="width: 90%;" type="text" value="@Model.SambaOptions.Nfs4Chown" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Nfs4Acedup</label>
                                </td>
                                <td colspan="2">
                                    <input name="Nfs4Acedup" style="width: 90%;" type="text" value="@Model.SambaOptions.Nfs4Acedup" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Nfs4Mode</label>
                                </td>
                                <td colspan="2">
                                    <input name="Nfs4Mode" style="width: 90%;" type="text" value="@Model.SambaOptions.Nfs4Mode" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>ShadowFormat</label>
                                </td>
                                <td colspan="2">
                                    <input name="ShadowFormat" style="width: 90%;" type="text" value="@Model.SambaOptions.ShadowFormat" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>ShadowLocaltime</label>
                                </td>
                                <td colspan="2">
                                    <input name="ShadowLocaltime" style="width: 90%;" type="text" value="@Model.SambaOptions.ShadowLocaltime" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>ShadowSort</label>
                                </td>
                                <td colspan="2">
                                    <input name="ShadowSort" style="width: 90%;" type="text" value="@Model.SambaOptions.ShadowSort" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>ShadowSnapdir</label>
                                </td>
                                <td colspan="2">
                                    <input name="ShadowSnapdir" style="width: 90%;" type="text" value="@Model.SambaOptions.ShadowSnapdir" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>RpcServerDefault</label>
                                </td>
                                <td colspan="2">
                                    <input name="RpcServerDefault" style="width: 90%;" type="text" value="@Model.SambaOptions.RpcServerDefault" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>RpcServerSvcctl</label>
                                </td>
                                <td colspan="2">
                                    <input name="RpcServerSvcctl" style="width: 90%;" type="text" value="@Model.SambaOptions.RpcServerSvcctl" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>RpcServerSrvsvc</label>
                                </td>
                                <td colspan="2">
                                    <input name="RpcServerSrvsvc" style="width: 90%;" type="text" value="@Model.SambaOptions.RpcServerSrvsvc" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>RpcServerEventlog</label>
                                </td>
                                <td colspan="2">
                                    <input name="RpcServerEventlog" style="width: 90%;" type="text" value="@Model.SambaOptions.RpcServerEventlog" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>RpcServerNtsvcs</label>
                                </td>
                                <td colspan="2">
                                    <input name="RpcServerNtsvcs" style="width: 90%;" type="text" value="@Model.SambaOptions.RpcServerNtsvcs" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>RpcServerWinreg</label>
                                </td>
                                <td colspan="2">
                                    <input name="RpcServerWinreg" style="width: 90%;" type="text" value="@Model.SambaOptions.RpcServerWinreg" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>RpcServerSpoolss</label>
                                </td>
                                <td colspan="2">
                                    <input name="RpcServerSpoolss" style="width: 90%;" type="text" value="@Model.SambaOptions.RpcServerSpoolss" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>RpcDaemonSpoolssd</label>
                                </td>
                                <td colspan="2">
                                    <input name="RpcDaemonSpoolssd" style="width: 90%;" type="text" value="@Model.SambaOptions.RpcDaemonSpoolssd" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>RpcServerTcpip</label>
                                </td>
                                <td colspan="2">
                                    <input name="RpcServerTcpip" style="width: 90%;" type="text" value="@Model.SambaOptions.RpcServerTcpip" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>IdmapConfigBackend</label>
                                </td>
                                <td colspan="2">
                                    <input name="IdmapConfigBackend" style="width: 90%;" type="text" value="@Model.SambaOptions.IdmapConfigBackend" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>ReadOnly</label>
                                </td>
                                <td colspan="2">
                                    <input name="ReadOnly" style="width: 90%;" type="text" value="@Model.SambaOptions.ReadOnly" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>GuestOk</label>
                                </td>
                                <td colspan="2">
                                    <input name="GuestOk" style="width: 90%;" type="text" value="@Model.SambaOptions.GuestOk" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>AioReadSize</label>
                                </td>
                                <td colspan="2">
                                    <input name="AioReadSize" style="width: 90%;" type="text" value="@Model.SambaOptions.AioReadSize" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>AioWriteSize</label>
                                </td>
                                <td colspan="2">
                                    <input name="AioWriteSize" style="width: 90%;" type="text" value="@Model.SambaOptions.AioWriteSize" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>EaSupport</label>
                                </td>
                                <td colspan="2">
                                    <input name="EaSupport" style="width: 90%;" type="text" value="@Model.SambaOptions.EaSupport" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>DirectoryNameCacheSize</label>
                                </td>
                                <td colspan="2">
                                    <input name="DirectoryNameCacheSize" style="width: 90%;" type="text" value="@Model.SambaOptions.DirectoryNameCacheSize" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>CaseSensitive</label>
                                </td>
                                <td colspan="2">
                                    <input name="CaseSensitive" style="width: 90%;" type="text" value="@Model.SambaOptions.CaseSensitive" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>MapReadonly</label>
                                </td>
                                <td colspan="2">
                                    <input name="MapReadonly" style="width: 90%;" type="text" value="@Model.SambaOptions.MapReadonly" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>StoreDosAttributes</label>
                                </td>
                                <td colspan="2">
                                    <input name="StoreDosAttributes" style="width: 90%;" type="text" value="@Model.SambaOptions.StoreDosAttributes" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>WideLinks</label>
                                </td>
                                <td colspan="2">
                                    <input name="WideLinks" style="width: 90%;" type="text" value="@Model.SambaOptions.WideLinks" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>DosFiletimeResolution</label>
                                </td>
                                <td colspan="2">
                                    <input name="DosFiletimeResolution" style="width: 90%;" type="text" value="@Model.SambaOptions.DosFiletimeResolution" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>VfsObjects</label>
                                </td>
                                <td colspan="2">
                                    <input name="VfsObjects" style="width: 90%;" type="text" value="@Model.SambaOptions.VfsObjects" />
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td colspan="3">
                                    <input style="width: 90%;" type="submit" value="SET" class="bg-anthilla-geen" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>

            <div id="smb_rscs" class="frame" style="display: none;">
                <form action="/services/samba/resource" method="POST" enctype="multipart/form-data">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <label>Name</label>
                                </td>
                                <td colspan="2">
                                    <input name="Name" style="width: 90%;" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Path</label>
                                </td>
                                <td colspan="2">
                                    <input name="Path" style="width: 90%;" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Comment</label>
                                </td>
                                <td colspan="2">
                                    <input name="Comment" style="width: 90%;" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td colspan="3">
                                    <input style="width: 90%;" type="submit" value="SET" class="bg-anthilla-geen" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
                <br />
                @Each.SambaResources
                    <div data-role="panel" class="panel border-2-anthilla-gray collapsed" style="margin-bottom: 5px;">
                        <div class="panel-header bg-anthilla-gray fg-white">
                            [@Current.Name] -> @Current.Path
                        </div>
                        <div class="panel-content" style="display: none;">
                            <table class="table" style="table-layout: fixed;">
                                <tbody>
                                    <tr>
                                        <td>
                                            <label>Comment</label></td>
                                        <td>
                                            <label>@Current.Comment</label></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <input data-role="RemoveSambaResource" data-id="@Current.Id" type="button" value="Remove Resource" class="bg-anthilla-orange" style="color: #3a3a3a !important; width: 90%;" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                @EndEach
            </div>
        </div>
    </div>
</div>
