<div class="border-2-anthilla-gray" style="width: 100%; min-height: 100px; margin-bottom: 15px; padding: 15px;">
    <legend>Sync</legend>
    <form id="DepotForm" action="/gluster/set" method="POST" enctype="multipart/form-data" class="grid">
        <div class="row">
            <div class="span3">
                <label>Name</label>
            </div>
            <div class="span12">
                <div class="input-control text" data-role="input-control">
                    <input name="Name" type="text" value="@Model.GlusterName" style="width: 90%;">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span3">
                <label>Path</label>
            </div>
            <div class="span12">
                <div class="input-control text" data-role="input-control">
                    <input name="Path" type="text" value="@Model.GlusterPath" style="width: 90%;">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span3">
                <label>Nodes</label>
            </div>
            <div class="span12">
                <input type="button" data-role="AddGlusterConfigNewNode" value="Add new Node" class="bg-anthilla-blu" style="width: 90%;" />
                @Each.GlusterNodes
                <div class="input-control text" data-role="input-control">
                    <input name="GlusterNode" type="text" value="@Current" style="width: 90%;">
                </div>
                @EndEach
                <div data-role="GlusterConfigNewNodes">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="span3">
                <label>Volumes</label>
            </div>
            <div class="span12">
                <input type="button" data-role="AddGlusterConfigNewVolume" value="Add new Volume" class="bg-anthilla-blu" style="width: 90%;" />
                @Each.GlusterVolumes
                <div class="input-control text border-anthilla-gray" data-role="input-control"> 
                    <input name="GlusterVolumeName" type="text" value="@Current.Name" style="width: 90%;">
                    <input name="GlusterVolumeBrick" type="text" value="@Current.Brick" style="width: 90%;">
                    <input name="GlusterVolumeMountPoint" type="text" value="@Current.MountPoint" style="width: 90%;">
                </div>
                @EndEach
                <div data-role="GlusterConfigNewVolumes">

                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 10px;">
            <div class="span6">
                <input class="bg-anthilla-green fg-anthilla-gray upcase" type="submit" value="Confirm" />
            </div>
        </div>
    </form>
</div>
<script src="/Scripts/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="/Scripts/metro.min.js" type="text/javascript"></script>
<script src="/Scripts/antd.cmd.js" type="text/javascript"></script>
x