<div class="cctable-container border-2-anthilla-gray" style="width: 100%; min-height: 100px; margin-bottom: 15px; padding: 15px;" data-guid="@Model.Guid">
    <legend>Domain Controller Setup</legend>
    <form action="/dc/setup" method="POST" enctype="multipart/form-data" class="grid border-2-anthilla-violet" style="padding: 10px;">
        <div class="row">
            <p>Domain</p>
            <input name="DomainName" type="text" />
            <p>ex: HWK</p>
        </div>
        <div class="row">
            <p>Realm</p>
            <input name="DomainRealmname" type="text" />
            <p>ex: HWK.NET</p>
        </div>
        <div class="row">
            <p>Hostname</p>
            <input name="DomainHostname" type="text" />
            <p>ex: aos004</p>
        </div>
        <div class="row">
            <p>Host IP</p>
            <input name="DomainHostip" type="text" />
            <p>ex: 10.1.3.194</p>
        </div>
        <div class="row">
            <p>Administrator Password</p>
            <input name="DomainAdminPassword" type="text"/>
            <p>ex: MyPassword123</p>
        </div>
        <div class="row">
            <input value="submit" type="submit" />
        </div>
    </form>
</div>