<div class="border-2-anthilla-gray" style="width: 100%; min-height: 100px; margin-bottom: 15px; padding: 15px;">
    <legend>Services </legend>

    <div data-role="tab-control" class="tab-control">
        <ul class="tabs">
            <li class="active"><a href="#001">Services</a></li>
            <li><a href="#002">Mounts</a></li>
            <li><a href="#003">Targets</a></li>
            <li><a href="#004">Timers</a></li>
        </ul>

        <div class="frames">
            <div id="001" class="frame">
                @Each.Services
                <div class="container">
                    <div class="bg-anthilla-gray" style="width: 100%; height: 38px; margin-bottom: 5px; padding: 0 12px; font-weight: normal !important; line-height: 40px;">
                        <i class="icon-clipboard-2 on-left fg-anthilla-violet" style="margin-right: 8px;"></i>
                        <input type="hidden" data="$service" value="@Current.Name" />
                        <p style="display: inline-block !important; width: 400px; overflow: hidden !important;">@Current.Name</p>
                        <p style="display: inline-block !important; width: 200px; overflow: hidden !important;">@Current.Load - @Current.Active - @Current.Sub</p>
                        <p style="display: inline-block !important; width: 300px; overflow: hidden !important;">@Current.Description</p>

                        <i data-role="ToggleUnitContent" class="icon-arrow-right-5 fg-white" style="margin-left: 8px; float: right; cursor: pointer; border: 2px solid white; padding: 5px; margin-top: 5px;"></i>
                        <i data-hint="|Show Logs" data-hint-position="bottom" data-role="ShowLogs" data-name="@Current.Name" class="icon-search fg-anthilla-blu" style="margin-left: 8px; float: right; cursor: pointer; border: 2px solid #60A1E4; padding: 5px; margin-top: 5px;"></i>
                    </div>
                    <div class="bg-anthilla-gray-m border-2-anthilla-gray content" style="display: none; width: 100%; height: auto; margin-bottom: 5px; margin-top: -5px; padding: 10px 12px; font-weight: normal !important;">
                        <div data-role="CmdContainer">
                            <input type="hidden" data="$service" value="@Current.Name" />
                            <input type="button" data-role="CmdLaunch" data-name="systemctl-start" data-par="$service" value="Start" />
                            <input type="button" data-role="CmdLaunch" data-name="systemctl-restart" data-par="$service" value="Restart" />
                            <input type="button" data-role="CmdLaunch" data-name="systemctl-stop" data-par="$service" value="Stop" />
                            <input type="button" data-role="CmdLaunch" data-name="systemctl-enable" data-par="$service" value="Enable" />
                            <input type="button" data-role="CmdLaunch" data-name="systemctl-disable" data-par="$service" value="Disable" />
                        </div>
                        <div data-role="ServiceLog" class="border-2-anthilla-gray" style="width: 100%; min-height: 25px; max-height: 300px; padding: 5px; font-weight: normal !important; margin-top: 5px;"></div>
                    </div>
                </div>
                @EndEach
            </div>

            <div id="002" class="frame" style="display: none;">
                @Each.Mounts
                <div class="container">
                    <div class="bg-anthilla-gray" style="width: 100%; height: 38px; margin-bottom: 5px; padding: 0 12px; font-weight: normal !important; line-height: 40px;">
                        <i class="icon-clipboard-2 on-left fg-anthilla-violet" style="margin-right: 8px;"></i>
                        <input type="hidden" data="$service" value="@Current.Name" />
                        <p style="display: inline-block !important; width: 400px; overflow: hidden !important;">@Current.Name</p>
                        <p style="display: inline-block !important; width: 200px; overflow: hidden !important;">@Current.Load - @Current.Active - @Current.Sub</p>
                        <p style="display: inline-block !important; width: 300px; overflow: hidden !important;">@Current.Description</p>

                        <i data-role="ToggleUnitContent" class="icon-arrow-right-5 fg-white" style="margin-left: 8px; float: right; cursor: pointer; border: 2px solid white; padding: 5px; margin-top: 5px;"></i>
                        <i data-hint="|Show Logs" data-hint-position="bottom" data-role="ShowLogs" data-name="@Current.Name" class="icon-search fg-anthilla-blu" style="margin-left: 8px; float: right; cursor: pointer; border: 2px solid #60A1E4; padding: 5px; margin-top: 5px;"></i>
                    </div>
                    <div class="bg-anthilla-gray-m border-2-anthilla-gray content" style="display: none; width: 100%; height: auto; margin-bottom: 5px; margin-top: -5px; padding: 10px 12px; font-weight: normal !important;">
                        <div data-role="CmdContainer">
                            <input type="hidden" data="$service" value="@Current.Name" />
                            <input type="button" data-role="CmdLaunch" data-name="systemctl-start" data-par="$service" value="Start" />
                            <input type="button" data-role="CmdLaunch" data-name="systemctl-restart" data-par="$service" value="Restart" />
                            <input type="button" data-role="CmdLaunch" data-name="systemctl-stop" data-par="$service" value="Stop" />
                            <input type="button" data-role="CmdLaunch" data-name="systemctl-enable" data-par="$service" value="Enable" />
                            <input type="button" data-role="CmdLaunch" data-name="systemctl-disable" data-par="$service" value="Disable" />
                        </div>
                        <div data-role="ServiceLog" class="border-2-anthilla-gray" style="width: 100%; min-height: 25px; max-height: 300px; padding: 5px; font-weight: normal !important; margin-top: 5px;"></div>
                    </div>
                </div>
                @EndEach
            </div>

            <div id="003" class="frame" style="display: none;">
                @Each.Targets
                <div class="container">
                    <div class="bg-anthilla-gray" style="width: 100%; height: 38px; margin-bottom: 5px; padding: 0 12px; font-weight: normal !important; line-height: 40px;">
                        <i class="icon-clipboard-2 on-left fg-anthilla-violet" style="margin-right: 8px;"></i>
                        <input type="hidden" data="$service" value="@Current.Name" />
                        <p style="display: inline-block !important; width: 400px; overflow: hidden !important;">@Current.Name</p>
                        <p style="display: inline-block !important; width: 200px; overflow: hidden !important;">@Current.Load - @Current.Active - @Current.Sub</p>
                        <p style="display: inline-block !important; width: 300px; overflow: hidden !important;">@Current.Description</p>

                        <i data-role="ToggleUnitContent" class="icon-arrow-right-5 fg-white" style="margin-left: 8px; float: right; cursor: pointer; border: 2px solid white; padding: 5px; margin-top: 5px;"></i>
                        <i data-hint="|Show Logs" data-hint-position="bottom" data-role="ShowLogs" data-name="@Current.Name" class="icon-search fg-anthilla-blu" style="margin-left: 8px; float: right; cursor: pointer; border: 2px solid #60A1E4; padding: 5px; margin-top: 5px;"></i>
                    </div>
                    <div class="bg-anthilla-gray-m border-2-anthilla-gray content" style="display: none; width: 100%; height: auto; margin-bottom: 5px; margin-top: -5px; padding: 10px 12px; font-weight: normal !important;">
                        <div data-role="CmdContainer">
                            <input type="hidden" data="$service" value="@Current.Name" />
                            <input type="button" data-role="CmdLaunch" data-name="systemctl-start" data-par="$service" value="Start" />
                            <input type="button" data-role="CmdLaunch" data-name="systemctl-restart" data-par="$service" value="Restart" />
                            <input type="button" data-role="CmdLaunch" data-name="systemctl-stop" data-par="$service" value="Stop" />
                            <input type="button" data-role="CmdLaunch" data-name="systemctl-enable" data-par="$service" value="Enable" />
                            <input type="button" data-role="CmdLaunch" data-name="systemctl-disable" data-par="$service" value="Disable" />
                        </div>
                        <div data-role="ServiceLog" class="border-2-anthilla-gray" style="width: 100%; min-height: 25px; max-height: 300px; padding: 5px; font-weight: normal !important; margin-top: 5px;"></div>
                    </div>
                </div>
                @EndEach
            </div>

            <div id="004" class="frame" style="display: none;">
                @Each.Timers
                    <div class="container">
                        <div class="bg-anthilla-gray" style="width: 100%; height: 38px; margin-bottom: 5px; padding: 0 12px; font-weight: normal !important; line-height: 40px;">
                            <i class="icon-clipboard-2 on-left fg-anthilla-violet" style="margin-right: 8px;"></i>
                            <input type="hidden" data="$service" value="@Current.Name" />
                            <p style="display: inline-block !important; width: 400px; overflow: hidden !important;">@Current.Name</p>
                            <p style="display: inline-block !important; width: 200px; overflow: hidden !important;">@Current.Load - @Current.Active - @Current.Sub</p>
                            <p style="display: inline-block !important; width: 300px; overflow: hidden !important;">@Current.Description</p>

                            <i data-role="ToggleUnitContent" class="icon-arrow-right-5 fg-white" style="margin-left: 8px; float: right; cursor: pointer; border: 2px solid white; padding: 5px; margin-top: 5px;"></i>
                            <i data-hint="|Show Logs" data-hint-position="bottom" data-role="ShowLogs" data-name="@Current.Name" class="icon-search fg-anthilla-blu" style="margin-left: 8px; float: right; cursor: pointer; border: 2px solid #60A1E4; padding: 5px; margin-top: 5px;"></i>
                        </div>
                        <div class="bg-anthilla-gray-m border-2-anthilla-gray content" style="display: none; width: 100%; height: auto; margin-bottom: 5px; margin-top: -5px; padding: 10px 12px; font-weight: normal !important;">
                            <div data-role="CmdContainer">
                                <input type="hidden" data="$service" value="@Current.Name" />
                                <input type="button" data-role="CmdLaunch" data-name="systemctl-start" data-par="$service" value="Start" />
                                <input type="button" data-role="CmdLaunch" data-name="systemctl-restart" data-par="$service" value="Restart" />
                                <input type="button" data-role="CmdLaunch" data-name="systemctl-stop" data-par="$service" value="Stop" />
                                <input type="button" data-role="CmdLaunch" data-name="systemctl-enable" data-par="$service" value="Enable" />
                                <input type="button" data-role="CmdLaunch" data-name="systemctl-disable" data-par="$service" value="Disable" />
                            </div>
                            <div data-role="ServiceLog" class="border-2-anthilla-gray" style="width: 100%; min-height: 25px; max-height: 300px; padding: 5px; font-weight: normal !important; margin-top: 5px;"></div>
                        </div>
                    </div>
                @EndEach
            </div>
        </div>
    </div>
</div>
