<div class="border-2-anthilla-gray" style="width: 100%; min-height: 100px; margin-bottom: 15px; padding: 15px;">
    <legend>CPU </legend>
    <table class="table" style="table-layout: fixed;">
        <tbody>
            @Each.Cpuinfo
            <tr>
                <td>
                    <label>@Current.Key</label>
                </td>
                <td>
                    <p>@Current.Value</p>
                </td>
            </tr>
            @EndEach
        </tbody>
    </table>
</div>
