<div class="border-2-anthilla-gray" style="min-width: 100%; max-width: 100%; width: 100%; min-height: 100px; margin-bottom: 15px; padding: 15px;">
    <legend>Date and Time
        <i id="SyncClock" class="icon-cycle fg-anthilla-green" style="float: right; cursor: pointer !important;"></i>
    </legend>
    <table class="table" style="table-layout: fixed;">
        <tbody>
            <tr style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                <td>
                    <label>Local time</label>
                </td>
                <td>@Model.LocalTime
                </td>
                <td></td>
            </tr>
            <tr style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                <td>
                    <label>Universal time</label>
                </td>
                <td>@Model.UnivTime
                </td>
                <td></td>
            </tr>
            <tr style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                <td>
                    <label>RTC time</label>
                </td>
                <td>@Model.RTCTime
                </td>
                <td></td>
            </tr>
            <tr style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                <td>
                    <label>Timezone</label>
                    <select id="HostTimezone" style="width: 60%; height: 25px;" class="border-anthilla-green">
                        @Each.Timezones
                        <option value="@Current">@Current</option>
                        @EndEach
                    </select>
                    <input id="SetHostTimezone" type="button" value="Update" class="float-right" />
                </td>
                <td>@Model.Timezone
                </td>
                <td>Set host timezone</td>
            </tr>
            <tr style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                <td>
                    <label>Network time on</label>
                </td>
                <td>@Model.Nettimeon
                </td>
                <td></td>
            </tr>
            <tr style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                <td>
                    <label>NTP synchronized</label>
                </td>
                <td>@Model.Ntpsync
                </td>
                <td></td>
            </tr>
            <tr style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                <td>
                    <label>RTC in local TZ</label>
                </td>
                <td>@Model.Rtcintz
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
