<div class="border-2-anthilla-gray" style="width: 100%; min-height: 100px; margin-bottom: 15px; padding: 15px;">
	<legend id="Ssh">
		Ssh
	</legend>
	@Each.Keys
	<p>@Current.PublicUser</p>
	<p>@Current.Value</p>
	<hr />
	<!--<div data-role="panel" class="panel border-2-anthilla-gray collapsed" style="margin-bottom: 5px;">
		<div class="panel-header bg-anthilla-gray fg-white">
			Authorized Keys for @Current.User
		</div>
		<div class="panel-content" style="display: none;">
			<p>@Current.Value</p>
		</div>
	</div>-->
	@EndEach
</div>