<div class="border-2-anthilla-gray" style="width: 100%; min-height: 100px; margin-bottom: 15px; padding: 15px;">
    <legend>Scan Setting</legend>
    <table class="table" style="table-layout: fixed;">
        <thead>
            <tr>
                <td>
                    <label>Subnet</label></td>
                <td>
                    <input type="text" style="height: 28px; width: 90%;" data-role="NetscanSettingSubnet" value="@Model.SettingsSubnet" />
                </td>
                <td>
                    <input type="button" style="height: 28px; width: 90%;" data-role="ApplyNetscanSettingSubnet" value="Save" class="bg-anthilla-blu" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Letter</label></td>
                <td>
                    <label>Number</label></td>
                <td>
                    <label>Label</label></td>
            </tr>
        </thead>
        <tbody data-role="NetscanSettingTable">
            @Each.Settings
            <tr data-role="NetscanSettingObject">
                <td>
                    <h6>@Current.Key.Letter</h6>
                </td>
                <td>
                    <h6>@Current.Key.Number</h6>
                </td>
                <td>
                    <input type="text" value="@Current.Value" data-l="@Current.Key.Letter" data-n="@Current.Key.Number" data-name="NetscanLabel" style="height: 28px; width: 90%;" />
                </td>
            </tr>
            @EndEach
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">
                    <input data-role="SaveNetscanSetting" data-id="@Current.Id" value="Save Settings" type="button" />
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<script data-script="reload" src="/Scripts/antd.asset.js" type="text/javascript"></script>
