<div class="border-2-anthilla-gray" style="min-width: 100%; max-width: 100%; width: 100%; min-height: 100px; margin-bottom: 15px; padding: 15px;">
    <legend id="Host">Host</legend>
    <table class="table" style="table-layout: fixed;">
        <tbody>
            <tr style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                <td>
                    <label>Hostname</label>
                    <input type="text" id="HostName" style="width: 60%;" />
                </td>
                <td>@Model.StaticHostname
                </td>
                <td>Set host name</td>
            </tr>
            <tr style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                <td>
                    <label>Icon Name</label>
                </td>
                <td>@Model.IconName
                </td>
                <td>Set icon name</td>
            </tr>
            <tr style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                <td>
                    <label>Chassis</label>
                    <select id="HostChassis" style="width: 60%; height: 25px;" class="border-anthilla-green">
                        <option value="desktop">Desktop</option>
                        <option value="laptop">Laptop</option>
                        <option value="server">Server</option>
                        <option value="tablet">Tablet</option>
                        <option value="handset">Handset</option>
                        <option value="watch">Watch</option>
                        <option value="embedded">Embedded</option>
                        <option value="vm">Vm</option>
                        <option value="container">Container</option>
                    </select>
                </td>
                <td>@Model.Chassis
                </td>
                <td>Set host chassis</td>
            </tr>
            <tr style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                <td>
                    <label>Deployment</label>
                    <input type="text" id="HostDeployment" style="width: 60%;" />
                </td>
                <td>@Model.Deployment
                </td>
                <td>Set host deployment</td>
            </tr>
            <tr style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                <td>
                    <label>Location</label>
                    <input type="text" id="HostLocation" style="width: 60%;" />
                </td>
                <td>@Model.Location
                </td>
                <td>Set host location</td>
            </tr>
            <tr style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                <td>
                    <label>Machine ID</label>
                </td>
                <td>@Model.MachineID
                </td>
                <td></td>
            </tr>
            <tr style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                <td>
                    <label>Boot ID</label>
                </td>
                <td>@Model.BootID
                </td>
                <td></td>
            </tr>
            <tr style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                <td>
                    <label>Virtualization</label>
                </td>
                <td>@Model.Virtualization
                </td>
                <td></td>
            </tr>
            <tr style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                <td>
                    <label>Operating System</label>
                </td>
                <td>@Model.OS
                </td>
                <td></td>
            </tr>
            <tr style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                <td>
                    <label>Kernel</label>
                </td>
                <td>@Model.Kernel
                </td>
                <td></td>
            </tr>
            <tr style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                <td>
                    <label>Architecture</label>
                </td>
                <td>@Model.Architecture
                </td>
                <td></td>
            </tr>
            <tr style="border-bottom: 7px solid #535353; border-top: 7px solid #535353;">
                <td colspan="3">
                    <input id="SaveHostInfo" type="button" value="Save Configuration" class="bg-anthilla-green fg-anthilla-gray" />
                </td>
            </tr>
        </tbody>
    </table>
</div>
