<div class="border-2-anthilla-gray" style="width: 100%; min-height: 100px; margin-bottom: 15px; padding: 15px;">
    <legend id="Users">Users</legend>
    @Each.Users
    <div data-role="panel" class="panel border-2-anthilla-gray collapsed" style="margin-bottom: 5px;">
        <div class="panel-header bg-anthilla-gray fg-white">
            @Current.Role - @Current.Alias
        </div>
        <div class="panel-content" style="display: none;">
            <div class="grid" data-role="UpdatePasswordPanel">
                <div class="row">
                    <div class="span5">
                        <label>New Password</label>
                        <input type="password" data-role="Password01" style="width: 90%; height: 28px;" />
                    </div>
                    <div class="span5">
                        <label>Retype Password</label>
                        <input type="password" data-role="Password02" style="width: 90%; height: 28px;" />
                    </div>
                    <div class="span5">
                        <input type="button" class="bg-anthilla-geen" value="Change Password" data-role="UpdateUserPassword" data-user="@Current.Alias" style="width: 90%; height: 28px;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    @EndEach
</div>
