<div class="border-2-anthilla-gray" style="width: 100%; min-height: 100px; margin-bottom: 15px; padding: 15px;">
    <legend>
        DHCPD
        @IfNot.DhcpdIsActive
        <i id="EnableDhcpd" class="icon-checkmark fg-anthilla-green" data-hint="|Enable" data-hint-position="bottom" style="float: right; cursor: pointer; margin: auto 10px;"></i>
        @EndIf
        @If.DhcpdIsActive
        <i id="StopDhcpd" class="icon-cancel-2 fg-anthilla-green" data-hint="|Stop" data-hint-position="bottom" style="float: right; cursor: pointer;"></i>
        <i id="ReloadDhcpd" class="icon-cycle fg-anthilla-green" data-hint="|Reload" data-hint-position="bottom" style="float: right; cursor: pointer; margin: auto 10px;"></i>
        <i id="DisableDhcpd" class="icon-cycle fg-anthilla-green" data-hint="|Disable" data-hint-position="bottom" style="float: right; cursor: pointer; margin: auto 10px;"></i>
        <i id="ApplyConfigDhcpd" class="icon-download-2 fg-anthilla-blu" data-hint="|Apply Saved Settings" data-hint-position="bottom" style="float: right; cursor: pointer;"></i>
        @EndIf
    </legend>

    <div data-role="tab-control" class="tab-control">
        <ul class="tabs">   
            <li class="active"><a href="#dhcp_global">Global Options</a></li>
            <li><a href="#dhcp_pools">Pools</a></li>
            <li><a href="#dhcp_class">Class</a></li>
            <li><a href="#dhcp_host">Host Reservation</a></li>
        </ul>

        <div class="frames">
            <div id="dhcp_global" class="frame">
                <form action="/services/dhcpd/options" method="POST" enctype="multipart/form-data">
                    <table class="table" style="table-layout: fixed;">
                        <tbody>
                            <tr>
                                <td>
                                    <label>Allows</label>
                                </td>
                                <td>
                                    <!--each-->
                                    <input name="Allow" data-input="selectize" style="width: 90%;" type="text" value="@Model.DhcpdOptions.AllowString" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>updateStaticLeases</label>
                                </td>
                                <td>
                                    <input name="UpdateStaticLeases" style="width: 90%;" type="text" value="@Model.DhcpdOptions.UpdateStaticLeases" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>UpdateConflictDetection</label>
                                </td>
                                <td>
                                    <input name="UpdateConflictDetection" style="width: 90%;" type="text" value="@Model.DhcpdOptions.UpdateConflictDetection" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>UseHostDeclNames</label>
                                </td>
                                <td>
                                    <input name="UseHostDeclNames" style="width: 90%;" type="text" value="@Model.DhcpdOptions.UseHostDeclNames" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>DoForwardUpdates</label>
                                </td>
                                <td>
                                    <input name="DoForwardUpdates" style="width: 90%;" type="text" value="@Model.DhcpdOptions.DoForwardUpdates" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>DoReverseUpdates</label>
                                </td>
                                <td>
                                    <input name="DoReverseUpdates" style="width: 90%;" type="text" value="@Model.DhcpdOptions.DoReverseUpdates" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>LogFacility</label>
                                </td>
                                <td>
                                    <input name="LogFacility" style="width: 90%;" type="text" value="@Model.DhcpdOptions.LogFacility" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Option</label>
                                </td>
                                <td>
                                    <!--each-->
                                    <input name="Option" data-input="selectize" style="width: 90%;" type="text" value="@Model.DhcpdOptions.OptionString" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>ZoneName</label>
                                </td>
                                <td>
                                    <input name="ZoneName" style="width: 90%;" type="text" value="@Model.DhcpdOptions.ZoneName" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>ZonePrimaryAddress</label>
                                </td>
                                <td>
                                    <input name="ZonePrimaryAddress" style="width: 90%;" type="text" value="@Model.DhcpdOptions.ZonePrimaryAddress" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>DdnsUpdateStyle</label>
                                </td>
                                <td>
                                    <input name="DdnsUpdateStyle" style="width: 90%;" type="text" value="@Model.DhcpdOptions.DdnsUpdateStyle" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>DdnsUpdates</label>
                                </td>
                                <td>
                                    <input name="DdnsUpdates" style="width: 90%;" type="text" value="@Model.DhcpdOptions.DdnsUpdates" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>DdnsDomainName</label>
                                </td>
                                <td>
                                    <input name="DdnsDomainName" style="width: 90%;" type="text" value="@Model.DhcpdOptions.DdnsDomainName" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>DdnsRevDomainName</label>
                                </td>
                                <td>
                                    <input name="DdnsRevDomainName" style="width: 90%;" type="text" value="@Model.DhcpdOptions.DdnsRevDomainName" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>DefaultLeaseTime</label>
                                </td>
                                <td>
                                    <input name="DefaultLeaseTime" style="width: 90%;" type="text" value="@Model.DhcpdOptions.DefaultLeaseTime" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>MaxLeaseTime</label>
                                </td>
                                <td>
                                    <input name="MaxLeaseTime" style="width: 90%;" type="text" value="@Model.DhcpdOptions.MaxLeaseTime" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>KeyName</label>
                                </td>
                                <td>
                                    <input name="KeyName" style="width: 90%;" type="text" value="@Model.DhcpdOptions.KeyName" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>KeySecret</label>
                                </td>
                                <td>
                                    <input name="KeySecret" style="width: 90%;" type="text" value="@Model.DhcpdOptions.KeySecret" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>SubnetIpFamily</label>
                                </td>
                                <td>
                                    <input name="SubnetIpFamily" style="width: 90%;" type="text" value="@Model.DhcpdOptions.SubnetIpFamily" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>SubnetIpMask</label>
                                </td>
                                <td>
                                    <input name="SubnetIpMask" style="width: 90%;" type="text" value="@Model.DhcpdOptions.SubnetIpMask" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>SubnetOptionRouters</label>
                                </td>
                                <td>
                                    <input name="SubnetOptionRouters" style="width: 90%;" type="text" value="@Model.DhcpdOptions.SubnetOptionRouters" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>SubnetNtpServers</label>
                                </td>
                                <td>
                                    <input name="SubnetNtpServers" style="width: 90%;" type="text" value="@Model.DhcpdOptions.SubnetNtpServers" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>SubnetTimeServers</label>
                                </td>
                                <td>
                                    <input name="SubnetTimeServers" style="width: 90%;" type="text" value="@Model.DhcpdOptions.SubnetTimeServers" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>SubnetDomainNameServers</label>
                                </td>
                                <td>
                                    <input name="SubnetDomainNameServers" style="width: 90%;" type="text" value="@Model.DhcpdOptions.SubnetDomainNameServers" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>SubnetBroadcastAddress</label>
                                </td>
                                <td>
                                    <input name="SubnetBroadcastAddress" style="width: 90%;" type="text" value="@Model.DhcpdOptions.SubnetBroadcastAddress" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>SubnetMask</label>
                                </td>
                                <td>
                                    <input name="SubnetMask" style="width: 90%;" type="text" value="@Model.DhcpdOptions.SubnetMask" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <input style="width: 90%; height: 28px;" type="submit" value="Save Settings" class="bg-anthilla-green fg-anthilla-gray" />
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>

            <div id="dhcp_pools" class="frame" style="display: none;">
                <form action="/services/dhcpd/pool" method="POST" enctype="multipart/form-data">
                    <table class="table" style="table-layout: fixed;">
                        <tbody>
                            <tr>
                                <td>
                                    <label>Options</label>
                                </td>
                                <td>
                                    <!--each-->
                                    <input name="Option" style="width: 90%;" type="text" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <input style="width: 90%; height: 28px;" type="submit" value="Create Pool" class="bg-anthilla-green fg-anthilla-gray" />
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </form>

                <table class="table" style="table-layout: fixed;">
                    <thead>
                        <tr>
                            <td>Options</td>
                        </tr>
                    </thead>
                    <tbody>
                        @Each.DhcpdPools
                    <tr data-id="@Current.Guid">
                        <td>Pool</td>
                        <td>@Current.OptionsString</td>
                        <td>
                            <input class="bg-anthilla-orange" type="button" value="X" style="width: 20%;" data-role="DeleteDhcpdPool" data-id="@Current.Guid" />
                        </td>
                    </tr>
                        @EndEach
                    </tbody>
                </table>
            </div>

            <div id="dhcp_class" class="frame" style="display: none;">
                <form action="/services/dhcpd/class" method="POST" enctype="multipart/form-data">
                    <table class="table" style="table-layout: fixed;">
                        <tbody>
                            <tr>
                                <td>
                                    <label>Name</label>
                                </td>
                                <td>
                                    <input name="Name" style="width: 90%;" type="text" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>MacVendor</label>
                                </td>
                                <td>
                                    <input name="MacVendor" style="width: 90%;" type="text" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <input style="width: 90%; height: 28px;" type="submit" value="Create Class" class="bg-anthilla-green fg-anthilla-gray" />
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </form>

                <table class="table" style="table-layout: fixed;">
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>MacVendor</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @Each.DhcpdClass
                    <tr data-id="@Current.Guid">
                        <td>@Current.Name</td>
                        <td>@Current.MacVendor</td>
                        <td>
                            <input class="bg-anthilla-orange" type="button" value="X" style="width: 20%;" data-role="DeleteDhcpdClass" data-id="@Current.Guid" />
                        </td>
                    </tr>
                        @EndEach
                    </tbody>
                </table>
            </div>

            <div id="dhcp_host" class="frame" style="display: none;">
                <form action="/services/dhcpd/reservation" method="POST" enctype="multipart/form-data">
                    <table class="table" style="table-layout: fixed;">
                        <tbody>
                            <tr>
                                <td>
                                    <label>HostName</label>
                                </td>
                                <td>
                                    <input name="HostName" style="width: 90%;" type="text" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>MacAddress</label>
                                </td>
                                <td>
                                    <input name="MacAddress" style="width: 90%;" type="text" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>IpAddress</label>
                                </td>
                                <td>
                                    <input name="IpAddress" style="width: 90%;" type="text" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <input style="width: 90%; height: 28px;" type="submit" value="Create Host Reservation" class="bg-anthilla-green fg-anthilla-gray" />
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </form>

                <table class="table" style="table-layout: fixed;">
                    <thead>
                        <tr>
                            <td>HostName</td>
                            <td>MacAddress</td>
                            <td>IpAddress</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @Each.DhcpdClass
                    <tr data-id="@Current.Guid">
                        <td>@Current.HostName</td>
                        <td>@Current.MacAddress</td>
                        <td>@Current.IpAddress</td>
                        <td>
                            <input class="bg-anthilla-orange" type="button" value="X" style="width: 20%;" data-role="DeleteDhcpdReservation" data-id="@Current.Guid" />
                        </td>
                    </tr>
                        @EndEach
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
