<div class="cctable-container border-2-anthilla-gray" style="width: 100%; min-height: 100px; margin-bottom: 15px; padding: 15px;" data-guid="@Model.Guid">
    <legend>Certificate for Domain Controller</legend>
    <form action="/dc/cert" method="POST" enctype="multipart/form-data" class=" border-2-anthilla-violet" style="padding: 10px;">
        <div class="row">
            <p>(4) Create a Certificate for Domain Controller</p>
        </div>
        <div class="row">
            <p>Domain Controller Guid</p>
            <input name="DomainControllerGuid" type="text" />
            <p>ex: </p>
        </div>
        <div class="row">
            <p>Domain DNS name</p>
            <input name="DomainDnsName" type="text" />
            <p>ex:</p>
        </div>
        <div class="row">
            <p>CRL Distribution Point</p>
            <input name="DomainCrlDistributionPoint" type="text" />
            <p>must be a valid url</p>
        </div>
        <div class="row">
            <p>Country</p>
            <input name="DomainCaCountry" type="text" />
            <p>ex: IT</p>
        </div>
        <div class="row">
            <p>Province</p>
            <input name="DomainCaProvince" type="text" />
            <p>ex:</p>
        </div>
        <div class="row">
            <p>Locality</p>
            <input name="DomainCaLocality" type="text" />
            <p>ex:</p>
        </div>
        <div class="row">
            <p>Organization</p>
            <input name="DomainCaOrganization" type="text" />
            <p>ex:</p>
        </div>
        <div class="row">
            <p>Organizational Unit</p>
            <input name="DomainCaOrganizationalUnit" type="text" />
            <p>ex:</p>
        </div>
        <div class="row">
            <p>Common Name</p>
            <input name="DomainCaCommonName" type="text" />
            <p>ex: hostname.domain.com</p>
        </div>
        <div class="row">
            <p>Email</p>
            <input name="DomainCaEmail" type="text" />
            <p>ex:</p>
        </div>
        <div class="row">
            <p>Passphrase</p>
            <input name="DomainCaPassphrase" type="text"/>
            <p>ex:</p>
        </div>
        <div class="row">
            <input value="submit" type="submit" />
        </div>
    </form>
</div>