[Unit]
Description=Antd Launcher Service

[Service]
ExecStart=/usr/bin/dotnet /mnt/cdrom/Apps/antd/netcoreapp3.0/antd.dll start
SuccessExitStatus=0
RemainAfterExit=yes
Restart=always

[Install]
WantedBy=antd.target
