[Unit]
Description=AntdUi Launcher Service

[Service]
ExecStart=/usr/bin/dotnet /Antd/Apps/Anthilla_AntdUi/antdui.dll start
SuccessExitStatus=0
RemainAfterExit=yes
Restart=always

[Install]
WantedBy=antd.target
