<style type="text/css">
    #System-TB {
        border-bottom: 10px solid #A7BD39;
        height: 80px !important;
    }
</style>
<nav class="navigation-bar bg-transparent @*page-bar*@ menu-bar">
    <nav class="navigation-bar-content">
        <div class="element upcase fg-anthilla-green border-2-anthilla-gray-m no-overlay" style="padding-top: 11px;">
            <i class="icon-puzzle on-left" style="line-height: 5px;"></i>
            CCTable
        </div>
        <div class="element-divider"></div>

        <a onclick="SetCreate()" class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay" data-scrollto="#CCTableDashboard" style="padding-top: 11px;">New Table
        </a>
        <div class="element-divider"></div>
    </nav>
</nav>
