<div ng-controller="VirshController" class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Virsh - Configuration</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <!--pannello configurazione-->
        <div class="col-md-12 col-sm-12 col-xs-12">
            <table class="table table-condensed table-hover bg-white no-border table-fixed">
                <tbody>
                    <tr>
                        <th scope="row">
                            Enable
                        </th>
                        <td>
                            <input ng-model="Virsh.Active"
                                   i-check
                                   checked=""
                                   type="checkbox">
                        </td>
                        <td colspan="2"></td>
                    </tr>
                </tbody>
                <tbody ng-show="Virsh.Active">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>State</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="el in Virsh.Domains">
                        <td>
                            {{ el.Id }}
                        </td>
                        <td>
                            {{ el.Name }}
                        </td>
                        <td>
                            {{ el.State }}
                        </td>
                        <td>
                            <button ng-click="virshDestroy(el.Name)" type="button" class="btn btn-primary">Destroy</button>
                            <button ng-click="virshReboot(el.Name)" type="button" class="btn btn-primary">Reboot</button>
                            <button ng-click="virshReset(el.Name)" type="button" class="btn btn-primary">Reset</button>
                            <button ng-click="virshShutdown(el.Name)" type="button" class="btn btn-primary">Shutdown</button>
                            <button ng-click="virshStart(el.Name)" type="button" class="btn btn-primary">Start</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-12">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <a ng-click="save()" class="btn btn-app float-right">
                <i class="fa fa-save"></i> Save
            </a>
            <a ng-click="load()" class="btn btn-app float-right">
                <i class="fa fa-refresh"></i> Reload
            </a>
        </div>
    </div>
</div>
