<div ng-controller="AssetController">
    <!--Neighborhood-->
    <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
        <div ng-click="loadNeighborhood()" class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
            <span class="icon mif-file-text fg-anthilla-violet bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
            <span class="title">
                Neighborhood
            </span>
        </div>
        <div class="content bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid; padding: 10px;">
            <div class="width100pc padding20" ng-hide="Neighborhood!=null">
                <span class="mif-spinner2 mif-ani-spin mif-4x fg-yellow"></span>
            </div>
            <table ng-show="Neighborhood!=null" class="table bordered fg-white" style="font-size: 0.85em; table-layout: fixed;">
                <tbody>
                    <tr>
                        <td>Select Device</td>
                        <td>Host</td>
                        <td>Address</td>
                        <td>Manufacturer</td>
                        <td>Model Name</td>
                        <td>Url</td>
                    </tr>
                    <tr ng-repeat="machine in Neighborhood" ng-init="machine.IsSelected=false;">
                        <td style="padding: 0 15px;">
                            <label class="input-control checkbox">
                                <input type="checkbox" ng-model="machine.IsSelected">
                                <span class="check"></span>
                                <span class="caption">&nbsp;</span>
                            </label>
                        </td>
                        <td style="padding: 0 15px;">
                            {{ machine.Hostname }}
                        </td>
                        <td style="padding: 0 15px;">
                            {{ machine.PublicIp }}
                        </td>
                        <td style="padding: 0 15px;">
                            {{ machine.Manufacturer }}
                        </td>
                        <td style="padding: 0 15px;">
                            {{ machine.ModelName }}
                        </td>
                        <td style="padding: 0 15px;">
                            {{ machine.ModelUrl }}
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="grid condensed" style="margin-top: 1.75em;" ng-show="Neighborhood!=null">
                <div class="row cells6">
                    <div class="cell colspan1">
                    </div>
                    <div class="cell colspan2 padding-right10">
                        <button ng-click="click(createCluster)" ng-style="buttonStyle"><span class="{{iconSave}}" ng-style="iconStyle"></span>&nbsp;{{ 'CREATE_CLUSTER' | translate }}</button>
                    </div>
                    <div class="cell colspan2 padding-left10">
                    </div>
                    <div class="cell colspan1">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Cluster-->
    <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
        <div ng-click="loadCluster()" class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
            <span class="icon mif-file-text fg-anthilla-violet bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
            <span class="title">
                Cluster
            </span>
        </div>
        <div class="content bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid; padding: 10px;">
            <div class="width100pc padding20" ng-hide="Cluster!=null">
                <span class="mif-spinner2 mif-ani-spin mif-4x fg-yellow"></span>
            </div>
            <div class="grid condensed fg-white" ng-show="Cluster!=null">
                <div class="row cells6">
                    <div class="cell colspan1 uppercase fg-anthilla-green">
                        <p>Active</p>
                    </div>
                    <div class="cell colspan2">
                        <label class="switch" style="margin-top: 13px;">
                            <input type="checkbox" ng-model="Cluster.Active">
                            <span class="check"></span>
                            <span class="caption padding-left10">
                                <span ng-switch="Cluster.Active">
                                    <span ng-switch-when="true">enabled</span>
                                    <span ng-switch-when="false">disabled</span>
                                    <span ng-switch-default>&nbsp;</span>
                                </span>
                            </span>
                        </label>
                    </div>
                    <div class="cell colspan2 padding-left20">
                    </div>
                    <div class="cell colspan1">
                    </div>
                </div>
                <div class="row cells6">
                    <div class="cell colspan1 uppercase fg-anthilla-green">
                        <p>Label</p>
                    </div>
                    <div class="cell colspan2">
                        <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                            <input type="text" ng-model="Cluster.Label" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                            <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                        </div>
                    </div>
                    <div class="cell colspan2 padding-left20">
                    </div>
                    <div class="cell colspan1">
                    </div>
                </div>
            </div>
            <table ng-show="Cluster!=null" class="table bordered fg-white" style="font-size: 0.85em; table-layout: fixed;">
                <tbody>
                    <tr>
                        <td>MachineUid</td>
                        <td>Hostname</td>
                        <td>PublicIp</td>
                        <td></td>
                    </tr>
                    <tr ng-repeat="node in Cluster.Nodes">

                        <td style="padding: 0 15px;">
                            <p>{{ node.MachineUid }}</p>
                        </td>
                        <td style="padding: 0 15px;">
                            <p>{{ node.Hostname }}</p>
                        </td>
                        <td style="padding: 0 15px;">
                            <p>{{ node.PublicIp }}</p>
                        </td>
                        <td style="padding: 0 15px;">
                            <button ng-click="removeFromList($index, Cluster.Nodes)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right10 width100pc">{{ 'REMOVE' | translate }}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="grid condensed" style="margin-top: 1.75em;" ng-show="Cluster!=null">
                <div class="row cells6">
                    <div class="cell colspan1">
                    </div>
                    <div class="cell colspan2 padding-right10">
                        <button ng-click="click(saveCluster)" ng-style="buttonStyle"><span class="{{iconSave}}" ng-style="iconStyle"></span>&nbsp;{{ 'SAVE' | translate }}</button>
                    </div>
                    <div class="cell colspan2 padding-left10">
                        <button ng-click="click(applyCluster)" ng-style="buttonStyle"><span class="{{iconApply}}" ng-style="iconStyle"></span>&nbsp;{{ 'APPLY' | translate }}</button>
                    </div>
                    <div class="cell colspan1">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Cluster - Status-->
    <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
        <div ng-click="loadClusterStatus()" class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
            <span class="icon mif-file-text fg-anthilla-violet bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
            <span class="title">
                Cluster - Status
            </span>
        </div>
        <div class="content bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid; padding: 10px;">
            <div class="width100pc padding20" ng-hide="ClusterStatus!=null">
                <span class="mif-spinner2 mif-ani-spin mif-4x fg-yellow"></span>
            </div>
            <table ng-show="ClusterStatus!=null" class="table bordered fg-white" style="font-size: 0.85em; table-layout: fixed;">
                <tbody>
                    <tr>
                        <td>MachineUid</td>
                        <td>Hostname</td>
                        <td>PublicIp</td>
                        <td>InternetReach</td>
                        <td>InternetDnsReach</td>
                        <td>KnownPublicIpReach</td>
                        <td>DiscoveredIpsReach</td>
                        <td>ServiceReach</td>
                        <td>VirshService</td>
                    </tr>
                    <tr ng-repeat="info in ClusterStatus">
                        <td style="padding: 0 15px;">
                            <p>{{ info.Node.MachineUid }}</p>
                        </td>
                        <td style="padding: 0 15px;">
                            <p>{{ info.Node.Hostname }}</p>
                        </td>
                        <td style="padding: 0 15px;">
                            <p>{{ info.Node.PublicIp }}</p>
                        </td>
                        <td style="padding: 0 15px;">
                            <p>{{ info.Status.InternetReach }}</p>
                        </td>
                        <td style="padding: 0 15px;">
                            <p>{{ info.Status.InternetDnsReach }}</p>
                        </td>
                        <td style="padding: 0 15px;">
                            <p>{{ info.Status.KnownPublicIpReach }}</p>
                        </td>
                        <td style="padding: 0 15px;">
                            <p>{{ info.Status.DiscoveredIpsReach }}</p>
                        </td>
                        <td style="padding: 0 15px;">
                            <p>{{ info.Status.ServiceReach }}</p>
                        </td>
                        <td style="padding: 0 15px;">
                            <p>{{ info.Status.VirshService }}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--Cluster - Shared Network-->
    <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
        <div ng-click="loadCluster()" class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
            <span class="icon mif-file-text fg-anthilla-violet bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
            <span class="title">
                Cluster - Shared Network
            </span>
        </div>
        <div class="content bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid; padding: 10px;">
            <div class="width100pc padding20" ng-hide="Cluster!=null">
                <span class="mif-spinner2 mif-ani-spin mif-4x fg-yellow"></span>
            </div>
            <div class="grid condensed fg-white" ng-show="Cluster!=null">
                <div class="row cells6">
                    <div class="cell colspan1 uppercase fg-anthilla-green">
                        <p>Active</p>
                    </div>
                    <div class="cell colspan2">
                        <label class="switch" style="margin-top: 13px;">
                            <input type="checkbox" ng-model="Cluster.SharedNetwork.Active">
                            <span class="check"></span>
                            <span class="caption padding-left10">
                                <span ng-switch="Cluster.SharedNetwork.Active">
                                    <span ng-switch-when="true">enabled</span>
                                    <span ng-switch-when="false">disabled</span>
                                    <span ng-switch-default>&nbsp;</span>
                                </span>
                            </span>
                        </label>
                    </div>
                    <div class="cell colspan2 padding-left20">
                    </div>
                    <div class="cell colspan1">
                    </div>
                </div>
                <div class="row cells6">
                    <div class="cell colspan1 uppercase fg-anthilla-green">
                        <p>Virtual IpAddress</p>
                    </div>
                    <div class="cell colspan2">
                        <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                            <input type="text" ng-model="Cluster.SharedNetwork.VirtualIpAddress" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                            <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                        </div>
                    </div>
                    <div class="cell colspan2 padding-left20">
                    </div>
                    <div class="cell colspan1">
                    </div>
                </div>
                <div class="row cells6">
                    <div class="cell colspan1 uppercase fg-anthilla-green">
                        <p>NetworkInterface</p>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control select width100pc">
                            <select ng-model="Cluster.SharedNetwork.NetworkInterface" class="bg-anthilla-gray-2 bd-anthilla-green fg-white">
                                <option ng-repeat="device in NetworkDevices" value="{{device}}">{{device}}</option>
                            </select>
                            <button type="button" class="button bg-anthilla-gray-2 fg-anthilla-green bd-anthilla-green" style="border-left: 0px !important;"><span class="mif-chevron-thin-down"></span></button>
                        </div>
                    </div>
                    <div class="cell colspan2 padding-left20">
                    </div>
                    <div class="cell colspan1">
                    </div>
                </div>
            </div>
            <table ng-show="Cluster!=null" class="table bordered fg-white" style="font-size: 0.85em; table-layout: fixed;">
                <tbody>
                    <tr>
                        <td>Service Label</td>
                        <td>Service Port (local)</td>
                        <td>Service Port (shared)</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="padding: 0 15px;">
                            <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                                <input type="text" ng-model="NewPortMapping.ServiceName" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                                <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                            </div>
                        </td>
                        <td style="padding: 0 15px;">
                            <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                                <input type="text" ng-model="NewPortMapping.ServicePort" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                                <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                            </div>
                        </td>
                        <td style="padding: 0 15px;">
                            <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                                <input type="text" ng-model="NewPortMapping.VirtualPort" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                                <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                            </div>
                        </td>
                        <td style="padding: 0 15px;">
                            <button ng-click="addToList(NewPortMapping, Cluster.SharedNetwork.PortMapping, true)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right10 width100pc"><span class="mif-plus fg-anthilla-blue padding-right20"></span>&nbsp;{{ 'ADD' | translate }}</button>
                        </td>
                    </tr>
                    <tr ng-repeat="svc in Cluster.SharedNetwork.PortMapping">
                        <td style="padding: 0 15px;">
                            <p>{{ svc.ServiceName }}</p>
                        </td>
                        <td style="padding: 0 15px;">
                            <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                                <input type="text" ng-model="svc.ServicePort" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                                <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                            </div>
                        </td>
                        <td style="padding: 0 15px;">
                            <div data-role="input" class="input-control text full-size bd-anthilla-green bg-anthilla-gray-2">
                                <input type="text" ng-model="svc.VirtualPort" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                                <button class="button helper-button clear bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-cross"></span></button>
                            </div>
                        </td>
                        <td style="padding: 0 15px;">
                            <button ng-click="removeFromList($index, Cluster.SharedNetwork.PortMapping)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right10 width100pc">{{ 'REMOVE' | translate }}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="grid condensed" style="margin-top: 1.75em;" ng-show="Cluster!=null">
                <div class="row cells6">
                    <div class="cell colspan1">
                    </div>
                    <div class="cell colspan2 padding-right10">
                        <button ng-click="click(saveCluster)" ng-style="buttonStyle"><span class="{{iconSave}}" ng-style="iconStyle"></span>&nbsp;{{ 'SAVE' | translate }}</button>
                    </div>
                    <div class="cell colspan2 padding-left10">
                        <button ng-click="click(applyCluster)" ng-style="buttonStyle"><span class="{{iconApply}}" ng-style="iconStyle"></span>&nbsp;{{ 'APPLY' | translate }}</button>
                    </div>
                    <div class="cell colspan1">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>