<div class="app-bar bg-anthilla-gray-3 fg-white padding-right20 padding-left20">
    <a class="app-bar-element bg-hover-anthilla-gray-3 fg-anthilla-green" href="#" style="cursor: default !important;">
        <span id="LoadingSpinner" class="icon mif-spinner5 mif-ani-spin mif-2x" style="display: none;"></span>
    </a>
    <a class="app-bar-element bg-hover-anthilla-green fg-hover-anthilla-gray-3 fg-anthilla-green" ui-sref="home">
        <span class="padding-right10 padding-left10">Anthilla {{ 'APPNAME' | translate }}</span>
    </a>
    <span class="app-bar-divider bg-anthilla-gray-1" style="width: 2px;"></span>

    <a class="app-bar-element place-right cursor-pointer bg-hover-anthilla-gray-3">
        <span class="padding-right10 padding-left10" ng-controller="CurrentDateTimeController">{{date | date:'yyyy-MM-dd HH:mm'}}</span>
    </a>
    <span class="app-bar-divider place-right bg-anthilla-gray-1" style="width: 2px;"></span>
    <li class="app-bar-element place-right cursor-pointer bg-hover-anthilla-gray-3">
        <a href="" class="dropdown-toggle fg-white">
            <span class="mif-language padding-right10 padding-left10"></span>
        </a>
        <ul class="d-menu bg-anthilla-gray-3 bd-anthilla-green" data-role="dropdown" ng-controller="LanguageSwitchController">
            <li>
                <a href="" ng-click="changeLanguage('en')">{{ 'ENGLISH' | translate }}</a>
            </li>
            <li>
                <a href="" ng-click="changeLanguage('it')">{{ 'ITALIAN' | translate }}</a>
            </li>
        </ul>
    </li>
    <span class="app-bar-divider place-right bg-anthilla-gray-1" style="width: 2px;"></span>
    <a class="app-bar-element bg-hover-anthilla-green fg-hover-anthilla-gray-3 place-right" ui-sref="config">
        <span class="mif-wrench padding-right10 padding-left10"></span>
    </a>
    <span class="app-bar-divider place-right bg-anthilla-gray-1" style="width: 2px;"></span>
    <a class="app-bar-element bg-hover-anthilla-green fg-hover-anthilla-gray-3 place-right" href="/logout">
        <span class="mif-exit padding-left10"></span>
        <span class="padding-right10">Logout</span>
    </a>
    <span class="app-bar-divider place-right bg-anthilla-gray-1" style="width: 2px;"></span>
    <a ng-controller="AuthenticationController" class="app-bar-element bg-hover-anthilla-green fg-hover-anthilla-gray-3 place-right" ui-sref="user">
        <span class="mif-user padding-left10"></span>
        <span class="padding-right10" ng-model="UserName" ng-user="{{user}}">{{UserName}}</span>
    </a>
</div>
