<a data-element="ToolbarButton" data-toolbar-button="files" ui-sref="antd" class="shortcut-button bg-anthilla-gray-2 fg-anthilla-green bd-anthilla-gray-2 bd-hover-anthilla-green no-margin" style="border-width: 0 0 5px 0 !important;">
    <span class="icon mif-files-empty"></span>
    <span class="title uppercase font-weight-bold">Config</span>
</a>
<a data-element="ToolbarButton" data-toolbar-button="files" ui-sref="apps" class="shortcut-button bg-anthilla-gray-2 fg-anthilla-green bd-anthilla-gray-2 bd-hover-anthilla-green no-margin" style="border-width: 0 0 5px 0 !important;">
    <span class="icon mif-files-empty"></span>
    <span class="title uppercase font-weight-bold">Apps</span>
</a>
<a data-element="ToolbarButton" data-toolbar-button="files" ui-sref="log" class="shortcut-button bg-anthilla-gray-2 fg-anthilla-green bd-anthilla-gray-2 bd-hover-anthilla-green no-margin" style="border-width: 0 0 5px 0 !important;">
    <span class="icon mif-files-empty"></span>
    <span class="title uppercase font-weight-bold">Log</span>
</a>
<a data-element="ToolbarButton" data-toolbar-button="files" ui-sref="vnc" class="shortcut-button bg-anthilla-gray-2 fg-anthilla-green bd-anthilla-gray-2 bd-hover-anthilla-green no-margin" style="border-width: 0 0 5px 0 !important;">
    <span class="icon mif-files-empty"></span>
    <span class="title uppercase font-weight-bold">VNC</span>
</a>
<a data-element="ToolbarButton" data-toolbar-button="files" ui-sref="asset" class="shortcut-button bg-anthilla-gray-2 fg-anthilla-green bd-anthilla-gray-2 bd-hover-anthilla-green no-margin" style="border-width: 0 0 5px 0 !important;">
    <span class="icon mif-files-empty"></span>
    <span class="title uppercase font-weight-bold">Asset</span>
</a>
<a data-element="ToolbarButton" data-toolbar-button="files" ui-sref="ca" class="shortcut-button bg-anthilla-gray-2 fg-anthilla-green bd-anthilla-gray-2 bd-hover-anthilla-green no-margin" style="border-width: 0 0 5px 0 !important;">
    <span class="icon mif-files-empty"></span>
    <span class="title uppercase font-weight-bold">CA</span>
</a>
<a data-element="ToolbarButton" data-toolbar-button="files" ui-sref="boot" class="shortcut-button bg-anthilla-gray-2 fg-anthilla-green bd-anthilla-gray-2 bd-hover-anthilla-green no-margin place-right" style="border-width: 0 0 5px 0 !important;">
    <span class="icon mif-files-empty"></span>
    <span class="title uppercase font-weight-bold">Boot</span>
</a>