<div ng-controller="ToolbarController" style="margin-top: 4px;">
    <ul class="f-menu block-shadow-impact bg-anthilla-gray-2" style="margin-bottom: 5px;">
        <li ng-repeat="button in Menu" ui-sref="{{button.Href}}" ng-click="activateThis(button)" ng-hide="AclHide(button.AclId)" class="{{button.IsActive}}">
            <a href="#" class="fg-anthilla-green">
                <span class="mif-{{button.Icon}}" style="margin-right: 10px;"></span>
                {{ button.Label | translate }}
            </a>
        </li>
    </ul>
    <div ng-show="SubMenuShow">
        <ul class="f-menu block-shadow-impact bg-anthilla-gray-2">
            <li ng-repeat="button in SubMenu" ui-sref="{{button.Href}}" ng-click="activateThisSub(button)" ng-hide="AclHide(button.AclId)" class="{{button.IsActive}}">
                <a href="#" class="fg-anthilla-green">
                    <span class="mif-{{button.Icon}}" style="margin-right: 10px;"></span>
                    {{ button.Label | translate }}
                </a>
            </li>
        </ul>
    </div>
    <h1 class="fg-white padding-bottom10 bd-anthilla-gray-2 capitalize" style="border-bottom: 1px solid; font-size: 1.6em !important; padding-left: 15px;">{{ ContextTitle | translate }}{{separator}}{{ SubContextTitle | translate }}</h1>
</div>