<nav id="nav-bar" class="navigation-bar bg-grayDarker" style="padding-left: 15px; padding-right: 20px;">
    <nav class="navigation-bar-content">
        <a href="/" class="element nav-button no-overlay fg-anthilla-green">ANTD </a>
        <div class="element-divider"></div>

        <div class="element-divider place-right"></div>
        <div id="clock" class="element place-right no-overlay"></div>
        <div class="element-divider place-right"></div>
        <a class="element place-right nav-button no-overlay" href="~/logout" id="LogOut">
            <i class="icon-exit" style="line-height: 5px;"></i>
        </a>
        <div class="element-divider place-right"></div>
        <a class="element place-right nav-button no-overlay" href="#" id="OpenTerminal">
            <i class="icon-console" style="line-height: 5px;"></i>
        </a>
        <div class="element-divider place-right"></div>
        <a class="element place-right nav-button no-overlay" href="/cctable">
            <i class="icon-puzzle" style="line-height: 5px;"></i>
        </a>
        <div class="element-divider place-right"></div>
        <a class="element place-right nav-button no-overlay" href="/cfg">
            <i class="icon-wrench fg-indigo" style="line-height: 5px;"></i>
        </a>
        <div class="element-divider place-right"></div>
        <a class="element place-right nav-button no-overlay" href="#" id="LockInput">
            <i class="icon-locked" style="line-height: 5px;"></i>
        </a>
        <div class="element-divider place-right"></div>
    </nav>
</nav>
