<legend id="Procs">Procs</legend>
<table id="Output" class="table">
    <tbody>
        @Each.Users
        <tr>
            <td class="right"><a class="kill-this" data-pid="@Current.Pid"><i class="icon-cancel fg-red"></i></a></td>
            <td class="right">@Current.Uid</td>
            <td class="right">@Current.Pid</td>
            <td class="right">@Current.Ppid</td>
            <td class="right">@Current.C</td>
            <td class="right">@Current.Stime</td>
            <td class="right">@Current.Tty</td>
            <td class="right">@Current.Time</td>
            <td class="right">@Current.Cmd</td>
        </tr>
        @EndEach
    </tbody>
</table>
