<div class="border-2-anthilla-gray" style="width: 100%; min-height: 100px;  margin-bottom: 15px; padding: 15px;">
    <legend><i class="icon-wrench on-left"></i> General</legend>
    <table class="table">
        <tbody>
            <tr>
                <td style="width: 200px;">
                    <label>Hostname</label>
                </td>
                <td style="width: 560px !important">
                    <input data-role="input-general-function" type="text" style="width: 60%; height: 25px;" />
                    <input data-role="submit-general-function" data-command="hostnamectl set-hostname PAR" type="button" value="Apply" class="bg-anthilla-green" style="width: 40% !important; color: #464646; float: right;" />
                </td>
                <td colspan="2" style="width: 300px">
                    <textarea data-role="show-general-function" data-command="hostnamectl" style="width: 100%; height: 100%; background-color: #464646; border: 0;" class="fg-white"></textarea>
                </td>
                <td>
                    <p></p>
                </td>
            </tr>
            <tr>
                <td style="width: 200px;">
                    <label>Date</label>
                </td>
                <td style="width: 560px !important">
                    <input data-role="input-general-function" type="text" style="width: 60%; height: 25px;" />
                    <input data-role="submit-general-function" data-command="timedatectl set-time PAR" type="button" value="Apply" class="bg-anthilla-green" style="width: 40% !important; color: #464646; float: right;" />
                </td>
                <td colspan="2" style="width: 300px">
                    <textarea data-role="show-general-function" data-command="date" style="width: 100%; height: 100%; background-color: #464646; border: 0;" class="fg-white"></textarea>
                    <textarea data-role="show-general-function" data-command="timedatectl" style="width: 100%; height: 100%; background-color: #464646; border: 0;" class="fg-white"></textarea>
                </td>
                <td>
                    <p></p>
                </td>
            </tr>
            <tr>
                <td style="width: 200px;">
                    <label>Timezone</label>
                </td>
                <td style="width: 560px !important">
                    <select data-role="input-general-function" data-role2="show-general-function" data-command="timedatectl list-timezone" style="width: 60%; height: 25px;" class="border-2-anthilla-green></select>
                    <input data-role="submit-general-function" data-command="timedatectl set-timezone PAR" type="button" Value="Apply" class="bg-anthilla-green" style="width: 40% !important; color: #464646; float: right;" />
                </td>
                <td colspan="2" style="width: 300px"></td>
                <td>
                    <p></p>
                </td>
            </tr>
            <tr>
                <td style="width: 200px;">
                    <label>Hwclock</label>
                </td>
                <td style="width: 560px !important">
                    <input data-role="submit-general-function" data-command="hwclock --systohc" type="button" value="SYS to HC" class="bg-anthilla-green" style="width: 40% !important; color: #464646; float: right;" />
                    <input data-role="submit-general-function" data-command="hwclock --hctosys" type="button" value="HC to SYS" class="bg-anthilla-green" style="width: 40% !important; color: #464646; float: right;" />
                </td>
                <td colspan="2" style="width: 300px">
                    <textarea data-role="show-general-function" data-command="hwclock" style="width: 100%; height: 100%; background-color: #464646; border: 0;" class="fg-white"></textarea>
                </td>
                <td>
                    <p></p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
