<h1 class="fg-white padding-bottom10 bd-anthilla-gray-2 capitalize" style="border-bottom: 1px solid;">bind</h1>

<div ng-controller="AntdBindController">
    <div ng-switch="isActive">
        <div ng-switch-when="false">
            <button ng-click="enable()" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-plus fg-anthilla-green"></span>&nbsp;Enable</button>
        </div>
        <div ng-switch-when="true">
            <button ng-click="set()" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-checkmark fg-anthilla-green"></span>&nbsp;Apply Settings</button>
            <button ng-click="start()" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-play fg-anthilla-green"></span>&nbsp;Start</button>
            <button ng-click="restart()" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-loop fg-anthilla-green"></span>&nbsp;Restart</button>
            <button ng-click="stop()" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-stop fg-anthilla-orange"></span>&nbsp;Stop</button>
            <button ng-click="disable()" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-eject fg-anthilla-orange"></span>&nbsp;Disable</button>
        </div>
        <div ng-switch-default> </div>
    </div>
    <br />
    <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
        <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
            <span class="icon mif-file-text fg-anthilla-violet bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
            <span class="title">
                Options
            </span>
        </div>
        <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
            <div class="grid condensed">
                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">Notify</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Bind.Notify" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">MaxCacheSize</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Bind.MaxCacheSize" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">MaxCacheTtl</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Bind.MaxCacheTtl" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">MaxNcacheTtl</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Bind.MaxNcacheTtl" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">Forwarders</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Bind.Forwarders" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">AllowNotify</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Bind.AllowNotify" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">AllowTransfer</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Bind.AllowTransfer" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">Recursion</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Bind.Recursion" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">TransferFormat</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Bind.TransferFormat" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">QuerySourceAddress</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Bind.QuerySourceAddress" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">QuerySourcePort</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Bind.QuerySourcePort" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">Version</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Bind.Version" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">AllowQuery</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Bind.AllowQuery" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">AllowRecursion</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Bind.AllowRecursion" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">IxfrFromDifferences</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Bind.IxfrFromDifferences" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">ListenOnV6</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Bind.ListenOnV6" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>
                6,
                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">ListenOnPort53</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Bind.ListenOnPort53" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>
                53,
                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">DnssecEnabled</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Bind.DnssecEnabled" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">DnssecValidation</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Bind.DnssecValidation" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">DnssecLookaside</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Bind.DnssecLookaside" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">AuthNxdomain</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Bind.AuthNxdomain" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">KeyName</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Bind.KeyName" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">KeySecret</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Bind.KeySecret" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">ControlAcl</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Bind.ControlAcl" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">ControlIp</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Bind.ControlIp" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">ControlPort</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Bind.ControlPort" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">ControlAllow</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Bind.ControlAllow" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">LoggingChannel</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Bind.LoggingChannel" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">LoggingDaemon</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Bind.LoggingDaemon" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">LoggingSeverity</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Bind.LoggingSeverity" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">LoggingPrintCategory</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Bind.LoggingPrintCategory" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">LoggingPrintSeverity</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Bind.LoggingPrintSeverity" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">LoggingPrintTime</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Bind.LoggingPrintTime" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">TrustedKey</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Bind.TrustedKey" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">AclLocalInterfaces</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Bind.AclLocalInterfaces" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">AclInternalInterfaces</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Bind.AclInternalInterfaces" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">AclExternalInterfaces</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Bind.AclExternalInterfaces" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">AclLocalNetworks</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Bind.AclLocalNetworks" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">AclInternalNetworks</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Bind.AclInternalNetworks" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">AclExternalNetworks</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Bind.AclExternalNetworks" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                    </div>
                    <div class="cell colspan2">
                        <button ng-click="saveOptions(Bind)" class="button bg-anthilla-green bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-checkmark"></span>&nbsp;{{ 'SAVE' | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
        <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
            <span class="icon mif-file-text fg-anthilla-violet bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
            <span class="title">
                Zones
            </span>
        </div>
        <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
            <button ng-click="toggle('#BindZonePanel')" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-plus fg-anthilla-green"></span>&nbsp;New</button>
            <div class="grid condensed" id="BindZonePanel">
                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">Name</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="zone.Name" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">Type</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="zone.Type" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">File</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="zone.File" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">NameSerialUpdateMethod</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="zone.NameSerialUpdateMethod" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">AllowUpdate</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="zone.AllowUpdate" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">AllowQuery</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="zone.AllowQuery" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">AllowTransfer</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="zone.AllowTransfer" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                    </div>
                    <div class="cell colspan2">
                        <button ng-click="addZone(zone)" class="button bg-anthilla-green bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-checkmark"></span>&nbsp;{{ 'SAVE' | translate }}</button>
                    </div>
                </div>
            </div>
            <br />
            <div ng-repeat="zone in BindZones">
                <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
                    <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
                        <span class="icon mif-file-text fg-anthilla-violet bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
                        <span class="title">
                            {{zone.Name}}
                        </span>
                    </div>
                    <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
                        <button ng-click="deleteZone(zone.Guid)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-bin fg-anthilla-orange"></span>&nbsp;Enable</button>
                        <br/>
                        <ul class="fg-white" style="list-style: none;">
                            <li>
                                <p>
                                    Type:&nbsp;{{zone.Type}}
                                </p>
                            </li>
                            <li>
                                <p>
                                    File:&nbsp;{{zone.File}}
                                </p>
                            </li>
                            <li>
                                <p>
                                    SerialUpdateMethod:&nbsp;{{zone.SerialUpdateMethod}}
                                </p>
                            </li>
                            <li>
                                <p>
                                    AllowUpdate:&nbsp;{{zone.AllowUpdate}}
                                </p>
                            </li>
                            <li>
                                <p>
                                    AllowQuery:&nbsp;{{zone.AllowQuery}}
                                </p>
                            </li>
                            <li>
                                <p>
                                    AllowTransfer:&nbsp;{{zone.AllowTransfer}}
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
