<h1 class="fg-white padding-bottom10 bd-anthilla-gray-2 capitalize" style="border-bottom: 1px solid;">dhcpd</h1>

<div ng-controller="AntdDhcpdController">
    <div ng-switch="isActive">
        <div ng-switch-when="false">
            <button ng-click="enable()" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-plus fg-anthilla-green"></span>&nbsp;Enable</button>
        </div>
        <div ng-switch-when="true">
            <button ng-click="set()" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-checkmark fg-anthilla-green"></span>&nbsp;Apply Settings</button>
            <button ng-click="start()" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-play fg-anthilla-green"></span>&nbsp;Start</button>
            <button ng-click="restart()" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-loop fg-anthilla-green"></span>&nbsp;Restart</button>
            <button ng-click="stop()" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-stop fg-anthilla-orange"></span>&nbsp;Stop</button>
            <button ng-click="disable()" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-eject fg-anthilla-orange"></span>&nbsp;Disable</button>
        </div>
        <div ng-switch-default> </div>
    </div>
    <br />
    <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
        <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
            <span class="icon mif-file-text fg-anthilla-violet bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
            <span class="title">
                Options
            </span>
        </div>
        <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
            <div class="grid condensed">
                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">Allow</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Dhcpd.Allow" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">UpdateStaticLeases</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Dhcpd.UpdateStaticLeases" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">UpdateConflictDetection</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Dhcpd.UpdateConflictDetection" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">UseHostDeclNames</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Dhcpd.UseHostDeclNames" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">DoForwardUpdates</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Dhcpd.DoForwardUpdates" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">DoReverseUpdates</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Dhcpd.DoReverseUpdates" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">LogFacility</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Dhcpd.LogFacility" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">Option</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Dhcpd.Option" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">ZoneName</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Dhcpd.ZoneName" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">ZonePrimaryAddress</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Dhcpd.ZonePrimaryAddress" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">DdnsUpdateStyle</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Dhcpd.DdnsUpdateStyle" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">DdnsUpdates</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Dhcpd.DdnsUpdates" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">DdnsDomainName</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Dhcpd.DdnsDomainName" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">DdnsRevDomainName</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Dhcpd.DdnsRevDomainName" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">DefaultLeaseTime</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Dhcpd.DefaultLeaseTime" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">MaxLeaseTime</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Dhcpd.MaxLeaseTime" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">KeyName</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Dhcpd.KeyName" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">KeySecret</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Dhcpd.KeySecret" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">IpFamily</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Dhcpd.IpFamily" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">IpMask</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Dhcpd.IpMask" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">OptionRouters</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Dhcpd.OptionRouters" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">NtpServers</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Dhcpd.NtpServers" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">DoForTimeServerswardUpdates</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Dhcpd.DoForTimeServerswardUpdates" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">DomainNameServers</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Dhcpd.DomainNameServers" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">BroadcastAddress</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Dhcpd.BroadcastAddress" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">SubnetMask</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="Dhcpd.SubnetMask" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                    </div>
                    <div class="cell colspan2">
                        <button ng-click="saveOptions(Dhcpd)" class="button bg-anthilla-green bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-checkmark"></span>&nbsp;{{ 'SAVE' | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
        <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
            <span class="icon mif-file-text fg-anthilla-violet bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
            <span class="title">
                Class
            </span>
        </div>
        <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
            <button ng-click="toggle('#DhcpdClassPanel')" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-plus fg-anthilla-green"></span>&nbsp;New</button>
            <div class="grid condensed" id="DhcpdClassPanel">
                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">Name</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="class.Name" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">MacVendor</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="class.MacVendor" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                    </div>
                    <div class="cell colspan2">
                        <button ng-click="addClass(class)" class="button bg-anthilla-green bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-checkmark"></span>&nbsp;{{ 'SAVE' | translate }}</button>
                    </div>
                </div>
            </div>
            <br />
            <div ng-repeat="class in DhcpdClass">
                <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
                    <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
                        <span class="icon mif-file-text fg-anthilla-violet bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
                        <span class="title">
                            {{class.Name}}&nbsp;{{class.MacVendor}}
                        </span>
                    </div>
                    <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
                        <button ng-click="deleteClass(class.Guid)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-bin fg-anthilla-orange"></span>&nbsp;Enable</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
        <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
            <span class="icon mif-file-text fg-anthilla-violet bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
            <span class="title">
                Pool
            </span>
        </div>
        <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
            <button ng-click="toggle('#DhcpdPoolPanel')" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-plus fg-anthilla-green"></span>&nbsp;New</button>
            <div class="grid condensed" id="DhcpdPoolPanel">
                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">Option</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="pool.Option" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                    </div>
                    <div class="cell colspan2">
                        <button ng-click="addPool(pool)" class="button bg-anthilla-green bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-checkmark"></span>&nbsp;{{ 'SAVE' | translate }}</button>
                    </div>
                </div>
            </div>
            <br />
            <div ng-repeat="class in DhcpdPool">
                <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
                    <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
                        <span class="icon mif-file-text fg-anthilla-violet bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
                        <span class="title">
                            {{pool.Option}}
                        </span>
                    </div>
                    <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
                        <button ng-click="deletePool(pool.Guid)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-bin fg-anthilla-orange"></span>&nbsp;Enable</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
        <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
            <span class="icon mif-file-text fg-anthilla-violet bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
            <span class="title">
                Reservation
            </span>
        </div>
        <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
            <button ng-click="toggle('#DhcpdReservationPanel')" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-plus fg-anthilla-green"></span>&nbsp;New</button>
            <div class="grid condensed" id="DhcpdReservationPanel">
                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">HostName</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="reservation.HostName" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">MacAddress</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="reservation.MacAddress" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                        <h5 class="uppercase fg-anthilla-green">IpAddress</h5>
                    </div>
                    <div class="cell colspan2">
                        <div class="input-control text width100pc fg-white">
                            <input type="text" ng-model="reservation.IpAddress" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                        </div>
                    </div>
                    <div class="cell padding-left20" style="display: none;">
                    </div>
                </div>

                <div class="row cells4">
                    <div class="cell padding-left20">
                    </div>
                    <div class="cell colspan2">
                        <button ng-click="addReservation(reservation)" class="button bg-anthilla-green bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-checkmark"></span>&nbsp;{{ 'SAVE' | translate }}</button>
                    </div>
                </div>
            </div>
            <br />
            <div ng-repeat="class in DhcpdReservation">
                <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
                    <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
                        <span class="icon mif-file-text fg-anthilla-violet bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
                        <span class="title">
                            {{reservation.HostName}}&nbsp;{{reservation.MacAddress}}&nbsp;-&nbsp;{{reservation.IpAddress}}
                        </span>
                    </div>
                    <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
                        <button ng-click="deleteReservation(reservation.Guid)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-bin fg-anthilla-orange"></span>&nbsp;Enable</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
