<h1 class="fg-white padding-bottom10 bd-anthilla-gray-2 capitalize" style="border-bottom: 1px solid;">info</h1>

<div ng-controller="AntdInfoController">
    <div class="grid fg-white">
        <div ng-repeat="info in Info.AosInfo" class="row cells5">
            <div class="cell uppercase">
                <p>{{ info.Key }}:&nbsp;</p>
            </div>
            <div class="cell colspan4">
                <p>{{ info.Value }}</p>
            </div>
        </div>
        <div class="row cells5">
            <div class="cell uppercase">
                <p>Linux Version:&nbsp;</p>
            </div>
            <div class="cell colspan4">
                <p>{{ Info.VersionOS }}</p>
            </div>
        </div>
        <div class="row cells5">
            <div class="cell uppercase">
                <p>Gentoo Release:&nbsp;</p>
            </div>
            <div class="cell colspan4">
                <p>{{ Info.GentooRelease }}</p>
            </div>
        </div>
        <div class="row cells5">
            <div class="cell uppercase">
                <p>lsb release:&nbsp;</p>
            </div>
            <div class="cell colspan4">
                <p>{{ Info.VersionOS }}</p>
            </div>
        </div>
        <div class="row cells5">
            <div class="cell uppercase">
                <p>os release:&nbsp;</p>
            </div>
            <div class="cell colspan4">
                <p>{{ Info.OsRelease }}</p>
            </div>
        </div>
        <div class="row cells5">
            <div class="cell uppercase">
                <p>Uptime:&nbsp;</p>
            </div>
            <div class="cell colspan4">
                <p>{{ Info.Uptime.Uptime }}</p>
            </div>
        </div>
        <div class="row cells5">
            <div class="cell uppercase">
                <p>Users:&nbsp;</p>
            </div>
            <div class="cell colspan4">
                <p>{{ Info.Uptime.Users }}</p>
            </div>
        </div>
        <div class="row cells5">
            <div class="cell uppercase">
                <p>Load Average:&nbsp;</p>
            </div>
            <div class="cell colspan4">
                <p>{{ Info.Uptime.LoadAverage }}</p>
            </div>
        </div>
    </div>
</div>
