<h1 class="fg-white padding-bottom10 bd-anthilla-gray-2 capitalize" style="border-bottom: 1px solid;">dhcp leases</h1>

<div ng-controller="AntdDhcpLeasesController">
    <div ng-repeat="lease in DhcpLeases">
        <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
            <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
                <span class="icon mif-file-text fg-anthilla-violet bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
                <span class="title">
                    {{lease.Name}}
                    <div ng-switch="">
                        <div ng-switch-when="true">&nbsp;- Expired</div>
                    </div>
                </span>
            </div>
            <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
                <button ng-click="remove(lease)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-play fg-green"></span>&nbsp;Start</button>
                <br />
                <ul class="fg-white" style="list-style: none;">
                    <li>
                        <p>
                            Start:&nbsp;{{ lease.StartTimeStr }}
                        </p>
                    </li>
                    <li>
                        <p>
                            End:&nbsp;{{ lease.EndTimeStr }}
                        </p>
                    </li>
                    <li>
                        <p>
                            Hardware:&nbsp;{{ lease.Hardware }}
                        </p>
                    </li>
                    <li>
                        <p>
                            Hostname:&nbsp;{{ lease.ClientHostname }}
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>