<h1 class="fg-white padding-bottom10 bd-anthilla-gray-2 capitalize" style="border-bottom: 1px solid;">losetup status</h1>

<div ng-controller="AntdLosetupStatusController">
    <div class="grid fg-white">
        <div class="row cells10">
            <div class="cell uppercase fg-anthilla-green">
                <p>Name</p>
            </div>
            <div class="cell uppercase fg-anthilla-green">
                <p>Size Limit</p>
            </div>
            <div class="cell uppercase fg-anthilla-green">
                <p>Offset</p>
            </div>
            <div class="cell uppercase fg-anthilla-green">
                <p>Autoclear</p>
            </div>
            <div class="cell uppercase fg-anthilla-green">
                <p>Readonly</p>
            </div>
            <div class="cell colspan3 uppercase fg-anthilla-green">
                <p>Backfile</p>
            </div>
            <div class="cell uppercase fg-anthilla-green">
                <p>Dio</p>
            </div>
            <div class="cell uppercase fg-anthilla-green">
                <p>Hash</p>
            </div>
        </div>
        <div ng-repeat="comp in LosetupStatus.Components" class="row cells10 bg-hover-anthilla-gray-2">
            <div class="cell">
                <p> {{ comp.Name }} </p>
            </div>
            <div class="cell">
                <p> {{ comp.Sizelimit }} </p>
            </div>
            <div class="cell">
                <p> {{ comp.Offset }} </p>
            </div>
            <div class="cell">
                <p> {{ comp.Autoclear }} </p>
            </div>
            <div class="cell">
                <p> {{ comp.Readonly }} </p>
            </div>
            <div class="cell colspan3">
                <p> {{ comp.Backfile }} </p>
            </div>
            <div class="cell">
                <p> {{ comp.Dio }} </p>
            </div>
            <div class="cell">
                <p> {{ comp.Hash }} </p>
            </div>
        </div>
    </div>
</div>