<h1 class="fg-white padding-bottom10 bd-anthilla-gray-2 capitalize" style="border-bottom: 1px solid;">modules status</h1>

<div ng-controller="AntdModulesStatusController">
    <div class="grid fg-white">
        <div class="row cells5">
            <div class="cell colspan2 uppercase fg-anthilla-green">
                <p>Name</p>
            </div>
            <div class="cell colspan2 uppercase fg-anthilla-green">
                <p>Size</p>
            </div>
            <div class="cell uppercase fg-anthilla-green">
                <p>Usedby</p>
            </div>
        </div>
        <div ng-repeat="mod in ModulesStatus.Modules" class="row cells5 bg-hover-anthilla-gray-2">
            <div class="cell colspan2">
                <p> {{ mod.Name }} </p>
            </div>
            <div class="cell colspan2">
                <p> {{ mod.Size }} </p>
            </div>
            <div class="cell">
                <p> {{ mod.Usedby }} </p>
            </div>
        </div>
    </div>
</div>