<h1 class="fg-white padding-bottom10 bd-anthilla-gray-2 capitalize" style="border-bottom: 1px solid;">services</h1>

<div ng-controller="AntdServicesController">
    <button ng-click="FilterUnitType('service')" class="button bg-anthilla-blue bd-anthilla-gray-3 padding-left20 padding-right20">Services</button>
    <button ng-click="FilterUnitType('mount')" class="button bg-anthilla-blue bd-anthilla-gray-3 padding-left20 padding-right20">Mounts</button>
    <button ng-click="FilterUnitType('target')" class="button bg-anthilla-blue bd-anthilla-gray-3 padding-left20 padding-right20">Targets</button>
    <button ng-click="FilterUnitType('timer')" class="button bg-anthilla-blue bd-anthilla-gray-3 padding-left20 padding-right20">Timers</button>
    <br />
    <p class="fg-white">Showing: {{ unitType }}</p>
    <br />
    <div ng-repeat="unit in Units.Units">
        <div ng-hide="HideIfNotType(unit.Type)" class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
            <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
                <span class="icon mif-file-text fg-anthilla-violet bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
                <span class="title">
                    {{unit.Name}}&nbsp;-&nbsp;
                    {{unit.Active}}&nbsp;-&nbsp;
                    {{unit.Description}}
                </span>
            </div>
            <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;" ng-init="unit.Hide = true;">

                <div ng-switch="unit.Active">
                    <div ng-switch-when="active">
                        <button ng-click="Restart(unit)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-loop fg-green"></span>&nbsp;Restart</button>
                        <button ng-click="Stop(unit)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-stop fg-red"></span>&nbsp;Stop</button>
                        <button ng-click="Disable(unit)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-eject fg-red"></span>&nbsp;Disable</button>
                    </div>
                    <div ng-switch-when="inactive">
                        <button ng-click="Start(unit)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-play fg-green"></span>&nbsp;Start</button>
                        <button ng-click="Restart(unit)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-loop fg-green"></span>&nbsp;Restart</button>
                        <button ng-click="Enable(unit)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-plus fg-green"></span>&nbsp;Enable</button>
                    </div>
                    <div ng-switch-default>
                    </div>
                </div>

                <button ng-click="ShowLog(unit)" class="button bg-anthilla-blue bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-search"></span>&nbsp;Show Log</button>
                <br />
                <br />
                <br />
                <div ng-hide="unit.Hide" ng-bind-html="unit.LogHtml" class="width100pc padding10 bd-focus-anthilla-gray-3 fg-white" style="border: 2px solid;"></div>
            </div>
        </div>
    </div>
</div>
