<h1 class="fg-white padding-bottom10 bd-anthilla-gray-2 capitalize" style="border-bottom: 1px solid;">Update</h1>

<div ng-controller="AntdUpdateController">
    <div class="grid fg-white">
        <div class="row cells7 bg-hover-anthilla-gray-2">
            <div class="cell colspan2 uppercase fg-anthilla-green">
                <p>Context</p>
            </div>
            <div class="cell colspan2 uppercase fg-anthilla-green">
                <p>Latest Version</p>
            </div>
            <div class="cell colspan2 uppercase fg-anthilla-green">
                <p>Current Version</p>
            </div>
            <div class="cell">
                <p>&nbsp;</p>
            </div>
        </div>
        <div class="row cells7 bg-hover-anthilla-gray-2">
            <div class="cell colspan2">
                <p>Antd</p>
            </div>
            <div class="cell colspan2">
                <p>{{ Update.AntdLatestVersion }}</p>
            </div>
            <div class="cell colspan2">
                <p>{{ Update.AntdVersion }}</p>
            </div>
            <div class="cell">
                <button ng-click="ApplyUpdate('antd')" class="button bg-anthilla-green bd-anthilla-gray-3 padding-left20 padding-right20">Update</button>
            </div>
        </div>
        <div class="row cells7 bg-hover-anthilla-gray-2">
            <div class="cell colspan2">
                <p>AntdUi</p>
            </div>
            <div class="cell colspan2">
                <p>{{ Update.AntdUiLatestVersion }}</p>
            </div>
            <div class="cell colspan2">
                <p>{{ Update.AntdUiVersion }}</p>
            </div>
            <div class="cell">
                <button ng-click="ApplyUpdate('antdui')" class="button bg-anthilla-green bd-anthilla-gray-3 padding-left20 padding-right20">Update</button>
            </div>
        </div>
        <div class="row cells7 bg-hover-anthilla-gray-2">
            <div class="cell colspan2">
                <p>Antdsh</p>
            </div>
            <div class="cell colspan2">
                <p>{{ Update.AntdshLatestVersion }}</p>
            </div>
            <div class="cell colspan2">
                <p>{{ Update.AntdshVersion }}</p>
            </div>
            <div class="cell">
                <button ng-click="ApplyUpdate('antdsh')" class="button bg-anthilla-green bd-anthilla-gray-3 padding-left20 padding-right20">Update</button>
            </div>
        </div>
        <div class="row cells7 bg-hover-anthilla-gray-2">
            <div class="cell colspan2">
                <p>System</p>
            </div>
            <div class="cell colspan2">
                <p>{{ Update.SystemLatestVersion }}</p>
            </div>
            <div class="cell colspan2">
                <p>{{ Update.SystemVersion }}</p>
            </div>
            <div class="cell">
                <button ng-click="ApplyUpdate('system')" class="button bg-anthilla-green bd-anthilla-gray-3 padding-left20 padding-right20">Update</button>
            </div>
        </div>
        <div class="row cells7 bg-hover-anthilla-gray-2">
            <div class="cell colspan2">
                <p>Kernel</p>
            </div>
            <div class="cell colspan2">
                <p>{{ Update.KernelLatestVersion }}</p>
            </div>
            <div class="cell colspan2">
                <p>{{ Update.KernelVersion }}</p>
            </div>
            <div class="cell">
                <button ng-click="ApplyUpdate('kernel')" class="button bg-anthilla-green bd-anthilla-gray-3 padding-left20 padding-right20">Update</button>
            </div>
        </div>
    </div>
</div>