<h1 class="fg-white padding-bottom10 bd-anthilla-gray-2 capitalize" style="border-bottom: 1px solid;">Users</h1>

<div ng-controller="AntdUsersController">
    <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
        <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
            <span class="icon mif-file-text fg-anthilla-violet bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
            <span class="title">
                {{Users.Master}}
            </span>
        </div>
        <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
            <div data-role="input" class="input-control password full-size bd-anthilla-green bg-anthilla-gray-2 width50pc">
                <input type="password" ng-model="masterPassword" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                <button class="button helper-button reveal bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-looks"></span></button>
            </div>

            <button ng-click="EditMaster()" class="button bg-anthilla-green bd-anthilla-gray-3 padding-left20 padding-right20 place-right">Change Password</button>
        </div>
    </div>
    <div ng-repeat="user in Users.Users">
        <div class="panel collapsed margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
            <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
                <span class="icon mif-file-text fg-anthilla-violet bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
                <span class="title">
                    {{user.Name}}
                </span>
            </div>
            <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
                <div data-role="input" class="input-control password full-size bd-anthilla-green bg-anthilla-gray-2 width50pc">
                    <input type="password" ng-model="user.Password" style="padding-right: 42px;" class="bd-anthilla-green bg-anthilla-gray-2 fg-white">
                    <button class="button helper-button reveal bg-anthilla-gray-2 fg-anthilla-green" tabindex="-1" type="button"><span class="mif-looks"></span></button>
                </div>

                <button ng-click="AddUser(user)" class="button bg-anthilla-green bd-anthilla-gray-3 padding-left20 padding-right20 place-right">Change Password</button>
            </div>
        </div>
    </div>
</div>
