<legend id="Ifconfig">Ifconfig</legend>
@if (Model.IFCONFIG != null) {
    @if (Model.IFCONFIG.outputTable != null) {
        <table id="Output" class="table">
            <tbody>
                @foreach (string str in Model.IFCONFIG.outputTable) {
                    <tr>
                        <td class="right">@str</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    <br />
    @if (Model.IFCONFIG.errorTable != null) {
        <table id="Error" class="table">
            <tbody>
                @foreach (string str in Model.IFCONFIG.errorTable) {
                    <tr>
                        <td class="right">@str</td>
                    </tr>
                }
            </tbody>
        </table>
    }
}