<legend id="Parameters">Parameters</legend>
<table class="table">
    <tbody>
        <tr>
            <td class="right" style="width: 150px;">Application Port</td>
            <td class="right">
                <p>@Antd.Boot.CoreParametersConfig.GetAntdPort()</p>
            </td>
        </tr>
        <tr>
            <td class="right">Database path</td>
            <td class="right">
                <p>@Antd.Boot.CoreParametersConfig.GetAntdDb()</p>
            </td>
        </tr>
    </tbody>
</table>
