<div ng-controller="SyslogNgController" class="">
    <div class="page-title">
        <div class="title_left">
            <h3>SyslogNG - Configuration</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <!--pannello configurazione-->
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <table class="table table-fixed">
                        <tbody>
                            <tr>
                                <th scope="row">
                                    Enable
                                </th>
                                <td>
                                    <input ng-model="SyslogNg.Active"
                                           i-check
                                           checked=""
                                           type="checkbox">
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                        <tbody ng-show="SyslogNg.Active">
                            <tr>
                                <th scope="row">
                                    RootPath
                                </th>
                                <td>
                                    <input ng-model="SyslogNg.RootPath" class="form-control" type="text">
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    PortLevelApplication
                                </th>
                                <td>
                                    <input ng-model="SyslogNg.PortLevelApplication" class="form-control" type="text">
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    PortLevelSecurity
                                </th>
                                <td>
                                    <input ng-model="SyslogNg.PortLevelSecurity" class="form-control" type="text">
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    PortLevelSystem
                                </th>
                                <td>
                                    <input ng-model="SyslogNg.PortLevelSystem" class="form-control" type="text">
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-12">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <a ng-click="apply()" class="btn btn-app float-right">
                <i class="fa fa-play"></i> Apply
            </a>
            <a ng-click="save()" class="btn btn-app float-right">
                <i class="fa fa-save"></i> Save
            </a>
            <a ng-click="load()" class="btn btn-app float-right">
                <i class="fa fa-refresh"></i> Reload
            </a>
        </div>
    </div>
</div>
