<style type="text/css">
    #Network-TB {
        border-bottom: 10px solid #A7BD39;
        height: 80px !important;
    }
</style>
<nav class="navigation-bar bg-anthilla-gray-m page-bar menu-bar" style="height: 50px !important;">
    <nav class="navigation-bar-content">
        <div class="element upcase fg-anthilla-green border-2-anthilla-gray-m no-overlay" style="padding-top: 11px;">
            <i class="icon-broadcast on-left" style="line-height: 5px;"></i>
            Network
        </div>
        <div class="element-divider"></div>

        <a class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay anchor" data-scrollto="#Setup" style="padding-top: 11px;">
            Setup
        </a>
        <div class="element-divider"></div>
        <a class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay anchor" data-scrollto="#Interface" style="padding-top: 11px;">
            Interface
        </a>
        <div class="element-divider"></div>
        <a class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay anchor" data-scrollto="#VPN" style="padding-top: 11px;">
            VPN
        </a>
        <div class="element-divider"></div>
        <a class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay anchor" data-scrollto="#Routing" style="padding-top: 11px;">
            Routing
        </a>
        <div class="element-divider"></div>
        <a class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay anchor" data-scrollto="#Networkd" style="padding-top: 11px;">
            Networkd
        </a>
        <div class="element-divider"></div>

        <a class="element place-right upcase fg-anthilla-green border-2-anthilla-gray-m no-overlay anchor" data-scrollto="top" style="padding-top: 8px;">
            <i class="icon-arrow-up"></i>
        </a>
        <div class="element-divider place-right"></div>
        <a onclick="SetCreate()" class="element place-right upcase fg-anthilla-green border-2-anthilla-green no-overlay anchor" data-scrollto="#DashboardForm" style="padding-top: 11px;">
            New Table
        </a>
    </nav>
</nav>
