<legend id="Setup">Setup</legend>
<div class="panel border-2-anthilla-gray" data-role="panel">
    <div class="panel-header bg-anthilla-gray fg-white">
        <i class="icon-cone on-left"></i>  Lorem Ipsum
    </div>
    <div class="panel-content" style="display: none;">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </div>
</div>
<hr />
<button id="TEST">TEST</button>