@Each.Model
<tr data-role="claim" data-user-guid="@Current.ClaimUserGuid" data-claim-guid="@Current.ClaimGuid">
    <td>
        <input name="MasterGuid" type="hidden" value="@Current.ClaimUserGuid" />
        <p style="display: inline-block; width: 175px; float: left;">
            @Current.Key
        </p>
        <p style="display: inline-block; width: 250px; overflow: hidden;">
            @Current.Value
        </p>

        <i data-role="remove-claim" data-user-guid="@Current.ClaimUserGuid" data-claim-guid="@Current.ClaimGuid" class="icon-remove fg-orange" style="cursor: pointer; float: right;"></i>
    </td>
</tr>
@EndEach