<h1 class="fg-white padding-bottom10 bd-anthilla-gray-2 capitalize" style="border-bottom: 1px solid;">Certificate Authority</h1>

<div ng-controller="CaController">

    <div ng-switch="isActive">
        <div ng-switch-when="false">
            <button ng-click="enable()" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-plus fg-anthilla-green"></span>&nbsp;Enable</button>
        </div>
        <div ng-switch-when="true">
            <button ng-click="set()" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-checkmark fg-anthilla-green"></span>&nbsp;Apply Settings</button>
            <button ng-click="start()" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-play fg-anthilla-green"></span>&nbsp;Start</button>
            <button ng-click="restart()" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-loop fg-anthilla-green"></span>&nbsp;Restart</button>
            <button ng-click="stop()" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-stop fg-anthilla-orange"></span>&nbsp;Stop</button>
            <button ng-click="disable()" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-eject fg-anthilla-orange"></span>&nbsp;Disable</button>
        </div>
        <div ng-switch-default> </div>
    </div>

    <br />
    
    <div class="grid condensed">
        <div class="row cells4">
            <div class="cell padding-left20">
                <h5 class="uppercase fg-anthilla-green">KeyPassout</h5>
            </div>
            <div class="cell colspan2">
                <div class="input-control text width100pc fg-white">
                    <input type="text" ng-model="Ca.KeyPassout" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                </div>
            </div>
            <div class="cell padding-left20" style="display: none;">
            </div>
        </div>

        <div class="row cells4">
            <div class="cell padding-left20">
                <h5 class="uppercase fg-anthilla-green">RootCountryName</h5>
            </div>
            <div class="cell colspan2">
                <div class="input-control text width100pc fg-white">
                    <input type="text" ng-model="Ca.RootCountryName" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                </div>
            </div>
            <div class="cell padding-left20" style="display: none;">
            </div>
        </div>

        <div class="row cells4">
            <div class="cell padding-left20">
                <h5 class="uppercase fg-anthilla-green">RootStateOrProvinceName</h5>
            </div>
            <div class="cell colspan2">
                <div class="input-control text width100pc fg-white">
                    <input type="text" ng-model="Ca.RootStateOrProvinceName" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                </div>
            </div>
            <div class="cell padding-left20" style="display: none;">
            </div>
        </div>

        <div class="row cells4">
            <div class="cell padding-left20">
                <h5 class="uppercase fg-anthilla-green">RootLocalityName</h5>
            </div>
            <div class="cell colspan2">
                <div class="input-control text width100pc fg-white">
                    <input type="text" ng-model="Ca.RootLocalityName" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                </div>
            </div>
            <div class="cell padding-left20" style="display: none;">
            </div>
        </div>

        <div class="row cells4">
            <div class="cell padding-left20">
                <h5 class="uppercase fg-anthilla-green">RootOrganizationName</h5>
            </div>
            <div class="cell colspan2">
                <div class="input-control text width100pc fg-white">
                    <input type="text" ng-model="Ca.RootOrganizationName" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                </div>
            </div>
            <div class="cell padding-left20" style="display: none;">
            </div>
        </div>

        <div class="row cells4">
            <div class="cell padding-left20">
                <h5 class="uppercase fg-anthilla-green">RootOrganizationalUnitName</h5>
            </div>
            <div class="cell colspan2">
                <div class="input-control text width100pc fg-white">
                    <input type="text" ng-model="Ca.RootOrganizationalUnitName" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                </div>
            </div>
            <div class="cell padding-left20" style="display: none;">
            </div>
        </div>

        <div class="row cells4">
            <div class="cell padding-left20">
                <h5 class="uppercase fg-anthilla-green">RootCommonName</h5>
            </div>
            <div class="cell colspan2">
                <div class="input-control text width100pc fg-white">
                    <input type="text" ng-model="Ca.RootCommonName" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                </div>
            </div>
            <div class="cell padding-left20" style="display: none;">
            </div>
        </div>

        <div class="row cells4">
            <div class="cell padding-left20">
                <h5 class="uppercase fg-anthilla-green">RootEmailAddress</h5>
            </div>
            <div class="cell colspan2">
                <div class="input-control text width100pc fg-white">
                    <input type="text" ng-model="Ca.RootEmailAddress" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                </div>
            </div>
            <div class="cell padding-left20" style="display: none;">
            </div>
        </div>

        <div class="row cells4">
            <div class="cell padding-left20">
            </div>
            <div class="cell colspan2">
                <button ng-click="saveOptions(Ca)" class="button bg-anthilla-green bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-checkmark"></span>&nbsp;{{ 'SAVE' | translate }}</button>
            </div>
        </div>
    </div>
</div>