<legend id="Advanced">Advanced</legend>
<div class="tab-control" data-role="tab-control">
    <ul class="tabs" id="GroupsTabs">
        <li class="active"><a href="#SystemTunables">System Tunables</a></li>
        <li><a href="#Notifications">Notifications</a></li>
    </ul>

    <div class="frame" id="SystemTunables">
        <table class="table hovered">
            <thead>
                <tr>
                    <th>
                        <label>Tunable Name</label></th>
                    <th>
                        <label>Description</label></th>
                    <th>
                        <label>Value</label></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <hr />
        <p class="button bg-anthilla-green">Save</p>
    </div>

    <div class="frame" id="Notifications">
        <table class="table hovered">
            <thead>
                <tr>
                    <th colspan="4" style="text-align: left;" class="bg-anthilla-gray-m upcase">
                        <legend>Growl</legend>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <label>Disable Growl Notifications</label></td>
                    <td>
                        <input type="checkbox" />
                        <p>
                            Check this option to disable growl notifications but preserve the settings below
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Registration Name</label></td>
                    <td>
                        <input type="text" />
                        <p>
                            Enter the name to register with the Growl server (default: PHP-Growl)
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Notification Name</label></td>
                    <td>
                        <input type="text" />
                        <p>
                            Enter a name for the Growl notifications (default: pfSense growl alert)
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>IP Address</label></td>
                    <td>
                        <input type="text" />
                        <p>
                            This is the IP address that you would like to send growl notifications to. 
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Password</label></td>
                    <td>
                        <input type="password" />
                        <p>
                            Enter the password of the remote growl notification device. 
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p class="button bg-anthilla-green">Test</p>
                        <p>
                            NOTE: A test notification will be sent even if the service is marked as disabled
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table hovered">
            <thead>
                <tr>
                    <th colspan="4" style="text-align: left;" class="bg-anthilla-gray-m upcase">
                        <legend>SMTP E-Mail</legend>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <label>Disable SMTP Notifications</label></td>
                    <td>
                        <input type="checkbox" />
                        <p>
                            Check this option to disable SMTP notifications but preserve the settings below. 
                                    Some other mechanisms, such as packages, may need these settings in place to function.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>E-Mail server</label></td>
                    <td>
                        <input type="text" />
                        <p>
                            This is the FQDN or IP address of the SMTP E-Mail server to which notifications will be sent
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>SMTP Port of E-Mail server</label></td>
                    <td>
                        <input type="text" />
                        <p>
                            This is the port of the SMTP E-Mail server, typically 25, 587 (submission) or 465 (smtps) 
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Secure SMTP Connection</label></td>
                    <td>
                        <input type="checkbox" />Enable SMTP over SSL/TLS
                                <br />
                        <input type="checkbox" />Enable STARTTLS
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>From e-mail address</label></td>
                    <td>
                        <input type="text" />
                        <p>
                            This is the e-mail address that will appear in the from field 
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Notification E-Mail address</label></td>
                    <td>
                        <input type="text" />
                        <p>
                            Enter the e-mail address that you would like email notifications sent to 
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Notification E-Mail auth username (optional)</label></td>
                    <td>
                        <input type="text" />
                        <p>
                            Enter the e-mail address username for SMTP authentication 
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Notification E-Mail auth password</label></td>
                    <td>
                        <input type="password" />
                        <p>
                            Enter the e-mail address password for SMTP authentication 
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Notification E-Mail auth mechanism</label></td>
                    <td>
                        <select>
                            <option selected="selected" value="PLAIN">PLAIN</option>
                            <option value="LOGIN">LOGIN</option>
                        </select>
                        <p>
                            Select the authentication mechanism used by the SMTP server. 
                                    Most work with PLAIN, some servers like Exchange or Office365 might require LOGIN 
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p class="button bg-anthilla-green">Test SMTP</p>
                        <p>
                            NOTE: A test message will be sent even if the service is marked as disabled. 
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr />
        <p class="button bg-anthilla-green">Save</p>
    </div>
</div>
