<div ng-controller="ClusterController" class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Cluster - Shared FS</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <!--pannello configurazione-->
        <div class="col-md-12 col-sm-12 col-xs-12">
            <table class="table table-condensed table-hover bg-white no-border table-fixed">
                <tbody>
                    <tr>
                        <th scope="row">Active</th>
                        <td>
                            <input ng-model="Cluster.SharedFs.Active"
                                   i-check
                                   checked=""
                                   type="checkbox">
                        </td>
                        <td></td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th colspan="12">
                            Sync Directories
                        </th>
                    </tr>
                    <tr>
                        <td colspan="9">
                            <input ng-model="NewSyncDirectory.Path" class="form-control" type="text">
                        </td>
                        <td colspan="3">
                            <button ng-click="addToList(NewSyncDirectory, Cluster.SharedFs.SyncDirectories)" type="button" class="btn btn-primary">
                                <span class="fa fa-plus-circle"></span> Add
                            </button>
                        </td>
                    </tr>
                    <tr ng-repeat="el in Cluster.SharedFs.SyncDirectories">
                        <th>
                            {{ ($index + 1) }}
                        </th>
                        <td colspan="8">
                            <input ng-model="el.Path" class="form-control" type="text">
                        </td>
                        <td>
                            <button ng-click="moveUp(cmd, $index, Cluster.SharedFs.SyncDirectories)"
                                    ng-hide="$index===0;"
                                    type="button" class="btn btn-info">
                                <span class="fa fa-arrow-circle-up"></span>
                            </button>
                        </td>
                        <td>
                            <button ng-click="moveDown(cmd, $index, Cluster.SharedFs.SyncDirectories)"
                                    ng-hide="$index===SetupCommands.length-1;"
                                    type="button" class="btn btn-info">
                                <span class="fa fa-arrow-circle-down"></span>
                            </button>
                        </td>
                        <td>
                            <button ng-click="removeFromList($index, Cluster.SharedFs.SyncDirectories)" type="button" class="btn btn-danger">
                                <span class="fa fa-minus-circle"></span> Remove
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th colspan="12">
                            Sync Files
                        </th>
                    </tr>
                    <tr>
                        <td colspan="9">
                            <input ng-model="NewSyncFile.Path" class="form-control" type="text">
                        </td>
                        <td colspan="3">
                            <button ng-click="addToList(NewSyncFile, Cluster.SharedFs.SyncFiles)" type="button" class="btn btn-primary">
                                <span class="fa fa-plus-circle"></span> Add
                            </button>
                        </td>
                    </tr>
                    <tr ng-repeat="el in Cluster.SharedFs.SyncFiles">
                        <th>
                            {{ ($index + 1) }}
                        </th>
                        <td colspan="8">
                            <input ng-model="el.Path" class="form-control" type="text">
                        </td>
                        <td>
                            <button ng-click="moveUp(cmd, $index, Cluster.SharedFs.SyncFiles)"
                                    ng-hide="$index===0;"
                                    type="button" class="btn btn-info">
                                <span class="fa fa-arrow-circle-up"></span>
                            </button>
                        </td>
                        <td>
                            <button ng-click="moveDown(cmd, $index, Cluster.SharedFs.SyncFiles)"
                                    ng-hide="$index===SetupCommands.length-1;"
                                    type="button" class="btn btn-info">
                                <span class="fa fa-arrow-circle-down"></span>
                            </button>
                        </td>
                        <td>
                            <button ng-click="removeFromList($index, Cluster.SharedFs.SyncFiles)" type="button" class="btn btn-danger">
                                <span class="fa fa-minus-circle"></span> Remove
                            </button>
                        </td>
                    </tr>
                </tbody>

                <!--<tbody>
                    <tr>
                        <th colspan="2">Volume Label</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input ng-model="NewLabel" class="form-control" type="text">
                        </td>
                        <td>
                            <button ng-click="addToList(NewLabel, Cluster.SharedFs.VolumesLabels);addVolumeToNodes(NewLabel, Cluster.Nodes)" type="button" class="btn btn-primary">
                                <span class="fa fa-plus-circle"></span> Add
                            </button>
                        </td>
                    </tr>
                    <tr ng-repeat="label in Cluster.SharedFs.VolumesLabels">
                        <td colspan="2">
                            <input ng-model="label" class="form-control" type="text">
                        </td>
                        <td>
                            <button ng-click="removeFromList($index, Cluster.SharedFs.VolumesLabels)" type="button" class="btn btn-danger">
                                <span class="fa fa-minus-circle"></span> Remove
                            </button>
                        </td>
                    </tr>
                </tbody>-->
                <!--<tbody>
                    <tr>
                        <th>Host</th>
                        <th colspan="2">Volumes</th>
                    </tr>
                    <tr ng-repeat="node in Cluster.Nodes">
                        <td>
                            {{ node.Hostname }}
                        </td>
                        <td colspan="2">
                            <table class="table table-condensed table-hover bg-white no-border table-fixed">
                                <tbody>
                                    <tr>
                                        <td>Label</td>
                                        <td>Brick</td>
                                        <td>Mountpoint</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input ng-model="NewGlusterVolume.Label" class="form-control" type="text">
                                        </td>
                                        <td>
                                            <input ng-model="NewGlusterVolume.Brick" class="form-control" type="text">
                                        </td>
                                        <td>
                                            <input ng-model="NewGlusterVolume.Mountpoint" class="form-control" type="text">
                                        </td>
                                        <td>
                                            <button ng-click="addToList(NewGlusterVolume, node.Volumes)" type="button" class="btn btn-primary">
                                                <span class="fa fa-plus-circle"></span> Add
                                            </button>
                                        </td>
                                    </tr>
                                    <tr ng-repeat="volume in node.Volumes">
                                        <td>
                                            {{ volume.Label }}
                                        </td>
                                        <td>
                                            <input ng-model="volume.Brick" class="form-control" type="text">
                                        </td>
                                        <td>
                                            <input ng-model="volume.MountPoint" class="form-control" type="text">
                                        </td>
                                        <td>
                                            <button ng-click="removeFromList($index, node.Volumes)" type="button" class="btn btn-danger">
                                                <span class="fa fa-minus-circle"></span> Remove
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                </tbody>-->
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-12">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <a ng-click="apply()" class="btn btn-app float-right">
                <i class="fa fa-play"></i> Apply
            </a>
            <a ng-click="save()" class="btn btn-app float-right">
                <i class="fa fa-save"></i> Save
            </a>
            <a ng-click="load()" class="btn btn-app float-right">
                <i class="fa fa-refresh"></i> Reload
            </a>
        </div>
    </div>
</div>
