<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Cluster - Status</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <!--pannello configurazione-->
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <table class="table table-condensed table-hover bg-white no-border table-fixed">
                        <thead>
                            <tr>
                                <th colspan="2">Host</th>
                                <th>Antd Uptime</th>
                                <th>InternetReach</th>
                                <th>InternetDnsReach</th>
                                <th>KnownPublicIpReach</th>
                                <th>Antd Reach</th>
                                <!--<th colspan="2">DiscoveredIpsReach</th>-->
                                <!--<th colspan="2">VirshService</th>-->
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="info in ClusterStatus">
                                <td colspan="2">
                                    {{ info.Node.Hostname }}
                                </td>
                                <td>
                                    {{ info.Status.ApplicationUptime }}
                                </td>
                                <td>
                                    <span ng-show="info.Status.InternetReach==0" class="fa fa-refresh fg-success"></span>
                                    <span ng-show="info.Status.InternetReach==1" class="fa fa-refresh fg-danger"></span>
                                </td>
                                <td>
                                    <span ng-show="info.Status.InternetDnsReach==0" class="fa fa-refresh fg-success"></span>
                                    <span ng-show="info.Status.InternetDnsReach==1" class="fa fa-refresh fg-danger"></span>
                                </td>
                                <td>
                                    <span ng-show="info.Status.KnownPublicIpReach==0" class="fa fa-refresh fg-success"></span>
                                    <span ng-show="info.Status.KnownPublicIpReach==1" class="fa fa-refresh fg-danger"></span>
                                    <p style="display: inline-block;" class="no-margin">{{ info.Node.PublicIp }}
                                </td>
                                <td>
                                    <span ng-show="info.Status.ServiceReach==0" class="fa fa-refresh fg-success"></span>
                                    <span ng-show="info.Status.ServiceReach==1" class="fa fa-refresh fg-danger"></span>
                                </td>
                                <!--<td colspan="2">
                                    <table class="table bordered fg-white" style="table-layout: fixed;">
                                        <tr ng-repeat="ip in info.Status.DiscoveredIpsReach">
                                            <td>
                                                {{ ip.IpAddress }}
                                            </td>
                                            <td>
                                                <span ng-show="ip.Status==0" class="fa fa-refresh fg-success"></span>
                                                <span ng-show="ip.Status==1" class="fa fa-refresh fg-danger"></span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>-->
                                <!--<td colspan="2">
                                    <table>
                                        <tr ng-repeat="vm in info.Status.VirshService.Domains">
                                            <td>
                                                {{ vm.Name }}
                                            </td>
                                            <td>
                                                {{ vm.State }}
                                                <span ng-show="vm.State==0" class="fa fa-refresh fg-success"></span>
                                                <span ng-show="vm.State==1" class="fa fa-refresh fg-danger"></span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>-->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-12">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <a ng-click="apply()" class="btn btn-app float-right">
                <i class="fa fa-play"></i> Apply
            </a>
            <a ng-click="save()" class="btn btn-app float-right">
                <i class="fa fa-save"></i> Save
            </a>
            <a ng-click="load()" class="btn btn-app float-right">
                <i class="fa fa-refresh"></i> Reload
            </a>
        </div>
    </div>
</div>
