<ul style="list-style: none;">
    <li ui-sref="info" class="fg-anthilla-green fg-hover-white uppercase" style="cursor: pointer;"><h4>info&nbsp;</h4></li>
    <li class="fg-anthilla-green fg-hover-white capitalize" style="cursor: pointer;">
        <ul style="list-style: none;">
            <li ui-sref="memory" class="fg-anthilla-green fg-hover-white" style="cursor: pointer;"><h4>memory status&nbsp;</h4></li>
            <li ui-sref="cpu" class="fg-anthilla-green fg-hover-white" style="cursor: pointer;"><h4>CPU status&nbsp;</h4></li>
            <li ui-sref="svcs" class="fg-anthilla-green fg-hover-white" style="cursor: pointer;"><h4>services&nbsp;</h4></li>
            <li ui-sref="mod" class="fg-anthilla-green fg-hover-white" style="cursor: pointer;"><h4>modules&nbsp;</h4></li>
        </ul>
    </li>

    <li ui-sref="system" class="fg-anthilla-green fg-hover-white uppercase" style="cursor: pointer;"><h4>system status&nbsp;</h4></li>
    <li class="fg-anthilla-green fg-hover-white capitalize" style="cursor: pointer;">
        <ul style="list-style: none;">
            <li ui-sref="losetup" class="fg-anthilla-green fg-hover-white" style="cursor: pointer;"><h4>losetup status&nbsp;</h4></li>
            <li ui-sref="update" class="fg-anthilla-green fg-hover-white" style="cursor: pointer;"><h4>update&nbsp;</h4></li>
        </ul>
    </li>

    <li ui-sref="host" class="fg-anthilla-green fg-hover-white uppercase" style="cursor: pointer;"><h4>host&nbsp;</h4></li>
    <li class="fg-anthilla-green fg-hover-white capitalize" style="cursor: pointer;">
        <ul style="list-style: none;">
            <li ui-sref="app" class="fg-anthilla-green fg-hover-white" style="cursor: pointer;"><h4>app&nbsp;</h4></li>
        </ul>
    </li>
    
    <li ui-sref="time" class="fg-anthilla-green fg-hover-white uppercase" style="cursor: pointer;"><h4>time and datesystem status&nbsp;</h4></li>

    <li ui-sref="ns" class="fg-anthilla-green fg-hover-white uppercase" style="cursor: pointer;"><h4>name service&nbsp;</h4></li>
    <li class="fg-anthilla-green fg-hover-white capitalize" style="cursor: pointer;">
        <ul style="list-style: none;">
            <li ui-sref="bind" class="fg-anthilla-green fg-hover-white" style="cursor: pointer;"><h4>bind&nbsp;</h4></li>
        </ul>
    </li>
    
    <li ui-sref="sshd" class="fg-anthilla-green fg-hover-white uppercase" style="cursor: pointer;"><h4>sshd&nbsp;</h4></li>

    <li ui-sref="network" class="fg-anthilla-green fg-hover-white uppercase" style="cursor: pointer;"><h4>network&nbsp;</h4></li>
    <li class="fg-anthilla-green fg-hover-white capitalize" style="cursor: pointer;">
        <ul style="list-style: none;">
            <li ui-sref="dhcpd" class="fg-anthilla-green fg-hover-white" style="cursor: pointer;"><h4>dhcpd&nbsp;</h4></li>
            <li ui-sref="leases" class="fg-anthilla-green fg-hover-white" style="cursor: pointer;"><h4>dhcp leases&nbsp;</h4></li>
            <li ui-sref="vpn" class="fg-anthilla-green fg-hover-white" style="cursor: pointer;"><h4>VPN&nbsp;</h4></li>
        </ul>
    </li>
    
    <li ui-sref="fw" class="fg-anthilla-green fg-hover-white uppercase" style="cursor: pointer;"><h4>firewall&nbsp;</h4></li>

    <li ui-sref="cron" class="fg-anthilla-green fg-hover-white uppercase" style="cursor: pointer;"><h4>scheduler&nbsp;</h4></li>

    <li ui-sref="storage" class="fg-anthilla-green fg-hover-white uppercase" style="cursor: pointer;"><h4>storage&nbsp;</h4></li>
    <li class="fg-anthilla-green fg-hover-white capitalize" style="cursor: pointer;">
        <ul style="list-style: none;">
            <li ui-sref="zfs" class="fg-anthilla-green fg-hover-white" style="cursor: pointer;"><h4>zfs&nbsp;</h4></li>
            <li ui-sref="disk" class="fg-anthilla-green fg-hover-white" style="cursor: pointer;"><h4>disks usage&nbsp;</h4></li>
            <li ui-sref="om" class="fg-anthilla-green fg-hover-white" style="cursor: pointer;"><h4>overmounts status&nbsp;</h4></li>
            <li ui-sref="overlay" class="fg-anthilla-green fg-hover-white" style="cursor: pointer;"><h4>overlay&nbsp;</h4></li>
        </ul>
    </li>
    
    <li ui-sref="acl" class="fg-anthilla-green fg-hover-white uppercase" style="cursor: pointer;"><h4>acl&nbsp;</h4></li>
    
    <li ui-sref="sync" class="fg-anthilla-green fg-hover-white uppercase" style="cursor: pointer;"><h4>sync&nbsp;</h4></li>
    <li class="fg-anthilla-green fg-hover-white capitalize" style="cursor: pointer;">
        <ul style="list-style: none;">
            <li ui-sref="rsync" class="fg-anthilla-green fg-hover-white" style="cursor: pointer;"><h4>rsync&nbsp;</h4></li>
        </ul>
    </li>
    
    <li ui-sref="vm" class="fg-anthilla-green fg-hover-white uppercase" style="cursor: pointer;"><h4>vm&nbsp;</h4></li>
    
    <li ui-sref="samba" class="fg-anthilla-green fg-hover-white uppercase" style="cursor: pointer;"><h4>samba&nbsp;</h4></li>

    <li ui-sref="users" class="fg-anthilla-green fg-hover-white uppercase" style="cursor: pointer;"><h4>users&nbsp;</h4></li>
</ul>
