<ul style="list-style: none;">
    <li ui-sref="cluster" class="fg-anthilla-green fg-hover-white uppercase" style="cursor: pointer;"><h4>cluster&nbsp;</h4></li>
    
    <li ui-sref="gluster" class="fg-anthilla-green fg-hover-white uppercase" style="cursor: pointer;"><h4>gluster&nbsp;</h4></li>
    
    <li ui-sref="discovery" class="fg-anthilla-green fg-hover-white uppercase" style="cursor: pointer;"><h4>Discovery&nbsp;</h4></li>

    <li ui-sref="scan" class="fg-anthilla-green fg-hover-white uppercase" style="cursor: pointer;"><h4>scan&nbsp;</h4></li>

    <li ui-sref="assetsync" class="fg-anthilla-green fg-hover-white uppercase" style="cursor: pointer;"><h4>sync&nbsp;</h4></li>

    <li ui-sref="assetconfig" class="fg-anthilla-green fg-hover-white uppercase" style="cursor: pointer;"><h4>Setting&nbsp;</h4></li>
</ul>
