<ul style="list-style: none;">
    <li ui-sref="bootcmd" class="fg-anthilla-green fg-hover-white uppercase" style="cursor: pointer;"><h4>commands&nbsp;</h4></li>

    <li ui-sref="bootmod" class="fg-anthilla-green fg-hover-white uppercase" style="cursor: pointer;"><h4>modules&nbsp;</h4></li>

    <li ui-sref="bootsvc" class="fg-anthilla-green fg-hover-white uppercase" style="cursor: pointer;"><h4>services&nbsp;</h4></li>

    <li ui-sref="bootparam" class="fg-anthilla-green fg-hover-white uppercase" style="cursor: pointer;"><h4>os parameters&nbsp;</h4></li>
</ul>
