<ul style="list-style: none;">
    <li ui-sref="ca" class="fg-anthilla-green fg-hover-white uppercase" style="cursor: pointer;"><h4>Certificate Authority&nbsp;</h4></li>
    <li class="fg-anthilla-green fg-hover-white capitalize" style="cursor: pointer;">
        <ul style="list-style: none;">
            <li ui-sref="cert" class="fg-anthilla-green fg-hover-white" style="cursor: pointer;"><h4>Certificate&nbsp;</h4></li>
        </ul>
    </li>

    <li ui-sref="dc" class="fg-anthilla-green fg-hover-white uppercase" style="cursor: pointer;"><h4>Domain Controller&nbsp;</h4></li>
    <li class="fg-anthilla-green fg-hover-white capitalize" style="cursor: pointer;">
        <ul style="list-style: none;">
            <li ui-sref="dcusers" class="fg-anthilla-green fg-hover-white" style="cursor: pointer;"><h4>Users&nbsp;</h4></li>
        </ul>
    </li>
</ul>
