<ul style="list-style: none;">
    <li ui-sref="log" class="fg-anthilla-green fg-hover-white uppercase" style="cursor: pointer;"><h4>log&nbsp;</h4></li>

    <li ui-sref="journal" class="fg-anthilla-green fg-hover-white uppercase" style="cursor: pointer;"><h4>journal&nbsp;</h4></li>
    <li class="fg-anthilla-green fg-hover-white capitalize" style="cursor: pointer;">
        <ul style="list-style: none;">
            <li ui-sref="logconfig" class="fg-anthilla-green fg-hover-white" style="cursor: pointer;"><h4>log configuration&nbsp;</h4></li>
        </ul>
    </li>

    <li ui-sref="report" class="fg-anthilla-green fg-hover-white uppercase" style="cursor: pointer;"><h4>report&nbsp;</h4></li>

    <li ui-sref="syslogng" class="fg-anthilla-green fg-hover-white uppercase" style="cursor: pointer;"><h4>syslog ng&nbsp;</h4></li>
</ul>