<h1 class="fg-white padding-bottom10 bd-anthilla-gray-2 capitalize" style="border-bottom: 1px solid;">commands</h1>

<div ng-controller="BootCommandsController">
    <div class="panel  margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
        <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
            <span class="icon mif-file-text fg-anthilla-violet bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
            <span class="title">
                Start <small>commands to launch before antd starts</small>
            </span>
        </div>
        <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
            <button ng-click="saveStart($event)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-checkmark fg-anthilla-green"></span>&nbsp;Save</button>
            <button ng-click="add(StartCommands)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-plus fg-anthilla-blue"></span>&nbsp;Add Line</button>
            <button ng-click="refreshIndex(StartCommands)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-loop2 fg-anthilla-blue"></span>&nbsp;Refresh Index</button>
            <br />
            <div class="grid condensed">
                <div ng-repeat="cmd in StartCommands">
                    <div class="row cells8">
                        <div class="cell padding-right10">
                            <p class="fg-white">{{ cmd.Index }}</p>
                        </div>
                        <div class="cell colspan5">
                            <div class="input-control text width100pc fg-white">
                                <input placeholder="Command" type="text" ng-model="cmd.FirstCommand" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                            </div>
                        </div>
                        <div class="cell colspan2">
                            <button ng-click="moveUp(cmd, $index, StartCommands)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-arrow-up fg-anthilla-blue"></span></button>
                            <button ng-click="moveDown(cmd, $index, StartCommands)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-arrow-down fg-anthilla-blue"></span></button>
                            <button ng-click="remove(cmd, StartCommands)" style="margin-left: 100px;" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-bin fg-anthilla-orange"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <button ng-click="saveStart($event)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-checkmark fg-anthilla-green"></span>&nbsp;Save</button>
            <button ng-click="add(StartCommands)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-plus fg-anthilla-blue"></span>&nbsp;Add Line</button>
            <button ng-click="refreshIndex(StartCommands)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-loop2 fg-anthilla-blue"></span>&nbsp;Refresh Index</button>
        </div>
    </div>
    <br />
    <div class="panel  margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
        <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
            <span class="icon mif-file-text fg-anthilla-violet bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
            <span class="title">
                End <small>commands to launch at the end of antd initialization</small>
            </span>
        </div>
        <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
            <button ng-click="saveEnd($event)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-checkmark fg-anthilla-green"></span>&nbsp;Save</button>
            <button ng-click="add(EndCommands)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-plus fg-anthilla-blue"></span>&nbsp;Add Line</button>
            <button ng-click="refreshIndex(EndCommands)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-loop2 fg-anthilla-blue"></span>&nbsp;Refresh Index</button>
            <br />
            <div class="grid condensed">
                <div ng-repeat="cmd in EndCommands">
                    <div class="row cells8">
                        <div class="cell padding-right10">
                            <p class="fg-white">{{ cmd.Index }}</p>
                        </div>
                        <div class="cell colspan5">
                            <div class="input-control text width100pc fg-white">
                                <input placeholder="Command" type="text" ng-model="cmd.FirstCommand" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                            </div>
                        </div>
                        <div class="cell colspan2">
                            <button ng-click="moveUp(cmd, $index, EndCommands)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-arrow-up fg-anthilla-blue"></span></button>
                            <button ng-click="moveDown(cmd, $index, EndCommands)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-arrow-down fg-anthilla-blue"></span></button>
                            <button ng-click="remove(cmd, EndCommands)" style="margin-left: 100px;" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-bin fg-anthilla-orange"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <button ng-click="saveEnd($event)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-checkmark fg-anthilla-green"></span>&nbsp;Save</button>
            <button ng-click="add(EndCommands)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-plus fg-anthilla-blue"></span>&nbsp;Add Line</button>
            <button ng-click="refreshIndex(EndCommands)" class="button bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-loop2 fg-anthilla-blue"></span>&nbsp;Refresh Index</button>
        </div>
    </div>
</div>