<h1 class="fg-white padding-bottom10 bd-anthilla-gray-2 capitalize" style="border-bottom: 1px solid;">modules</h1>

<div ng-controller="BootModulesController">
    <div class="panel  margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
        <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
            <span class="icon mif-file-text fg-anthilla-violet bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
            <span class="title">
                Load
            </span>
        </div>
        <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
            <div class="input-control textarea width100pc" data-role="input" data-text-auto-resize="true">
                <textarea ng-model="ModprobesStr" class="bg-anthilla-gray-2 bd-anthilla-gray-3 bd-active-anthilla-green fg-white"></textarea>
            </div>
            <button ng-click="saveModules($event)" class="button bg-anthilla-green bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-checkmark"></span>&nbsp;{{ 'CONFIRM' | translate }}</button>
        </div>
    </div>
    <br />
    <div class="panel  margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
        <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
            <span class="icon mif-file-text fg-anthilla-violet bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
            <span class="title">
                Remove
            </span>
        </div>
        <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
            <div class="input-control textarea width100pc" data-role="input" data-text-auto-resize="true">
                <textarea ng-model="RmmodStr" class="bg-anthilla-gray-2 bd-anthilla-gray-3 bd-active-anthilla-green fg-white"></textarea>
            </div>
            <button ng-click="saveRmmodules($event)" class="button bg-anthilla-green bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-checkmark"></span>&nbsp;{{ 'CONFIRM' | translate }}</button>
        </div>
    </div>
    <br />
    <div class="panel  margin10 no-margin-left no-margin-right no-margin-top" data-role="panel">
        <div class="heading bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 2px solid;">
            <span class="icon mif-file-text fg-anthilla-violet bg-anthilla-gray-2 no-margin" style="height: 40px;"></span>
            <span class="title">
                Blacklist
            </span>
        </div>
        <div class="content padding20 bg-anthilla-gray-1 bd-anthilla-gray-2" style="border: 1px solid;">
            <div class="input-control textarea width100pc" data-role="input" data-text-auto-resize="true">
                <textarea ng-model="ModulesBlacklistStr" class="bg-anthilla-gray-2 bd-anthilla-gray-3 bd-active-anthilla-green fg-white"></textarea>
            </div>
            <button ng-click="saveModblacklist($event)" class="button bg-anthilla-green bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-checkmark"></span>&nbsp;{{ 'CONFIRM' | translate }}</button>
        </div>
    </div>
</div>