<h1 class="fg-white padding-bottom10 bd-anthilla-gray-2 capitalize" style="border-bottom: 1px solid;">Setting</h1>

<div ng-controller="AssetSettingController">
    <table class="table fg-white" style="table-layout: fixed;">
        <tbody>
            <tr>
                <td>
                    <p class="uppercase fg-anthilla-green">Subnet</p>
                </td>
                <td colspan="2">
                    <div class="input-control text width100pc fg-white">
                        <input type="text" ng-model="Subnet" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                    </div>
                </td>
                <td colspan="2">
                    <div class="input-control text width100pc fg-white">
                        <input type="text" ng-model="Label" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                    </div>
                </td>
                <td>
                    <button ng-click="saveSubnet()" class="button bg-anthilla-green bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-checkmark"></span>&nbsp;{{ 'SAVE' | translate }} Subnet</button>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="uppercase fg-anthilla-green">Number</p>
                </td>
                <td>
                    <p class="uppercase fg-anthilla-green">Letter</p>
                </td>
                <td colspan="4">
                    <p class="uppercase fg-anthilla-green">Label</p>
                </td>
            </tr>
        </tbody>
        <tbody ng-repeat="set in ScanSettings">
            <tr ng-init="set.IsChanged=false;set.OriginLabel=set.Label;">
                <td>
                    <p>{{ set.Number }}</p>
                </td>
                <td>
                    <p>{{ set.Letter }}</p>
                </td>
                <td colspan="4">
                    <div class="input-control text width100pc fg-white">
                        <input ng-change="checkElement(set)" type="text" ng-model="set.Label" class="bg-anthilla-gray-2 fg-white bd-anthilla-gray-3 bd-focus-anthilla-green">
                    </div>
                </td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td colspan="6">
                    <button ng-click="saveLabels()" class="button bg-anthilla-green bd-anthilla-gray-3 padding-left20 padding-right20"><span class="mif-checkmark"></span>&nbsp;{{ 'SAVE' | translate }} Subnet</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>