<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <title>Anthilla Test</title>
    <script src="/f/a.js"></script>
</head>
<body style="background-color: #535353; color:#FFF; font-family: Arial;">
    <div ng-controller="main">

        <table style="width: 750px; table-layout: fixed; border: 2px solid #3A3A3A; position: relative; left: 50%; margin-left: -375px; margin-top: 35px;">
            <thead>
                <tr>
                    <td rowspan="2" colspan="2">
                        <img src="/f/l.png" width="250" />
                    </td>
                    <td>
                        CLUSTER
                    </td>
                    <td colspan="3">
                        {{ C.Label }}
                    </td>
                </tr>
                <tr>
                    <td>
                        CLUSTER ID
                    </td>
                    <td colspan="3">
                        {{ C.Id }}
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="3">
                        <div style="width: 340px; min-height: 150px; padding: 2px; border: 2px solid #3a3a3a">
                            <p style="border-bottom:2px solid #3a3a3a; width: 340px; margin: 0; text-align: center;">{{ C.Nodes[0].Hostname }}</p>
                        </div>
                    </td>
                    <td colspan="3">
                        <div style="width: 340px; min-height: 150px; padding: 2px; border: 2px solid #3a3a3a">
                            <p style="border-bottom:2px solid #3a3a3a; width: 340px; margin: 0; text-align: center;">{{ C.Nodes[1].Hostname }}</p>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
            </tfoot>
        </table>

        <div style="text-align: center; font-size: 3em; padding: 1em;">

            <p>{{ C }}</p>
        </div>
    </div>
    <script type="text/javascript">
        var app = angular.module("app", [])
        .controller("main", ["$scope", "$http", "$interval", function ($scope, $http, $interval) {
            //$interval(function () {
            //    $http.get("/host").success(function (e) { $scope.H = e; });
            //    $http.get("/date").success(function (e) { $scope.T = e; });
            //}, 475);

            $interval(function () {
                $http.get("/cls").success(function (e) { $scope.C = e; });
            }, 475);

        }]);
    </script>
</body>
</html>
