@Each.Model
<tr>
    <td></td>
    <td><label>@Current.Label</label></td>
    <td>
        <input id="@Current.Label" type="button" style="height: 25px; width: 90%; padding: 4px 25px;" value="Get @Current.Label" />
    </td>
    <td>
        <textarea id="@Current.Label" class="bg-anthilla-gray fg-white border-2-anthilla-gray-m bg-anthilla-gray-m" style="width: 90%; height: 250px; min-height: 250px; max-height: 250px; display: none; overflow: scroll !important;"></textarea>
    </td>
</tr>
@EndEach