<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Angular.UI.UI-Router" version="0.4.2" targetFramework="net461" />
  <package id="AngularJS.Animate" version="1.6.8" targetFramework="net461" />
  <package id="AngularJS.Aria" version="1.6.8" targetFramework="net461" />
  <package id="AngularJS.Cookies" version="1.6.8" targetFramework="net461" />
  <package id="AngularJS.Core" version="1.6.8" targetFramework="net461" />
  <package id="AngularJS.Messages" version="1.6.8" targetFramework="net461" />
  <package id="AngularJS.Resource" version="1.6.8" targetFramework="net461" />
  <package id="AngularJS.Route" version="1.6.8" targetFramework="net461" />
  <package id="AngularJS.Sanitize" version="1.6.8" targetFramework="net461" />
  <package id="AngularTranslate" version="2.7.2" targetFramework="net461" />
  <package id="AngularTranslate.LoaderUrl" version="2.7.2" targetFramework="net461" />
  <package id="Nancy" version="1.4.4" targetFramework="net461" />
  <package id="Nancy.Authentication.Forms" version="1.4.1" targetFramework="net461" />
  <package id="Nancy.Hosting.Self" version="1.4.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net461" />
  <package id="Newtonsoft.Json.Bson" version="1.0.2" targetFramework="net461" />
  <package id="RestSharp" version="106.6.10" targetFramework="net461" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
</packages>