<style type="text/css">
    #Firewall-TB {
        border-bottom: 10px solid #A7BD39;
        height: 80px !important;
    }
</style>
<nav class="navigation-bar bg-transparent page-bar menu-bar">
    <nav class="navigation-bar-content">
        <div class="element upcase fg-anthilla-green border-2-anthilla-gray-m no-overlay" style="padding-top: 11px;">
            <i class="icon-fire on-left" style="line-height: 5px;"></i>
            Firewall
        </div>
        <div class="element-divider"></div>

        <div class="element border-2-anthilla-green no-overlay fg-anthilla-green upcase" style="line-height: 0px;">
            <a class="dropdown-toggle" href="#">Proxy</a>
            <ul class="dropdown-menu bg-anthilla-gray-m fg-white border-2-anthilla-green" data-role="dropdown">
                <li><a href="#">Navigation Groups</a></li>
                <li><a href="#">Group Membership</a></li>
                <li><a href="#">Temporal Access Lists</a></li>
                <li><a href="#">Authentication Management</a></li>
            </ul>
        </div>
        <div class="element-divider"></div>

        <div class="element border-2-anthilla-green no-overlay fg-anthilla-green upcase" style="line-height: 0px;">
            <a class="dropdown-toggle" href="#">Hot Spot</a>
            <ul class="dropdown-menu bg-anthilla-gray-m fg-white border-2-anthilla-green" data-role="dropdown">
                <li><a href="#">IMAP</a></li>
                <li><a href="#">Hot Spot</a></li>
                <li><a href="#">Active Connections</a></li>
            </ul>
        </div>
        <div class="element-divider"></div>

        <div class="element border-2-anthilla-green no-overlay fg-anthilla-green upcase" style="line-height: 0px;">
            <a class="dropdown-toggle" href="#">Management</a>
            <ul class="dropdown-menu bg-anthilla-gray-m fg-white border-2-anthilla-green" data-role="dropdown">
                <li><a href="#">Firewall</a></li>
                <li><a href="#">U T M</a></li>
                <li><a href="#">Blackhole DNS</a></li>
                <li><a href="#">Tracking</a></li>
            </ul>
        </div>
        <div class="element-divider"></div>

        <div class="element border-2-anthilla-green no-overlay fg-anthilla-green upcase" style="line-height: 0px;">
            <a class="dropdown-toggle" href="#">Servers</a>
            <ul class="dropdown-menu bg-anthilla-gray-m fg-white border-2-anthilla-green" data-role="dropdown">
                <li><a href="#">dhcp</a></li>
                <li><a href="#">dns</a></li>
                <li><a href="#">Cluster</a></li>
            </ul>
        </div>
        <div class="element-divider"></div>

        <div class="element border-2-anthilla-green no-overlay fg-anthilla-green upcase" style="line-height: 0px;">
            <a class="dropdown-toggle" href="#">Utility</a>
            <ul class="dropdown-menu bg-anthilla-gray-m fg-white border-2-anthilla-green" data-role="dropdown">
                <li><a href="#">Whois</a></li>
                <li><a href="#">Public IP</a></li>
                <li><a href="#">IP in use</a></li>
            </ul>
        </div>
        <div class="element-divider"></div>
    </nav>
</nav>
