@*
///-------------------------------------------------------------------------------------
///     Copyright (c) 2014, Anthilla S.r.l. (http://www.anthilla.com)
///     All rights reserved.
///
///     Redistribution and use in source and binary forms, with or without
///     modification, are permitted provided that the following conditions are met:
///         * Redistributions of source code must retain the above copyright
///           notice, this list of conditions and the following disclaimer.
///         * Redistributions in binary form must reproduce the above copyright
///           notice, this list of conditions and the following disclaimer in the
///           documentation and/or other materials provided with the distribution.
///         * Neither the name of the Anthilla S.r.l. nor the
///           names of its contributors may be used to endorse or promote products
///           derived from this software without specific prior written permission.
///
///     THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
///     ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
///     WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
///     DISCLAIMED. IN NO EVENT SHALL ANTHILLA S.R.L. BE LIABLE FOR ANY
///     DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
///     (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
///     LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
///     ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
///     (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
///     SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
///
///     20141110
///-------------------------------------------------------------------------------------*@

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@using System.Collections.Generic
@{Layout = "_layout.cshtml";}

@section PageBar
{
    <nav class="navigation-bar bg-transparent page-bar menu-bar">
        <nav class="navigation-bar-content">
            <div class="element upcase bold no-overlay fg-black upcase" style="line-height: 0px; margin-left: 20px !important;"> Mail </div>

            <a href="#anchorImap" class="element upcase no-overlay anchor" style="line-height: 0px;">
                <i class="icon-mail on-left" style="line-height: 0px;"></i> IMAP
            </a>
            <a href="#anchorPopImap" class="element upcase no-overlay anchor" style="line-height: 0px;">
                <i class="icon-mail on-left" style="line-height: 0px;"></i> POP3/IMAP
            </a>
            <a href="#anchorWmail" class="element upcase no-overlay anchor" style="line-height: 0px;">
                <i class="icon-mail-2 on-left" style="line-height: 0px;"></i >Web Mail
            </a>
            <a href="#anchorMss" class="element upcase no-overlay anchor" style="line-height: 0px;">
                <i class="icon-stats-2 on-left" style="line-height: 0px;"></i> Mail Server Stats
            </a>
        </nav>
    </nav>
}

@section MainContent
{
    <legend id="anchorImap">IMAP Server</legend>
    <table class="table striped bordered hovered">
        <thead>
            <tr>
                <th>Manage Mail Folders & Directories</th>
                <th>&nbsp</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>New Directory </td>
                <td>
                    <input type="text" /></td>
            </tr>
            <tr>
                <td>Percentage </td>
                <td>
                    <input type="checkbox" />Nobody</td>
            </tr>
            <tr>
                <td>&nbsp</td>
                <td>
                    <input class="bg-anthilla-green fg-anthilla-gray upcase" type="button" value="Create" /></td>
            </tr>
        </tbody>
    </table>
    <table class="table striped bordered hovered">
        <thead>
            <tr>
                <th>Directories</th>
                <th>&nbsp</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <br />
    <legend id="anchorPopImap">POP3/IMAP Server</legend>
    <form id="" action="~/" method="POST" enctype="multipart/form-data">
        <table class="table striped bordered hovered">
            <thead>
                <tr>
                    <th>"Enabled"</th>
                    <th>Name</th>
                    <th>Protocol</th>
                    <th>Local & Remote Users </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>No connector yet</td>
                    <td>&nbsp</td>
                    <td>&nbsp</td>
                    <td>&nbsp</td>
                </tr>
            </tbody>
        </table>
        <input class="bg-anthilla-green fg-anthilla-gray upcase" type="submit" value="Add Connector" />
    </form>
    <br />
    <legend id="anchorWmail">Web Mail</legend>
    <br />
    <legend id="anchorMss">Mail Server Stats</legend>
    <div class="tab-control" data-role="tab-control">
        <ul class="tabs">
            <li class="active"><a href="#_day_">Daily</a></li>
            <li><a href="#_week_">Weekly</a></li>
            <li><a href="#_month_">Monthly</a></li>
            <li><a href="#_year_">Yearly</a></li>
        </ul>

        <div class="frames">
            <div class="frame" id="_day_"></div>
            <div class="frame" id="_week_"></div>
            <div class="frame" id="_month_"></div>
            <div class="frame" id="_year_"></div>
        </div>
    </div>
}

@section Scripts
{
    <script type="text/javascript">
  
    </script>
}