@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@using System.Collections.Generic
@{Layout = "_layout-fw.cshtml";}

@section PageBar
{
    <nav class="navigation-bar page bg-white fg-anthilla-blue" style="padding-top: 10px; border-bottom: 4px solid #548ED4;">
        <nav class="navigation-bar-content">
            <div class="element upcase bold no-overlay fg-black upcase" style="line-height: 0px; margin-left: 20px !important;">Log </div>

            <a href="#anchorSylog" class="element upcase no-overlay anchor" style="line-height: 0px;">
                <i class="icon-globe on-left" style="line-height: 0px;"></i>System Log
            </a>
            <a href="#anchorNalog" class="element upcase no-overlay anchor" style="line-height: 0px;">
                <i class="icon-earth on-left" style="line-height: 0px;"></i>Navigation Log
            </a>
            <a href="#anchorBllog" class="element upcase no-overlay anchor" style="line-height: 0px;">
                <i class="icon-cancel-2 on-left" style="line-height: 0px;"></i>Blacklist Log
            </a>
            <a href="#anchorArlog" class="element upcase no-overlay anchor" style="line-height: 0px;">
                <i class="icon-clipboard-2 on-left" style="line-height: 0px;"></i>Archived Log
            </a>
            <a href="#anchorNote" class="element upcase no-overlay anchor" style="line-height: 0px;">
                <i class="icon-at on-left" style="line-height: 0px;"></i>Usage Notification
            </a>
            <a href="#anchorUsg" class="element upcase no-overlay anchor" style="line-height: 0px;">
                <i class="icon-database on-left" style="line-height: 0px;"></i>DB usage
            </a>
            <a href="#anchorRere" class="element upcase no-overlay anchor" style="line-height: 0px;">
                <i class="icon-chart-alt on-left" style="line-height: 0px;"></i>Remote Reporting
            </a>
        </nav>
    </nav>
}

@section MainContent
{
    <legend id="anchorSylog">System Log</legend>
    <table class="table hovered">
        <thead>
            <tr>
                <th>Messages</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <br />
    <legend id="anchorNalog">Navigation Log</legend>
    <div class="tab-control" data-role="tab-control">
        <ul class="tabs">
            <li class="active"><a href="#_ips_">IP Client</a></li>
            <li><a href="#_sts_">Sites</a></li>
            <li><a href="#_users_">Users</a></li>
            <li><a href="#_topdwd_">Top 20 Downloads</a></li>
            <li><a href="#_rltm_">Realtime Log</a></li>
        </ul>

        <div class="frames">
            <div class="frame" id="_ips_">
                <table class="table hovered">
                    <thead>
                        <tr>
                            <th>Client</th>
                            <th>Traffic</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="frame" id="_sts_">
                <table class="table hovered">
                    <thead>
                        <tr>
                            <th>Sites</th>
                            <th>Objects</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="frame" id="_users_">
                <table class="table hovered">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Traffic</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="frame" id="_topdwd_">
                <table class="table hovered">
                    <thead>
                        <tr>
                            <th>File</th>
                            <th>MB</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="frame" id="_rltm_"></div>
        </div>
    </div>
    <br />
    <legend id="anchorBllog">Blacklist Log</legend>
    <table class="table hovered">
        <thead>
            <tr>
                <th>Url</th>
                <th>IP</th>
                <th>FQDN</th>
                <th>Group</th>
                <th>Data</th>
                <th>Hour</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <br />
    <legend id="anchorArlog">Archived Log</legend>
    <table class="table hovered">
        <thead>
            <tr>
                <th>File List</th>
                <th>MB</th>
                <th>&nbsp</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <br />
    <legend id="anchorNote">Usage Notification</legend>
    <h5>Enable</h5>
    <select>
        <option>Yes</option>
        <option>No</option>
    </select>
    <br />
    <legend id="anchorUsg">DB usage</legend>
    <br />
    <legend id="anchorRere">Remote Reporting</legend>
    <h5>Enable</h5>

    <table class="table hovered">
        <tbody>
            <tr>
                <td>Enable</td>
                <td>
                    <select>
                        <option>Yes</option>
                        <option>No</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Url</td>
                <td>http://<input type="text" /></td>
            </tr>
            <tr>
                <td>Owner email</td>
                <td>
                    <input type="text" /></td>
            </tr>
            <tr>
                <td>Keep ALive</td>
                <td>
                    <input type="number" />
                    hours</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>&nbsp</td>
                <td>
                    <input class="bg-anthilla-green fg-anthilla-gray upcase" type="button" value="Save" /></td>
            </tr>
        </tfoot>
    </table>
    <br />
}
@section Scripts
{
    <script type="text/javascript">
        $('a.anchor').click(function () {
            $('html, body').animate({
                scrollTop: $($(this).attr('href')).offset().top
            }, 500);
            return false;
        });

        $(window).scroll(function () {
            if ($(window).scrollTop() > 150) {
                var i = $(window).scrollTop() - 145;
                $('.navigation-bar.page').css('top', i);
            }
            if ($(window).scrollTop() < 150) {
                $('.navigation-bar.page').css('top', 0);
            }
        });
        $('select').windowed();
    </script>
}