<legend id="Authentication">Authentication</legend>
<table class="table searchable">
    <tbody id="SysctlBodyTable">
        <tr>
            <td style="text-align: right;">
                <label>2FA-Token Authentication </label>
            </td>
            <td>
                @if (antdlib.Mail.Smtp.Settings.ConfigExists == false) { 
                    <p>SMTP is not configured yet, before enabling 2FA-Token Authentication you have to configure SMTP</p>
                }
                else if (Model.AuthStatus == true) {
                    <input id="Disable2FA" class="bg-anthilla-green" type="button" value="Disable" />
                }
                else if (Model.AuthStatus == false) {
                    <input id="Enable2FA" class="bg-anthilla-green" type="button" value="Enable" />
                }
            </td>
        </tr>
    </tbody>
</table>
