<legend id="Sysctl">Sysctl</legend>
<input type="text" class="search-field" style="position: relative; margin-bottom: 15px; height: 30px; width: 100%; padding-left: 5px;" placeholder="Search">
<table class="table searchable">
    <thead>
        <tr>
            <th class="text-left  bg-anthilla-gray-m" style="width: 37% !important;">&nbsp</th>
            <th class="text-left" style="width: 21% !important; text-align: center;">Stock (/etc/sysctl.conf)</th>
            <th class="text-left" style="width: 21% !important; text-align: center;">Running</th>
            <th class="text-left" style="width: 21% !important; text-align: center;">Antd (/antd/antd.sysctl.conf)</th>
        </tr>
    </thead>
    <tbody id="SysctlBodyTable">
        @foreach (Antd.ViewModels.StatusSysctlViewModel value in Model.ALL) {
            <tr>
                <td style="text-align: right;">
                    <label>@value.label </label>
                </td>
                <td style="text-align: center;">@value.stockValue </td>
                <td style="text-align: center;">@value.runningValue </td>
                <td style="text-align: center;">@value.antdValue
                    @*                        <div class="border-3-anthilla-orange value-comparer" style="position: absolute; z-index: 99; height: 40px; width: 550px; margin-left: -600px; margin-top: -25px; background-color: transparent !important; display: none;"></div>*@
                </td>
            </tr>
        }
    </tbody>
</table>
