<div ng-controller="BridgeController" class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Network - Bridge</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <!--pannello configurazione-->
        <div class="col-md-12 col-sm-12 col-xs-12">
            <table class="table table-fixed">
                <thead>
                    <tr>
                        <th>Interface ID</th>
                        <th>Lower Interfaces</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input ng-model="NewBridge.Id" class="form-control" type="text">
                        </td>
                        <td ng-init="NewBridge.LowerConfig=selectizeConfig(NewBridge.Lower);NewBridge.LowerOptions=selectizeOptions(NewBridge.Lower);">
                            <selectize config="NewBridge.LowerConfig" options="NewBridge.LowerOptions" ng-model="NewBridge.Lower"></selectize>
                        </td>
                        <td>
                            <button ng-click="addToList(NewBridge, Bridges)" type="button" class="btn btn-primary">
                                <span class="fa fa-plus-circle"></span> Add
                            </button>
                        </td>
                    </tr>
                    <tr ng-repeat="el in Bridges">
                        <th scope="row">
                            {{ el.Id }}
                        </th>
                        <td>
                            <selectize config="el.LowerConfig" options="el.LowerOptions" ng-model="el.Lower"></selectize>
                        </td>
                        <td>
                            <button ng-click="removeFromList($index, Bridges)" type="button" class="btn btn-danger">
                                <span class="fa fa-minus-circle"></span> Remove
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-12">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <a ng-click="apply()" class="btn btn-app float-right">
                <i class="fa fa-play"></i> Apply
            </a>
            <a ng-click="save()" class="btn btn-app float-right">
                <i class="fa fa-save"></i> Save
            </a>
            <a ng-click="load()" class="btn btn-app float-right">
                <i class="fa fa-refresh"></i> Reload
            </a>
        </div>
    </div>
</div>
