<div ng-controller="KnownDnsController" class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Network - DNS Client</h3>
        </div>
        <div class="title_right">
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <!--pannello configurazione-->
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <table class="table table-fixed">
                        <tbody>
                            <tr>
                                <th scope="row">
                                    Search
                                </th>
                                <td>
                                    <input ng-model="KnownDns.Search" class="form-control" type="text">
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    Domain
                                </th>
                                <td>
                                    <input ng-model="KnownDns.Domain" class="form-control" type="text">
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    Nameservers
                                </th>
                                <td ng-init="KnownDns.NameserverConfig=selectizeConfig(KnownDns.Nameserver);KnownDns.NameserverOptions=selectizeOptions(KnownDns.Nameserver);">
                                    <selectize config="KnownDns.NameserverConfig"
                                               options="KnownDns.NameserverOptions"
                                               ng-model="KnownDns.Nameserver"></selectize>
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-12">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <a ng-click="apply()" class="btn btn-app float-right">
                <i class="fa fa-play"></i> Apply
            </a>
            <a ng-click="save()" class="btn btn-app float-right">
                <i class="fa fa-save"></i> Save
            </a>
            <a ng-click="load()" class="btn btn-app float-right">
                <i class="fa fa-refresh"></i> Reload
            </a>
        </div>
    </div>
</div>
